<tr class="choice-field" id="<%= item.row_selector(false) %>">
  <td class="list-count"></td>
  <td>
    <%= make_field item, :benefit_name, type: :text, editable: true %>
  </td>
  <td>
    <% if [2, 3].include?(item.group) %>
        <%= make_field(item, :priority, type: :select, choices_array: PRIORITIES) %>
    <% end %>
  </td>
  <td>
    <%= delete_object(item) %>
  </td>
</tr>