<% if @benefit.errors.blank? %>
(function(){

  $li     = $('<li class="child-item"><%= active_edit_if has_valid_access?, @benefit, :benefit_name %></li>');
  $lastLi = $('[data-feature-id=<%= @benefit.feature_id %>][data-feature-child-group=<%= @benefit.group %>]').find('li').last();
  $li.insertBefore($lastLi)


}).call(this);
<% else %>
// <%= @benefit.errors.full_messages %>
<% end %>
