$('[data-stage=3]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage3_beachhead', stage: 3 %>');
$('[data-stage=4]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage4_stage_select', stage: 4 %>');
$('.product-overview').replaceWith('<%= j render 'tab_views/markets_view' %>');

if (typeof scrollToStage == 'function') {
  scrollToStage(4);
}

if (typeof edison == 'object') {
  edison.emptyAllTabs();
}



