<div class="analysis-page" id="analysis-view-<%= business.id %>">

  <div class="analysis-enc row">
    <div class="analysis-question col-xs-8">Does the end users in this market buy similar products or willing to buy
      similar products?
    </div>
    <div class="col-xs-4"><%= choice_buttons business, :similar_product, ['Yes', 'No'] %></div>
  </div>


  <div class="analysis-enc row">
    <div class="analysis-question col-xs-8">Can the sales efforts be easily shifted from one end user to another in this
      market?

    </div>
    <div class="col-xs-4"><%= choice_buttons business, :similar_sales, ['Yes', 'No'] %></div>
  </div>


  <div class="analysis-enc row">
    <div class="analysis-question col-xs-8">Is there a strong word of mouth between one end user to another in this
      market?
    </div>
    <div class="col-xs-4"><%= choice_buttons business, :word_of_mouth, ['Yes', 'No'] %></div>
  </div>

  <hr>

  <div class="edison-bot-notice-enc <%= 'hidden' unless business.new_business_checklist_complete? %>">
    <div class="edison-bot-icon"></div>
    <div id="fitness-results" class="<%= 'edison-bot-notice' if business.new_business_checklist_complete? %>">
      <div class="continue-msg" style="<%= 'display: none;' unless business.new_business_checklist_complete? && business.is_fit? %>">
        <h4>It seems your market is perfectly sized.</h4>

        <p>Remember these three business rules:</p>
        <ol>
          <li>Solve the problem of a customer and win the customer’s trust.</li>
          <li>Break down your big target to smaller targets, Win small, Win consistently.</li>
          <li>Focus, focus and focus to win your first market.</li>
        </ol>
        <p>Proceed to take over this market with small and consistent wins.</p>
      </div>

      <div class="restart-msg" style="<%= 'display: none;' unless business.new_business_checklist_complete? && business.is_unfit? %>">
        <h4>It seems you have to reconsider this market because:</h4>
        <ul class="restart-msg-list">
          <li class="reseg-msg reseg-msg1" style="<%= 'display: none;' unless business.smp_fail? %>">Your current chosen
            market is too wide and you will end up competing with
            dissimilar products. Consider to narrow down your market and improve your odds of win.
          </li>
          <li class="reseg-msg reseg-msg2" style="<%= 'display: none;' unless business.ssp_fail? %>">Your current market
            is
            unfocused with sales efforts. Consider to narrow
            down your market and concentrate on every small win. Win small, Win consistently
          </li>
          <li class="reseg-msg reseg-msg3" style="<%= 'display: none;' unless business.wom_fail? %>">Focus on a
            particular
            segment of your market, win those customers trust
            first and then use that to leverage on the adjacent segments, one after another. Consider to narrow down
            your market and concentrate on your first win.
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>