<% all_business.each_with_index do |business, index| %>
    <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %> <%= business.business_name.gsub(' ', '_') %>_<%= business.id %>" id="">
      <% next_business = all_business[index + 1] %>
      <div class="btn-container">
        <div class="btn btn-primary next-canvas-btn-<%= business.id %>" data-target='[href=".<%= next_business ? "#{next_business.business_name.try(:gsub, ' ', '_')}_#{next_business.id}" : 'comparitive_analysis' %>"]' data-behaviour="mirror_click"><%= next_business ? "Analyze the next market, #{next_business.business_name}" : 'Compare all markets' %> &rarr;</div>
        <div style="display: block;margin-top: 20px;">
          <%= select_as_beachhead business, "Choose #{business.business_name} as beachhead", class: "btn btn-link" %>
        </div>
      </div>
    </div>
<% end %>
<div role="tabpanel" class="tab-pane comparitive_analysis" id="">

</div>