<div class="canvas-mini">
  <div class='canvas-row1 row'>
    <div class="canvas-column c20 <%= 'complete' if business.application %>" >
      <div class="inner" data-toggle="tooltip" data-title="<%= business.application ?  'Application: '+business.application : 'Application' %>"></div>
    </div>
    <div class="canvas-column c20">
      <div class="sub-column <%= 'complete' if business.end_user %>" >
        <div class="inner" data-toggle="tooltip" data-title="<%= business.end_user ? 'End User: '+business.end_user : 'End User' %>"></div>
      </div>
      <div class="sub-column <%= 'complete' if business.benefit %>" >
        <div class="inner" data-toggle="tooltip" data-title="<%= business.benefit ?  'Benefit: '+business.benefit : 'Benefit' %>"></div>
      </div>
    </div>
    <div class="canvas-column c20 <%= 'complete' if business.prod_features %>" >
      <div class="inner" data-toggle="tooltip" data-title="<%= business.prod_features ? 'Product Features: '+business.prod_features : 'Product Features' %>"></div>
    </div>
    <div class="canvas-column c20">
      <div class="sub-column <%= 'complete' if business.sales %>" >
        <div class="inner" data-toggle="tooltip" data-title="<%= business.sales ?  'Sales: '+business.sales : 'Sales' %>"></div>
      </div>
      <div class="sub-column <%= 'complete' if business.marketing %>" >
        <div class="inner" data-toggle="tooltip" data-title="<%= business.marketing ?  'Marketing: '+business.marketing : 'Marketing' %>"></div>
      </div>
    </div>
    <div class="canvas-column c20 <%= 'complete' if business.partners %>" >
      <div class="inner" data-toggle="tooltip" data-title="<%= business.partners ?  'Partners: '+business.partners : 'Partners' %>"></div>
    </div>
  </div>
  <div class='canvas-row2 row'>
    <div class="canvas-column c50 <%= 'complete' if business.core %>" >
      <div class="inner" data-toggle="tooltip" data-title="<%= business.core ?  'Core: '+business.core : 'Core' %>"></div>
    </div>
    <div class="canvas-column c50 <%= 'complete' if business.top_competitors %>" >
      <div class="inner" data-toggle="tooltip" data-title="<%= business.top_competitors ? 'Top Competitors: '+business.top_competitors : 'Top Competitors' %>"></div>
    </div>
  </div>
</div>