$('[data-stage=5]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage5_business_model', stage: 5 %>');
$('[data-stage=6]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage5_success', stage: 6 %>');
scrollToStage(6);