<div class="dropdown delete-market-btn">
  <div id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= fa_icon 'trash' %>
  </div>
  <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
    <% active_product.businesses.all.each_with_index do |business, index| %>
        <li data-resource-tag="<%= business.resource_tag %>"><%= delete_business_link(business) %></li>
    <% end %>
  </ul>
</div>