<div class="modal fade del-business">
  <div class="modal-dialog center-modal-dialog modal-md">
    <div id="del-business-content" class="del-business-content modal-content">

    </div>
  </div>
</div>