<% if active_product.businesses.count == 1 %>
    <div class="modal-header">
      <span class="modal-title">You need to have at least 1 market</span>
    </div>
    <div class="modal-body business-delete-bg">
      <p>If you want to delete this market create another market and delete this market.</p>
    </div>
    <div class="modal-footer">
      <div class='btn-container'>
        <div class="choice-btn" data-dismiss="modal">Close</div>
      </div>
    </div>
<% else %>
    <div class="modal-header">
      <div class="modal-title">Do you want to delete <%= @deletee_business.business_name %>?</div>
    </div>
    <div class="modal-body business-delete-bg">
      <p>All data relating to this market will be <strong>permanently lost</strong> if you delete it.</p>

      <p>Do you still want to delete it?</p>
    </div>
    <div class="modal-footer">
      <div class='btn-container'>
        <%= button_to @deletee_business,
                      method: :delete,
                      remote: true,
                      class: "no-btn #{'del-business-confirm' if @deletee_business.id == beachhead.try(:id)}",
                      data: {disable_with: disabled_spinner} do %>
            Delete permanently
        <% end %>
        <div class="btn btn-primary" data-dismiss="modal">Cancel delete</div>
      </div>
    </div>
<% end %>