<table class="diagnosis-table" data-step-table-id="1" style="margin-top: 12px;">
  <colgroup>
    <col>
    <col>
  </colgroup>
  <tbody>

  <% DIAGNOSIS_QUESTIONS.each do |k, v| %>
      <tr class="question-row">
        <td>

          <%= content_tag(:div, v[:title], class: 'q-title') + v[:question] %>

        </td>
        <td class="choice-td">
          <div class="btn-container">
            <%= has_valid_access? ? diag_yes_btn(business, k) : disabled_choice_btn('Yes', business.send("question#{k}")) %>
            <%= has_valid_access? ? diag_no_btn(business, k) : disabled_choice_btn('No', business.send("question#{k}") == false) %>
          </div>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>