<div class="diag-mini">
  <div class="diag-row">
    <div class=" diag-item-mini <%= business.question1.nil? ? 'na' : (business.question1 ? 'aff' : 'neg') %>" data-toggle="tooltip" data-title="Money">M</div>
    <div class=" diag-item-mini <%= business.question2.nil? ? 'na' : (business.question2 ? 'aff' : 'neg') %>" data-toggle="tooltip" data-title="Sales Access">S</div>
    <div class=" diag-item-mini <%= business.question3.nil? ? 'na' : (business.question3 ? 'aff' : 'neg') %>" data-toggle="tooltip" data-title="Reason to Buy">R</div>
    <div class=" diag-item-mini <%= business.question4.nil? ? 'na' : (business.question4 ? 'aff' : 'neg') %>" data-toggle="tooltip" data-title="Delivery Capabilities">D</div>
  </div>
  <div class="diag-row">
    <div class=" diag-item-mini <%= business.question5.nil? ? 'na' : (business.question5 ? 'aff' : 'neg') %>" data-toggle="tooltip" data-title="Competition">C</div>
    <div class=" diag-item-mini <%= business.question6.nil? ? 'na' : (business.question6 ? 'aff' : 'neg') %>" data-toggle="tooltip" data-title="Growth">G</div>
    <div class=" diag-item-mini <%= business.question7.nil? ? 'na' : (business.question7 ? 'aff' : 'neg') %>" data-toggle="tooltip" data-title="Passion">P</div>
  </div>
</div>