<div class="result-oneliner-enc">

  <div class="decision-scale-enc">
    <div class="decision-scale">
      <div class="decision-pointer <%= diagnosis_result(business).to_s %>"></div>
      <div class="scale-item black" data-toggle="tooltip" data-title="Abort this beachhead" data-placement="top"></div>
      <div class="scale-item red" data-toggle="tooltip" data-title="Proceed with caution or choose a new market" data-placement="top"></div>
      <div class="scale-item orange" data-toggle="tooltip" data-title="Proceed with caution" data-placement="top"></div>
      <div class="scale-item green" data-toggle="tooltip" data-title="Clear to proceed" data-placement="top"></div>
    </div>
  </div>

  <div class="result-oneliner">
    <span><%= diagnosis_cta(business) %></span>
  </div>

</div>