<div class="market-size-bar-chart">
  <div class="chart-item" data-height="<%= business.market_sizes[0] %>" data-toggle="tooltip" data-title="Enthusiasts: $ <%= number_with_delimiter business.market_sizes[0] %>" ></div>
  <div class="chart-item" data-height="<%= business.market_sizes[1] %>" data-toggle="tooltip" data-title="Early Adopters: $ <%= number_with_delimiter business.market_sizes[1] %>" ></div>
  <div class="chart-item" data-height="<%= business.market_sizes[2] %>" data-toggle="tooltip" data-title="Pragmatists: $ <%= number_with_delimiter business.market_sizes[2] %>" ></div>
  <div class="chart-item" data-height="<%= business.market_sizes[3] %>" data-toggle="tooltip" data-title="Conservatives: $ <%= number_with_delimiter business.market_sizes[3] %>" ></div>
  <div class="chart-item" data-height="<%= business.market_sizes[4] %>" data-toggle="tooltip" data-title="Skeptics: $ <%= number_with_delimiter business.market_sizes[4] %>" ></div>
</div>