<div role="tabpanel" class="tab-pane fade in <%= 'active' if index == 0 %>" data-tool="diagnose" data-business-id="<%= business.id %>" data-resource-tag="<%= business.resource_tag %>">
  <%= render 'businesses/diagnosis_table', business: business %>
</div>