<div class="new-market-btn" data-behaviour='new_business'>
  <span><%= fa_icon 'plus' %></span>

  <div class="form-enc">
    <%= form_for active_product.businesses.build, remote: true do |f| %>
        <%= f.text_field :business_name, class: 'form-control', placeholder: 'Market name' %>
        <%= button_tag class: 'btn btn-primary', data: {disable_with: disabled_spinner} do %>
            Create
        <% end %>
    <% end %>
  </div>
</div>