<li data-toggle="pill" data-target="[data-tool=diagnose][data-business-id=<%= business.id %>]" class="<%= 'active' if index == 0 %>" data-resource-tag="<%= business.resource_tag %>">
 <div><%= ae_live_field business, :business_name %></div>
</li>