<div data-resource-tag="<%= business.resource_tag %>" role="tabpanel" class="tab-pane <%= 'active' if index == 0 %> <%= business.business_name.gsub(' ', '_') %>_<%= business.id %>" id="">
  <h4 class="canvas-business-name"><%= active_edit_if has_valid_access?, business, :business_name %></h4>
  <h5 class="canvas-title">Analysis Canvas</h5>
  <%= render 'steps/partials/canvas', business: business %>
</div>