<% business_name = business.business_name %>
<li  data-resource-tag="<%= business.resource_tag %>" href=".<%= business_name.gsub(' ', '_') %>_<%= business.id %>" class="<%= 'active' if index == 0 %> canvas-tab-btn" data-toggle="pill">
  <div  data-placement="top" data-toggle="tooltip" data-title="<%= business_name %>" class="inner"><%= ae_live_field business, :business_name %></div>
</li>