<div class="market-item-card <%= 'beachhead' if is_beachhead?(business) %>" id='<%= business.row_selector false %>'>

  <div class="row">
    <div class="m-name col-xs-4">
      <div>
      <%= active_edit_if has_valid_access?, business, :business_name %>
      </div>
      <div class=mkt-card-name-footer>
        <%= delete_business_link(business) %>
        <div class="mkt-analyse-enc"><%= select_as_beachhead(business) unless is_beachhead?(business) %></div>
      </div>
    </div>
    <div class="col-xs-2 eu-count">
      <div class="top-title"># of endusers</div>
      <%= active_edit_if has_valid_access?, business, :enduser_count, numeric: true, display_with: :number_with_delimiter, placeholder: "--" %>
    </div>
    <div class="col-xs-2 canvas-icons">
      <div class="top-title">
        <span class="bh-nav <%= 'hidden' unless is_beachhead?(business) %>" data-href="/app/canvas" data-tab-ref="canvas">canvas</span>
        <span class="non-link <%= 'hidden' if is_beachhead?(business) %>">canvas</span>
      </div>
      <div class="mini-canvas-enc">
        <%= render 'businesses/canvas_mini', business: business %>
      </div>
    </div>
    <div class="col-xs-2 canvas-icons">
      <div class="top-title">
        <span class="bh-nav <%= 'hidden' unless is_beachhead?(business) %>" data-href="/app/diagnosis" data-tab-ref="diagnosis">diagnosis result</span>
        <span class="non-link <%= 'hidden' if is_beachhead?(business) %>">diagnosis result</span>
      </div>
      <%= render 'businesses/diagnosis_mini', business: business %>
    </div>
    <div class="col-xs-2 market-size-value-enc">
      <div class="top-title">
        <span class="bh-nav <%= 'hidden' unless is_beachhead?(business) %>" data-href="/app/market-size" data-tab-ref="market-size">market size</span>
        <span class="non-link <%= 'hidden' if is_beachhead?(business) %>">market size</span>
      </div>
      <div class="market-size-value">

      </div>
      <%= render 'businesses/market_size_bar_chart', business: business %>
    </div>
  </div>


</div>

