<% if @business.diagnosed? %>
$('.result-container').html('<%= j render 'tab_views/diagnose_results' %>').removeClass('hidden');
<% end %>
<%= q_no = @field.to_s[-1] %>
$('.diag-result-ind._<%= @business.id %>.q_<%= q_no %>')
    .removeClass('yes no')
    .addClass('<%= @business.send(@field) ? 'yes' : (@business.send(@field) == false ? 'no' : nil) %>');
