(function () {
  var $t = $('.size-question.similar_sales');
  $t.find('.answer-prompt').<%= (beachhead.end_user.present? && beachhead.marketing.present?) ? 'hide' : 'show' %>();
  $t.find('.tip-area').<%= (beachhead.end_user.present? && beachhead.marketing.present?) ? 'show' : 'hide' %>();
}).call(this);
