(function () {
  var $t = $('.size-question.word_of_mouth');
  $t.find('.answer-prompt').<%= (beachhead.beachhead_size.present? && beachhead.marketing.present?) ? 'hide' : 'show' %>();
  $t.find('.tip-area').<%= (beachhead.beachhead_size.present? && beachhead.marketing.present?) ? 'show' : 'hide' %>();
}).call(this);
