(function () {

  $('.delete-market-btn').find('ul').append('<li data-resource-tag="<%= @business.resource_tag %>"><%= j delete_business_link(@business) %></li>');
  $form = $('.new-market-btn').find('.form-enc').hide().find('form')[0];
  if (!($form == undefined)) {
    $form.reset();
  }

  // diagnose

  $('.diagnosis-nav-list li').removeClass('active');
  $('.diagnosis-tabs-list .tab-pane').removeClass('active');

  var dTab = '<%= j render 'businesses/new_diagnosis_tab', business: @business, index: 0 %>';
  var dTabView = '<%= j render 'businesses/new_diagnosis_tab_view', business: @business, index: 0 %>';
  $('.diagnosis-nav-list').append(dTab);
  $('.diagnosis-tabs-list').append(dTabView);


  $('[data-stage=2]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage2_markets', stage: 2 %>');
  $('[data-stage=3]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage3_beachhead', stage: 3 %>');


  $('.product-overview').replaceWith('<%= j render 'tab_views/markets_view' %>');



}).call(this);