(function () {

  $('.del-business').modal('hide');
  $('[data-resource-tag="<%= @business.resource_tag %>"]').remove();
  $('.comparitive_analysis').html('<%= j render 'steps/partials/comparitive_canvas', businesses: active_product.businesses.all  %>');
  $('.canvas-btns-list').html('<%= j render 'businesses/canvas_btns_list_items', all_business: active_product.businesses.all, index_on: 'last'  %>');
  $('.canvas-nav-list li').eq(-2).trigger('click');

  <% if @is_beachhead %>
  window.location.href = '<%= onboarding_path %>';
  <% end %>

  $('.product-overview').replaceWith('<%= j render 'tab_views/markets_view' %>');

}).call(this);
