<% if active_product.onboard_stage == 3 %>
$('[data-stage=2]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage2_markets', stage: 2 %>');
$('[data-stage=3]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage3_beachhead', stage: 3 %>');
scrollToStage(3);
<% else %>
$('[data-stage=2]').find('.input-list').effect( "shake" ).find('.list-input').first().focus();
<% end %>

