<% if @persona_detail.errors.blank? %>
(function(){

  $li     = $('<li class="child-item"><%= active_edit_if has_valid_access?, @persona_detail, :detail %></li>');
  $lastLi = $('[data-persona-detail-child-group=<%= @persona_detail.group %>]').find('li').last();
  $li.insertBefore($lastLi)


}).call(this);
<% else %>
// <%= @persona_detail.errors.full_messages %>
<% end %>
