<% case @field %>
<% when :priority %>
$('<%= action_dom_id(@persona_detail, @field, true) %> .button-name').html('<%= @persona_detail.class.choices_array[@field][@persona_detail[@field]] %>')
<% end %>