<header>
  <%= render 'static_pages/static_page_partials/secondary_header' %>
</header>

<div class="backstory paper">

  <h2 class="page-title">Learn how a winning startup plan was made</h2>

  <h4 class="sub-title">Lessons learnt from couple of failures and then adopting the best startup framework</h4>

  <p>Imagine carving your own world where you are your own boss, oblivious to the risk of failure. You work hard and
    improve your odds. You relentlessly think about and help others. You become the last one to eat, and hit the sack
    after a satisfying day of serving your customers, and be spirited to the bones to do what you are excited to do,
    everyday – you are welcome to an Entrepreneur’s lifestyle.</p>

  <p>Is it possible to live in a world where entrepreneurship is possible for all? I think about this question every
    day. In my quest to find out the answer, I ventured into the business of making tools that support aspiring
    entrepreneurs.</p>

  <p>Despite reading so many good-to-read books on entrepreneurship, I ended up making products that never attracted
    single paying customer. My team came across the book called “Disciplined Entrepreneurship” authored by Bill Aulet
    and recommended it strongly.</p>

  <p>Every page of this book made me realize the mistakes I did with my previous products. The book is a 24-step
    framework that helps you figure out what to do and what not to do. We used this framework and built a product that
    solves our customers’ problem and keeps them happy. When it comes to the business of making Mobile Apps, Gadgets,
    Electronic Products, Web Applications, Cleantech Products, Medical Devices, and Industrial Equipments, this
    framework is by far the best.</p>

  <p>We significantly adopted and converted the book’s framework into an online app, EdisonPlan. The app helps startup
    founders to plan their venture with clarity. The founder will be able to choose the right beachhead, practice a
    validation driven decision making and build a product that gets them real paying customers.</p>

  <div class="author">
    <span class="name">Aravin Damo</span>
    <span class="title">CEO</span>
  </div>

</div>

<div class="team row paper">

  <div class="member member1 col-md-4">
    <div class="photograph"><%= image_tag 'photo/arav.jpg' %></div>
    <div class="name">Aravin Damo</div>
    <div class="title">CEO</div>
    <div class="text-center person-social-enc">
<!--      <a href="https://twitter.com/AravinDamodaran" target="_blank"><span class="person-social twitter-p"></span></a>-->
      <a href="https://in.linkedin.com/in/aravindamo" target="_blank"><span class="person-social linked-in-p"></span></a>
    </div>
  </div>

  <div class="member member2 col-md-4">
    <div class="photograph"><%= image_tag 'photo/arun.jpg' %></div>
    <div class="name">Arunkumar</div>
    <div class="title">Co-founder, Technology</div>
    <div class="text-center person-social-enc">
<!--      <a href="https://twitter.com/LArunkumar" target="_blank"><span class="person-social twitter-p"></span></a>-->
      <a href="https://in.linkedin.com/in/larunkumar" target="_blank"><span class="person-social linked-in-p"></span></a>
    </div>
  </div>

  <div class="member member3 col-md-4">
    <div class="photograph"><%= image_tag 'photo/praveen.jpg' %></div>
    <div class="name">Praveen</div>
    <div class="title">Co-founder, Design</div>
    <div class="text-center person-social-enc">
<!--      <a href="https://twitter.com/praveen_kj2" target="_blank"><span class="person-social twitter-p"></span></a>-->
      <a href="https://in.linkedin.com/in/praveen-kj" target="_blank"><span class="person-social linked-in-p"></span></a>
    </div>
  </div>

</div>


<div class="about-co paper">
  <h3 class="sec-title">The Company</h3>

  <p>EdisonPlan.com is a creation of Cent Life Inc., Houston, Texas, started in 2014. We know for sure these four things
    are core to running our business and we keep our focus here:</p>
  <ol>
    <li>Interact with people as this is our last day on earth. Build relationship with them as if we will never die.
    </li>
    <li>Deliver work as if the output will live for a million years. Make our product speak for us.
    </li>
    <li>Assume and Plan only if it can be experimented and validated. But, never fail to Plan.
    </li>
    <li>Fail to iterate the plan is a plan to failure. And, never fail to iterate and improve.
    </li>
  </ol>
</div>


<%= render 'static_pages/static_page_partials/footer' %>