


<div class="container">
  <div class="page-title-enc tcenter"><span class="page-title">Account</span></div>

  <div class="row profile-row">
    <div class="col-xs-5 account-left">
      <div class="profile-left-enc account-left-enc">
        <h3>Profile</h3>

        <p class="account-subtitle">Your email address is used to log in to Edison.</p>
      </div>
    </div>
    <div class="col-xs-7 account-right">
      <div class="profile-right-enc account-right-enc">
        <div class="user_name_email_update_error_container">
          <ul></ul>
        </div>
        <div class="uname_email_display_container">
            <div class="clearfix mb10">
          <label class="col-xs-2 grey-text label-acc-title">Email address:</label>
          <span class="col-xs-9 account_settings_email_field label-acc-content"><%= current_user.email %></span>
            </div>

          <div class="clearfix mb20">
          <label class="col-xs-2 grey-text label-acc-title">Name:</label>
          <span class="col-xs-9 account_settings_name_field label-acc-content"><%= current_user.username %></span>
            </div>

          <%= link_to 'Edit', 'javascript:void(0)', class: 'btn btn-o small-btn show_uname_email_form_container' %>
        </div>
        <div class="uname_email_form_container hidden">
          <%= form_for(current_user, url: registration_path(current_user), html: {method: :put, class: 'username_email_update_form'}, remote: true) do |f| %>
            <div class="field">
              <p>Email</p>
              <%= f.email_field :email, class: "normal-input", id: 'email_id_update_form' %>
            </div>
            <div class="field">
              <p>Full Name</p>
              <%= f.text_field :username, autofocus: true, class: "normal-input", id: 'full_name_update_form' %>
            </div>
            <div class="field">
              <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></p>
              <%= f.password_field :current_password, autocomplete: "off", class: "normal-input" %>
            </div>
            <%= f.submit "Update", class: "btn" %>
            <a class="btn btn-o cancel-user-update" style="margin-left: 10px">Cancel</a>
        <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="divider"></div>

  <div class="row">
    <div class="col-xs-5 account-left">
      <div class="password-left-enc account-left-enc">
        <h3>Password</h3>

        <p class="account-subtitle"></p>
      </div>
    </div>
    <div class="col-xs-7 account-right">

      <div class="password-right-enc account-right-enc">
        <div class="pw_update_error_container">
          <ul></ul>
        </div>
        <%= form_for(current_user, url: registration_path(current_user), html: {method: :put, class: 'pw_update_form'}, remote: true) do |f| %>
          <div class="field">
            <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></p>
            <%= f.password_field :current_password, autocomplete: "off", class: "normal-input", id: 'curr-password' %>
          </div>
          <div class="field">
            <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></p>
            <%= f.password_field :password, autocomplete: "off", class: "normal-input", id: 'new-password' %>
          </div>
          <div class="field">
            <p><%= f.label :password_confirmation %></p>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "normal-input", id: 'pw-conf' %>
            <%= f.hidden_field :updated_info, value:'pw' %>
          </div>
          <div class="row account-update-enc">
            <div class="actions">
              <%= f.submit "Update", class: "btn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!--form submit -->

  <div class="divider"></div>


  <!--trial info-->
  <div class="row trial-enc">
    <div class="col-xs-5 account-left">
      <div class="trial-left-enc account-left-enc">
        <h3>Plan info</h3>

        <p class="account-subtitle">Your plan info</p>
      </div>
    </div>
    <div class="col-xs-7 account-right">
      <div class="trial-right-enc account-right-enc">
        <% if current_user.active_trial_user? %>
          <p>Your trial ends on <strong><%= current_user.trial_expiry_date.strftime("%d-%b-%Y") %></strong>

          </p>

          <p>Purchase now or share with friends to extend your trial</p>
        <% elsif current_user.expired_trial_user? %>
          <p>Your trial ended on <strong><%= current_user.trial_expiry_date.strftime("%d-%b-%Y") %></strong>

          </p>

          <p>Purchase now or share with your friends to extend your trial</p>
        <% elsif current_user.active_subscriber? %>
          <p>Your subscription is active until
            <strong><%= current_user.current_subscription_end.strftime("%d-%b-%Y") %></strong>

          <p>
            <%= button_to "Cancel my subscription...", cancel_subscription_path, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></p>
        <% elsif current_user.former_subscriber? %>
          <p>Your subscription ended on
            <strong><%= current_user.current_subscription_end.strftime("%d-%b-%Y") %></strong>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="divider"></div>


  <!--Close your account-->
  <div class="row delete-account-enc">
    <div class="col-xs-5 account-left">
      <div class="delete-left-enc account-left-enc">
        <h3>Close Account</h3>

        <p class="account-subtitle"><strong>Warning:</strong> Closing your account is irreversible.</p>
      </div>
    </div>
    <div class="col-xs-7 account-right">
      <div class="delete-right-enc account-right-enc">
        <%= link_to "Delete my account...", delete_account_path, class: "btn btn-danger", remote: true %>
      </div>
    </div>
  </div>


  <div class="modal fade del-business">
    <div class="modal-dialog center-modal-dialog deep">
      <div id="del-business-content" class="transparent-modal del-business-content modal-content">

      </div>
    </div>
  </div>


</div>