<style>
    /*body,html{height:100% !important; overflow: hidden !important;}*/

    @media only screen and (max-width:767px){
        #experiment-fullpage, #fp-nav{
            display:none !important;
        }
        .restricted-mobile{
            display:block !important;
            padding: 30px;
            color: #727272;
        }
        .msg{
            text-align: center;
        }
        .msg.large{
            font-size: 28px;
            line-height: 32px;
        }
        .msg.small{
            font-size: 16px;
            margin-top: 20px;
        }
        .restricted-mobile-inner{
            border:1px solid #727272;
            padding:20px;
        }
    }

</style>

<div class="restricted-mobile">
  <div class="restricted-mobile-inner">
    <p class="msg large">Please visit Edison plan with a larger screen device. </p>
    <p class="msg small">Meanwhile we are working to make EdisonPlan accessible for smaller devices soon.</p>
  </div>
</div>

<div id="experiment-fullpage" class="fullpage-content">
  <div data-anchor="Validation" class="section">
    <h2 class="rmain-title tit1 tcenter large black-text">What is Validation</h2>
    <p class="fullpage-para">As business plan is built on your assumptions, forecasts, perspectives and speculation, it is important to back your plan with facts than with fiction to make it reliable.</p>
    <p class="fullpage-para">How to make your business plan reliable?<br/>Through validation.</p>
    <p class="fullpage-para">Validation is the widely used technique by successful entrepreneurs to confirm if the assumptions are correct.</p>
  </div>
  <div data-anchor="How to validate" class="section">
    <h2 class="rmain-title tit1 tcenter large black-text">How to validate?</h2>
    <p class="fullpage-para">Come up with an idea to check if your assumptions are correct. Execute the idea and confirm if the assumptions are valid and reliable. This idea which you execute is generally known as Experiment.</p>
    <ul class="fullpage-list">
      <p>5 widely used experiments:</p>
      <li>Interview customers and ask for their opinion.</li>
      <li>Search for statistical data and infer.</li>
      <li>Observe how people behave and understand why.</li>
      <li>See how your competitors do it.</li>
      <li>Take a second opinion. (may be mentor, team or an expert)</li>
    </ul>
  </div>
  <div data-anchor="Good experiment" class="section">
    <h2 class="rmain-title tit1 tcenter large black-text">This is a good experiment!</h2>
        <img src="https://dl.dropboxusercontent.com/s/untmay8akqvu0yf/validation.png" style="width:660px;display:block;margin:0 auto;"/>
    </div>
  <div data-anchor="Devise good experiment" class="section">
    <h2 class="rmain-title tit1 tcenter large black-text">How to devise a good experiment</h2>
    <ul class="fullpage-list">
      <li>Use common sense to frame an idea of the experiment.</li>
      <li>Mentally figure out the expected outcomes of the experiment.</li>
      <li>Write down the experiment to to see if the expected outcome happens.</li>
      <li>Re-read the experiment and see if it makes sense.</li>
    </ul>
    <a href="#" class="btn mt30 pitch-gotit" style="font-size: 18px; width:100px;" onclick="window.close();">Got it</a>
    </div>

</div>