<div class="top-section">
  <header>
    <%= render 'static_pages/static_page_partials/primary_header' %>
  </header>
  <div class="caption-enc">
    <div class="container text-center">
      <div class="row">

        <div style="    padding: 5% 7.5% 2.5% 7.5%;">
          <div class="row">
            <div class="col-md-4">


              <%= render 'users/registrations/new_registration_form' %>

              <h4>Now for your team</h4>

              <a data-toggle="modal" data-target=".pricing-modal">See pricing</a>

              <div class="modal fade pricing-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!--<div class="modal-header">-->
                      <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true">&times;</span></button>-->
                      <!--<h4 class="modal-title">Pricing</h4>-->
                    <!--</div>-->
                    <div class="modal-body">

                      <div class="offer recommended" style="width: 100%;">
                        <div class="title-enc">
                          <h3>Forward</h3>

                          <div class="pricing-enc">
                            <span>$</span>
                            <span>34</span>
                            <span>/mo</span>
                          </div>
                        </div>
                        <div class="desc desc1">Use all tools</div>
                        <div class="desc desc3">Just $ 1.10 a day</div>
                        <div class="desc desc4">Free for 30 days</div>
                        <div class="desc desc5">Cancel subscription anytime</div>
                        <div class="cta-enc"><%= link_to 'Start the 30 day trial', sign_up_path, class: 'cta-btn outline-btn' %></div>
                      </div>

                    </div>
                    <!--<div class="modal-footer">-->
                      <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--</div>-->
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->

            </div>
            <div class="col-md-8">

              <div style="text-align: left;padding-left: 60px;font-family: 'Gill Sans';" s>

                <h5 style="margin: 0 0 3px 0;    font-size: 20px;">The All New</h5>
                <h3 style="font-size: 50px;margin-top: 0;">EdisonPlan 2</h3>

                <div style="color: #888; margin-top: 40px; font-size: 35px;line-height: 40px;">Customer - driven approach for building your business</div>

              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <%= render 'static_pages/static_page_partials/carousel' %>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>



<%= render 'static_pages/static_page_partials/footer' %>

















