<div id="pitch-fullpage" class="fullpage-content">

  <div data-anchor="Elevator pitch" class="section">
    <h2 class="rmain-title tit1 tcenter large black-text"></h2>
    <p class="fullpage-para"></p>
    <p class="fullpage-para"></p>
    <p class="fullpage-para"></p>
  </div>

  <div data-anchor="Winning pitch" class="section">
    <h2 class="rmain-title tit1 tcenter large black-text"></h2>
    <ul class="fullpage-list">
      <li>The Pitch should be simple and easy-to-understand.</li>
      <li>Use conversational English.</li>
      <li>Clearly mention the solution your product provides.</li>
      <li>Write the top benefits that attracts your customer’s attention.</li>
      <li>Mention the reason your customer has to trust your product.</li>
      <li>Re-read the pitch and make it better.</li>
    </ul>
  </div>

  <div data-anchor="Facebook pitch" class="section">
    <h2 class="rmain-title tit1 tcenter large black-text">Learn it from Facebook’s first pitch</h2>
    <blockquote class="pitch-bq">
      <p class="fullpage-para">“Thefacebook is an online directory that connects people
        through social networks at college.</p>
      <p class="fullpage-para fb-para-adjust"></p>
      <ul class="fullpage-list fb-fullpage-list">
        <li>Search for people at your school</li>
        <li>Find out who are in your classes</li>
        <li>Look up your friends’ friend</li>
        <li>See a visualization of your social network “</li>
      </ul>
    </blockquote>
    <p class="fullpage-para">Source: <a href="http://upload.wikimedia.org/wikipedia/en/f/f8/Thefacebook.png" target="_blank">http://upload.wikimedia.org/wikipedia/en/f/f8/Thefacebook.png</a></p>
  </div>

  <div data-anchor="Pitch quote" class="section">
    <p style="text-align: center;">
    Say what your product <strong>solves</strong>, list its <strong>top benefits</strong> and a clear
    reason why should they <strong>trust</strong> your product.
    </p>
    <p style="text-align: center;">
      Speak Less, Speak Clear, Speak Sense<br/>
      in less than 1 minute
    </p>
  </div>

</div>