<header>
  <%= render 'static_pages/static_page_partials/secondary_header' %>
</header>

<div class="container">
  <div class="price-table row">
    <div class="col-md-4 offer">
      <div class="title-enc">
        <h3>Basic</h3>

        <div class="pricing-enc"><span></span><span>Free</span><span></span></div>
      </div>
      <div class="desc desc1">People who want to start business but do not know where to start.</div>
      <div class="desc desc2">Free for 30 days</div>
      <div class="desc desc3">Can be upgraded to Pro</div>
      <div class="cta-enc"><%= button_tag 'Select', class: 'btn cta-btn outline' %></div>
    </div>

    <div class="col-md-4 offer">
      <div class="title-enc">
        <h3>Pro</h3>

        <div class="pricing-enc">
          <span>$</span>
          <span>249</span>
          <span>/mo</span>
        </div>
      </div>
      <div class="desc desc1">Entrepreneurs who want to build great businesses in a disciplined way.</div>
      <div class="desc desc2">Free for 30 days</div>
      <div class="desc desc3">Can cancel subscription at anytime</div>
      <div class="cta-enc"><%= button_tag 'Select', class: 'btn cta-btn' %></div>
    </div>

    <div class="col-md-4 offer">
      <div class="title-enc">
        <h3>Student</h3>

        <div class="pricing-enc">
          <span>$</span>
          <span>99</span>
          <span>/mo</span>
        </div>
      </div>
      <div class="desc desc1">Students participating in business plan competitions or those who want to get firsthand
        business experience at a minimal cost.
      </div>
      <div class="desc desc2">Free for 30 days</div>
      <div class="desc desc3">Register with your .edu email</div>
      <div class="cta-enc"><%= button_tag 'Select', class: 'btn cta-btn outline' %></div>
    </div>
  </div>
</div>

<script>
  $('.cta-btn').on('click', function () {
    window.location.href = "<%= sign_up_url %>";
  });
</script>

<%= render 'static_pages/static_page_partials/footer' %>