<header>
  <%= render 'static_pages/static_page_partials/secondary_header' %>
</header>

<div class="paper privacy">

  <h2>Privacy</h2>

  <h3>General Information</h3>

  <p>We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages
    consumers access or visit, and information volunteered by the consumer (such as survey information and/or site
    registrations). The information we collect is used to improve the content of our Web pages and the quality of our
    service, and is not shared with or sold to other organizations for commercial purposes, except to provide products
    or services you've requested, when we have your permission, or under the following circumstances:</p>

  <ol>
    <li>It is necessary to share information in order to investigate, prevent, or take action regarding illegal
      activities, suspected fraud, situations involving potential threats to the physical safety of any person,
      violations of Terms of Service, or as otherwise required by law.
    </li>
    <li>We transfer information about you if EdisonPlan.com is acquired by or merged with another company. In this
      event, EdisonPlan.com will notify you before information about you is transferred and becomes subject to a
      different privacy policy.
    </li>
  </ol>

  <h3>Information Gathering and Usage</h3>
  <ol>
    <li>When you register for EdisonPlan.com we ask for information such as your name, email address, billing address,
      or payment information. Members who sign up for the free account are not required to enter any payment details.
    </li>
    <li>EdisonPlan.com uses collected information for the following general purposes: products and services provision,
      billing, identification and authentication, services improvement, contact, and research.
    </li>
  </ol>

  <h3>Cookies</h3>
  <ol>
    <li>A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your
      browser from a web site's computers and stored on your computer's hard drive.
    </li>
    <li>Cookies are required to use the EdisonPlan.com service.</li>
    <li>We use cookies to record current session information, but do not use permanent cookies. You are required to
      re-login to your Edisonplan.com account after a certain period of time has elapsed to protect you against others
      accidentally accessing your account contents.
    </li>
  </ol>
  <h3>Data Storage</h3>

  <p>EdisonPlan.com uses third-party vendors and hosting partners to provide the necessary hardware, software,
    networking, storage, and related technology required to run EdisonPlan.com. Although EdisonPlan.com owns the code,
    databases, and all rights to the EdisonPlan.com application, you retain all rights to your data.</p>

  <h3>Disclosure</h3>

  <p>EdisonPlan.com may disclose personally identifiable information under special circumstances, such as to comply with
    subpoenas or when your actions violate the Terms of Service.</p>

  <h3>Changes</h3>

  <p>EdisonPlan.com may periodically update this policy. We will notify you about significant changes in the way we
    treat personal information by sending a notice to the primary email address specified in your EdisonPlan.com primary
    account holder account or by placing a prominent notice on our site.</p>

  <h3>Questions</h3>

  <p>If you have any questions about this Privacy Policy please mail to <%= mail_to('support@edisonplan.com') %></p>
</div>

<%= render 'static_pages/static_page_partials/footer' %>