<h2 class="referral-page-title tcenter">Get up to 15 days of extended usage by inviting your friends to Edison!</h2>
<h4 class="referral-sub-title tcenter">For every user who joins Edison by referral, we'll give you an extension of 3
  days! </h4>
<div class="extension-img-enc tcenter">
  <img src="https://cf.dropboxstatic.com/static/images/referrals_rocket_path-vflGh3pEh.png" class="extension-img"/>
</div>
<div class="divider"></div>
<div class="tcenter mb20">
<span class="sharable-link"><button class="gmail-invite-btn">Invite contacts in Gmail</button>
  <span class="or">(Or)</span>
  <button id="copy-button" data-clipboard-text="This is copied text">Copy to clipboard
  </button><%= text_field_tag 'Name on Card', nil, :placeholder => "Referral link", :class => "referral-link-field", :value => referral_url(current_user.referrer_code), :onClick => "this.select();", :contenteditable => "false" %></span>
<%= link_to "Shareable Link",referral_url(current_user.referrer_code) %>
</div>


