<style>
    section {
        padding: 0 10%;
    }

    table col:nth-child(2) div, table  col:nth-child(3) div, table col:nth-child(4) div {
        text-align: center;
    }


</style>


<section>
  <h3>List of returning users</h3>
  <table class='table'>

    <colgroup>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
    </colgroup>

    <thead>
    <tr>
      <td>
        <div>Name</div>
        <div>Email</div>
      </td>
      <td>Signed Up at</td>
      <td>Current Usage Streak</td>
      <td>Last Usage Streak</td>
      <td>Highest Usage Streak</td>
      <td>Time Spent (mins)</td>
    </tr>
    </thead>
    <tbody>
    <% @users.each_with_index do |user, index| %>
        <tr>
          <td>
            <div><%= index+ 1%>. <%= user.name %></div>
            <div><%= user.email %></div>
          </td>
          <td><%= ldt user.created_at %></td>
          <td>
            <div><%= user.current_streak(detailed: true)[:days] %></div>
            <div><%= ldt user.current_streak(detailed: true)[:start] %>
              to <%= ldt user.current_streak(detailed: true)[:end] %></div>
          </td>
          <td>
            <div><%= user.last_streak(detailed: true)[:days] %></div>
            <div><%= ldt user.last_streak(detailed: true)[:start] %>
              to <%= ldt user.last_streak(detailed: true)[:end] %></div>
          </td>
          <td>
            <div><%= user.highest_streak(detailed: true)[:days] %></div>
            <div><%= ldt user.highest_streak(detailed: true)[:start] %>
              to <%= ldt user.highest_streak(detailed: true)[:end] %></div>
          </td>
          <td>
            <%= user.timespent_profile.values.collect(&:to_i).inject(:+) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</section>


<%= generate_csv @users %>

<script>
    //  $('.flag').each(function(){
    //      var ip = $(this).attr('data-ip');
    //      $.ajax({url:"http://api.hostip.info/flag.php?ip="+ip}).done(function (data) {
    //         console.log(data)
    //      });
    //  });
</script>