<header>
  <%= render 'static_pages/static_page_partials/secondary_header' %>
</header>

<div class='terms paper'>

  <h2>Terms of Service</h2>

  <p>By using the EdisonPlan.com web site ("Service"), or any other services of Cent Life Inc., ("EdisonPlan") you are
    agreeing to be bound by the following terms and conditions ("Terms of Service"). IF YOU ARE ENTERING INTO THIS
    AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH
    ENTITY,
    ITS AFFILIATES AND ALL USERS WHO ACCESS OUR SERVICES THROUGH YOUR ACCOUNT TO THESE TERMS AND CONDITIONS, IN WHICH
    CASE
    THE TERMS "YOU" OR "YOUR" SHALL REFER TO SUCH ENTITY, ITS AFFILIATES AND USERS ASSOCIATED WITH IT. IF YOU DO NOT
    HAVE
    SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY
    NOT
    USE THE SERVICES.</p>

  <p>If EdisonPlan makes material changes to these Terms, we will notify you by email or by posting a notice on our site
    before the changes are effective. Any new features that augment or enhance the current Service, including the
    release
    of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such
    changes shall constitute your consent to such changes.</p>

  <p>Violation of any of the terms below will result in the termination of your Account. While EdisonPlan prohibits such
    conduct and Content on the Service, you understand and agree that EdisonPlan cannot be responsible for the Content
    posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own
    risk.</p>

  <h4>Account Terms</h4>

  <ol>
    <li>You must be 13 years or older to use this Service.</li>
    <li>You must be a human. Accounts registered by "bots" or other automated methods are not permitted.</li>
    <li>You must provide your name, a valid email address, and any other information requested in order to complete the
      signup process.
    </li>
    <li>Your login may only be used by one person - a single login shared by multiple people is not permitted. You may
      create separate logins for as many people as your plan allows.
    </li>
    <li>You are responsible for maintaining the security of your account and password. EdisonPlan cannot and will not be
      liable for any loss or damage from your failure to comply with this security obligation.
    </li>
    <li>You are responsible for all Content posted and activity that occurs under your account (even when Content is
      posted by others who have accounts under your account).
    </li>
    <li>One person or legal entity may not maintain more than one free account.</li>
    <li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service,
      violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).
    </li>
  </ol>

  <h4>Payment, Refunds, Upgrading and Downgrading Terms</h4>

  <ol>
    <li>All paid plans must enter a valid payment account. Free accounts are not required to provide payment account
      information.
    </li>
    <li>An upgrade from the free plan to any paying plan will immediately bill you.</li>
    <li>For monthly payment plans, the Service is billed in advance on a monthly basis and is non-refundable. There will
      be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused
      with
      an open account. In order to treat everyone equally, no exceptions will be made.
    </li>
    <li>All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be
      responsible
      for payment of all such taxes, levies, or duties, excluding only United States (federal or state) taxes.
    </li>
    <li>For any upgrade or downgrade in plan level while on a monthly billing cycle, the credit card that you provided
      will automatically be charged the new rate on your next billing cycle. For upgrades or downgrades while on a
      yearly
      plan, EdisonPlan will immediately charge or refund the difference in plan cost, prorated for the remaining time in
      your yearly billing cycle.
    </li>
    <li>Downgrading your Service may cause the loss of Content, features, or capacity of your Account. EdisonPlan does
      not
      accept any liability for such loss.
    </li>
  </ol>


  <h4>Cancellation and Termination</h4>
  <ol>
    <li>You are solely responsible for properly canceling your account. An email or phone request to cancel your account
      is not considered cancellation. You can cancel your account at any time by clicking on the Account link at the top
      of the screen. The Account screen provides a simple no questions asked cancellation link.
    </li>
    <li>All of your Content must be deleted from the Service before cancellation. This information can not be recovered
      once your account is cancelled.
    </li>
    <li>If you cancel the Service before the end of your current paid up month, your cancellation will take effect
      immediately and you will not be charged again.
    </li>
    <li>EdisonPlan, in its sole discretion, has the right to suspend or terminate your account and refuse any and all
      current or future use of the Service, or any other EdisonPlan service, for any reason at any time. Such
      termination
      of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the
      forfeiture and relinquishment of all Content in your Account. EdisonPlan reserves the right to refuse service to
      anyone for any reason at any time.
    </li>
  </ol>

  <h4>Modifications to the Service and Prices</h4>
  <ol>
    <li>EdisonPlan reserves the right at any time and from time to time to modify or discontinue, temporarily or
      permanently, the Service (or any part thereof) with or without notice.
    </li>
    <li>Prices of all Services, including but not limited to monthly subscription plan fees to the Service, are subject
      to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the
      EdisonPlan Site (EdisonPlan.com) or the Service itself.
    </li>
    <li>EdisonPlan shall not be liable to you or to any third-party for any modification, price change, suspension or
      discontinuance of the Service.
    </li>
  </ol>


  <h4>Copyright and Content Ownership</h4>
  <ol>
    <li>We claim no intellectual property rights over the material you provide to the Service. Your profile, materials
      uploaded, and the content that you create remain yours. However, when using the collaboration feature, you agree
      to allow the people you invite to collaborate with to view and use your Content. By setting your content to be
      viewed by these people, you agree to allow these authorized users to view, use, and download your content.
    </li>
    <li>EdisonPlan does not pre-screen Content, but EdisonPlan and its designee have the right (but not the obligation)
      in their sole discretion to refuse or remove any Content that is available via the Service.
    </li>
    <li>You shall defend EdisonPlan against any claim, demand, suit or proceeding made or brought against EdisonPlan by
      a third-party alleging that Your Content, or Your use of the Service in violation of this Agreement, infringes or
      misappropriates the intellectual property rights of a third-party or violates applicable law, and shall indemnify
      EdisonPlan for any damages finally awarded against, and for reasonable attorney’s fees incurred by, EdisonPlan in
      connection with any such claim, demand, suit or proceeding; provided, that EdisonPlan (a) promptly gives You
      written notice of the claim, demand, suit or proceeding; (b) gives You sole control of the defense and settlement
      of the claim, demand, suit or proceeding (provided that You may not settle any claim, demand, suit or proceeding
      unless the settlement unconditionally releases EdisonPlan of all liability); and (c) provides to You all
      reasonable assistance, at Your expense.
    </li>
    <li>The look and feel of the Service is copyright ©2015 EdisonPlan, Cent Life Inc. All rights reserved. You may not
      duplicate, copy, or reuse any portion of the HTML/CSS, Javascript, or visual design elements or concepts without
      express written permission from EdisonPlan.
    </li>

  </ol>
  <h4>General Conditions</h4>
  <ol>
    <li>Your use of the Service is at your sole risk. The service is provided on an "as is" and "as available" basis.
    </li>
    <li>You understand that EdisonPlan uses third-party vendors and hosting partners to provide the necessary hardware,
      software, networking, storage, and related technology required to run the Service.
    </li>
    <li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is
      associated with the Service, EdisonPlan, or any other Cent Life Inc., service.
    </li>
    <li>You may not use EdisonPlan Pages in violation of EdisonPlan’s trademark or other rights or in violation of
      applicable law. EdisonPlan reserves the right at all times to reclaim any EdisonPlan subdomain without liability
      to you.
    </li>
    <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the
      Service, or access to the Service without the express written permission by EdisonPlan.
    </li>
    <li>We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole
      discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise
      objectionable or violates any party's intellectual property or these Terms of Service.
    </li>
    <li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any EdisonPlan customer,
      employee, member, or officer will result in immediate account termination.
    </li>
    <li>You understand that the technical processing and transmission of the Service, including your Content, may be
      transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt
      to technical requirements of connecting networks or devices.
    </li>
    <li>You must not upload, post, host, or transmit unsolicited email, SMSs, or "spam" messages.</li>
    <li>EdisonPlan does not warrant that (i) the service will meet your specific requirements, (ii) the service will be
      uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service
      will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased
      or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be
      corrected.
    </li>
    <li>You expressly understand and agree that EdisonPlan shall not be liable for any direct, indirect, incidental,
      special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill,
      use, data or other intangible losses (even if EdisonPlan has been advised of the possibility of such damages),
      resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods
      and services resulting from any goods, data, information or services purchased or obtained or messages received or
      transactions entered into through or from the service; (iii) unauthorized access to or alteration of your
      transmissions or data; (iv) statements or conduct of any third-party on the service; (v) or any other matter
      relating to the service.
    </li>
    <li>The failure of EdisonPlan to exercise or enforce any right or provision of the Terms of Service shall not
      constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you
      and EdisonPlan and govern your use of the Service, superseding any prior agreements between you and EdisonPlan
      (including, but not limited to, any prior versions of the Terms of Service). You agree that these Terms of Service
      and Your use of the Service are governed under Virginia law.
    </li>
    <li>Questions about the Terms of Service please mail us at <%= mail_to('support@edisonplan.com') %>.</li>
  </ol>

</div>

<%= render 'static_pages/static_page_partials/footer' %>