<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<div id="pitch-fullpage" class="main">
  <% @slides.each do |slide| %>
      <section>
        <%= markdown.render(slide).html_safe %>
      </section>
  <% end %>
</div>