<div class="dropdown broadcast">
  <div id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
    <%= fa_icon 'bullhorn' %>
  </div>
  <ul class="dropdown-menu pull-right header-messages" aria-labelledby="dLabel">
    <div class="inner">
      <% last_3_messages = active_product.messages.includes(:user).last(3) %>

      <% if last_3_messages.present? %>
          <% last_3_messages.each do |msg| %>
              <%= render 'messages/header_message_item', message: msg %>
          <% end %>
      <% else %>
          <li class="messages-empty-state">
            <div>
              Broadcast a message to your team
            </div>
          </li>
      <% end %>
      <li class="message form-li">
        <%= render 'messages/new_message_form' %>
      </li>
    </div>
  </ul>
</div>