<div class="new-message-form-enc">
  <%= form_for active_product.messages.build, remote: true do |f| %>
      <%= f.text_area :content, id: 'message_content_field', class: 'form-control', placeholder: 'Your broadcast here...', data: {behaviour:"submit_on_enter"} %>
  <% end %>
  <div class="see-all-chat"  data-behaviour="open_in_new_tab" data-href="<%= chat_path %>" data-tab-ref="chat">
    See All Chat
  </div>
</div>