<% originator = message.user %>
<li class="message-list-item <%= 'me' if originator.id == current_user.id %>">
  <div class="profile-icon-enc"><%= profile_icon originator %></div>
  <div class="message-enc">
    <div class="chat-msg-content _<%= message.id %>">
      <%= auto_link message.content %>
      <div class="timestamp"><%= local_time_ago message.created_at %></div>
    </div>
  </div>
</li>