<% if @message.errors.blank? %>
$('<%= j render 'messages/header_message_item', message: @message %>').insertBefore('.message.form-li');
$('.messages-list').append('<%= j render 'messages/new_message_item', message: @message %>');
$('.messages-list-enc').scrollTop($('.messages-list-enc').prop("scrollHeight"));
$('.messages-empty-state').remove();
<% else %>
$("#message_content_field").effect("shake");
<% end %>