<div data-url="<%= comp_position_path(comp_position.id) %>" class="comp-pos-piece <%= comp_position.competitor.downcase.gsub(' ', '_') %>">
  <% if comp_position.admin_field %>
      <%= comp_position.competitor %>
  <% else %>
      <%= active_edit_if has_valid_access?, comp_position, :competitor %>
      <%= delete_object comp_position %>
  <% end %>
</div>