
<% if @comp_position.factor1 && @comp_position.factor2 %>
$('.plot-list-item').each(function () {
    var x = $(this).html().replace('<%= j @comp_position.competitor %>', '');
    $(this).html(x);
});
$('.<%= PP_LEVEL[@comp_position.factor1].gsub(' ','_') %>_<%= PP_LEVEL[@comp_position.factor2].gsub(' ','_') %> ul').append('<li class="plot-list-item <%= @comp_position.competitor == 'My Product' ? 'my-product' : @comp_position.competitor == 'Status quo' ? 'status-quo' : '' %>"><%= @comp_position.competitor %></li>');
<% end %>

