(function () {

  $record = $('<%= j render 'comp_positions/comp_pos_item', comp_position: @comp_position %>');

  $target = $('[data-factor-1=<%= @comp_position.factor1 %>][data-factor-2=<%= @comp_position.factor2 %>]')

  $target.append($record);

  $record.find('.active-edit').trigger('click');

}).call(this);

