<section class="cofounder-invitation">

  <div>
    <h2><%= ae_live_field(active_product, :product_name) %>'s purpose</h2>
    <%= active_product.product_purpose %>
    <div class="name-and-title">
      <%= current_user.name %> |
      <%= ae_live_field(active_product, :product_name) %> |
      <%= active_product.owner_role %>
    </div>
  </div>

  <hr>

  <div>
    <h2><%= ae_live_field(active_product, :product_name) %>'s definition of success</h2>
    <%= active_product.success_definition %>
  </div>

  <hr>

  <%= render 'memberships/new_membership_form' %>
  <div class="btn-container" style="margin-top: 20px;">
    <%= link_to 'Invite the team later', app_path(view: 'home'), remote: false %>
  </div>
</section>