<% user = User.find_by_email(email) %>
<div class="team-member-icon profile-icon default _<%= index + 2 %>" data-email="<%= email %>" data-toggle="tooltip" data-title="<%= user == current_user ? 'You' : (user.try(:name) || email) %>">
  <%= user_initials(user.try(:name) || email) %>
</div>
