<div id="new-membership-form-enc" class="new-sub-tool-form-enc">
  <%= form_tag active_product.memberships.build, remote: true, class: 'new-member-form' do %>

      <div class="new-membership-form">
        <h2>Invite to the <%= ae_live_field(active_product, :product_name) %> team to its EdisonPlan</h2>
        <div class="cancel-and-back" data-dismiss="slider">&larr; back to the dashboard</div>
        <table>
          <colgroup>
            <col>
            <col>
            <col>
          </colgroup>
          <tbody>
          <% 5.times do %>
              <tr>
                <td><%= email_field_tag 'membership[][member_email]','',  class: 'form-control invitee-email', placeholder: 'Email' %></td>
                <td><%= text_field_tag 'membership[][role]', '', class: 'form-control invitee-email', placeholder: 'Title' %></td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Limited Access
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                      <li data-access="Full Access" data-behaviour="set_choice" data-choice="1">
                        <div class="title">Full Access</div>
                        <div class="expln-text">Can see everything and do everything</div>
                      </li>
                      <li data-access="Limited Access" data-behaviour="set_choice" data-choice="2">
                        <div class="title">Limited Access</div>
                        <div class="expln-text">Cannot edit tools. Can discuss, write notes, to-do lists.</div>
                      </li>
                    </ul>
                  </div>
                  <%= hidden_field_tag 'membership[][write_tools]' ,:write_tools, id: 'write-tools', value: false, multiple: true %>
                  <%= hidden_field_tag 'membership[][write_utils]' ,:write_utils, id: 'write-utils', value: true, multiple: true %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="btn-container">
        <%= button_tag 'Send invitations', class: 'invite-member-btn' %>
      </div>

  <% end %>
</div>