<div data-email="<%= member.member_email %>" class="row member-access-rec">

  <div class="col-xs-1">

    <% if user = User.find_by_email(member.member_email.downcase) %>
        <%= profile_icon user %>
    <% else %>
        <div class="profile-icon _<%= index + 2 %>"><%= user_initials(member.member_email) %></div>
    <% end %>

  </div>

  <div class="col-xs-11">

    <div>
      <% if user %>
          <%= user.name || user.email %>
      <% else %>
          <%= member.member_email %> (not joined yet)
      <% end %>
      <div class="edit-access" data-behaviour="edit_access">edit access</div>
    </div>

    <div>
      <%= member.role %>
    </div>

    <div class="access-options">
      <div>
        <%= active_edit_if has_valid_access?, member, :write_tools, type: :checkbox %>
        Can edit tools
      </div>
      <div>
        <%= active_edit_if has_valid_access?, member, :write_utils, type: :checkbox %>
        Can discuss, write notes, assumptions, and to-dos
      </div>
      <%= remove_member member %>
    </div>

  </div>


</div>
