<div class="modal fade invite-modal">
  <div class="modal-dialog center-modal-dialog modal-md">
    <div class="modal-content clearfix">
      <div class="modal-header">
        <h4 class="modal-title">Invite your team</h4>
      </div>

      <%= form_for active_product.memberships.build, remote: true, html: {class: 'new-member-form'} do |f| %>
          <div class="modal-body">

            <%= f.label 'Email' %>
            <%= f.text_field :member_email, class: 'form-control invitee-email' %>

            <%= f.label 'Access Privileges' %>
            <div class="access-choices-container">
              <div class="choice-item choice-btn" instant-select="true" is-sibling="choice-item" data-behaviour="set_choice" data-choice="1">
                <div class="title">Co-founder</div>
                <div class="expln-text">Can see everything and do everything except edit the 20 tools</div>
              </div>
              <div class="choice-item choice-btn" instant-select="true" is-sibling="choice-item" data-behaviour="set_choice" data-choice="1">
                <div class="title">Team Member</div>
                <div class="expln-text">Can see everything and do everything except edit the 20 tools</div>
              </div>
              <div class="choice-item choice-btn" instant-select="true" is-sibling="choice-item" data-behaviour="set_choice" data-choice="2">
                <div class="title">Mentor</div>
                <div class="expln-text">Can see everything. Can start and participate in discussions.</div>
              </div>
              <div class="choice-item choice-btn" instant-select="true" is-sibling="choice-item" data-behaviour="set_choice" data-choice="2">
                <div class="title">Investor</div>
                <div class="expln-text">Can see everything. Can start and participate in discussions.</div>
              </div>
            </div>

            <div class="expln-text"></div>

            <%= f.hidden_field :write_tools, id: 'write-tools', value: false %>
            <%= f.hidden_field :write_utils, id: 'write-utils', value: false %>
          </div>
          <div class="modal-footer">
            <%= button_tag 'Invite', data: {disable_with: disabled_spinner}, class:'invite-member-btn', disabled:true %>
          </div>
      <% end %>
    </div>
  </div>
</div>
