<% memberships = active_product.memberships.all %>

<h3>The <%= ae_live_field(active_product, :product_name) %> team</h3>

<% if memberships.count == 0 %>

    <div class="team-empty-state">
      <div class="note">Starting up is a team game. Get your team on EdisonPlan.</div>
      <div class="btn btn-primary btn-lg" data-behaviour="slider_up" data-target="#new-membership-form-enc">Invite the
        team
      </div>
    </div>

<% else %>

    <div class="team-mgmt">
      <hr>
      <% memberships.each_with_index do |member, index| %>
          <%= render 'memberships/new_member_access_rec', member: member, index: index %>
          <hr>
      <% end %>
    </div>
    <div class="btn btn-primary" data-behaviour="slider_up" data-target="#new-membership-form-enc">Invite a member</div>

<% end %>
