<div class="modal fade team-mgmt-modal">
  <div class="modal-dialog center-modal-dialog modal-lg">
    <div class="modal-content clearfix">

      <div class="modal-header">
        <h4 class="modal-title">Team Management</h4>
      </div>

      <div class="modal-body">

        <table class="team-mgmt">
          <colgroup>
            <col>
            <col>
            <col>
            <col>
          </colgroup>
          <thead>
          <tr>
            <th>Team Member</th>
            <th>Can edit tools?</th>
            <th>Can add notes, to-do lists, and experiments?</th>
          </tr>
          </thead>
          <tbody>
          <% Membership.where(product_id: active_product.id).each do |member| %>
          <%= render 'memberships/new_member_access_rec', member: member %>
          <% end %>
          </tbody>
        </table>


      </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
