<div class="team-members-list">

  <div class="members">

    <% active_product.team_email_list.each_with_index do |email, index| %>
        <%= render 'memberships/new_member_rec', email: email, index: index %>
    <% end %>

    <div class="profile-icon add-member" data-behaviour="slider_up" data-target="#new-membership-form-enc">+</div>

  </div>
  

</div>