

$('.team-members-list').replaceWith('<%= j render 'memberships/team_members' %>');
$('.team-list-enc').html('<%= j render 'memberships/team_list' %>');
$('<div class="alert alert-success">Invitations are being sent.</div>').insertAfter('.new-membership-form h2');
var $this = $('#new-membership-form-enc');
$this.find('form')[0].reset();
$this.find('.btn').html('<span style="color:darkgrey">Access level </span><span class="caret"></span>');

if (location.pathname == '/onboarding') {
  $('.alert.alert-success').html('Invitations are being sent. Taking you to the dashboard');
  window.location.href = '<%= app_path(view: 'home') %>';
}
