$('<div class="alert alert-info" data-behaviour="dismiss_on_click"><%= @membership.member_email %> will no longer have access to <%= @membership.product.product_name %>.</div>').insertBefore('.team-mgmt');
$('[data-email="<%= @membership.member_email %>"]').remove();
$('.team-members-list').replaceWith('<%= j render 'memberships/team_members' %>');
$('.team-list-enc').html('<%= j render 'memberships/team_list' %>');