$('.welcome-title').html('Now is a good time to invite your co-founders');
$('[data-stage]').remove();
$('.line-drg.last').remove();

$('html, body').animate({
  scrollTop: $("html").offset().top
}, 100);


$('<%= j render 'memberships/cofounder_invitation' %>').insertAfter('.welcome-title');
$('.complete-onboarding-form').remove();