var noteContent = '<%= j raw @note.content %>';
$('[data-tool=notes][data-id=<%= @note.id %>]').find('.on-sheet-note-view').html(noteContent);
$('#edit_note_<%= @note.id %>').remove();
$('.on-sheet-note-view, .edit-note-btn').show();
$('#note_<%= @note.id %>').find('.note-content').html(noteContent);
$('#edit-note-form').remove();
$originFormEnc = $('[data-tab-view-id=<%= params[:rand_tab_id] %>]');
$noteUpdates = $originFormEnc.find('.note-updates');
$noteUpdates.html('Saved!').addClass('active');
setTimeout(function () {
  $noteUpdates.removeClass('active').empty()
}, 900);

