<% if @note.draft %>

<% else %>
$notice = $('.sub-tool-single-view.note._<%= @note.id %>').find('.draft-notice').html('Successfully Published');
setTimeout(function(){
  $notice.slideUp(function(){
    $(this).remove();
  })
}, 1000);
<% end %>