<%= render 'notes/note_form',
           action: "/notes/#{@sub_tool_resource.id}",
           http_method: 'put',
           note_title: @sub_tool_resource.title,
           note_content: @sub_tool_resource.content,
           rand_tab_id: rand_tab_id
%>
