<div class="modal fade new-note-modal full-page" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog center-modal-dialog modal-md">
    <div class="modal-content clearfix">
      <%= render 'notes/new_note_modal_content' %>
    </div>
  </div>
</div>


