<% if beachhead %>

    <form action="/notes" data-remote="true" id="new_note_form" method="post">

      <div class="modal-header">
        <input tabindex="99"  autofocus="true" autocomplete="off" class="normal-input note-title-input" id="note_modal_note_title" maxlength="250" name="note[title]" placeholder="Title of your note" size="50" type="text">
      </div>

      <div class="modal-body">
        <input id="note_step_no" type="hidden" name="note[step_no]">
        <input id="new_note" type="hidden" name="note[content]">
        <trix-editor tabindex="100" input="new_note" placeholder="Click here and start writing your note"></trix-editor>
      </div>

      <div class="modal-footer">
        <input class="btn btn-success add-submit" disabled="" name="commit" type="submit" value="Save this note">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
      </div>

    </form>

<% end %>
