<div class="note-list-item _<%= note.id %>">

  <div class="note-content" data-behaviour="open_in_new_tab" data-href="<%= note_path(note.id) %>">
    <div class="note-title"><%= note.title %></div>
    <%= sanitize(note.content, tags: [:div, :ul, :ol, :blockquote, :br]).truncate(220, separator: ' ').html_safe %>
  </div>
  <div class="metadata">
    <span class="posted-by">Authored by <%= note.user.name %></span>
    <span class="separator">·</span>
    <%= local_time_ago note.created_at %>
    <span class="separator">·</span>
    <%= pluralize note.comment_count, 'comment' %>
  </div>

</div>