<div id="new-note-form-enc" class="new-sub-tool-form-enc">
  <% if beachhead %>
      <form action="<%= action %>" data-remote="true" id="new_note_form" class="note-form" method="<%= http_method %>">
        <div class="note-sheet">
          <div class="note-updates"></div>
          <div class="note-controls">
            <div class="note-button" data-behaviour="finish_note_editing">Finish Editing</div>
          </div>
          <input value="<%= note_title %>" data-mirror-entry='true' tabindex="99" autofocus="autofocus" autocomplete="off" class="normal-input note-title-input" id="note_modal_note_title" maxlength="250" name="note[title]" placeholder="Title of your note" size="50" type="text">
          <input id="rand_tab_id" name="rand_tab_id" type="hidden" value="<%= rand_tab_id %>">
          <input class="trix-editor-reciever" id="trix-input-from-<%= r = rand_string %>" type="hidden" name="note[content]" value="<%= note_content %>">
          <trix-editor class="note-trix-editor trix-editor-sender" id="trix-input-to-<%= r %>" tabindex="100" input="trix-input-from-<%= r %>" placeholder="Click here and start writing your note"></trix-editor>
        </div>
      </form>
  <% end %>
</div>