var noteTitle = '<%= j @note.title %>';
$('#note_<%= @note.id %>').find('.note-title').html(noteTitle);
$('[data-tool=notes][data-id=<%= @note.id %>]').find('.sheet-title').html(noteTitle);
$('.note-list-item._<%= @note.id %>').html(noteTitle);
<%= render 'notes/content' %>

