$originFormEnc = $('[data-tab-view-id=<%= params[:rand_tab_id] %>]');
$originTab = $('[data-tab-id=<%= params[:rand_tab_id] %>]');
<% if @note.errors.blank? %>

$originFormEnc.find('#new_note_form')
    .attr({action: '/notes/<%= @note.id %>', method: 'put'});

$noteUpdates = $originFormEnc.find('.note-updates');
$noteUpdates.html('Saved!').addClass('active');
setTimeout(function () {
  $noteUpdates.empty().removeClass('active')
}, 900);

$originTab
    .attr('data-href', '<%= @note.friendly_link %>/edit')
    .attr('data-tab-href', '<%= @note.friendly_link %>/edit')
    .find('.inner').html('<%= @note.title %>');


window.history.replaceState('null', 'null', '<%= @note.friendly_link %>/edit');


<% else %>
<% if @note.title.nil? || @note.title == '' %>
$originFormEnc.find('.note-updates').empty().removeClass('active');
<% else %>
alert('Something seems to have gone wrong! Try that again');
<% end %>
// <%=  @note.errors.full_messages %>
<% end %>