$originTab = $('[data-tab-href="/notes/<%= @sub_tool_resource.id %>"]');
$('[data-tab-view-id="' + $originTab.attr("data-tab-id") + '"]').remove();
$originTab.remove();
$('.view-layer-item').hide();
edison.insertTab('<%= j @sub_tool_title  %>', '<%= j render "notes/edit" %>', '<%= @sub_tool_resource.friendly_link %>/edit');
$newTabView = $('[data-tab-view-href="/notes/<%= @sub_tool_resource.id %>/edit"]');
$newTabView
    .find('[name=rand_tab_id]')
    .val($newTabView.attr('data-tab-view-id'));
Router.navigate('<%= @sub_tool_resource.friendly_link %>/edit', {overwrite: true});