<li class="<%= component.group %> component-list-item _<%= component.id %>" data-card-id="<%= r = rand_string %>" data-behaviour="open_target_in_modal" data-target=".component-item-modal" data-toggle="modal">


  <div class="default-state">
    <%= ae_live_field component, :name %>
  </div>

  <div class="in-modal-content" data-modal-content-id="<%= r %>" data-component-id="<%= component.id %>">
    <div class="modal-header">
      <div class="modal-title">
        <div class="row">
          <div class="col-xs-5" style="font-size: 18px;text-align: left;">
            <%= active_edit_if has_valid_access?, component, :name %>
          </div>
          <div class="col-xs-7" style="text-align: right;">
            <%= active_edit_if has_valid_access?, component, :customers_want, type: :select, choices: customers_wanting_features, placeholder: 'Customers wanting this?' %>
            <%= active_edit_if has_valid_access?, component, :importance, type: :select, choices: feature_importance, placeholder: 'Importance to customers' %></div>
        </div>
        <div style="text-align: left;" class="row">
          <div class="col-xs-8">
            <%= ae_live_field component.feature, :feature_name %>
          </div>
          <div class="col-xs-4">
            <%#= button_to_create '+ New Sub-component', :sub_component, {component_id: component.id, stage: 1}, {class: 'btn-xs pull-right'} %>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-body">

      <div class="sub-component-form" data-behaviour="expandable" style="padding: 10px;">
        <div class="btn btn-link btn-xs expand-on-click" data-hidden-when-expanded>+ New Sub Component</div>
        <div class="show-on-expand" data-show-on-expand>
          <%= form_for component.sub_components.build, remote: true do |f| %>
              <div style="padding: 10px;">
                <div style="margin-right: 10px;display: inline-block;"><%= f.text_field :name, class: 'form-control', placeholder: 'New Sub Component' %></div>
                <div style="margin-right: 10px;display: inline-block;"><%= f.collection_select :customers_want, customers_wanting_features, :first, :last, {prompt: "Customers wanting this?"}, {class: 'select customers_select'} %></div>
                <div style="margin-right: 10px;display: inline-block;"><%= f.collection_select :importance, feature_importance, :first, :last, {prompt: "Importance to customers"}, {class: 'select importance_select'} %></div>
                <div class="classification-response"></div>
                <div style="margin-top: 10px;display: inline-block; margin-right: 10px;">
                  <%= button_tag class: 'btn btn-primary' do %>
                      Add sub component
                  <% end %>
                  <div class="btn-link btn collapse-target">Cancel</div>
                </div>
                <hr>
              </div>
              <%= f.hidden_field :component_id, value: component.id %>
              <%= f.hidden_field :stage, value: 1 %>
          <% end %>
        </div>
      </div>

      <div class="component-boards">
        <% component_stages.each do |stage, stage_name| %>
            <div class="component-board ui-droppable board <%= stage_name.gsub(' ', '-') %>" data-stage="<%= stage %>">
              <div class="title"><%= stage_name %></div>

              <% component.sub_components.for_stage(stage).each do |sub_component| %>
                  <%= render 'sub_components/sub_component_card', sub_component: sub_component %>
              <% end %>


            </div>
        <% end %>


      </div>
    </div>
    <div class="modal-footer"></div>
  </div>

</li>