<li class="component-main-branch _<%= component.id %>">


  <div class="component-title">
    <%= active_edit_if has_valid_access?, component, :name, placeholder: 'Component name' %>
    <% if component.feedback_count > 0 %>
        <div data-behaviour="open_in_new_tab" data-href="<%= component_feedbacks_path(component.id) %>" class="badge" style="position: absolute;right: 30px;top: 6px;"><%= pluralize component.feedback_count, 'feedback' %></div>
    <% end %>
    <div data-behaviour="toggle_target" data-target=".component-branch-body._<%= component.id %>" data-shown-text="-" data-hidden-text="+" class="badge">-</div>
    <%= delete_object component %>
  </div>

  <% sub_components = component.sub_components.all %>
  <% issues = component.issues.all %>

  <div class="component-branch-body _<%= component.id %>">
    <ul class="component-sub-component-branch _<%= component.id %>">
      <% sub_components.each do |sub_component| %>
          <%= render('sub_components/sub_component_branch', sub_component: sub_component) %>
      <% end %>
    </ul>

    <ul class="component-issue-branch _<%= component.id %>">
      <% issues.all.each do |issue| %>
          <%= render 'issues/issue_branch', issue: issue %>
      <% end %>
    </ul>

    <% if (sub_components.count + issues.count) == 0 %>
        <ul class="component-empty-state _<%= component.id %>">
          <li class="sub-component-branch"> There are no sub components or issues for this sub-feature</li>
        </ul>
    <% end %>

    <div class="actions-enc">
      <%= button_to_create 'add a component', :sub_component, {component_id: component.id, name: "Component"}, {class: 'btn btn-link btn-xs'} %>
      <span class="separator"> · </span>
      <%= button_to_create 'add a bug', :issue, {component_id: component.id}, {class: 'btn btn-link btn-xs'} %>
    </div>
  </div>

</li>