<div class="feedbacks-for-feature" style="width: 40%; margin: 30px auto;">

  <h4 style="text-align: center;margin-bottom: 30px;">Feedback about <%= @component.name %></h4>

  <% @feedbacks.each do |feedback| %>
      <%= render 'customer_feedbacks/new_feedback_item', feedback: feedback %>
  <% end %>

</div>