(function () {

  <% if @component.errors.blank? %>

  $li = $('<%= j render 'components/component_list_item', component: @component %>').hide();

  $target = $('.feature-component-list._<%= @component.feature_id %> .component-list')
      .find('.form-li');

  $li.insertBefore($target);

  $li.slideDown();

  $branch = $('<%= j render 'components/component_main_branch', component: @component %>').hide();

  $('.feature-component-branch._<%= @component.feature_id  %>').append($branch);

  $branch.slideDown('fast');

  $branch.find('.active-edit').first().trigger('click');

  <% else %>



  <% if @component.name.blank? %>
  $('[action="/components"]').find('#component_name').effect('shake');
  <% end %>


  <% end %>



}).call(this);
