

section {
  padding: 100px 300px;
}

body {
  font-size: 16px;
  line-height: 25px;
  font-family: $primary-font-stack;
}

p {
  margin: 20px auto;
}

li {
  margin: 20px auto;
}

blockquote {
  padding: 0 20px;
}

section {
  padding: 50px 300px;
}