<div class="card" data-object="next_customer" data-url="<%= next_customer_path next_customer.id %>" data-card-id="<%= r = rand_string %>" data-behaviour="open_target_in_modal" data-target=".board-modal">


  <div class="card-title">
    <%= ae_live_field next_customer, :cust_name  %>
    <%= delete_object next_customer %>
  </div>

  <div class="in-modal-content" data-modal-content-id="<%= r %>">

    <div class="board-modal-title">
      <%= active_edit_if has_valid_access?, next_customer, :cust_name %>
    </div>

    <div class="div-table">
      <% next_customer_fields.each do |fieldset| %>
          <div class="row">
            <div class="col-xs-8 table-header"><%= fieldset[0] %></div>
            <div class="col-xs-4"><%= active_edit_if has_valid_access?, next_customer, fieldset[1], type: :select, choices: RANGE %></div>
          </div>
      <% end %>
    </div>

    <div class="child-object-list-enc">


      <ul class="child-list" data-child="improvement"  data-parent-id="next_customer_<%= next_customer.id %>">
        <% next_customer.improvements.each do |improvement| %>
            <li class="child-item"><%= active_edit_if has_valid_access?, improvement, :improvement_name %></li>
        <% end %>
        <li><%= render 'static_pages/shared/new_resource_form2', parent: next_customer, resources: :improvement, field: :improvement_name, options: {placeholder: 'Include one more', hidden_field: :next_customer_id, hf_value: next_customer.id} %></li>
      </ul>

    </div>

  </div>

</div>