<tr class='user-created-row' id="next_customer_<%= next_customer.id %>">
  <td>
    <%= best_in_place_if has_valid_access?, next_customer, :cust_name, :place_holder => "", :inner_class => "bip_input_box micro" %>
    <%= delete_object(next_customer) %>
  </td>
  <td>
    <%= best_in_place_if has_valid_access?, next_customer, :target_date, :as => :date, :place_holder => 'Target date', display_with: lambda { |dt| ldt(dt) }, class: 'date-in-place', inner_class: 'bip_input_box' %>
  </td>
  <td class="td_fluc_<%= next_customer.id %>"><%= render 'static_pages/shared/yn_modal_content_package', object: next_customer, field: 'fluc', identifyer: 's7c2', default_title: 'cust_name', index: index, max_hint: 0 %></td>
  <td class="td_pspec_<%= next_customer.id %>"><%= render 'static_pages/shared/yn_modal_content_package', object: next_customer, field: 'pspec', identifyer: 's7c3', default_title: 'cust_name', index: index, max_hint: 0 %></td>
  <td class="td_vprop_<%= next_customer.id %>"><%= render 'static_pages/shared/yn_modal_content_package', object: next_customer, field: 'vprop', identifyer: 's7c4', default_title: 'cust_name', index: index, max_hint: 0 %></td>
  <td class="td_purch_<%= next_customer.id %>"><%= render 'static_pages/shared/yn_modal_content_package', object: next_customer, field: 'purch', identifyer: 's7c5', default_title: 'cust_name', index: index, max_hint: 0 %></td>
  <td><%= render 'static_pages/shared/text_modal_content_package', object: next_customer, field: 'improvements', identifyer: 's7c6', default_title: 'cust_name', index: index, max_hint: 0 %></td>
</tr>