(function () {

  $newRecord = $('<%= j render 'next_customers/customer_card', next_customer: @next_customer %>').hide();

  $('[data-step-table-id="11"]')
      .find('[data-stage="<%= @next_customer.stage %>"]')
      .append($newRecord);

  $newRecord.slideDown('fast').trigger('click');

}).call(this);

