
<%= render 'dynamic_pages/onboarding/onboard_header', stage: 2 %>

<h2 class="welcome-title">Set up <%= ae_live_field(active_product, :product_name) %>'s EdisonPlan</h2>

<%= render 'dynamic_pages/onboarding/stage1_purpose', stage: 1 %>
<%= render 'dynamic_pages/onboarding/stage2_markets', stage: 2 %>
<%= render 'dynamic_pages/onboarding/stage3_beachhead', stage: 3 %>
<%= render 'dynamic_pages/onboarding/stage4_stage_select', stage: 4 %>
<%= render 'dynamic_pages/onboarding/stage5_success', stage: 5 %>
<%#= render 'dynamic_pages/onboarding/stage5_success', stage: 5 %>

<%= svg_vertical_line(60, class: "line-drg last #{'complete' if active_product.onboard_stage >= 6 }") %>


<%= button_to home_path,
              remote: false,
              method: :get,
              form_class: 'complete-onboarding-form',
              class: 'proceed-btn',
              disabled: (true if active_product.onboard_stage <= 5) do
%>
    Proceed to Dashboard
<% end %>
