$('.sub_component_card._<%= @sub_component.id %>, .sub-component-branch._<%= @sub_component.id %>')
    .find('.group').find('.group-name')
    .html('<%= @sub_component.groups.html_safe %>');

$('.sub-component-branch._<%= @sub_component.id %>')
    .removeClass(edisonFilter.groupFilters.join(' '))
    .addClass('<%= @sub_component.group.gsub(' ', '-') %>');