$('.sub_component_card._<%= @sub_component.id %>, .sub-component-branch._<%= @sub_component.id %>')
    .find('.stage')
    .replaceWith('<%= j render 'sub_components/sub_component_stage', sub_component: @sub_component %>');


$('.sub-component-branch._<%= @sub_component.id %>')
    .removeClass(edisonFilter.stageFilters.join(' '))
    .addClass('<%= @sub_component.which_stage_at.gsub(' ', '-') %>');

<%= render 'sub_components/update_product_iteration' %>

