<li class="sub-component-branch _<%= sub_component.id %> <%= sub_component.group.gsub(' ', '-') %> <%= sub_component.which_stage_at.gsub(' ', '-') %>">

  <div class="row" style="font-size: 12px; padding: 0;">
    <div class="col-xs-6"><%= active_edit_if has_valid_access?, sub_component, :name, placeholder: 'Component name' %></div>
    <div class="col-xs-2"><%= render 'sub_components/sub_component_group', sub_component: sub_component %></div>
    <div class="col-xs-1" style="text-align: right;"><%= active_edit_if has_valid_access?, sub_component, :man_hours, numeric: true, placeholder: 'man hours', suffix: ' h' %></div>
    <div class="col-xs-3"><%= active_edit_if has_valid_access?, sub_component, :stage, type: :select, choices: component_stages, placeholder: 'Stage' %><%= delete_object sub_component %></div>
  </div>


</li>