<div class="group tag" <%= " data-title=\"Click to categorize this sub-component\" data-toggle=\"tooltip\"" if sub_component.group == 'uncategorized' %> style="margin-top: 2px; margin-left: 0;font-size: 11px;">
  <div class="group-name"><%= sub_component.groups.try :html_safe %></div>


  <div class="options">

    <div class="result">
      <div class="group-name"><%= sub_component.groups.try :html_safe %></div>
    </div>


    <div class="row">
      <div class="col-xs-6">
        <h4>How many of your customers want
          this?</h4>
        <%= choices_buttons(sub_component, :customers_want, customers_wanting_features) %>
      </div>
      <div class="col-xs-6">
        <h4>How important is this feature considering their purchasing
          priorities?</h4>
        <%= choices_buttons(sub_component, :importance, feature_importance) %>
      </div>
    </div>

  </div>
</div>
