<div class="card  ui-draggable ui-draggable-handle sub_component_card  _<%= sub_component.id %>" data-object="sub_component" data-url="<%= sub_component_path sub_component.id %>">
  <div class="default-state">
    <%= ae_live_field sub_component, :name %>
    <div class="transparent-btn pull-right edit-sub-component" style="display: block;color:darkgrey;" data-behaviour="toggle_edit"> <%= fa_icon 'pencil' %></div>
    <%= render 'sub_components/sub_component_group', sub_component: sub_component %>
  </div>
  <div class="edit-state">
    <div><%= active_edit_if has_valid_access?, sub_component, :name %></div>
    <hr class="mini-break">
    <div><%= active_edit_if has_valid_access?, sub_component, :customers_want, type: :select, choices: customers_wanting_features, placeholder: 'Customers wanting this' %></div>
    <div><%= active_edit_if has_valid_access?, sub_component, :importance, type: :select, choices: feature_importance, placeholder: 'Importance to customers' %></div>
    <button data-behaviour="toggle_edit" class="btn btn-xs btn-default">I'm done</button>
  </div>


</div>