$('.projected-completion-date').find('.num').html('<%= ldt beachhead.projected_date %>');
$('.total-man-hours').find('.num').html('<%= beachhead.total_man_hours %> man hours');

$c = $('.checklist-progress.product-iteration');
<% rp = beachhead.release_progress %>
$c.find('.checklist-percent').html('<%= rp[2]%> %');
$c.find('.checklist-progress-bar .inner').attr({style: 'width: <%= rp[2] %>%'});