(function () {

  <% if @sub_component.errors.blank? %>


  $card = $('<%= j render 'sub_components/sub_component_card', sub_component: @sub_component %>').hide();

  $target = $('[data-component-id=<%= @sub_component.component_id %>]').find('[data-stage=1]');

  $target.append($card);

  $card.slideDown('fast');

  initDragDrop();

  $('.component-empty-state._<%= @sub_component.component_id %>').remove();

  $branch = $('<%= j render 'sub_components/sub_component_branch', sub_component: @sub_component %>').hide();

  $('.component-sub-component-branch._<%= @sub_component.component_id  %>').append($branch);

  $branch.slideDown('fast');

  $branch.find('.active-edit').first().trigger('click');

  <% else %>

  <% if @sub_component.name.blank? %>
    $('.new_sub_component').find('#sub_component_name').effect('shake');
  <% end %>


  <% end %>

}).call(this);

