<div class="card" data-object="pricing_model" data-url="<%= pricing_model_path business_model.id %>" data-card-id="<%= r = rand_string %>">
  <div class="inner" data-toggle="modal" data-target=".board-modal._<%= r %>">


    <div class="card-title">
      <%= ae_live_field business_model, :model_name %>
      <%= delete_object business_model %>
    </div>

    <hr class="mini-break">

    <div class="card-info-item">
      <% if business_model.preference %>
          <div class="preference-rating <%= business_model.preference %>">
            <%= "Preference: #{business_model.preference}" if business_model.preference %>
          </div>
      <% end %>
    </div>

  </div>
  <div class="board-modal _<%= r %> modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

       <%= render 'pricing_models/business_model_modal_content', business_model: business_model %>

      </div>
    </div>

  </div>
</div>