<div class="card-modal-content-body">
  <div class="board-modal-title">
    <%= active_edit_if has_valid_access? && !business_model.admin_field, business_model, :model_name %>
  </div>

  <div class="board-modal-sub-title"><%= business_model_notes(business_model.model_name) %></div>

  <div class="board-modal-table">
    <% business_model_fields.each do |fieldset| %>
        <div class="question-row">
          <div class="question-num"></div>
          <div class="table-header"><%= fieldset[0] %></div>
          <div class=""><%= active_edit_if has_valid_access?, business_model, fieldset[1], type: :select, choices: RANGE %></div>
          <hr class="mini-break">
        </div>
    <% end %>
  </div>
</div>

<div class="comments-for-<%= business_model.id %>">
  <%= render 'comments/comment_thread', parent: business_model %>
</div>