<div class="tool-section type-b" id="<%= object.row_selector(false) %>">
  <% step_name = object.underscored.to_sym %>

  <header data-parent="<%= object.row_selector(true) %>" data-toggle="tool-section">
    <div class="row">
      <div class="col-xs-6 section-column ">
        <div class="col-xs-1">
          <%= serial_no index+1 %>
        </div>
        <div class="col-xs-11">
          <%= object.admin_field ? object.model_name : active_edit_if(has_valid_access?, object, :model_name) %>
        </div>
      </div>
      <div class="col-xs-6 section-column ">
        <div class="col-xs-11">
          <%= content_tag :span, object.calc_preference, class: "ind-preference #{object.calc_preference} ind-preference-#{object.id}", 'data-title' => 'Indicative Preference', 'data-toggle' => 'tooltip' %>
        </div>
        <div class="col-xs-1">
          <%= delete_object(object) unless object.admin_field %>
        </div>
      </div>
    </div>
  </header>

  <div class="tool-child">
    <div class="explan-text-enc">

      <div class="explan-text <%= 'hidden' unless object.admin_field %>">
        <%= business_model_notes[index]  %>
      </div>

    </div>
    <%= section_body object %>
    <%= section_break object.class.blueprint_for_section[:section_break_text] %>
    <% child_table = object.class.blueprint_for_section[:child_table] %>
    <% if child_table %>
        <% child_blueprint = child_table.to_s.camelize.constantize.blueprint_for_table %>
        <%= generate_table object, child_table, headers: child_blueprint[:headers] %>
        <%= render 'static_pages/shared/new_resource_form2', parent: object, resources: child_table, field: child_blueprint[:form_default_field], options: {placeholder: child_blueprint[:placeholder], hidden_field: instance_eval(':'+step_name.to_s+'_id'), hf_value: object.id} %>
    <% end %>
    <%= toolfooter %>
  </div>

</div>