<div id="workspace-right" class="primary-sheet sub-tool-single-view workspace-right bm-tab-item">
  <div class="tool-with-comment" data-pricing-model-id="<%= @sub_tool_resource.id %>">
    <%= render 'pricing_models/business_model_modal_content', business_model: @sub_tool_resource %>
  </div>
</div>