<% if @pricing_model.preference %>
$('[data-object="pricing_model"][data-url="/pricing_models/<%= @pricing_model.id %>"]')
    .find('.card-info-item')
    .html('<div class="preference-rating <%= @pricing_model.preference %>"><%= "Preference: #{@pricing_model.preference}" %></div>');
<% end %>