(function () {

  $newRecord = $('<%= j render 'pricing_models/business_model_card' , business_model: @pricing_model %>').hide();

  $('[data-step-table-id="14"]')
      .find('[data-stage="<%= @pricing_model.stage %>"]')
      .append($newRecord);

  $newRecord.slideDown('fast').trigger('click');

}).call(this);

