<%= render layout: 'conversations_mailer/layout' do %>
    <h3><%= @sender.name || @sender.email %> has asked for your opinion on the <%= STEP[@curr_step][:name] %> tool.</h3>

    <a href="<%= app_url(view: STEP[@curr_step][:name].parameterize) %>"></a>
    <div class="primary-cta">
      Go to the tool
    </div>

<% end %>