
<tr data-parent-type="discussions" data-parent-id="<%= @discussion.id %>">
  <td class="icon"><%= profile_icon @discussion.user, size: 'tiny' %></td>
  <td class="who"><%= @discussion.user.short_name %></td>
  <td class="what "><strong class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= @discussion.friendly_link %>"><%= @discussion.title_for_email %></strong> - <%= sanitize(@discussion.subject, tags: [:div, :ul, :ol]).try(:truncate, 220, separator: ' ').try(:html_safe) %></td>
  <td class="comment-count">
    <div class="comment-count-bubble"><%= @discussion.comment_count %></div></td>
  <td class="when timestamp"><%= @discussion.updated_at.today? ? local_time(@discussion.updated_at, '%l:%M%P') : "#{days_ago(@discussion.updated_at)}d ago" %></td>
</tr>