<% if active_product %>
    <section class="discussions-for-<%= @curr_step %>">
      <% active_product.discussions.includes(:user).for_step(@curr_step).each do |discussion| %>
          <%= render 'discussions/new_discussion_rec', discussion: discussion %>
      <% end %>
    </section>
    <%= render 'discussions/new_step_discussion_form', active_product: active_product %>
<% end %>