<ul class="home-discussion-list">
  <hr>
  <% active_product.discussions.includes(:user).limit(4).each do |discussion| %>
      <li><%= render 'discussions/new_discussion_list_item', discussion: discussion, size: '' %></li>
      <hr>
  <% end %>
</ul>