<article class="discussion-item" id="<%= discussion.row_selector false %>">

  <div class="row">
    <div class="col-xs-1"><%= profile_icon discussion.user %></div>
    <div class="col-xs-11">
      <div class="discussion-content">
        <h4><%= discussion.title %></h4>

        <div><%= discussion.subject.html_safe %></div>
        <%= local_time_ago discussion.created_at %>
      </div>
    </div>
  </div>

  <%= render 'comments/comment_thread', parent: discussion %>
  <hr>
</article>
