<div id="new-discussion-form-enc" class="new-sub-tool-form-enc">
  <h2>Start a New Discussion</h2>

  <div class="discussion-form new">
    <%= form_for active_product.discussions.build, html: {class: 'new-beachhead-form'}, remote: true do |f| %>
        <div class="discussion-sheet">
          <%= f.text_field :title, class: 'form-control', placeholder: 'Write a headline for this message', tabindex: 101, autofocus: true, autocomplete: 'off', 'data-mirror-entry' => 'true' %>
          <%= hidden_field_tag :rand_tab_id, rand_tab_id %>
          <% rand = rand_string %>
          <%= f.hidden_field :subject, class: 'form-control trix-editor-reciever', id: "disc_description_#{rand}" %>
          <%= content_tag 'trix-editor', '', input: "disc_description_#{rand}", placeholder: 'Type your content here...', tabindex: 102, class:'trix-editor-sender' %>
        </div>
        <div class="btn-container">
          <%= button_tag class: 'btn btn-success btn-lg', data: {disable_with: disabled_spinner} do %>
              Post this discussion
          <% end %>
        </div>
        <div class="emails">
          <span>The following people on your team will be notified in your team:</span>

          <div class="members-list">
            <% Membership.where(product_id: active_product.id).pluck(:member_email).each_with_index do |email, index| %>
                <%= render 'memberships/new_member_rec', email: email, index: index %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>