<div data-discussion-id="<%= discussion.id %>" class="discussion-list-item _<%= discussion.id %>  <%= 'unread' if discussion.comment_count == 0 %>" >
  <div class="row">

    <div class="col-xs-2">
      <%= profile_icon discussion.user, size: 'tiny' %>
      <%= discussion.user.short_name %>
    </div>
    <div class="col-xs-7">
      <div class="dl-discussion-content" data-behaviour="open_in_new_tab" data-href="<%= discussion_path(discussion.id) %>">
        <strong><%= discussion.title %>
          - </strong><%= sanitize(discussion.subject, tags: [:div, :ul, :ol]).truncate(220, separator: ' ').html_safe %>
      </div>
    </div>
    <div class="col-xs-1">
      <% if discussion.comment_count > 0 %>
          <div class="comment-count-bubble">
            <%= discussion.comment_count %>
          </div>
      <% end %>
    </div>
    <div class="col-xs-2">
      <div class="timestamp">
        <%= local_time_ago discussion.updated_at %>
      </div>
    </div>
  </div>
</div>