
<div data-fp-discussion-id="<%= discussion.id %>" class="fp-discussion _<%= discussion.id %>" data-href="<%= discussion_path(discussion.id) %>" data-behaviour="open_in_new_tab">
  <%= profile_icon discussion.user , size: 'tiny' %>
  <div class="fp-discussion-title">
    <%= discussion.title %>
  </div>
  <div class="fp-comment-count">
    <%= discussion.comment_count %>
  </div>
  <div class="fp-timestamp">
    <%= discussion.created_at.today? ? local_time(discussion.created_at, '%l:%M%P') : "#{days_ago(discussion.created_at)}d ago" %>
  </div>
</div>