<div class="discussion-form" data-behaviour="expandable">
  <%= form_for active_product.discussions.build, html: {class: 'new-discussion-form'}, remote: true do |f| %>
      <div class="row">
        <div class="col-xs-1"><%= profile_icon current_user %></div>
        <div class="col-xs-11"><%= f.hidden_field :step_no, value: @curr_step %>
          <%= f.text_field :title, class: 'form-control expand-on-focus', placeholder: 'Start a discussion about this tool', tabindex: 99 %>
          <% rand = rand_string %>
          <%= f.hidden_field :subject, class: 'form-control', id: "disc_description_#{rand}" %>
          <div class="trix-container">
            <%= content_tag 'trix-editor', '', input: "disc_description_#{rand}", tabindex: 100 %>
          </div>
          <div class="emails">
          </div>
          <div class="btns">
            <%= button_tag 'Add discussion', class: 'btn btn-success' %>
            <div class="btn btn-link collapse-target">Cancel</div>
          </div>
        </div>
      </div>
  <% end %>
</div>