<% if params[:rand_tab_id] %>
$originFormEnc = $('[data-tab-view-id=<%= params[:rand_tab_id] %>]');
$originTab = $('[data-tab-id=<%= params[:rand_tab_id] %>]');
<% end %>

<% if @discussion.errors.blank? %>

$(".discussion-index-table tbody").prepend('<%= j render 'discussions/disc_index_item', discussion: @discussion %>');

<% @sub_tool_resource = @discussion %>
var content = '<%= j render 'discussions/show' %>';
$originFormEnc.html(content);

$originTab
    .attr('data-href', '<%= @discussion.friendly_link %>')
    .attr('data-tab-href', '<%= @discussion.friendly_link %>')
    .find('.inner').html('<%= @discussion.title %>');

Router.navigate('<%= @discussion.friendly_link %>', {overwrite: true});


<% else %>
<% if @discussion.title.blank? %>
$originFormEnc.find('#discussion_title').effect('shake');
<% elsif @discussion.subject.blank? %>
$originFormEnc.find('trix-editor').effect('shake');
<% end %>
// <%= @discussion.errors.full_messages %>
<% end %>