$target = $('.front-page-discussions-list');

$target.append('<% @discussions.each do |discussion| %><%= j render 'discussions/new_fp_discussion', discussion: discussion %><% end %>');

<% if @discussions.count < 20 %>
$('.fp-discussion-load-more').hide();
<% end %>