<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <!-- This is a simple example template that you can edit to create your own custom templates -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Facebook sharing information tags -->
  <meta property="og:title" content="*|MC:SUBJECT|*">

  <title>Edison tasks reminder</title>
  <style>
      body {
          font-family: Helvetica, Arial 'sans-serif';
          margin: 0;
          padding: 0;
          color: #444;
          -webkit-font-smoothing: antialiased;
      }

      .mail-bg-enc {
          background: #f5f8fa;
      }

      .mail-bg-inner {
          max-width: 580px;
          width: 50%;
          min-width: 300px;
          margin: 0 auto;
          font-size: 15px;
          padding: 0 20px;
          background: #fff;
          border-left: 1px solid #f0f0f0;
          border-right: 1px solid #f0f0f0;
      }

      .mail-header {
          text-align: center;
      }

      .mail-header img {
          width: 70px;
      }

      .mail-body {
          background-color: #fff;
          padding: 30px 0;
          color: #4c4c4c;
      }

      .welcome-msg {
          font-weight: 300;
          font-size: 24px;
          line-height: 30px;
          padding: 0 20px 10px;
      }

      span.activation-txt {
          padding-bottom: 10px;
          display: block;
      }

      .tasks-list {
          font-size: 16px;
          line-height: 28px;
          font-weight: 300;
          padding-left: 15%;
      }

      .tasks-list li {
          margin-bottom: 10px;
      }

      .activation-link {
          text-align: center;
      }

      .activation-link a {
          padding: 20px 10px;
          background: #218ce7;
          color: #fff;
          display: inline-block;
          width: 140px;
          font-weight: bold;
          border-radius: 6px;
          text-decoration: none;
          margin-top: 30px;
      }

      a {
          display: block;
          font-size: 16px;
          text-decoration: underline;
      }

      .mail-footer {
          padding: 10px 0;
          line-height: 20px;
          font-size: 14px;
          color: #999;
          font-weight: 300;
          border-top: 1px solid #ebeaef;
      }

      .copy {
          padding-right: 6px;
      }

      a {
          color: #218ce7;
      }

      .unsubscribe, .change-time {
          font-size: 14px;
          text-decoration: underline;
          display: inline-block;
          margin-right: 20px;
      }

      .unsubscribe {
          color: #999;
      }
  </style>
</head>

<body style="font-family: Helvetica, Arial 'sans-serif';margin: 0;padding: 0;color: #444;-webkit-font-smoothing: antialiased;">
<div class="mail-bg-enc" style="background: #f5f8fa;">
  <div class="mail-bg-inner" style="max-width: 580px;width: 50%;min-width: 300px;margin: 0 auto;font-size: 15px;padding: 0 20px;background: #fff;border-left: 1px solid #f0f0f0;border-right: 1px solid #f0f0f0;">

    <div class="mail-header" style="text-align: center;">
      <img src="https://dl.dropboxusercontent.com/s/dg4bfogt94x22ni/bulb.png" style="width: 70px;">
    </div>
    <div class="mail-body" style="background-color: #fff;padding: 30px 0;color: #4c4c4c;">
      <p class="welcome-msg" style="font-weight: 300;font-size: 24px;line-height: 30px;padding: 0 20px 10px;">Hi
        <span class="username"><%= @user.name %></span>, here are the tasks you scheduled for today</p>

      <ol class="tasks-list" style="font-size: 16px;line-height: 28px;font-weight: 300;padding-left: 15%;">
        <% if @tasks.present? %>
            <% @tasks.each do |task| %>
                <li style="margin-bottom: 10px;"><%= task.task_name %></li>
            <% end %>
        <% else %>
            <li>Plan and execute your product. <%= @user.days_left_to_launch %> days away from going live</li>
        <% end %>
      </ol>

      <p class="activation-link" style="text-align: center;">
        <a style="display: inline-block;font-size: 16px;text-decoration: none;color: #fff;padding: 20px 10px;background: #218ce7;width: 140px;font-weight: bold;border-radius: 6px;margin-top: 30px;" href="https://www.edisonplan.com/app/tasks">View
          all tasks</a>
      </p>

    </div>
    <div class="mail-footer" style="padding: 10px 0;line-height: 20px;font-size: 14px;color: #999;font-weight: 300;border-top: 1px solid #ebeaef;">
      <!--<p>Founders using 11 discipline daily alert improve the chance of creating a venture 80% more than those who-->
      <!--prefer to not use the reminder.</p>-->

      <p style="padding:10px 0;">To Unsubscribe, go to EdisonPlan.com and turn off your subscription in Account
        Settings.</p>

      <p class="copyright-msg"><span class="copy" style="padding-right: 6px;">&copy;</span><span>2015 Edison. All rights reserved.</span>
      </p>
    </div>
  </div>
</div>


</body>
</html>