<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <!-- This is a simple example template that you can edit to create your own custom templates -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Facebook sharing information tags -->
  <meta property="og:title" content="*|MC:SUBJECT|*">

  <title>Edison tasks reminder</title>
  <style>
      body {
          font-family: Helvetica, Arial 'sans-serif';
          margin: 0;
          padding: 0;
          color: #444;
          -webkit-font-smoothing: antialiased;
      }

      .mail-bg-enc {
          background: #f5f8fa;
      }

      .mail-bg-inner {
          max-width: 580px;
          width: 50%;
          min-width: 300px;
          margin: 0 auto;
          font-size: 15px;
          padding: 0 20px;
          background: #fff;
          border-left: 1px solid #f0f0f0;
          border-right: 1px solid #f0f0f0;
      }

      .mail-header {
          text-align: center;
      }

      .mail-header img {
          width: 70px;
      }

      .mail-body {
          background-color: #fff;
          padding: 30px 0;
          color: #4c4c4c;
      }

      .welcome-msg,.content-highlight {
          font-weight: 300;
          font-size: 24px;
          line-height: 34px;
          padding: 0 20px;
      }

      .content-medium-highlight{
          font-size: 20px;
      }

      span.activation-txt {
          padding-bottom: 10px;
          display: block;
      }

      .tasks-list{
          font-size: 16px;
          line-height: 28px;
          font-weight: 300;
          padding-left: 30px;
      }

      .tasks-list li{
          padding: 8px 0;
          list-style-position: inside;
      }

      .tasks-list li:last-child{
          border-bottom:0;
      }

      .price{
          font-weight: 400;
          padding-left: 4px;
          font-size: 18px;
      }

      .high-p{
          font-size: 32px;
          color: #218ce7;
      }

      .text-center{
          text-align: center;
      }

      .content{
          font-size: 16px;
          line-height: 28px;
          font-weight: 300;
          padding:0 20px 0;
      }

      .grey{
          color:#999;
      }

      .activation-link {
          text-align: center;
      }

      .activation-link a {
          padding: 20px;
          background: #218ce7;
          color: #fff;
          display: inline-block;
          font-weight: bold;
          border-radius: 6px;
          text-decoration: none;
          margin-top: 20px;
      }

      a {
          display: block;
          font-size: 16px;
          text-decoration: underline;
      }

      .mail-footer {
          padding: 0 30px 20px;
          line-height: 20px;
          font-size: 14px;
          color: #999;
          background-color: #f6fafc;
          font-weight: 300;
          border-top: 1px solid #ebeaef;
          margin:20px -20px 0;
      }
      .copy {
          padding-right: 6px;

      }
      a{
          color:#218ce7;
      }
      .unsubscribe, .change-time{
          font-size:14px;
          text-decoration: underline;
          display: inline-block;
          margin-right: 20px;
      }
      .unsubscribe{
          color:#999;
      }
      .thanks{
          float:left;
      }
      .personal{
          float:right;
      }
      .love-img{
          width: 16px;
          vertical-align: middle;
          padding-left: 6px;
          display: inline-block;
      }
      .copyright-msg{
          margin-top: 20px;
          font-size: 12px;
      }
      .social {
          display: inline-block;
          margin: 0 6px;
          font-size: 14px;
          text-decoration: none;
      }
      .twitter{
          margin-left:10px;
      }
  </style>
</head>

<body style="font-family: Helvetica, Arial 'sans-serif';margin: 0;padding: 0;color: #444;-webkit-font-smoothing: antialiased;">
<div class="mail-bg-enc" style="background: #f5f8fa;">
  <div class="mail-bg-inner" style="max-width: 580px;width: 50%;min-width: 300px;margin: 0 auto;font-size: 15px;padding: 0 20px;background: #fff;border-left: 1px solid #f0f0f0;border-right: 1px solid #f0f0f0;">

    <div class="mail-header" style="text-align: center;"><a style="display: inline-block;font-size: 16px;text-decoration: underline;color: #218ce7;" href="http://www.producthunt.com/tech/edisonplan" target="_blank"><img src="https://d2x1aimke44h.cloudfront.net/assets/home-images/bulb-06ca597783e39d2d510c8f84ad9e21d2.png" style="width: 70px;"></a>
    </div>
    <div class="mail-body" style="background-color: #fff;padding: 30px 0;color: #4c4c4c;">
      <p class="welcome-msg" style="font-weight: 300;font-size: 24px;line-height: 34px;padding: 0 20px;">Hi <span class="username">Product Hunter</span>,</p>
      <p class="content" style="font-size: 16px;line-height: 28px;font-weight: 300;padding: 0 20px 0;">By popular demand, we have decided to offer a more flexible plan that will be purely usage driven.</p>

      <p class="content content-med-highlight" style="font-size: 16px;line-height: 28px;font-weight: 300;padding: 0 20px 0;">Our new pricing plan:</p>

      <ul class="tasks-list" style="font-size: 16px;line-height: 28px;font-weight: 300;padding-left: 30px;">
        <li style="padding: 8px 0;list-style-position: inside;">5 tools for <span class="price low-p" style="font-weight: 400;padding-left: 4px;font-size: 18px;">$ 49/mo</span></li>
        <li style="padding: 8px 0;list-style-position: inside;">Tasks and Pitch are free</li>
        <li style="padding: 8px 0;list-style-position: inside;border-bottom: 0;">Additional tools cost only $1 a day</li>
      </ul>

      <p class="content-highlight text-center" style="font-weight: 300;font-size: 24px;line-height: 34px;padding: 0 20px;text-align: center;">But you are special to us. The fixed charge for you will only be:</p>
      <p class="price high-p text-center" style="font-weight: 400;padding-left: 4px;font-size: 32px;color: #218ce7;text-align: center;">$ 24/mo</p>
      <p class="content text-center grey" style="text-align: center;font-size: 16px;line-height: 28px;font-weight: 300;padding: 0 20px 0;color: #999;">Unlimited usage of all tools at and no extra cost. Ever.<br> That’s right. It's more than a 50% discount.</p>

      <p class="activation-link" style="text-align: center;">
        <a href="http://www.producthunt.com/tech/edisonplan" target="_blank" style="display: inline-block;font-size: 16px;text-decoration: none;color: #fff;padding: 20px;background: #218ce7;font-weight: bold;border-radius: 6px;margin-top: 20px;"><span class="main">Visit EdisonPlan on Product Hunt</span></a>
      </p>
    </div>
    <div class="mail-footer" style="padding: 0 30px 20px;line-height: 20px;font-size: 14px;color: #999;background-color: #f6fafc;font-weight: 300;border-top: 1px solid #ebeaef;margin: 20px -20px 0;">
      <div style="overflow:hidden">
        <p class="thanks" style="float: left;">Thanks for the love 💚💚💚</p>
        <p class="personal" style="float: right;">Aravin<a href="https://twitter.com/AravinDamodaran" class="social twitter" target="_blank" style="display: inline-block;font-size: 14px;text-decoration: none;color: #218ce7;margin: 0 6px;margin-left: 10px;">Twitter</a><a href="https://in.linkedin.com/in/aravindamo" class="social linkedin" target="_blank" style="display: inline-block;font-size: 14px;text-decoration: none;color: #218ce7;margin: 0 6px;">LinkedIn</a></p>
      </div>
      <p class="copyright-msg text-center" style="text-align: center;margin-top: 20px;font-size: 12px;"><span class="copy" style="padding-right: 6px;">&copy;</span><span>2015 Edison. All rights reserved.</span>
      </p>
    </div>
  </div>
</div>


</body></html>