<p>Hi <%= @referred %>,</p>

<p>Your friend <%= @user_name %> has shared EdisonPlan with you.</p>

<p>EdisonPlan is 20-step framework designed to help you find solutions to the 5 most important questions of
  an entrepreneur.</p>

<ol>
  <li><span>The Customer Question</span> - Who is my customer?</li>
  <li><span>The Product Question</span> - What do they want?</li>
  <li><span>The Marketing Question</span> - Where do I find them?</li>
  <li><span>The Sales Question</span> - How do I sell to them?</li>
  <li><span>The Business Model Question</span> - Will I make a profit?</li>
</ol>


<%= link_to 'Sign Up now!', referral_url(@user.referrer_code) %>


<p>Thanks</p>
<p>Edison Support</p>
