<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta property="og:title" content="*|MC:SUBJECT|*">

  <title>Edison trial extension</title>
  <style>
      body {
          font-family: Arial, Helvetica, 'sans-serif';
      }

      .mail-bg-enc {
          padding: 30px 0;
      }

      .mail-bg-inner {
          max-width: 610px;
          width: 90%;
          min-width: 300px;
          font-size: 15px;
          margin: 0 auto;
      }

      .mail-header {
          border-radius: 10px 10px 0 0;
          text-align: center;
          min-height: 86px;
      }

      .mail-header img {
          width: 140px;
          padding: 16px 0;
      }

      .mail-body {
          padding: 30px 0;
          background-color: #fff;
          color: #4c4c4c;
      }

      .welcome-msg {
          font-weight: normal;
      }

      span.activation-txt {
          padding: 10px 10px 10px 0;
          display: inline-block;
      }

      .sample-content {
          color: #4c4c4c;
          font-weight: normal;
          font-size: 15px;
          margin: 20px 0;
          line-height: 26px;
      }

      .activation-link a {
          text-decoration: none;
          color: #499bea;
      }

      .mail-footer {
          padding: 10px 0;
          line-height: 20px;
          font-size: 12px;
          color:#999;
          border-top:1px solid #ebeaef;
      }

      .copy {
          padding-right: 6px;
      }

      .highlight {
          padding: 0 4px 1px 4px;
      }
      .with-border{
          border-bottom: 1px solid #ddd;;
      }
      .mail-button{
          width: 100px;
          background: #0075be;
          text-align: center;
          color: #fff;
          text-decoration: none;
          padding: 10px 16px;
          border-radius: 18px;
          margin: 0 auto;
          display: block;
          transition: all linear 0.1s;
      }
      .mail-button:hover, .mail-button:focus, .mail-button:active{
          border-radius: 4px;
      }
  </style>
</head>

<body>
<div class="mail-bg-enc">
  <div class="mail-bg-inner">

    <div class="mail-header"><%= cl_image_tag('edison_logo_dark', :secure => true) %>
    </div>
    <div class="mail-body">
      <p class="welcome-msg">Hi <span class="username"><%= @user.username %></span></p>
      <p class="sample-content">One of your friends have signed up using your referral link. Your trial is extended to <span class="highlight medium with-border"><%= @user.trial_expiry_date.strftime("%d %b %Y") %></span>.
      </p>
    </div>
    <div class="mail-footer">
      <p>A really fancy note about Edison</p>
      <p>To learn more about Edison and all its features, check out this fancy place.</p>
      <p class="copyright-msg"><span class="copy">&copy;</span><span>2015 Edison. All rights reserved.</span>
      </p>
    </div>
  </div>
</div>


</body>