
<tr data-parent-type="<%= @parent.class.to_s.tableize %>" data-parent-id="<%= @parent.id %>">
  <td class="icon"><%= profile_icon comment.user, size: 'tiny' %></td>
  <td class="who"><%= comment.user.short_name %></td>
  <td class="what "><strong class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= @parent.friendly_link %>"><%= @parent.title_for_email %></strong> - <%= sanitize(comment.comment_text, tags: [:div, :ul, :ol]).try(:truncate, 220, separator: ' ').try(:html_safe) %></td>
  <td class="comment-count">
    <div class="comment-count-bubble"><%= @parent.comment_count %></div></td>
  <td class="when timestamp"><%= @parent.updated_at.today? ? local_time(@parent.updated_at, '%l:%M%P') : "#{days_ago(@parent.updated_at)}d ago" %></td>
</tr>