<li class="comment-item">
  <div class="row">
    <div class="col-xs-1"><%= profile_icon comment.user %></div>
    <div class="col-xs-11">
      <div class="comment-content">
        <%= comment.comment_text.html_safe %>
        <%= local_time_ago comment.created_at %>
      </div>
    </div>
  </div>
</li>