<div class="comments">
  <ul class="comment-thread comment-thread-for-<%= parent.class.to_s.underscore %>-<%= parent.id %>">
    <% parent.comments.includes(:user).all.each do |comment| %>
        <%= render 'comments/comment_rec', comment: comment %>
    <% end %>
  </ul>

  <div class="comment-form" data-behaviour="expandable">
    <%= form_tag send("#{parent.class.to_s.underscore}_comments_path", parent.id), class:'new-comment-form', remote: true do %>
        <% rand = rand_string %>
        <%= hidden_field_tag 'comment[comment_text]', nil, class: 'form-control', id: "comment_#{rand}" %>

        <div class="row">
          <div class="col-xs-1"><%= profile_icon current_user %></div>
          <div class="col-xs-11">
            <div class="collapsed-content">
              <div class="expand-on-click faux-comment-btn">Contribute to this discussion</div>
            </div>
            <div class="trix-container"><%= content_tag 'trix-editor', '', input: "comment_#{rand}", autofocus:true %></div>
            <div class="btns">
              <%= button_tag 'Add Comment', class: 'btn btn-success' %>
              <div class="btn btn-link collapse-target">Cancel</div>
            </div>
          </div>
        </div>

    <% end %>
  </div>

</div>