<% if @comment.errors.blank? %>
$('.comment-thread-for-<%= @parent.class.to_s.underscore %>-<%= @parent.id %>').append('<%= j render 'comments/comment_rec', comment: @comment %>');
<% @parent = @comment.parent_instance %>
$('[data-parent-type="<%= @parent.class.to_s.tableize %>"][data-parent-id="<%= @parent.id %>"]').remove();
$(".discussion-index-table tbody").prepend('<%= j render 'comments/comment_index_item', comment: @comment %>');

<% else %>
//<%= @comment.errors.full_messages %>
<% end %>