<div data-title="<%= main_activity.notes %>" data-toggle="tooltip" class="card ui-draggable ui-draggable-handle" data-object="main_activity" data-url="<%= main_activity_path(main_activity.id) %>" data-card-id="<%= r = rand_string %>">
  <div class="inner" data-toggle="modal" data-target=".board-modal._<%= r %>">


    <div class="card-title"><%= ae_live_field main_activity, :main_activity_name %><%= delete_object main_activity %></div>

    <hr class="mini-break">

    <div class="card-info-item">
      <% if main_activity.days_to_go && main_activity.days_to_go > 0 %>
          <% if [1, 2, 3].include?(main_activity.stage) %>
              <%= pluralize main_activity.days_to_go, 'day' %> to go
          <% end %>
      <% end %>
    </div>


  </div>


  <div class="board-modal _<%= r %> modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <%= render 'main_activities/main_activity_modal_content', main_activity: main_activity %>

      </div>
    </div>
  </div>

</div>