<div class="card-modal-content-body">
  <div class="board-modal-title">
    <%= active_edit_if has_valid_access?, main_activity, :main_activity_name %>
  </div>
  <div class="board-modal-sub-title"><%= active_edit_if has_valid_access?, main_activity, :notes, placeholder: 'Add a description' %></div>

  <div style="margin-top: 20px;">
    <% main_activity_fields.each do |fieldset| %>
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
          <div class="col-xs-3 table-header"><%= fieldset[0] %></div>
          <div class="col-xs-9"><%= active_edit_if has_valid_access?, main_activity, fieldset[1], fieldset[2] %></div>
        </div>
    <% end %>
  </div>
</div>

<div class="comments-for-<%= main_activity.id %>">
  <%= render 'comments/comment_thread', parent: main_activity %>
</div>
