<div class="tool-section type-b" id="<%= object.row_selector(false) %>">
  <% step_name = object.underscored.to_sym %>

  <header data-toggle="tool-section" data-parent="<%= object.row_selector(true) %>">
    <div class="row">
      <div class="col-xs-5 slide-toggle">
        <div class="col-xs-1 sl-no-enc">
          <%= serial_no index+1 %>
        </div>
        <div class="col-xs-11">
          <span><%= active_edit_if(has_valid_access?, object, :main_activity_name, placeholder: 'Milestone') %></span>
        </div>
      </div>
      <div class="col-xs-7">
        <div class="col-xs-11 section-column">
          <div class="col-xs-4"><%= make_field(object, :target_date, type: :date, placeholder: 'target date') %></div>
          <div class="col-xs-4"><%= active_edit_if(has_valid_access?, object, :capital, numeric: true, placeholder: 'capital required', prefix: '$ ', display_with: :number_with_delimiter) %></div>
          <div class="col-xs-4"><%= active_edit_if(has_valid_access?, object, :effort, numeric: true, placeholder: 'effort in mandays', suffix: ' days', display_with: :number_with_delimiter) %></div>
        </div>
        <div class="col-xs-1 section-column"><%= delete_object object %></div>
      </div>
    </div>
  </header>
  <div class="tool-child">
    <%= section_body object %>
    <%#= section_break object.class.blueprint_for_section[:section_break_text] %>
    <% child_table = object.class.blueprint_for_section[:child_table] %>
    <% if child_table %>
        <% child_blueprint = child_table.to_s.camelize.constantize.blueprint_for_table %>
        <%= generate_table object, child_table, headers: ['', 'Key Activities to be completed', 'Capital Required', 'Target Date', ''] %>
        <%= render 'static_pages/shared/new_resource_form2', parent: object, resources: child_table, field: child_blueprint[:form_default_field], options: {placeholder: child_blueprint[:placeholder], hidden_field: instance_eval(':'+step_name.to_s+'_id'), hf_value: object.id} %>
    <% end %>
    <%= toolfooter.html_safe %>
  </div>
</div>