<div id="workspace-right" class="primary-sheet sub-tool-single-view workspace-right milestone-tab-item">
  <div class="tool-with-comment" data-sub-task-id="<%= @sub_tool_resource.id %>">
    <%= render 'main_activities/main_activity_modal_content', main_activity: @sub_tool_resource %>
  </div>
</div>