<% if @main_activity.completed? %>
$('.milestone-status').replaceWith('<%= j render 'dashboards/release_header' %>');
initialize_datepicker();
<% end %>
$("[data-url=\"/main_activities/<%= @main_activity.id %>\"]").replaceWith('<%= j render 'main_activities/main_activity_card', main_activity: @main_activity %>');
initDragDrop();
