$('[data-object=main_activity][data-url="/main_activities/<%= @main_activity.id %>"]')
    .find('.card-info-item')
    .html('<%= j pluralize(@main_activity.days_to_go, 'day') %> to go');
$('.milestone-section').replaceWith('<%= j render 'tab_views/partials/milestone_schedule' %>');
initialize_datepicker();
