(function () {
  <% if @main_activity.errors.blank? %>
  $newRecord = $('<%= j render 'main_activities/main_activity_card', main_activity: @main_activity %>').hide();

  $('.investment-table-enc')
      .find('[data-stage="<%= @main_activity.stage %>"]')
      .append($newRecord);

  $newRecord.slideDown('fast').trigger('click');

  $('.milestone-status').replaceWith('<%= j render 'dashboards/release_header' %>');
  initialize_datepicker();

  $('.milestone-section').replaceWith('<%= j render 'tab_views/partials/milestone_schedule' %>');

  <% else %>

  //<%= @main_activity.errors.full_messages %>

  <% if @main_activity.main_activity_name.blank? %>
  $(".new_main_activity").find('#main_activity_main_activity_name').effect('shake');
  <% end %>

  <% end %>

}).call(this);

