$('[data-object="main_activity"][data-url="/main_activities/<%= @main_activity.id %>"]').slideUp(function () {
  $(this).remove()
});
$('.milestone-section').replaceWith('<%= j render 'tab_views/partials/milestone_schedule' %>');