<div data-title="<%= issue.description %>" data-toggle="tooltip" class="card" data-object="issue" data-url="<%= issue_path issue.id %>" data-card-id="<%= r = rand_string %>" data-behaviour="open_target_in_modal">

  <div class="inner" data-target=".board-modal" data-toggle="modal">

    <div class="card-title">
      <%= ae_live_field issue, :title %>
    </div>


    <div class="in-modal-content" data-modal-content-id="<%= r %>">

      <div class="board-modal-title">
        <%= active_edit_if has_valid_access?, issue, :title %>
      </div>
      <div class="board-modal-sub-title">
        <%= active_edit_if has_valid_access?, issue, :description, placeholder: 'Add description' %>
      </div>


      <div class="div-table">
        <% issue_fields.each do |fieldset| %>
            <div class="row" >
              <div class="col-xs-4 table-header"><%= fieldset[0] %></div>
              <div class="col-xs-8"><%= active_edit_if has_valid_access?, issue, fieldset[1], fieldset[2] %></div>
            </div>
        <% end %>
      </div>

    </div>
  </div>
</div>