<li class="issue-branch _<%= issue.id %> <%= issue.which_stage_at.gsub(' ', '-') %>">

  <div class="row" style="font-size: 12px; padding: 0;">
    <div class="col-xs-6"><%= active_edit_if has_valid_access?, issue, :title, placeholder: 'issue name' %></div>
    <div class="col-xs-2"><%= fa_icon 'bug', style: 'color:crimson' %></div>
    <div class="col-xs-1" style="text-align: right;"><%= active_edit_if has_valid_access?, issue, :man_hours, numeric: true, placeholder: 'man hours', suffix: ' h' %></div>
    <div class="col-xs-3"><%= active_edit_if has_valid_access?, issue, :stage, type: :select, choices: issue_stages, placeholder: 'status' %><%= delete_object issue %></div>
  </div>

</li>