$('.issue-branch._<%= @issue.id %>')
    .removeClass(edisonFilter.stageFilters.join(' '))
    .addClass('<%= @issue.which_stage_at.gsub(' ', '-') %>');

<%= render 'sub_components/update_product_iteration' %>

