(function () {

  $('.component-empty-state._<%= @issue.component_id %>').remove();

  $branch = $('<%= j render 'issues/issue_branch', issue: @issue %>').hide();

  $('.component-issue-branch._<%= @issue.component_id  %>').append($branch);

  $branch.slideDown('fast');

  $branch.find('.active-edit').first().trigger('click');

}).call(this);

