<%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class:"ed-form"}) do |f| %>
  <p class="fieldset">
    <%= f.label :email, class:"image-replace ed-email", for:"user_email"%>
    <%= f.email_field :email, class:"full-width has-padding has-border", autofocus: true, placeholder:"email" %>
  </p>

  <p class="fieldset">
    <%= f.label :password, class:"image-replace ed-password", for:"user_password"%>
    <%= f.password_field :password, class:"full-width has-padding has-border", autocomplete: "off",placeholder:"password" %>
  </p>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class:"full-width" %>
  </div>

<% end %>

  <p class="fieldset">
    <%= render "users/shared/links" %>
  </p>



