<div class="signin-logo-enc row">
  <%= link_to root_path do %>
      <%= image_tag 'home-images/bulb.png', class:'logo-img' %>
  <% end %>
</div>

<% flash.each do |type, message| %>
    <% unless message.blank? %>
        <div class="alert alert-info">
          <button class="close" data-dismiss="alert">×</button>
          <%= message %>
        </div>
    <% end %>
<% end %>

<div class="sign-in-outer-enc text-center">
  <div class="col-xs-4 sign-in-enc vtop nofloat">
    <div class="sign-in-left-inner">
      <h2 class="tit1 medium sign-page-title">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'sign-in-form'}) do |f| %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class => "normal-input sign-fields sign-in-fields", :id => 'sign_in_email' %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => "normal-input sign-fields sign-in-fields", :id => 'sign_in_pw' %>
          </div>

          <% if devise_mapping.rememberable? -%>
              <div class="field remember-me-enc">
                <%= f.check_box :remember_me, class: "remember-me-check", checked:'checked' %>
                <%= f.label :remember_me, :class => "remember-me-label" %>
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "fpass" %><br/>
                <% end -%>
              </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", :class => "btn user-sign" %>
          </div>


      <% end %>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>

<%= render "users/shared/links2" %>
