.app-restricted-all {
  display: none !important;
}

.restricted-ie {
  display: block !important;
  padding: 30px;
  color: #727272;
}

.msg {
  text-align: center;
}

.msg.large {
  font-size: 28px;
  line-height: 32px;
}

.msg.small {
  font-size: 16px;
  margin-top: 20px;
}

.restricted-ie-inner {
  border: 1px solid #727272;
  padding: 20px;
}
