<div class="pitch-sidebar col-xs-4">

  <h3 class="beachhead-title"><%= beachhead.business_name %></h3>

  <div class="sidebar-container">
    <div class="beachhead-prop-container" id="accordion">
      <% business_properties.each do |array| %>
        <div class="beachhead-prop-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#<%= array[0] %>"><%= array[1] %></div>
        <div class="beachhead-prop-content collapse" id="<%= array[0] %>"><%= beachhead.send(array[0]) || array[2] %></div>
      <% end %>
    </div>
  </div>

</div>

