<div class="pitch-list col-xs-8">

  <div class="pitch-form-and-btn <%= 'hidden' if no_pitch? %>">
    <button class="write-new-pitch btn btn-link">Write a pitch</button>


    <div class="new-pitch-form-container">
      <h3>New Pitch</h3>
      <%= form_for beachhead.pitches.new, remote: true, html: {id: 'pitch-form'} do |f| %>
          <%= f.text_area :pitch_content, class: 'normal-input new-pitch-field form-control', maxlength:300 %>

          <p class="pitch-char-remaining"></p>

          <div class="btn-container">
            <%= button_tag 'Save', class: 'btn btn-success', disabled: 'disabled', data: {disabled_with: disabled_spinner} %>
            <div></div>
            <div class="cancel-pitch btn btn-default <%= 'hidden' if no_pitch? %>">Cancel</div>
          </div>

          <div class="what-pitch-btn-container btn-container">
            <%= link_to 'See what makes a great pitch', slideshow_path(view: 'pitch'), class: 'btn btn-link what-pitch-btn', target: '_blank' %>
          </div>
      <% end %>
    </div>
  </div>

  <% if no_pitch? %>

      <div class="pitch-empty-state">
        <div class="pitch-helper">
          <p>Speak sense.</p>

          <p>Speak less.</p>

          <p>And speak clearly.</p>

          <p>To your customers and to your investors in less than 1 minute.</p>
        </div>

        <div class="btn-container">
          <%= link_to 'See how', slideshow_path(view: 'pitch'), class: 'btn btn-link what-pitch-btn', target: '_blank' %>
          <div></div>
          <%= link_to 'Write a pitch', 'javascript:void(0)', class: 'btn btn-default write-first-pitch' %>
        </div>
      </div>

  <% end %>


  <%= render 'static_pages/home_partials/pitch_history' %>


</div>