<% if @pitch.errors.blank? %>

<% if beachhead.pitches.size > 0 %>
$('.cancel-pitch').removeClass('hidden');
<% end %>

$('.pitch-history-enc').replaceWith('<%= j render 'static_pages/home_partials/pitch_history' %>').slideDown();
$('.write-new-pitch').slideDown();
$('.latest-pitch-container').removeClass('hidden').html('<%= j @pitch.pitch_content %>');
$('.new-pitch-form-container').slideUp();
$('#pitch-form')[0].reset();
jQuery(".best_in_place").best_in_place();
<% end %>