$('.pitch-history-enc').replaceWith('<%= j render 'static_pages/home_partials/pitch_history' %>');
<% if beachhead.pitches.count == 0 %>
$('.latest-pitch-container').addClass('hidden');
$('.new-pitch-form-container').removeClass('hidden');
$('.pitch-btn-container').addClass('hidden');
$('.cancel-pitch').addClass('hidden');
<% else %>
$('.latest-pitch-container').html('<%= j beachhead.pitches.first.pitch_content %>');
<% end %>