<div class="container">
  <div class="links-container">

    <div class="text-center">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Don't have an account? Sign up", new_registration_path(resource_name), :class => "user-outline-btn" %>
          <br/>
      <% end -%>
      <%- if devise_mapping.registerable? && controller_name != 'sessions' %>
          <%= link_to "Already have an account? Sign in", new_session_path(resource_name), :class => "user-outline-btn" %>
          <br/>
      <% end -%>
    </div>



  <div class="social-login-sec">
    <p class="social-login-title">Or use your Google account to sign in</p>
    <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
            <div class="gogole-button">
            <%= link_to "", omniauth_authorize_path(resource_name, provider), :class => "btn btn-google-plus" %>

              </div>
            <br/>
        <% end -%>
        </div>


        </div>

<% end %>
</div>