$('.assumption-list-item._<%= @assumption.id %>').remove();
<% step_name =  STEP[@assumption.step_no][:name].parameterize %>
<% if @assumption.archived %>
$('#assumption_<%= @assumption.id %>').remove();
$('.archived-assumptions-list[data-step=<%= step_name %>]').append('<%= j render 'assumptions/new_assumption_list_item', assumption:@assumption %>');


<% else %>
$target = $('[data-step=<%= step_name %>][data-tool=validation]').find('.assumptions-container');
$target.prepend('<%= j render 'assumptions/new_assumption_rec', assumption: @assumption %>');
$('.current-assumptions-list[data-step=<%= step_name %>]').append('<%= j render 'assumptions/new_assumption_list_item', assumption:@assumption%>');

<% end %>
$('[data-tool=validation][data-id=<%= @assumption.id %>]').find('.archive-assumption-form').replaceWith('<%= j archive_assumption @assumption %>');