<li class="assumption-list-item _<%= assumption.id %>"  data-href="<%= app_path(view: 'home', tool: 'validation', resource_id: assumption.id) %>" data-behaviour="open_link_in_new_sheet"><%= assumption.hypothesis %></li>