<div class="modal fade new-assumption-modal wizard"  data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog center-modal-dialog modal-md">
    <div class="modal-content clearfix">
      <%= render 'assumptions/new_assumption_modal_content' %>
    </div>
  </div>
</div>


