<div data-href="<%= assumption_path(assumption.id) %>" data-behaviour="<%= 'open_in_new_tab' if assumption.preset_id.nil? || (assumption.preset_id.present? && preset_condition(assumption.preset_id)) %>" class="assumption-list-item <%= 'locked' if assumption.preset_id && !preset_condition(assumption.preset_id) %>" id="<%= assumption.row_selector false %>">

  <% if assumption.preset_id && !preset_condition(assumption.preset_id) %>
      <div class="locked-overlay">
        <%= preset_locked_notice(assumption.preset_id) %>
      </div>
  <% end %>

  <div class="inner">


    <div class="label-tags-enc">
      <span class="assumption-status <%= assumption_status[assumption.status].gsub(' ', '_').downcase %> label-tag"><%= assumption_status[assumption.status] %></span>
    </div>
    <div class="assumption-title">
      <span class="asslink">
      <%= assumption.preset_id ? preset_assumption(assumption.preset_id) : assumption.hypothesis %>
    </span>


    </div>

  </div>
</div>