<% if beachhead %>
    <div class="modal-header">
      <div class="btn btn-link" data-dismiss="modal">close</div>
      <span class="modal-title"></span>
    </div>
    <%= form_for beachhead.assumptions.build, remote: true do |f| %>
        <div class="modal-body">
            <%= f.hidden_field :step_no %>
          <div class="wizard-step active">
            <div class="sl-num">1.</div>
            <div class="step-title">Write down a key assumption</div>
            <div class="field-area">
              <%= f.text_area :hypothesis, rows:5, class: 'form-control', placeholder: 'A Key Assumption is an assumption that would cause a significant loss of time effort or money if wrong' %>
            </div>
            <div class="hint">You can use <kbd>Tab</kbd> and <kbd>Shift + Tab</kbd> to navigate between the fields</div>
          </div>

          <div class="wizard-step">
            <div class="sl-num">2.</div>
            <div class="step-title">Should your assumption be wrong, what do you stand to lose?</div>
            <div class="field-area">
              <%= f.text_area :impact, rows:5, class: 'form-control', placeholder: 'Quantify the impact' %>
            </div>
          </div>

          <div class="wizard-step">
            <div class="sl-num">3.</div>
            <div class="step-title">What can you do to find out if your assumption is right?</div>
            <div class="field-area">
              <%= f.text_area :experiment_desc, rows:5, class: 'form-control', placeholder: 'Describe the experiment you want to perform to test this assumption' %>
            </div>
          </div>

          <div class="wizard-step">
            <div class="sl-num">4.</div>
            <div class="step-title">What would it cost you to find out?</div>
            <div class="field-area">
              <%= f.text_area :experiment_cost, rows:5, class: 'form-control', placeholder: 'The cost of this experiment in time, money and effort' %>
            </div>
          </div>

          <div class="wizard-step">
            <div class="sl-num">5.</div>
            <div class="step-title">What outcome would validate the assumption?</div>
            <div class="field-area">
              <%= f.text_area :experiment_outcome, rows:5, class: 'form-control', placeholder: 'What are you expecting from the experiment that would prove your assumption right?' %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <%= f.submit 'Record assumption', class: 'btn btn-success add-submit' %>
          <button class="btn btn-link" data-dismiss="modal">Close</button>
        </div>
    <% end %>
<% end %>
