$originFormEnc = $('[data-tab-view-id=<%= params[:rand_tab_id] %>]');
$originTab = $('[data-tab-id=<%= params[:rand_tab_id] %>]');

<% if @assumption.errors.blank? %>

// update in index if index is available
$target = $('[data-step=home][data-tool=validation]').find('.assumptions-container');
$target.append('<%= j render 'assumptions/new_assumption_rec', assumption: @assumption %>');

<% @sub_tool_resource = @assumption %>
var content = '<%= j render 'assumptions/show' %>';
$originFormEnc.html(content);

$originTab
    .attr('data-href', '<%= @assumption.friendly_link %>')
    .data('href', '<%= @assumption.friendly_link %>')
    .find('.inner').html('<%= @assumption.hypothesis %>');

window.history.replaceState('null', 'null', '<%= @assumption.friendly_link %>');


<% else %>
<% if @assumption.title.blank? %>
$originFormEnc.find('#assumption_title').effect('shake');
<% elsif @assumption.subject.blank? %>
$originFormEnc.find('trix-editor').effect('shake');
<% end %>
// <%= @assumption.errors.full_messages %>
<% end %>


