var content = '<%= j render "assumptions/show" %>';
$('.view-layer-item').hide();
edison.insertTab('<%= @sub_tool_resource.friendly_link %>', '<%= j @sub_tool_title  %>', content, '<%= @sub_tool_resource.friendly_link %>');
nanobar.loader.go(100);