$('[data-qvp-for=<%= @value_metric.id %>]').html('<%= @value_metric.quantified_proposition %>');
$('[data-metric="industry-value"]').html('<%= beachhead.industry_value %>');
$('[data-metric="product-value"]').html('<%= beachhead.product_value %>');
$('[data-metric="qvp"]').html('<%= beachhead.quantified_value_proposition  %>');