<tr class=" item">
  <td class="">
    <%= active_edit_if has_valid_access?, value_metric, :proposition_name, placeholder: "Proposition" %>
    <div>
      <%= active_edit_if has_valid_access?, value_metric, :benefit_type, type: :select, choices: BENEFIT_TYPE, placeholder: 'Benefit type' %>
      <%#= active_edit_if has_valid_access?, value_metric, :unit_of_measurement, placeholder: 'Unit of measurement' %>
    </div>
  </td>
  <td class=""><%= active_edit_if has_valid_access?, value_metric, :as_is_state_value, numeric: true, prefix: '$ ', placeholder: 'USD value' %></td>
  <td class=""><%= active_edit_if has_valid_access?, value_metric, :possible_state_value, numeric: true, prefix: '$ ', placeholder: 'USD value' %></td>
  <td class="" data-qvp-for="<%= value_metric.id %>"><%= value_metric.quantified_proposition %></td>
</tr>