<tr class='user-created-row' id="value_metric_<%= value_metric.id %>">
  <td class="">
    <%= best_in_place_if has_valid_access?, value_metric, :purchasing_priority, :place_holder => "", :inner_class => "bip_input_box" %>
    <%= delete_object(value_metric) %>
  </td>
  <td><%= render 'static_pages/shared/select_modal_content_package', object: value_metric, field: 'priority', default_title: 'purchasing_priority', row: index, col: 2, index: index, max_hint: 3, array: BENEFIT_TYPE %></td>
  <td><%= render 'static_pages/shared/text_modal_content_package', object: value_metric, field: 'as_is_state', default_title: 'purchasing_priority', row: index, col: 0, index: index, max_hint: 0, length: 'tiny' %></td>
  <td><%= render 'static_pages/shared/text_modal_content_package', object: value_metric, field: 'possible_state', default_title: 'purchasing_priority', row: index, col: 1, index: index, max_hint: 0, length: 'tiny' %></td>
  <td><%= render 'static_pages/shared/text_modal_content_package', object: value_metric, field: 'quantified_value', default_title: 'purchasing_priority', row: index, col: 3, index: index, max_hint: 0, length: 'tiny' %></td>
</tr>
