<tr id="value_metric_<%= value_metric.id %>">
  <td class="blank-cell">#<%= index+1 %></td>
  <td>
    <%= render 'static_pages/shared/select_modal_content_package', object: value_metric, field: 'purchasing_priority',  row: index, col: 0, index: index, max_hint: 3, array: PRIORITIES %>
    <%= delete_object(value_metric) if index >= 3 %>
  </td>
  <td>
    <%= render 'static_pages/shared/text_modal_content_package', object: value_metric, field: 'priority_desc',  row: index, col: 1, index: index, max_hint: 3 %>
  </td>
</tr>