(function () {

  $newRecord = $('<%= j render 'value_metrics/new_value_metric', value_metric: @value_metric %>').hide();

  $('[data-step-table-id="10"]')
      .append($newRecord);

  $newRecord.slideDown('fast').trigger('click');

}).call(this);

