<% selector = '#' + @obj[:obj_name] + '_' + @obj[:id].to_s %>
$('<%= selector %>').remove();
<% if beachhead.value_metrics.size  < 6 %>
$('#form_for_step').html('<%= j form_for_step(2) %>');
<% end %>
jQuery(".best_in_place").best_in_place();
