<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta property="og:title" content="*|MC:SUBJECT|*">
  <title>Edison Notifications</title>
  <style>

    body {
      font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
      font-size: 14px;
      line-height: 20px;
    }

    .reply-above {
      font-size: 12px;
      display: none;
    }

    hr {
      color: lightgrey;
      opacity: .5;
    }

    h2, h3 {
      color: #218ce7;
    }
    
    h4 {
      color: brown;
    }

    .emphasis {
      font-size: 18px;
    }

    .centered-enc {
      text-align: center;
    }

    .primary-cta {
      color: white;
      background-color: #218ce7;
      font-size: 18px;
      border: none;
      padding: 5px 13px;
      border-radius: 3px;
      box-shadow: 0 1px 3px 0 #00A8E8;
      margin-top: 30px;
      margin-bottom: 30px;
      height: 40px;
    }

  </style>
</head>

<body>
<%= yield %>
</body>
</html>