<%= render layout: 'conversations_mailer/layout' do %>

    <h2>Your schedule for today</h2>
    <% @products.each do |product| %>
        <h3><%= product.product_name %></h3>


        <% current_todolists = product.user_tasks.pending %>

        <% assigned_to_user = current_todolists.having_ongoing_tasks_assigned_to(@user.id) %>
        <% all_tasks = current_todolists.having_ongoing_tasks %>

        <% if assigned_to_user.count > 0 %>

            <h4>Your To Dos</h4>
            <% assigned_to_user.each do |todolist| %>
                <h5><%= todolist.task_name %></h5>
                <ul>
                  <% todolist.sub_tasks.pending.ongoing.assigned_to(@user.id).each do |todo| %>
                      <li><%= todo.sub_task_name %></li>
                  <% end %>
                </ul>
            <% end %>

        <% else %>

            <div>There are no todos for you today</div>

        <% end %>


        <% if all_tasks.count > 0 %>


            <h4>All To Dos for Today</h4>
            <% all_tasks.each do |todolist| %>
                <h5><%= todolist.task_name %></h5>
                <ul>
                  <% todolist.sub_tasks.pending.ongoing.each do |todo| %>
                      <li><%= todo.sub_task_name %></li>
                  <% end %>
                </ul>
            <% end %>


        <% else %>

            <div>There are no todos for the team today</div>

        <% end %>

    <% end %>
    <p>You can customize when you recieve morning report in your Settings</p>

<% end %>