<%= render layout: 'conversations_mailer/layout' do %>
    <div class="reply-above">-- REPLY ABOVE THIS LINE --</div>

    <div class="centered-enc">

      <h2><%= @assignor.name || @assignor.email %> has assigned you to address a customer feedback</h2>

      <div class="emphasis"><%= @feedback.feedback %></div>

      <% if @feedback.target_date %>
          <div style="margin-top: 10px;">Due on <strong><%= ldt @feedback.target_date %></strong>
          </div>
      <% end %>

      <a href="<%= home_url %>">
        <button class="primary-cta" style="margin-top: 10px;text-decoration: none">
          View this feedback on EdisonPlan
        </button>
      </a>

    </div>
    <hr>

<% end %>