<%= render layout: 'conversations_mailer/layout' do %>
    <div class="discussion-container">
      <%= @feedback.feedback %>
    </div>
    <hr>
    To respond, just reply to this email or <%= link_to 'reply in EdisonPlan', home_url %>
<% end %>