<%= render layout: 'conversations_mailer/layout' do %>
    <div class="reply-above">-- REPLY ABOVE THIS LINE --</div>
    <h3><%= @note.title %></h3>
    <div class="note-container">
      <%= @note.content.html_safe %>
    </div>
    <hr>
    To say something about this note, just reply to this email or <%= link_to 'reply in EdisonPlan', app_url(view: 'home', tool: 'notes', resource_id: @note.id) %>
<% end %>