<%= render layout: 'conversations_mailer/layout' do %>
    <div class="reply-above">-- REPLY ABOVE THIS LINE --</div>

    <div class="centered-enc">

      <h2><%= @assignor.name || @assignor.email %> marked a todo from <%= @todolist.task_name %> to be executed by
        you:</h2>

      <div class="emphasis"><%= @todo.sub_task_name %></div>

      <% if @todo.scheduled? %>
          <div style="margin-top: 10px;">Starts on <strong><%= ldt @todo.start_date %></strong> and ends on
            <strong><%= ldt @todo.end_date %></strong>
          </div>
      <% end %>

      <button class="primary-cta">
        View this To Do list on EdisonPlan
      </button>

    </div>
    <hr>
    To say something about this to-do list, just reply to this email or <%= link_to 'reply in EdisonPlan', app_url(view: 'home', tool: 'to-do-lists', resource_id: @todolist.id) %>
<% end %>