<%= render layout: 'conversations_mailer/layout' do %>
    <div class="reply-above">-- REPLY ABOVE THIS LINE --</div>

    <div class="centered-enc">

      <h2><%= @completor.name || @completor.email %> completed a todo from <%= @todolist.task_name %></h2>

      <div class="emphasis">✓ <%= @todo.sub_task_name %></div>

      <button class="primary-cta" style="">
        View this To Do list on EdisonPlan
      </button>

    </div>
    <hr>
    To say something about this to-do list, just reply to this email or <%= link_to 'reply in EdisonPlan', app_url(view: 'home', tool: 'to-do-lists', resource_id: @todolist.id) %>
<% end %>