<div class="reply-above">-- REPLY ABOVE THIS LINE --</div>
<%= render layout: 'conversations_mailer/layout' do %>
    <div class="comment-container">
      <%= @comment.comment_text.html_safe %>
    </div>
    <hr>
    To respond, just reply to this email.
<% end %>