<%= render layout: 'conversations_mailer/layout' do %>
    <div class="reply-above">-- REPLY ABOVE THIS LINE --</div>
    <h3><%= @todolist.task_name %></h3>
    <hr>
    <div class="todos-container">
      <ul class="sub-tasks-list">
        <% @todolist.sub_tasks.pending.all.each do |todo| %>
            <li><%= todo.sub_task_name %></li>
        <% end %>
      </ul>
    </div>
    <hr>
    To say something about this to-do list, just reply to this email or <%= link_to 'reply in EdisonPlan', app_url(view: 'home', tool: 'to-do-lists', resource_id: @todolist.id) %>
<% end %>