<%= render layout: 'conversations_mailer/layout' do %>
    <div class="reply-above">-- REPLY ABOVE THIS LINE --</div>
    <div class="discussion-container">
      <%= @discussion.subject.html_safe %>
    </div>
    <hr>
    To respond, just reply to this email or <%= link_to 'reply in EdisonPlan', app_url(view: 'home', tool: 'discussions', resource_id: @discussion.id) %>
<% end %>