.settings-container {
  width: 60%;
  margin: 50px auto;

  h3 {
    color: $purple;
    text-align: center;
  }

  .settings-panel {
    @include paper-style-cs(20px, 100%, 0);
    min-height: 350px;
    font-size: 18px;

    .nav {
      li {
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        &.active {
          background-color: lighten($purple, 50%);
        }
      }
    }
  }

  .account_udpate_form {
    display: none;
    font-size: 14px;
    width: 350px;

    .form-control {
      margin-top: 10px;
    }

    .btn-container {
      text-align: left;
      margin-top: 10px;
    }

    .user-field-error {
      padding: 5px;
      margin-top: 10px;
      border-radius: 5px;
      ul {
        list-style-type: disc;
        padding-left: 20px;
      }
    }

  }

  .user-profile-item {
    margin-bottom: 30px;
    h5 {
      color: $purple;
    }
    span {
      font-size: 14px;

    }
  }

  .delete-account {
    @include outline-style($danger-btn-red);
  }

}