.activity-list {
  padding-left: 0;
  list-style-type: none;
}

.date-item {
  font-size: $large;
  font-family: $secondary-font-stack;
  color: #666;
  margin: 10px 0;
}

.event-group {
  margin-left: 70px;
  border-left: 1px solid $grey-dark;
  padding-left: 10px;
}


.event {
  font-size: $small;
  color: $grey72;


  .timestamp {
    width: 50px;
    padding:10px;
    display: inline-block;
    position: absolute;
    left: 10px;

  }


  .event-icon {
    padding: 10px;
  }

  .event-desc {
    display: inline-block;
    //padding-left: 30px;
    height: 32px;
    overflow: hidden;
  }

  .fa {
    margin-right: 10px;
  }

  span {
    font-weight: bold;
    color: $blue-primary;
    text-decoration: underline;
  }
}



