$light-orange: lighten(orange, 30%);
$light-red: lighten($danger-btn-red, 25%);
$light-green: lighten($success-btn-green, 20%);

.boards-enc {
  margin-top: 20px;
  text-align: center;
  &.five {
    .board {
      width: 18.9%;
    }
  }
}

.board {
  display: inline-block;
  vertical-align: top;
  width: 23.9%;
  background-color: $grey-medium-light;
  padding: 5px 7px;
  margin-right: 4px;
  border-radius: 4px;
  min-height: 400px;
  border: 2px solid transparent;
  font-size: $small;

  &.incoming {
    border: 2px solid black;
  }

  .board-title {
    text-transform: uppercase;
    margin: 6px;
    font-weight: bold;
  }

  &.orange {
    background-color: $light-orange;
  }

  &.red {
    background-color: $light-red;
  }

  &.light-green {
    background-color: lighten($light-green, 15%);
  }

  &.green {
    background-color: $light-green;
  }

  .card {
    cursor: pointer;
    vertical-align: top;
    min-height: 58px;
    width: 100%;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 $grey-dark;
    margin: 10px 0;
    padding: 3px;

    &.ui-draggable-dragging {
      cursor: move;
    }

    .in-modal-content {
      display: none;
    }


    .card-title {
      position: relative;

    }


    .delete-icon-form {
      position: absolute;
      right: 5px;
    }

  }



  .tooltip {
    font-size: 14px;
    opacity: 1;

    &.left {
      .tooltip-arrow {
        border-left-color: $grey-super-dark;
      }

    }

    &.right {
      .tooltip-arrow {
        border-right-color: $grey-super-dark;
      }

    }

    &.top {
      .tooltip-arrow {
        border-top-color: $grey-super-dark;
      }

    }

    &.bottom {

      .tooltip-arrow {
        border-bottom-color: $grey-super-dark;
      }

    }

    .tooltip-inner {
      background-color: $grey-super-dark;
    }
  }

}



.ui-effects-transfer {
  border: 1px dotted black;
  background-color: white;
}

.ui-draggable-dragging {
  cursor: grab;
}

.board-modal-table {
  padding-left: 25px;
  margin-left: 15px;
  border-left: 1px solid #ddd;
  margin-top: 20px;
  counter-reset: gounder;


  .question-row {
    margin: 10px 0;
    position: relative;
  }

  .question-num {
    position: absolute;
    left: -37px;
    background: $purple;
    padding: 0 7px;
    border-radius: 3px;
    color: white;

    &:before {
      content: counter(gounder);
      counter-increment: gounder;
    }
  }


}




.preference-rating {
  padding: 2px 8px;
  display: inline-block;
  border-radius: 4px;
  font-size: .8rem;

  &.Low {
    background-color: $danger-btn-red;
    color: white;
  }

  &.Medium {
    background-color: $warning-btn-orange;
    color: white;
  }

  &.High {
    background-color: $success-btn-green;
    color: white;
  }

}


.board-modal-title {
  margin: 0;
  line-height: 50px;
  text-align: left;
  color: black;
  font-size: $large;
  padding-left: 4px;
}

.board-modal-sub-title {
  @extend .white-text-snippet;
  padding: 10px;
  min-height: 100px;
}
