body {
  font-family: $primary-font-stack;
  font-weight: 500;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type:disc;
}


html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.grey-link {
  color: #999;
}

.del-icon {
  display: none;
}

