#new-feedback-form-enc {
  display: none;
}

.feedback-form-body {
  width: 650px;
  margin: 0 auto;

  .msg-field {
    height: 330px;
    font-size: 18px;
  }

  .btn-container {
    margin-top: 20px;
  }
}