
.transitions {
  -moz-transition: all ease-out 0.2s;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.app-header {
  font-size: $small;

  .support-link {
    line-height: 58px;
    display: inline-block;
    font-size: $small;
    padding: 0 20px;
    color: white;
  }


  &.no-product {
    height:48px;
    background-color: $header-bg;


    .header-sign-out-form {
      position: absolute;
      top: 10px;
      right: 10px;

    }

    button {
      @extend .transparent-btn;
      color: white;
    }
  }
}

.header-top {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  background-color: $header-bg;
}

.header-bottom {
  height: 68px;
  background-color: $bg-color;
}

#edison-logo {
  position: absolute;
  left: 13px;
  z-index: 1;
  top:-7px;

  img {
    width: 14px;
  }
}

#home_tab {
  @extend .tab-item;
  width: 50px !important;
  text-align: center;
  padding: 0 !important;
  font-size: $large;
  &:hover {
    padding: 0;
  }

}

.tab-item {
  color: $grey54;
  cursor: pointer;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: transparent;
  background: darken($bg-color, 3);
  @include border-radius(2px 2px 0 0);
  margin-left: 20px;
  height: 30px;
  line-height: 35px;
  width: 150px;
  display: inline-block;
  float: left;
  padding-left: 10px;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;

  &:hover {
    padding-left: 2px;
  }

  &.shrink {
    width: 120px;

    &.more {
      width: 110px;
    }
  }

  span.inner {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    height: 30px;
    line-height: 30px;

  }

  .close {
    display: inline-block;
    margin-right: 10px;
    line-height: 30px;
  }

  &:first-child {
    .dyn-step {
      display: inline-block;
    }
    .title-no-toggle {
      display: inline-block;
    }
  }

  &.active {
    background-color: $bg-color !important;
    color: $text-color;
    font-weight: bold;
  }
}

.tab-list {
  display: inline-block;
  padding-left: 0;
  margin-left: 20px;

  .steps-tab {
    a {
      color: black;
    }
  }

  .new-task-header-btn {
    cursor: pointer;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: transparent;
    background: darken($bg-color, 3);
    @include border-radius(2px 2px 0 0);
    margin-left: 20px;
    padding: 0 0 0 15px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    float: left;
    min-width: 50px;

    .dropdown-menu {
      li {
        padding: 4px 8px;
        &:hover {
          background-color: #333;
          color: white;
        }
      }
    }
  }
}

.options-list {
  display: inline-block;
  font-size: $small;
  height: 50px;
  position: absolute;
  right: 24px;
  top: -10px;
  margin: 0;
  li {
    cursor: pointer;
  }
}

.support-options {
  padding: 20px 0 20px 0;
  .btn {
    width: 175px;
    margin: 10px;
  }
  text-align: center;
}

.fa-sign-out:before, .fa-wrench:before, .fa-support:before {
  margin-right: 4px;
}

@media (min-width: 1280px) {
  .app-header {
    .col-xs-10 {
      margin-left: -56px;
    }
  }
}

.sub-tools {
  padding: 10px 0;
  //box-shadow: 1px 6px 9px -6px $grey-dark;
  position: relative;

  //.beachhead-indicator {
  //  z-index: 10;
  //  position: absolute;
  //  left: 30px;
  //  top: 15px;
  //
  //}

  .quick-find-enc {
    position: absolute;
    left: 75px;
    top: 8px;
    z-index: 4;

    & > li {
      cursor: pointer;
      position: relative;

    }

    .resource-items-container {
      padding: 10px 2px;
      display: none;
      position: absolute;
      color: $grey-medium-light;
      background: white;
      text-align: left;
      box-shadow: 0 3px 11px 0 darkgrey;
      width: 230px;
      left: 0;
      border-radius: 4px;
      ul {
        list-style-type: none;
        padding: 0;
        li {
          padding: 4px 8px;
          color: #000;
          &.resource-item:hover {
            background-color: $grey-light;
          }
          &.resource-section {
            color: #333;
            border-bottom: 1px solid $grey-dark;
          }
        }
      }
    }
  }

}

.tool-btn-group {
  padding-left: 30px;
  text-align: center;

  .btn-group {
    margin-right: 8px;

    &:hover {
      box-shadow: 0 1px 3px 0 $grey-dark;
      border-radius: 5px;
    }
  }

  .tool-card {
    @include card();
    border-radius: 5px 0 0 5px;
    text-align: center;
    min-width: 80px;
    float: left;
    cursor: pointer;
  }
  .tool-card-add {
    @include card();
    border-radius: 0 5px 5px 0;
    text-align: center;
    float: left;
    cursor: pointer;
  }

}

.tab-close {
  @extend .transparent-btn;
  font-size: $regular;
  color: lightgrey;
  font-weight: bold;
  line-height: 25px;
  float: left;
  display: none;
  font-family: sans-serif;
}

#quick_find {
  font-size: $small;
  padding: 4px 8px;
  height: 28px;
}

.top-metric {
  background: white;
  display: inline-block;
  width: 100px;
  text-align: center;
  vertical-align: top;
  margin-right: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  .mini-heading {
    padding: 4px 0;
    color: darkgrey;
  }
  .inner {
    font-size: 1rem;
    padding-bottom: 4px;
  }
}
