.home-container {
  margin: 30px auto;
  width: 90%;
  position: relative;

  .team-members-list {
    margin-top: 10px;

  }
}

.product-name-home {
  font-family: $secondary-font-stack;
}

.product-purpose {
  font-size: $small;

}

.tools-dock {
  text-align: center;
  margin: 20px auto 30px auto;

}

.toolgroup-card {
  //width: 255px;
  width: 340px;
  display: inline-block;
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
  //height: 240px;
  height: 180px;
  vertical-align: top;

  &:nth-child(2) {
    margin: 0 20px;
  }
}

.tool-card-header {
  border-bottom: 1px solid $grey-medium-light;
  padding: 10px 4px;
  //height: 70px;
  height: 40px;
  overflow: hidden;
}

.tool-card-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: $large;
  font-weight: 600;
  font-family: $secondary-font-stack;
}

.tool-card-sub-title {
  font-size: $small;
  height: $large;
  overflow: hidden;
  display: none;
}

.tool-card-body {
  //height: 190px;
  height: 100px;
  overflow: hidden;
  @include vertical-align();
  top: 40%;
  padding: 0 10px;
}

.upgrade-row {
  z-index: 10;

  p {
    text-align: right;
    margin: 0;
    font-size: 12px;
    color: $grey72;
  }

  a {
    margin-left: 10px;
  }

}

.prog-bar-container {
  & > div {
    vertical-align: top;
  }
}

.edison-progress-bar {
  height: 25px;
  width: 230px;
  border-radius: 3px;
  border: 2px solid $blue-primary;
  padding: 2px;
  display: inline-block;
  background-color: $white;

  .prog-bar-inner {
    height: 100%;
    background: $blue-primary;
    border-radius: 2px 0 0 2px;
    display: inline-block;
    float: left;

    &.ongoing {
      border-radius: 0 2px 2px 0;
      background-color: orange;

    }
  }
}

//.milestone-options {
//  color: grey;
//}
//
//.milestone-main-info {
//  padding: 0 0 10px 0;
//  text-align: center;
//  position: relative;
//}
//
//.milestone-description {
//  display: inline-block;
//  vertical-align: top;
//  padding-left: 10px;
//  margin-bottom: 10px;
//  text-align: left;
//
//  .release-date {
//    .edit-state {
//      display: none;
//    }
//  }
//}
//
//.milestone-heading {
//  margin-top: 0;
//  background: aliceblue;
//  text-align: left;
//  line-height: 40px;
//  padding-left: 10px;
//  font-size: 14px;
//}
//
//.milestone-name {
//  font-size: 19px;
//  margin-top: 5px;
//  margin-bottom: 5px;
//}
//.milestone-form {
//  text-align: center;
//}

.home-sidebar-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
  font-size: $small;
  li {
    @extend a;
    margin: 10px 0
  }
}

//.milestone-tabs {
//  padding: 5px 0;
//  border-top: 1px solid $grey-dark;
//  border-bottom: 1px solid $grey-dark;
//  margin-bottom: 30px;
//}
//
//.milestone-tab {
//  @extend .btn;
//  float: none !important;
//  display: inline-block !important;
//
//  &.active {
//    background-color: $primary-btn-blue;
//    color: $white;
//  }
//
////}
//
//.form-choices-enc {
//  display: none;
//}

.stage-select-btn {

  text-align: left;

  cursor: pointer;
  width: 100%;

  border-radius: 5px;
  background-color: white;
  border: 1px solid lighten($grey-dark, 5%);
  box-shadow: 0px 1px 3px 0px $grey-dark;
  margin: 4px 0;
  line-height: 30px;
  padding: 5px 10px;
  text-align: left;
  &:hover {
    background-color: #f7f7f7;
  }
}

.milestone-form {
  display: none;
}

.milestone-section {
  padding: 20px 0;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;

}

.upcoming-milestones {
  height: 450px;
  font-size: $small;
}

.upcoming-milestone-list {
  height: 100%;
  border-left: 1px solid #ccc;
  margin-left: 70px;
  padding-left: 10px;
  position: relative;
  list-style-type: none;
  color: $grey72;

  //&:before {
  //  content: '';
  //  display: inline-block;
  //  width: 15px;
  //  border-top: 1px solid #ccc;
  //  position: absolute;
  //  top: 0;
  //  left: -8px;
  //}
  //
  //&:after {
  //  content: '';
  //  display: inline-block;
  //  width: 15px;
  //  border-top: 1px solid #ccc;
  //  position: absolute;
  //  bottom: 0;
  //  left: -8px;
  //}
}

.milestone-timeline-item {
  position: absolute;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 20px;

  &:before {
    content: attr(data-target-date);
    position: absolute;
    left: -70px;
  }
  //
  //&:after {
  //  content: '';
  //  display: inline-block;
  //  width: 15px;
  //  border-top: 1px solid #ccc;
  //  position: absolute;
  //  left: -21px;
  //  top: 9px;
  //}
}

.customer-meeting-milestone-form {
  display: none;
}

.first-time-feedback-form {
  display: none;
}

.dashed-box {
  margin: 20px 0;
  //border: 2px dashed #ddd;
  padding: 10px;
  border-radius: 5px;
}

.lhs-btn {
  padding: 5px 10px;
  margin: 6px 0;
  border-bottom: 2px solid transparent;

  &:hover {
    border-radius: 3px;
    background: #999;
    color: #fff;
    border-bottom: 2px solid #ccc;
  }

  &:active {
    border-color: transparent;
  }

}

.first-time-note {

  li {
    margin: 15px 0;
  }
}

.home-rhs {
  .workspace-right {
    //margin: 0;
    //width:100%;
  }
}