.product-overview {
  //@include paper-style-cs(20px, 60%, 50px);
  width: 60%;
  margin: 30px auto;

}

.product-tree {
  padding: 0;
  border-radius: 2px;

  box-shadow: 1px 1px 3px 0 #D3D3D3;
  background-color: lighten($header-bg, 30%);
  float: left;
  padding-bottom: 10px;

  .product-name-header {
    padding: 5px 10px;
    background-color: $header-bg;
    color: white;
  }
}

.product-purpose2 {
  width: 536px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  min-height: 50px;
  white-space: normal;
  margin-right: 10px;
}

.product-users {
  width: 192px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  min-height: 50px;
  padding-top: 5px;
  white-space: normal;
}

.market-branches {
  padding-left: 20px;
  margin-left: 40px;
  border-left: 2px solid lightgrey;
  padding-top: 1px;
  float: left;
}

.market-branch-outer {
  position: relative;
  float: left;
  &:before {
    content: '';
    border-bottom: 2px solid lightgrey;
    width: 20px;
    display: block;
    position: absolute;
    left: -20px;
    top: 50px;

  }
}

.market-branch {
  margin-top: 30px;
  border-radius: 3px;
  padding-bottom: 10px;
  float: left;
  background-color: lighten($warning-btn-orange, 35%);
  &.beachhead {
    background-color: lighten($success-btn-green, 38%);
  }

}

.diagnosis-results {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  min-height: 50px;
  width: 473px;
  white-space: normal;
  margin-right: 10px;
}

.mini-heading {
  font-weight: bold;
  font-size: .8rem;
}

.market-users {
  width: 192px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  min-height: 50px;
  padding-top: 5px;
  white-space: normal;
}

.market-name-header {
  padding-top: 15px;
  padding-left: 10px;
  font-size: $regular;
  padding-bottom: 7px;
  border-radius: 2px;
  height: 40px;
  background-color: lighten($warning-btn-orange, 28%);
  &.beachhead {
    background-color: lighten($success-btn-green, 30%);
  }

  .select-bh {
    display: none;
  }

}

.market-type-tag {
  padding: 0px 6px;
  position: absolute;
  font-size: $small;
  top: 22px;
  left: 10px;
  border-radius: 2px;
  color: white;
  background-color: $warning-btn-orange;

  &.beachhead {
    background-color: $success-btn-green;

  }

}

.products-container {
  @include paper-style-cs(20px, 60%, 50px);
  min-height: 400px;
  h3 {
    color: $purple;
  }

  ul {
    padding: 0;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    li {
      position: relative;
      display: inline-block;
      margin-right: 30px;
      margin-top: 20px;
      vertical-align: top;
      .active-product-note {
        position: absolute;
        bottom: 10px;
        left: 39px;
        padding: 3px 9px;
        border-radius: 20px;
        background: lighten($success-btn-green, 30%);
        font-size: 14px;
      }
      .first-time {
        position: absolute;
        color: $primary-btn-blue;
        right: -260px;
        top: 40px;
        font-size: 16px;
        font-style: italic;
        &:before {
          content: '←';

        }
      }
    }
  }

  .switch-product-form {
    display: inline-block;

  }
}

.new-product-form-enc {
  width: 60%;
  display: none;
  margin: 0 auto;
}

.new-product-form {
  width: 50%;
  margin: 50px auto;
  .form-control {
    font-size: 22px;
    height: 40px;
    margin: 10px auto;
  }

  .btn-container {
    margin-top: 30px;
  }
  h3 {
    color: $purple;
    text-align: center;
  }
}

.switch-product-btn {
  background: white;
  border-radius: 5px;
  height: 140px;
  width: 130px;
  box-shadow: 0px 1px 3px 0 $grey-dark;
  border: 1px solid $grey-dark;

  &.new {
    border-style: dashed;
    box-shadow: none;
  }
}