.app-sidebar {

  width: 65px;
  height: 100%;
  position: absolute;
  z-index: 2;
  transition: width .2s;
  right: 0;

  .menu-icon {

    font-size: 30px;
    margin-right: 50px;
    margin-top: 10px;
    color: $grey-super-dark;
    text-align: center;
    .inner {
      font-size: 12px;
      width: 40px;
    }
  }

  .container {
    height: 100%;
    width: 100%;
    position: relative;
    display: none;
  }

  &:hover {
    box-shadow: -2px 2px 5px 0 darkgrey;
    background-color: $white;
    width: 300px;
    .container {
      display: block;
    }
    .menu-icon {
      display: none;
    }
  }

  .section-title {
    color: $brown;
    button {
      float: right;
    }
  }

  .products {
    margin-top: 30px;
  }

  .dashboards-list {
    li {
      font-size: 16px;
      padding: 5px 7px;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 -7px;
      &:hover {
        background-color: lighten($blue-primary, 35%);
      }

    }
  }

  .other-options {
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-size: 13px;
    li {
      width: 30%;
      cursor: pointer;
      color: $blue-primary;
    }
  }
}