
.primary-colored {
  color: $purple;
}

.workspace-right {
  @include paper-style(0, 100%);
  padding-bottom: 0;

  .secondary-sheet {
    width: 130%;
    left: -15%;
  }
}

.board-style {
  background-color: transparent;
  box-shadow: none;
  border: none;
  width: 100%;
  text-align: center;
}

.step-sub-title {
  font-size: $large;
  text-align: center;
}

.step-guide {
  width: 65%;
  margin: 0 auto;
  font-size: $regular;
  padding: 25px 50px;
  background-color: $lighter-yellow;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  line-height: $largest;
  display: none;

}

.top-summary {
  padding: 10px;
  background: #FFFFEF;
  border-bottom: 1px solid #dbdb00;
  text-align: left;
}

.checklist-progress {
  margin: 10px 0;
  position: relative;

  .checklist-percent {
    position: absolute;
    top: -5px;
    color: $grey-super-dark;
    font-size: $small;
    left: 5px;
  }
}

.checklist-progress-bar {
  height: 8px;
  border-radius: 5px;
  background: #d6dadc;
  position: relative;
  overflow: hidden;
  margin-left: 50px;
  .inner {
    background: #5ba4cf;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width .14s ease-in, background .14s ease-in;
    transition: width .14s ease-in, background .14s ease-in;
  }
}

.checklist-title {
  //margin: 30px 0 20px 0;
  font-size: $large;
}

.checklist-item {
  position: relative;
  padding-left: 30px;
  margin: 10px 0;
}

.checklist-item-checkbox {
  position: absolute;
  left: 5px;
  width: 15px;
  height: 15px;
  top: 3px;

  @extend .white-text-snippet;

  &.checked:before {
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    top: -2px;
    left: 1px;
    color: darkgrey;
  }
}

.checklist-form {
  .transparent-btn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}

.checklist-inactive {
  display: none;
}

.checklist-area {
  padding: 20px;
  background: $blue-alice;
  position: relative;
  text-align: left;
  .hyperlink {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.steps-sidebar-list {
  padding-left: 0;
  list-style-type: none;
  li {
    margin: 10px 0;
  }
}

.step-fp-top {
  .step-description {
    display: none;
  }
  .steps-sidebar-list {
    text-align: right;
    li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.dashboard-select-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid lighten($grey-dark, 5%);
  box-shadow: 0px 1px 3px 0px $grey-dark;
  text-align: left;
  margin: 6px 0;
  padding: 4px 12px;

  &.selected {
    background-color: lighten($blue-primary, 40%);
    border: 1px solid $blue-primary;
    box-shadow: 0px 1px 3px 0px lighten($blue-primary, 10%);

    &:hover {
      background-color: lighten($blue-primary, 40%);
      box-shadow: 0px 1px 3px 0px lighten($blue-primary, 10%);
    }
  }

  &:active {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    outline: none;
    background-color: $grey-super-light;
    box-shadow: 0px 1px 3px 1px $grey-dark;
  }
}

.step-fp-top {
  padding: 10px;
  position: relative;

  .steps-sidebar-list {
    position: absolute;
    top: 10px;
    right: 0;
  }
}

.switch-to-list {
  margin: 30px auto;

  form {
    display: inline-block;
  }
  .hyperlink {
    border: none;
    padding: 0;

  }
}

.answer-prompt {
  margin-top: 10px;
}

.tip-area {
  background-color: $blue-alice;
  padding: 10px;
  border-radius: 3px;
}

.x-ref-highlight {
  border-bottom: 1px dotted $grey-super-dark;
  font-weight: bold;
}

@import "steps/beachhead";
@import "steps/canvas";
@import "steps/competitive_position";
@import "steps/customer_experience";
@import "steps/diagnose";
@import "steps/dmu";
@import "steps/enduser";
@import "steps/features";
@import "steps/market_size";
@import "steps/persona";
@import "steps/usecase";
@import "steps/value_proposition";