//
//.step-n-beachhead {
//  width: 100%;
//  margin: 30px 0 0 0;
//  .step-title {
//    font-size: 30px;
//    font-weight: 500;
//    letter-spacing: 1px;
//    text-align: center;
//    //color: $blue-primary;
//  }
//}
//
//.step-footer {
//  padding: 0 150px;
//  margin: 40px 0;
//
//  .footer-list {
//    list-style-type: none;
//    text-align: center;
//
//    li {
//      margin: 20px 0;
//    }
//  }
//}
