.team-empty-state {
  text-align: center;
  .note {
    color: $grey-9;
    font-size: 18px;
    text-align: center;
    margin: 30px auto;
  }

}

.team-list-enc {
  @include paper-style-cs(20px, 50%);

  h3 {
    color: $purple;
    text-align: center;
  }
}

#new-membership-form-enc {
  width: 60%;
  display: none;
  margin: 0 auto;

  .new-membership-form {
    @include paper-style-cs(20px, 100%, 50px)

  }

  table {
    width: 100%;
    @include set-col-width(33% 33% 33%);
    @include set-cell-alignment(left left left);

    td {
      padding: 5px;
      input {
        font-size: 16px;
      }
      .dropdown {
        font-size: 16px;
      }
      button {
        text-align: left;
        width: 100%;
        font-size: inherit;
      }
      .dropdown-menu {

        li {
          padding: 5px;
          line-height: 20px;
          cursor: pointer;

          .title {
            font-weight: bold;
          }

          &:hover {
            background-color: lighten($blue-primary, 40%);
          }
        }
      }
    }
  }

  .invite-member-btn {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-lg;
  }
}

$profile-colors: #B03060 #FE9A76 #FFD700 #32CD32 #016936 #008080 #0E6EB8 #EE82EE #B413EC #FF1493 #A52A2A #A0A0A0 #000000;

@mixin icon-size($size) {
  height: $size;
  width: $size;
  line-height: $size;
  font-size: $size/2;
}

.profile-icon {
  @include icon-size(40px);
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  color: white;
  margin: 4px;

  &.large {
    @include icon-size(60px);
  }

  &.tiny {
    @include icon-size(24px);
  }

  @each $color in $profile-colors {
    $i: index($profile-colors, $color);
    &._#{$i} {
      background-color: $color;
    }
  }

  &.default {
    background-color: #999;
  }

  &.add-member {
    border: 1px dashed $grey-super-dark;
    cursor: pointer;
    background-color: transparent !important;
    color: $grey-super-dark;
  }

}

.team-mgmt {

  .access-options {
    display: none;
  }

  .remove-member-btn {
    @extend .btn;
    @extend .btn-danger;
    @extend .btn-sm;
    @include outline-style($danger-btn-red);
  }

  .edit-access {
    font-size: 12px;
    color: $grey-super-dark;
    float: right;
    line-height: 20px;
  }
}