$notepad-yellow: #fffae5;
.toolkit-list {
  padding: 20px;
  background-color: lighten($notepad-yellow, 2);
  border-radius: 10px;

  &> .title {
    text-align: center;
    font-size: $trump;
    margin: 10px auto 30px auto;
    font-family: $secondary-font-stack;
    border-bottom: 1px solid $grey-dark;
    width: 90%;
  }
}

.toolkit-row {
  margin: 20px 0;
  border-radius: 5px;
  &:hover {
    background-color: darken($notepad-yellow, 8)
  }

  .lhs {
    padding: 10px;
    font-family: $secondary-font-stack;
    font-size: 1.2rem;
    text-align: right;
    color: $brown;
  }
  .rhs {
    padding: 10px;
    font-size: 1.0rem;
    border-left: 1px solid #d9d9d9;
  }
}