.app-workspace {
  width: 100%;
  height: 100%;
  float: left;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $bg-color;

  &> ul {
    list-style-type: none;
    padding: 0;
    height: 100%;
  }

}



.view-layer-item {

  height: 100%;
}

.tt-open-bottom-enc {
  margin: 0 0 25px 0;
}

