<% if r =  @sales_strategy.ltv_cac_ratio %>
$('[data-object=sales_strategy][data-url="/sales_strategies/<%= @sales_strategy.id %>"]')
    .find('.card-info-item').html('LTV / CAC: <%= r %> times');
<% end %>