<div class="tool-section type-b" id="<%= object.row_selector(false) %>">
  <% step_name = object.underscored.to_sym %>
  <header data-toggle="tool-section" data-parent="<%= object.row_selector(true) %>">
    <div class="row">
      <div class="col-xs-5 section-column">
        <div class="col-xs-1">
          <%= serial_no index+1 %>
        </div>
        <div class="col-xs-11">
          <%= active_edit_if(has_valid_access?, object, :strategy_name, placeholder: 'Sales Strategy') %>
        </div>
      </div>
      <div class="col-xs-7 section-column">
        <div class="col-xs-3"><%= object.cycle_length ? "#{object.cycle_length} days" : nil %></div>
        <div class="col-xs-3"><%= object.ltv_cac_ratio ? "#{object.ltv_cac_ratio} times" : nil %></div>
        <div class="col-xs-3"><%= active_edit_if(has_valid_access?, object, :start_date, type: :date, placeholder: 'Start date') %></div>
        <div class="col-xs-3"><%= active_edit_if(has_valid_access?, object, :end_date, type: :date, placeholder: 'End date') %></div>
      </div>
    </div>
  </header>

  <div class="tool-child">
    <header class="section-heading row">
      <div class="col-xs-4">DMU Members</div>
      <div class="col-xs-4">Who is this person?</div>
      <div class="col-xs-4">What do they want?</div>
    </header>
    <%= section_body object, object.class.blueprint_for_section[:section_field_map2] %>
    <% child_table = object.class.blueprint_for_section[:child_table] %>
    <% if child_table %>
        <% child_blueprint = child_table.to_s.camelize.constantize.blueprint_for_table %>
        <%= generate_table object, child_table, headers: ['', 'Gap in the plan', 'Target closure date', ''] %>
        <%= render 'static_pages/shared/new_resource_form2', parent: object, resources: child_table, field: child_blueprint[:form_default_field], options: {placeholder: child_blueprint[:placeholder], hidden_field: instance_eval(':'+step_name.to_s+'_id'), hf_value: object.id} %>
    <% end %>
  </div>
</div>