<div class="tool-section type-b" id="<%= object.row_selector(false) %>">
  <% step_name = object.underscored.to_sym %>
  <header data-toggle="tool-section" data-parent="<%= object.row_selector(true) %>">
    <div class="row">
      <div class="col-xs-8 section-column">
        <div class="col-xs-1">
          <%= serial_no index+1 %>
        </div>
        <div class="col-xs-6">
          <%= active_edit_if(has_valid_access?, object, :strategy_name, placeholder: 'Sales Strategy') %>
        </div>
        <div class="col-xs-2">
          <%= active_edit_if(has_valid_access?, object, :timeline, choices: {1 => 'Short', 2 => 'Medium', 3 => 'Long'}, type: :select, placeholder: 'Term') %>
        </div>
        <div class="col-xs-3">
          <%= active_edit_if(has_valid_access?, object, :sales_channel, placeholder: 'Sales Channel') %>
        </div>
      </div>
      <div class="col-xs-4 section-column">
        <div class="col-xs-5"><%= active_edit_if(has_valid_access?,object, :start_date, type: :date, placeholder: 'Start date') %></div>
        <div class="col-xs-5"><%= active_edit_if(has_valid_access?,object, :end_date, type: :date, placeholder: 'End date') %></div>
        <div class="col-xs-1">
          <%= delete_object object %>
        </div>
      </div>

    </div>
  </header>

  <div class="tool-child">
    <%#= section_break object.class.blueprint_for_section[:section_break_text] %>
    <header class="section-heading row">
      <div class="col-xs-4">Sales Process</div>
      <div class="col-xs-4">How it happens</div>
      <div class="col-xs-4">How long it takes</div>
    </header>
    <%= section_body object, object.class.blueprint_for_section[:section_field_map] %>

    <div class="explan-text-enc-<%= object.id %> explan-text-enc <%= 'hidden' unless object.cycle_length %>">
      <div class="explan-text">
        It takes <span class="cycle_length_<%= object.id %>"><%= object.cycle_length %></span> days to close a sale with
        this sales strategy
      </div>
    </div>

    <header class="section-heading row">
      <div class="col-xs-6">LTV vs CAC</div>
      <div class="col-xs-6"></div>
    </header>
    <%= section_body object, object.class.blueprint_for_section[:section_field_map3] %>
    <div class="row">
      <%= make_column size: 6, content: "Cost of Acquiring a Customer (CAC) :" %>
      <%= make_column size: 6, content: "$ #{number_with_delimiter object.cac}", class: "cac_#{object.id}" %>
    </div>
    <div class="row">
      <%= make_column size: 6, content: "LTV : CAC ratio" %>
      <%= make_column size: 6, content: "#{number_with_delimiter object.ltv_cac_ratio} times", class: "ltv_cac_ratio_#{object.id}" %>
    </div>
  </div>
</div>