<% if @sales_strategy.cycle_length %>
$('.explan-text-enc-<%= @sales_strategy.id  %>').removeClass('hidden');
$('.cycle_length_<%= @sales_strategy.id %>').html('<%= @sales_strategy.cycle_length %>');
<% end %>