<div class="card" data-object="sales_strategy" data-url="<%= sales_strategy_path sales_plan.id %>" data-card-id="<%= r = rand_string %>" data-behaviour="open_target_in_modal" data-target=".board-modal">
  <div class="inner">


    <div class="card-title">
      <%= ae_live_field sales_plan, :strategy_name %>
      <%= delete_object sales_plan %>
    </div>

    <hr class="mini-break">

    <div class="card-info-item">
      <% if sales_plan.ltv_cac_ratio %>
          LTV / CAC: <%= sales_plan.ltv_cac_ratio %> times
      <% end %>
    </div>

    <div class="in-modal-content" data-modal-content-id="<%= r %>">

      <div class="board-modal-title">
        <%= active_edit_if has_valid_access?, sales_plan, :strategy_name %>
      </div>


      <div class="board-modal-table">
        <div class="question-row">
          <div class="question-num"></div>
          <div class="table-header">Sales channel - mode of reach out</div>
          <div class="white-text-snippet" style="width: 100%;padding: 4px 10px;display: inline-block;margin-top: 4px;"><%= active_edit_if has_valid_access?, sales_plan, :sales_channel, placeholder: 'Direct recruitment, resellers, online marketing etc. are some examples' %></div>
          <hr class="mini-break">
        </div>

        <% sales_plan_fields.each do |fieldset| %>

            <div class="question-row">
              <div class="question-num"></div>
              <div class="table-header"><%= fieldset[0] %></div>
              <div class="white-text-snippet" style="padding: 4px 10px;display: inline-block;margin-top: 4px; width: 100%; min-height: 4rem;"><%= active_edit_if has_valid_access?, sales_plan, fieldset[1] %></div>
              <div style="margin-top: 6px;">How long does this process take?
                <div style="padding: 4px 10px;display: inline-block;min-width: 100px;" class="white-text-snippet"><%= active_edit_if has_valid_access?, sales_plan, fieldset[2], numeric: true, suffix: ' days', placeholder: '# of days' %></div>
              </div>
              <hr class="mini-break">
            </div>

        <% end %>


        <div class="question-row">
          <div class="question-num"></div>
          <div class="table-header">LTV vs CAC</div>
          <div style="margin-top: 10px;">
            <div style="text-align: center;">
              <div class="row" style="font-size: .8rem;font-weight: bold;">
                <% sales_plan_fields2.each do |fieldset| %>
                    <div class="col-xs-4 table-header"><%= fieldset[0] %></div>
                <% end %>
              </div>
              <div class="row">
                <% sales_plan_fields2.each do |fieldset| %>
                    <div class="col-xs-4"><div class="white-text-snippet" style="padding: 4px 10px;margin-top: 5px;"><%= active_edit_if has_valid_access?, sales_plan, fieldset[1], fieldset[2] %></div></div>
                <% end %>
              </div>
            </div>
          </div>
          <hr class="mini-break">
        </div>


      </div>




    </div>

  </div>

</div>