(function () {

  $newRecord = $('<%= j render 'sales_strategies/sales_plan_card', sales_plan: @sales_strategy %>').hide();

  $('[data-step-table-id="17"]')
      .find('[data-stage="<%= @sales_strategy.stage %>"]')
      .append($newRecord);

  $newRecord.slideDown('fast').trigger('click');

}).call(this);


