<li class="sub-task-rec _<%= sub_task.id %> <%= 'unset' unless sub_task.partly_set? %> <%= 'today' if sub_task.due_now? %> <%= 'priority' if sub_task.priority %>  <%= 'complete' if sub_task.status %> <%= "assignee_#{sub_task.assignee_id}" if sub_task.assignee_id %>" id="<%= sub_task.row_selector(false) %>">


  <div class="sub-task-check-box">
    <%= active_edit sub_task, :status, type: :checkbox %>
  </div>

  <div class="sub-task-inner" data-toggle="modal" data-target=".sub-task-modal._<%= r = rand_string %>">

    <div class="sub-task-title"><%= ae_live_field sub_task, :sub_task_name %></div>

    <%= render 'sub_tasks/sub_task_data', sub_task: sub_task %>

    <div class="sub-task-delete" style="margin-right: 10px">
      <%= delete_object sub_task %>
    </div>
  </div>

  <div class="modal fade sub-task-modal _<%= r %>" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render 'sub_tasks/sub_task_modal_content', sub_task: sub_task %>
      </div>
    </div>
  </div>


</li>

