<div id="workspace-right" class="primary-sheet sub-tool-single-view workspace-right sub-task-tab-item">
  <div class="tool-with-comment" data-sub-task-id="<%= @sub_tool_resource.id %>">
    <%= render 'sub_tasks/sub_task_modal_content', sub_task: @sub_tool_resource %>
  </div>
</div>