<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>

</div>

<div class="modal-body">

  <div style="font-size: .8rem;">
    <span>to-do lists</span> &rsaquo;&rsaquo;
    <span ><%= sub_task.user_task.task_name %></span>
  </div>

  <div  class="to-do-title" style="">
    <div class="to-do-checkbox" style=""><%= active_edit sub_task, :status, type: :checkbox %></div>
    <%= active_edit sub_task, :sub_task_name, placeholder: 'Task name' %>
  </div>

  <div>
    <div class="white-text-snippet tc-padding" style="min-height: 80px"><%= active_edit sub_task, :description, placeholder: "Add a description" %></div>
  </div>

  <div style="margin: 20px 0;">Runs from
    <span class="tc-padding white-text-snippet"><%= active_edit sub_task, :start_date, type: :date, placeholder: 'start date', format: 'dd M yyyy' %></span>
    through
    <span class="tc-padding white-text-snippet"><%= active_edit sub_task, :end_date, type: :date, placeholder: 'end date', format: 'dd M yyyy' %></span>
  </div>
  <div style="margin: 20px 0;">Executed by
    <span class="tc-padding white-text-snippet"><%= active_edit sub_task, :assignee_id, type: :select, placeholder: 'person responsible', choices: active_product.team_assignment_scope %></span>
  </div>


</div><!-- /.modal-content -->

<div class="modal-footer">
  <div class="comments-for-<%= sub_task.id %>">
    <%= render 'comments/comment_thread', parent: sub_task %>
  </div>
</div>