<div class="sub-task-form-container sub-task-rec">
  <%= form_for user_task.sub_tasks.build, remote: true, html: {data: {'parent-id' => user_task.id}, class: "resource-form task-form-over-list form-for-task-#{user_task.id}"} do |f| %>
      <%= fa_icon 'square-o', class: 'sub-task-check-box' %>
      <%= f.text_field :sub_task_name, placeholder: "Type a task", class: "normal-input", autocomplete: 'off', autofocus: true %>
      <%= f.hidden_field :user_task_id, value: user_task.id %>
      <%= f.hidden_field :rand_id, value: rand_string, id: 'rand_field' %>
      <button type="button" class="close-to-do btn btn-link" data-dismiss="slider">I'm done adding to-dos</button>
  <% end %>
</div>