<div class="sub-task-data _<%= sub_task.id %>" style="font-size: .8rem;<%= 'display:none' unless sub_task.partly_set? %>">
  <% if sub_task.start_date.present? %>
      starts on
      <strong><%= ae_live_field sub_task, :start_date, display_with: :ldt %></strong>

  <% end %>
  <% if sub_task.end_date.present? %>
      <span class="separator">·</span>
      ends on
      <strong><%= ae_live_field sub_task, :end_date, display_with: :ldt %></strong>

  <% end %>
  <% if sub_task.assignee_id.present? %>
      <span class="separator">·</span>
      executed by
      <strong><%= active_product.team_assignment_scope[sub_task.assignee_id] %></strong>
  <% end %>
</div>