$('.to-do-list._<%= @sub_task.user_task_id %> .sub-tasks-list')
    .find('#<%= params[:sub_task][:rand_id] %>')
    .replaceWith('<%= j render 'sub_tasks/new_subtask_rec', sub_task: @sub_task %>');

$('[data-tool=to-do-lists][data-id=<%= @sub_task.user_task_id %>] .sub-tasks-list')
    .append('<%= j render 'sub_tasks/new_subtask_rec', sub_task: @sub_task %>');

