$completedToDoList = $('.to-do-list._<%= @user_task.id %>').find('.completed-todos-list');
<% @sub_tasks.each do |sub_task| %>
$completedToDoList.append('<%= j render 'sub_tasks/new_subtask_rec', sub_task: sub_task %>');
<% end %>