//
//@font-face {
//  font-family: 'MuseoSansRounded';
//  font-style: normal;
//  font-weight: 300;
//  src: local('Museo-Sans-Rounded'),
//  url("<%= font_path('museosansrounded-300-webfont.woff') %>") format('woff')
//}
//
//@font-face {
//  font-family: 'MuseoSansRounded';
//  font-style: normal;
//  font-weight: 500;
//  src: local('Museo-Sans-Rounded'),
//  url("<%= font_path('museosansrounded-500-webfont.woff') %>") format('woff')
//}
//
//@font-face {
//  font-family: 'MuseoSansRounded';
//  font-style: normal;
//  font-weight: 700;
//  src: local('Museo-Sans-Rounded'),
//  url("<%= font_path('museosansrounded-700-webfont.woff') %>") format('woff')
//}