<div class="primary-sheet workspace-right ">
  <div class="discussion-enc">

    <header class="sub-tool-header">
      <div class="sheet-title">Discussions</div>
      <button class="sheet-add-btn" data-behaviour="clone_target_in_new_tab" data-tool-type="discussion">Start a
        discussion
      </button>
    </header>

    <div class="tool-body row">

      <div class="discussions-on-sheet">
        <% topics = Topic.get(active_product) %>


        <% if topics.count > 0 %>

            <table class="discussion-index-table table">
              <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
              </colgroup>
              <tbody>
              <% topics.each do |topic| %>
                  <tr data-parent-type="<%= topic.parent %>" data-parent-id="<%= topic.id %>">
                    <td class="icon"><%= profile_icon topic.user, size: 'tiny' %></td>
                    <td class="who"><%= topic.user.short_name %></td>
                    <td class="what "><strong class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= topic.path %>"><%= topic.title %></strong> - <%= sanitize(topic.latest_comment, tags: [:div, :ul, :ol]).try(:truncate, 90, separator: ' ').try(:html_safe) if topic.latest_comment.present? %></td>
                    <td class="comment-count">
                      <div class="comment-count-bubble"><%= topic.comment_count %></div></td>
                    <td class="when timestamp"><%= topic.event_at.today? ? local_time(topic.event_at, '%l:%M%P') : "#{days_ago(topic.event_at)}d ago" %></td>
                  </tr>
              <% end %>

              </tbody>
            </table>


            <% if topics.count > 20 %>
                <div style="margin-top: 10px; text-align: center;" class="fp-discussion-load-more">
                  <div class="hyperlink" data-behaviour="load_more" data-target="[data-discussion-id]">load more</div>
                </div>
            <% end %>

        <% else %>
            <div class="sub-tool-empty-state">
              <div class="title">Brainstorm and discuss the your ideas and thoughts with the team</div>
              <ul class="list">
                <li>Discuss idea with the team, filter the noisy stuff and refine it</li>
                <li>Discuss effectively over mails</li>
                <li>Discussion is your startup’s inbox!</li>
              </ul>
            </div>
        <% end %>


      </div>

    </div>

  </div>
</div>