<div class="sub-tool-single-view discussion">
  <header class="sub-tool-header">
    <div class="sheet-title"><%= @tool_resource.title %></div>
    <div class="metadata"><%= @tool_resource.user.name %> posted
      on <%= local_time @tool_resource.created_at %></div>
  </header>

  <div class="on-sheet-discussion-view">
    <div class="tool-with-comment">
      <hr>
      <div class="discussion-subject"><%= @tool_resource.subject.html_safe %></div>
      <%= render 'comments/comment_thread', parent: @tool_resource %>
    </div>
  </div>
</div>
