<div class="sub-tool-single-view note _<%= @tool_resource.id %>">
  <header class="sub-tool-header">
    <% if @tool_resource.draft %>
        <div class='draft-notice'>
          This note is a draft visible only to
          you. <%= button_to 'Publish this note', note_path(@tool_resource.id, note: {draft: false}), remote: true, class: "btn btn-link", method: :put %>
        </div>
    <% end %>
    <div class="sheet-title"><%= active_edit @tool_resource, :title %></div>
    <ul class="tool-options-list" style="font-size: 12px;color: darkgrey;">
      <li>Authored by <%= @tool_resource.user.name %></li>
      <span class="separator"> · </span>
      <li><%= archive_note @tool_resource %></li>
      <span class="separator"> · </span>
      <li data-script-href="<%= @tool_resource.friendly_link %>/edit" data-behaviour="get_script">Edit this note</li>
    </ul>
  </header>
  <div class="on-sheet-note-view">
    <div class="tool-with-comment">
      <hr>
      <div class="note-content" id="note-content-<%= @tool_resource.id %>"><%= raw @tool_resource.content %></div>
      <%= render 'comments/comment_thread', parent: @tool_resource %>
    </div>
  </div>
</div>

