<div class="primary-sheet workspace-right">
  <div class="notes-enc">

    <% notes = active_product.notes.includes(:user).published %>
    <% drafts = current_user.notes.where(product_id: active_product.id).drafts %>


    <header class="sub-tool-header">
      <div class="sheet-title">Notes</div>
      <button class="sheet-add-btn" data-behaviour="clone_target_in_new_tab" data-tool-type="note">Write a note</button>
    </header>


    <div class="tool-body row">

      <div class="notes-on-sheet">
        <% if (drafts.count + notes.count) > 0 %>

            <h4 class="notes-section-title">Your drafts</h4>
            <hr>
            <% drafts.each do |note| %>
                <%= render 'notes/new_note_list_item', note: note %>
                <hr>
            <% end %>
            <h4 class="notes-section-title">All published notes</h4>
            <% notes.each do |note| %>
                <%= render 'notes/new_note_list_item', note: note %>
                <hr>
            <% end %>

        <% else %>

            <div class="sub-tool-empty-state">
              <div class="title">Publish a detailed and researched work of your idea</div>
              <ul class="list">
                <li>Great space for a detailed and time invested note to record your thoughts</li>
                <li>Save as drafts until its finished and ready</li>
                <li>Publish the note and get the views of the team</li>
              </ul>
            </div>

        <% end %>


      </div>

    </div>


  </div>
</div>