<div class="primary-sheet workspace-right tasks ">

  <div class="to-do-lists-enc">
    <header class="sub-tool-header">
      <div class="sheet-title">To Do Lists</div>
      <button class="sheet-add-btn" data-behaviour="clone_target_in_new_tab" data-tool-type="to-do-list">Make a new
        list
      </button>

    </header>


    <div class="dropdown pull-right" style="color: #aaa;position: absolute;right: 10px;top: 10px;
    ">
      <button class="transparent-btn" type="button" data-toggle="dropdown"><%= fa_icon 'cog' %> options</button>
      <ul class="dropdown-menu">
        <li>
          <% unless params[:scope] == 'archived' %>
              <%= button_to to_do_lists_path(scope: 'archived'), class: 'btn-xs btn-link btn', remote: true, method: :get do %>
                  Show archived lists
              <% end %>
          <% end %>
        </li>

      </ul>
    </div>


    <div class="tool-body row">

      <div class="col-xs-12 tasks-lists-container">

        <% @to_do_lists ||= active_product.user_tasks.pending %>

        <% if @to_do_lists.count > 0 %>

            <% @to_do_lists.each do |task| %>
                <%= render 'user_tasks/new_task_sub_tasks_entry', user_task: task %>
            <% end %>

        <% else %>

            <div class="sub-tool-empty-state">
              <div class="title">Break down the idea into executable task and get it done</div>
              <ul class="list">
                <li>Convert creative ideas into workable tasks</li>
                <li>Assign tasks to team members</li>
                <li>Keep the team posted on completed tasks</li>
              </ul>
            </div>

        <% end %>

      </div>

    </div>

  </div>


  <!--<div class="sidebar-list-enc">-->
  <!--<ul class="sidebar-list">-->
  <!--<%# @to_do_lists.each do |t| %>-->
  <!--<li><a href="#user_task_<%#= t.id %>"><%#= ae_live_field t, :task_name %></a></li>-->
  <!--<%# end %>-->
  <!--</ul>-->
  <!--</div>-->

</div>