<header class="sub-tool-header">
  <div class="sheet-title">
    <%= active_edit_if has_valid_access?, @tool_resource, :task_name %>
  </div>
  <div><%= active_edit_if has_valid_access?, @tool_resource, :task_description, placeholder: 'Add details...' %></div>
  <ul class="tool-options-list" style="font-size: 12px;color: darkgrey;">
    <li><%= archive_task @tool_resource, style: 'plain' %></li>
    <span class="separator"> · </span>
    <li data-behaviour="show_completed_tasks" data-task-id="<%= @tool_resource.id %>">Show completed tasks</li>
    <span class="separator"> · </span>
    <li data-behaviour="toggle_todays_tasks" data-task-id="<%= @tool_resource.id %>">Toggle today's tasks</li>
  </ul>
</header>

<div class="on-sheet-task-view">
  <div class="tool-with-comment">
    <%= render 'user_tasks/on_sheet_task_view', user_task: @tool_resource %>
    <%= render 'comments/comment_thread', parent: @tool_resource %>
  </div>
</div>