<div class="sub-tool-single-view assumption" data-assumption-id="<%= @tool_resource.id %>">
  <header class="no-border">
    <div class="sheet-title">
      <% if @tool_resource.preset_id %>
          <%= preset_assumption(@tool_resource.preset_id) %>
      <% else %>
          <%= active_edit_if has_valid_access?, @tool_resource, :hypothesis %>
      <% end %>
    </div>
    <%= button_to_create '+ New Experiment', :experiment, {description: 'Experiment', assumption_id: @tool_resource.id, stage: 1} %>

  </header>


  <% experiments = @tool_resource.experiments.all %>

  <div class="boards-enc five">
    <% experiment_groups.each_with_index do |n, i| %>
        <div class="board <%= n[2] %>" data-stage="<%= n[0] %>">
          <div class="board-title"><%= n[1] %></div>
          <% experiments.for_stage(n[0]).each do |experiment| %>
              <%= render 'experiments/experiment_card', experiment: experiment %>
          <% end %>
        </div>
    <% end %>
  </div>

</div>


<div class="hidden assumption-view-enc">

  <div class="experiment-table">
    <% all_exps = @tool_resource.experiments.all %>

    <% if all_exps.present? %>

        <% all_exps.each do |experiment| %>
            <%= render 'experiments/new_exp_record', experiment: experiment %>
        <% end %>
        <%= render 'experiments/new_exp_form', assumption: @tool_resource %>

    <% else %>

        <div class="first-exp-form-enc">

          <h4>Add your first experiment</h4>

          <%= form_for @tool_resource.experiments.build, remote: true, html: {class: ""} do |f| %>
              <%= f.text_area :description, placeholder: "Describe the experiment you want to do to find out if \"#{@tool_resource.hypothesis || preset_assumption(@tool_resource.preset_id)}\" is true", class: "form-control", autocomplete: 'off' %>
              <%= f.text_area :cost, placeholder: "What will it cost you to do this experiment?", class: "form-control", autocomplete: 'off' %>
              <%= f.text_area :validated_if, placeholder: "What outcome will validate: \"#{@tool_resource.hypothesis || preset_assumption(@tool_resource.preset_id)}\"", class: "form-control", autocomplete: 'off' %>
              <%= f.hidden_field :assumption_id, value: @tool_resource.id %>
              <%= button_tag "Add experiment", class: "add-submit btn btn-primary btn-lg", 'data-disable-with' => disabled_spinner %>
          <% end %>
        </div>

    <% end %>
  </div>


</div>
<%#= render 'comments/comment_thread', parent: @tool_resource %>

