<div class="primary-sheet validation-sheet">
  <div class="validation-enc">

    <% current_assumptions = active_product.assumptions.current.user_added %>
    <% archived_assumptions = active_product.assumptions.archived.user_added %>
    <% preset_assumptions = active_product.assumptions.preset %>

    <header class='sub-tool-header'>
      <div class="sheet-title">Validation</div>
      <button class="sheet-add-btn" data-behaviour="clone_target_in_new_tab" data-tool-type="assumption">Write an
        assumption
      </button>
    </header>

    <div class="tool-body row">

      <div class="assumptions-on-sheet">
        <% preset_assumptions.each do |assumption| %>
            <%= render 'assumptions/new_assumption_rec', assumption: assumption %>
        <% end %>
        <% current_assumptions.each do |assumption| %>
            <%= render 'assumptions/new_assumption_rec', assumption: assumption %>
        <% end %>
      </div>


    </div>

  </div>
</div>