(function () {

  $li = $('<li class=child-item><%= j active_edit_if has_valid_access?, @improvement, :improvement_name %></li>').hide();

  $item = $('[data-child=improvement][data-parent-id=next_customer_<%= @improvement.next_customer_id %>]').find('li').last();

  $li.insertBefore($item);

  $li.slideDown('fast').trigger('click');

}).call(this);


