<div class="favourites-enc">
  <%= favourite user_parameter.favourites ? user_parameter.favourites[0].to_i : nil %>
  <%= favourite user_parameter.favourites ? user_parameter.favourites[1].to_i : nil %>
  <%= favourite user_parameter.favourites ? user_parameter.favourites[2].to_i : nil %>
</div>