<div class="user-profile">
  <h5>Favorites</h5>
  <% user_parameter = current_user.user_parameter %>
  <%= render 'users/favourites', user_parameter: user_parameter %>
  <hr>
  <div class="purpose-quote"><%= active_edit user_parameter, :mission, placeholder: 'My purpose' %></div>
  <hr>
  <div class="name-initals row">
    <div class="col-xs-2">
      <div class="user-initials profile-icon default"><%= user_initials user_parameter.user_name %></div>
    </div>
    <div class="col-xs-10">
      <div class="users-name"><%= active_edit user_parameter, :user_name, placeholder: 'Richard Hendricks'  %></div>
      <div class="user-title"><%= active_edit user_parameter, :title, placeholder: 'CEO' %></div>
    </div>
  </div>
  <hr>
  <div class="row stat-table">
    <div class="col-xs-4">
      <div class="stat-item"><%= current_user.active_days ? (current_user.active_days/working_days(current_user).to_f * 100).to_i : 100 %>
        %
      </div>
      <div class="subtext">of days active</div>
    </div>
    <div class="col-xs-4">
      <div class="stat-item"><%= pluralize current_user.current_streak, 'day' %> </div>
      <div class="subtext">current streak</div>
    </div>
    <div class="col-xs-4">
      <div class="stat-item"><%= current_user.days_left_to_launch %></div>
      <div class="subtext">days left to launch</div>
    </div>
  </div>
</div>