You have been invited by <%= @sender.name || @sender.email %> to EdisonPlan.

<% if @invitee %>
    To access <%= @sender.name || @sender.email %>'s EdisonPlan, please go to <%= products_dashboard_url %> and select <%= @sender.name || @sender.email %>'s EdisonPlan.
<% else %>
    Click here to <%= link_to 'sign up', root_url %> and work with <%= @sender.name || @sender.email %>.
<% end %>