<%= render layout: 'conversations_mailer/layout' do %>

    <div>Hi <%= @user.name %>,</div>

    <p>Welcome to your 30-day trial of EdisonPlan. Thank you for signing up.</p>

    <p>EdisonPlan offers an integrated platform for implementing a customer-driven approach for your startup.</p>

    <p>If you have any questions or need help with anything, you can contact me at aravin@edisonplan.com. I'll be more
      than happy to help.</p>

    <div>Thank you,<br>
      Aravin Damo
    </div>
<% end %>