<tr class='<%= 'user-created-row' if index >= admin_input_count %>' id="procurement_step_<%= procurement_step.id %>">
  <td class="">
    <%= best_in_place_if (index >= admin_input_count), procurement_step, :key_proc_activity, :place_holder => "", :inner_class => "bip_input_box", :as => :textarea, display_with: :simple_format %>
    <%= delete_object(procurement_step) if index >= admin_input_count %>
  </td>
  <td><%= render 'static_pages/shared/text_modal_content_package', object: procurement_step, field: 'mvbp', row: index, col: 0, default_title: 'parameter', index: index, max_hint: 5, length:"#{'tiny' if index < 3}" %></td>
  <td><%= render 'static_pages/shared/text_modal_content_package', object: procurement_step, field: 'tam', row: index, col: 1, default_title: 'parameter', index: index, max_hint: 5, length:"#{'tiny' if index < 3}" %></td>
  <td><%= render 'static_pages/shared/text_modal_content_package', object: procurement_step, field: 'followon', row: index, col: 2, default_title: 'parameter', index: index, max_hint: 5, length:"#{'tiny' if index < 3}" %></td>
</tr>