<% if tool_stage_conditions[step_no][:complete] %>
    <p>The end user in <%= beachhead.business_name %> is:</p>
    <p><%= end_user_personality_trait beachhead, 'Intelligence' %> intelligent
      &middot; <%= end_user_personality_trait beachhead, 'Openness' %> open-minded
      &middot; <%= end_user_personality_trait beachhead, 'Diligence' %> diligent
      &middot; <%= end_user_personality_trait beachhead, 'Agreeableness' %> agreeable
      &middot; <%= end_user_personality_trait beachhead, 'Stability' %> stable
      &middot; <%= end_user_personality_trait beachhead, 'Extraversion' %> extroverted</p>
<% else %>
    <p>Find out what a day in the life of your typical end user in <%= beachhead.business_name %> looks like.</p>
    <p>Understand information such as end user’s demographics, core personality traits and reasons to
      use <%= active_product.product_name %> which are key inputs to be used in
      designing <%= active_product.product_name %> and tailoring effective marketing strategies.</p>
<% end %>