<% if tool_stage_conditions[step_no][:complete] %>
    <% if beachhead.is_too_big? %>
        <p>It appears that the <%= beachhead.business_name %> market is too big to be your beachhead.</p>
    <% else %>
        <p>It appears that the <%= beachhead.business_name  %> market is of the right size.</p>
    <% end %>
<% else %>
    <p>Ensure that <%= beachhead.business_name %> is not too big to be your beachhead.</p>
<% end %>