<% if tool_stage_conditions[step_no][:start] %>
    <p>Diagnose your markets for potential weaknesses to determine which of your markets are most promising as a
      potential beachhead.</p>
<% elsif tool_stage_conditions[step_no][:complete] %>
    <%= active_product.markets_in_order_of_preference.first.business_name %> is your most preferred market.
<% else %>
    <p>
      <%= active_product.completed_diagnoses.to_sentence %> <%= active_product.completed_diagnoses.count == 1 ? 'has' : 'have' %>
      been analyzed.
      <%= (active_product.businesses.pluck(:business_name) - active_product.completed_diagnoses).to_sentence %> need to
      be analyzed.
    </p>
<% end %>