<% if beachhead.market_size_complete? %>
    <p>The <%= beachhead.business_name %> market is estimated to be worth
      $ <%= number_to_human beachhead.market_value, precision: 0, units: 'currency' %></p>
<% elsif beachhead.market_size_segments_complete.count > 0 %>
    <p>The <%= beachhead.business_name %> market is estimated to be worth
      $ <%= number_to_human beachhead.market_value, precision: 0, units: 'currency' %></p>

    <% if beachhead.market_size_segments_incomplete.count == 1 %>
        <p>But the market value of the segment <%= beachhead.market_size_segments_incomplete.to_sentence %> has not
          been estimated yet.</p>
    <% else %>
        <p>But the market values of segments, <%= beachhead.market_size_segments_incomplete.to_sentence %> have not been
          estimated yet.</p>
    <% end %>
<% else %>
    <p>Find out how much the <%= beachhead.business_name %> market is worth annually.</p>
    <p>Estimate the number of users and ongoing price in each of the end user segments, namely, Enthusiasts, Early
      adopters, Realists, Conservatives and Skeptics.</p>
<% end %>