<% if tool_stage_conditions[step_no][:start] %>
    <!--<p><%#= active_product.product_name %>'s markets-->
      <!--are <%#= active_product.businesses.pluck(:business_name).to_sentence %></p>-->
    <p>Analyze your markets deeply and capture deeper insights about each of the market and especially about the
      potential
      beachhead market</p>
<% elsif tool_stage_conditions[step_no][:complete] %>
    <p><%= active_product.product_name %>'s markets
      are <%= active_product.businesses.pluck(:business_name).to_sentence %></p>
    <!--<p><%#= active_product.product_name %>'s beachhead is <%#= beachhead.business_name %></p>-->
    <!--<p><%#= active_product.product_name %>'s will solve <%#= beachhead.application %></p>-->
<% else %>
    <p>
      <%= active_product.completed_canvases.to_sentence %> <%= active_product.completed_canvases.count == 1 ? 'has' : 'have' %>
      been analyzed.
      <%= (active_product.businesses.pluck(:business_name) - active_product.completed_canvases).to_sentence %> need to
      be analyzed.
    </p>
<% end %>