<div class="activity-list" >

  <% events = event_list %>
  <% events.map { |x| x[0].to_date }.uniq.each do |date| %>
      <% selection = events.select { |arr| arr[0].to_date == date } %>
      <% if selection.present? %>
          <div class="date-item"><%= ldt date, '%B %e, %Y' %></div>
          <div class="event-group">
            <% selection.each do |event| %>
                <div class="event">
                  <div class="timestamp"><%= local_time event[0], '%l:%M%P' %></div>
                  <div class="event-desc"><%= event[1].html_safe %></div>
                </div>
            <% end %>
          </div>
      <% end %>
  <% end %>



</div>