
<div class="workspace-right canvas">

  <% i = 0 %>
  <% 15.times do |m| %>
      <%= render 'static_pages/shared/canvas_item',
                 icon: _canvas_fields[i][:icon],
                 title: _canvas_fields[i][:title],
                 step: _canvas_fields[i][:step]
      %>
      <% i = i + 1 %>
  <% end %>
</div>