<div class="workspace-right canvas-sheet" style="">
  <div class="canvas-sheet-items-list">
    <% 15.times do |i| %>
        <%= render 'static_pages/shared/sheet_item',
                   icon: _canvas_fields[i][:icon],
                   title: _canvas_fields[i][:title],
                   step: _canvas_fields[i][:step]
        %>
    <% end %>
  </div>
</div>