<div class="canvas-tab-controls" style="text-align: center">
  <ul class="nav nav-pills" role="tablist" style="display: inline-block;">
    <li role="presentation" class="<%= 'active' if active_product.default_canvas == 0 || active_product.default_canvas.nil? %>">
      <a href="#sheet-view" aria-controls="profile" role="tab" class="canvas-tab" data-product-id="<%= active_product.id %>" data-choice="0" data-toggle="pill">Paper View</a>
    </li>
    <li role="presentation" class="<%= 'active' if active_product.default_canvas == 1 %>">
      <a href="#grid-view" aria-controls="home" role="tab" class="canvas-tab" data-product-id="<%= active_product.id %>" data-choice="1" data-toggle="pill">List View</a>
    </li>
  </ul>
</div>