<div class="release-first-time-notice" style="margin-top: 30px;">
  <h4 class="flush-top">How to set up my next product release?</h4>
  <ol>
    <li>Understand the breakdown layers of a product.
      <span class="hyperlink" data-toggle="modal" data-target=".product-breakdown-modal">Show sample product breakdown</span>
    </li>
    <li>It is highly recommended to create the product spec before scheduling the next release.
      <span class="hyperlink" data-toggle="modal" data-target=".tesla-prod-spec-modal">See Tesla Model S specification</span>
    </li>
    <li>Capture the understanding and create a detailed product specification. <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= step_href_path 7 %>">Go to product spec</span>
    </li>

    <li>The Product specification is primarily used to select priority items that need to be developed and addressed by the production team.
      <span data-toggle="modal" data-target=".guide-modal-prod-spec" class="hyperlink">How to design a good product spec?</span>.</li>

    <li>Creating a “First-pass” product specification involves team brainstorming and multiple iterations. It is suggested to use whiteboard, spreadsheets, or pen and paper for iterating the “First-pass” product spec.</li>

    <li>Record the “First-pass” product specification in EdisonPlan and schedule the release.</li>

  </ol>

  <div style="text-align: center;">
    <%= button_to 'dismiss', product_path(active_product.id, product: {release_note_read: true}), remote: true, class: ' btn btn-link', method: :put %>
  </div>

  <div class="modal tesla-prod-spec-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Tesla Model S features</h4>
        </div>
        <div class="modal-body">


          <ul>
            <li>Body</li>
            <li>Powertrain</li>
            <li>Suspension, Steering and Braking</li>
            <li>Charging</li>
            <li>Interior</li>
            <li>Instrumentation</li>
            <li>Warranty</li>
            <li>Convenience</li>
            <li>Safety</li>
          </ul>


          <p><%= link_to 'See Telsa Model S Product Specification', 'https://www.teslamotors.com/support/model-s-specifications', target: '_blank' %></p>

          <p>List below each feature in the Tesla Model S specification are its sub-features.</p>

          <p>What are <%= ae_live_field active_product, :product_name %>’s features and sub-features?</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade feedback-modal guide-modal-prod-spec" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <div class="modal-title" style="line-height: 20px;">
            <%= STEP[7][:name] %>
          </div>
        </div>
        <div class="modal-body">
          <% guide = File.read("#{Rails.root}/app/views/step_guides/product-specification.markdown") %>
          <div class="white-text-snippet" style="padding: 20px;white-space: normal;"><%= markdown.render(guide).html_safe %></div>
        </div>
        <!--<div class="modal-footer">-->

        <!--</div>-->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>