<section class="milestone-section">
  <% milestones = beachhead.main_activities.for_stage(1..3).upcoming %>

  <% if milestones.present? %>

      <div class="date-item flush-top" style="padding-left: 10px;">Small wins over the next 30 days
      </div>

      <div class="upcoming-milestones">
        <ul class="upcoming-milestone-list">
          <% beachhead.main_activities.for_stage(1..3).upcoming.each_with_index do |main_activity, index| %>
              <li style="top:<%= main_activity.days_to_go * 15 %>px;  <%= 'font-weight:bold' if index == 0 %>;" data-target-date="<%= main_activity.target_date.strftime("%d-%b") %>" class="milestone-timeline-item">
                <span style="font-size: 1rem; margin-right: 10px;"><%= fa_icon 'bullseye' %></span><%= main_activity.days_to_go %> days to go for <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= milestones_path %>"><%= main_activity.main_activity_name %></span>
              </li>
          <% end %>
        </ul>
      </div>

      <div class="milestones-footer" style="margin-top: 10px;font-size: .8rem;text-align: right; padding: 0 10px;">
        <%= pseudo_link 'See all milestones', milestones_path, 'hyperlink' %>
      </div>

  <% else %>

      <div style="text-align: center;padding: 0 20px;">
        <div style="white-space: pre-line; margin-bottom: 10px;" data-behaviour="toggle_target" data-target=".milestone-form" data-hidden-text="<span class=hyperlink>Set a milestone for <%= active_product.product_name %>.</span> &#10;&#10; It can be a product release or a sales target. Measurable milestones such as &#34;meet 10 customers to find out about the market&#34;, &#34;release beta version 0.1&#34;, &#34;recruit 100 customers&#34; are better than generic milestones such as &#34;Go out for market research&#34;, &#34;Release the product&#34;, &#34;Get customers&#34;." data-shown-text="Set the first milestone for <%= active_product.product_name %>">
          <span class="hyperlink">Set the first milestone for <%= active_product.product_name %></span> &#10;&#10;
          It can be a product release or a sales target. Measurable milestones such as &#34;meet 10 customers to find out about the market&#34;, &#34;release beta version 0.1&#34;, &#34;recruit 100 customers&#34; are better than generic milestones such as &#34;Go out for market research&#34;, &#34;Release the product&#34;, &#34;Get customers&#34;.</div>
      </div>

      <div class="milestone-form" style="padding: 0 10px;">
       <%= render 'dashboards/generic_milestone_form' %>
      </div>


  <% end %>

</section>