<div id="workspace-right" class="primary-sheet  <%= workspace_tools.include?(@curr_step) ? 'workspace-right' : 'board-style' %> <%= @view %>">

  <div class="checklist-area">
    <%= render 'steps/partials/checklist' %>
  </div>

  <div class="top-summary" >
    <div class="heading">
      <%= StaticPagesHelper::QUESTION_FIELDS[@curr_step][:question] %>
    </div>
    <div class="field" style="padding: 10px 0;">
      <%= active_edit_if has_valid_access?, beachhead, StaticPagesHelper::QUESTION_FIELDS[@curr_step][:field], placeholder: StaticPagesHelper::QUESTION_FIELDS[@curr_step][:placeholder] %>
    </div>
  </div>



  <% if workspace_tools.include?(@curr_step) %>


      <div id="step_table">
        <%= render "steps/step_pages/step_#{'%02d' % @curr_step}" %>
      </div>
      <div id="form_for_step" class="form-for-step">
        <%= form_for_step(@curr_step) %>
      </div>

      <div style="font-size: 1rem;background: aliceblue;padding: 10px 0 10px 10px;">
        <div class="btn-container">
          <div style="width: 200px;" class="btn btn-info" data-behaviour="open_in_new_tab" data-href="<%= strategy_toolkit_path %>">
            Strategy Toolkit
          </div>

          <div style="width: 200px;" class="btn-success btn" data-behaviour="open_in_new_tab" data-href="<%= customer_insights_path %>">New
            Customer Insight
          </div>
        </div>
      </div>

  <% else %>

      <div class="btn-container" style="margin-top: 20px;">
        <%= form_for_step(@curr_step) %>
      </div>

      <%= render "steps/step_pages/step_#{'%02d' % @curr_step}" %>


  <% end %>

</div>