<h2 class="flush-top step-title">
  <%= STEP[@curr_step][:name] %>
</h2>
<hr class="mini-break" style="margin: 10px 0">
<div class="step-description">
  <%= descriptive_step_title @curr_step %>
</div>
<ul class="steps-sidebar-list">
  <li>
          <span class="hyperlink" data-toggle="modal" data-target=".guide-modal-<%= r = rand_string %>">
            learn more
          </span>

    <div class="modal fade feedback-modal guide-modal-<%= r %>" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <div class="modal-title" style="line-height: 20px;">
              <%= STEP[@curr_step][:name] %>
            </div>
          </div>
          <div class="modal-body">
            <% guide = File.read("#{Rails.root}/app/views/step_guides/#{STEP[@curr_step][:name].parameterize}.markdown") %>
            <div class="white-text-snippet" style="padding: 20px;white-space: normal;text-align: initial;"><%= markdown.render(guide).html_safe %></div>
          </div>
          <!--<div class="modal-footer">-->

          <!--</div>-->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </li>
  <% if @curr_step == 7 %>
      <li>
        <span class="hyperlink" data-toggle="modal" data-target=".product-breakdown-modal2">Show sample product breakdown</span>

        <div class="modal tesla-prod-spec-modal-2 fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tesla Model S features</h4>
              </div>
              <div class="modal-body">


                <ul>
                  <li>Body</li>
                  <li>Powertrain</li>
                  <li>Suspension, Steering and Braking</li>
                  <li>Charging</li>
                  <li>Interior</li>
                  <li>Instrumentation</li>
                  <li>Warranty</li>
                  <li>Convenience</li>
                  <li>Safety</li>
                </ul>


                <p><%= link_to 'See Telsa Model S Product Specification', 'https://www.teslamotors.com/support/model-s-specifications', target: '_blank' %></p>

                <p>List below each feature in the Tesla Model S specification are its sub-features.</p>

                <p>What are <%= ae_live_field active_product, :product_name %>’s features and sub-features?</p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <span class="hyperlink" data-toggle="modal" data-target=".tesla-prod-spec-modal-2">Show Tesla's Product Spec</span>

        <div class="modal product-breakdown-modal2 fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Product Break Down</h4>
              </div>
              <div class="modal-body">
                <%= image_tag 'feature-tree.png', width: '100%' %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
  <% end %>
  <% cfs = active_product.customer_feedbacks.for_tool(@curr_step) %>
  <li>
    <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= customer_feedbacks_path(scope: 'all', tool: @view) %>"><%= pluralize(cfs.unaddressed.count, "insight") %></span>
  </li>
  <li>
    <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= customer_feedbacks_path(scope: 'unaddressed', tool: @view) %>"><%= pluralize(cfs.unaddressed.count, "unaddressed insight") %></span>
  </li>
</ul>
