<div class="switch-to-list" style="text-align: center;">
  <% if active_dash.nil? || active_dash == 16 %>
      You can alternatively switch to
      the <%= button_to 'list view', dashboards_path(dashboard: {dashboard_ref: 17}), class: 'hyperlink', remote: true %>
      once you are done with the strategy sheet.
  <% else %>
      Now displaying <strong><%= dashboard_choices[active_dash] %></strong> as your dashboard.
      <span class="hyperlink" data-toggle="modal" data-target=".dashboard-modal">Change</span>
  <% end %>
</div>