(function () {

  $li = $('<li class=child-item><%= j active_edit_if has_valid_access?, @plan_defect, :defect_name %></li>').hide();

  $item = $('[data-child=plan_defect][data-parent-id=pricing_plan_<%= @plan_defect.pricing_plan_id %>]').find('li').last();

  $li.insertBefore($item);

  $li.slideDown('fast').trigger('click');

}).call(this);


