<div style="margin: 10px 0;">
  <div style="padding: 0 10px;font-weight: bold;margin-bottom: 5px;"><%= StaticPagesHelper::QUESTION_FIELDS[step][:question] %></div>
  <div class="white-text-snippet" style="min-height:80px;padding: 10px;white-space: normal;">
    <%= active_edit_if has_valid_access?, beachhead, StaticPagesHelper::QUESTION_FIELDS[step][:field], placeholder: StaticPagesHelper::QUESTION_FIELDS[step][:placeholder] %>
  </div>
</div>