<div class="canvas-diagram" data-canvas-for-business="<%= business.id %>">
  <div class='canvas-row1 row'>
    <div class="canvas-column c20">
      <%= canvas_field business, :application, 'Solution', 'problem' %>
    </div>
    <div class="canvas-column c20">
      <div class="sub-column">
        <%= canvas_field business, :end_user, 'End User', 'enduser' %>
      </div>
      <div class="sub-column">
        <%= canvas_field business, :benefit, 'Benefit', 'benefit' %>
      </div>
    </div>
    <div class="canvas-column c20">
      <%= canvas_field business, :prod_features, 'Product Features', 'features' %>
    </div>
    <div class="canvas-column c20">
      <div class="sub-column">
        <%= canvas_field business, :sales, 'Sales', 'sales' %>
      </div>
      <div class="sub-column">
        <%= canvas_field business, :marketing, 'Marketing', 'marketing' %>
      </div>
    </div>
    <div class="canvas-column c20">
      <%= canvas_field business, :partners, 'Partners', 'partners' %>
    </div>
  </div>
  <div class='canvas-row2 row'>
    <div class="canvas-column c50">
      <%= canvas_field business, :core, 'Core ', 'core ' %>
    </div>
    <div class="canvas-column c50">
      <%= canvas_field business, :top_competitors, 'Competition', 'competition' %>
    </div>
  </div>
</div>