<div class="checklist-for-step-<%= r = rand_string %>">
  <div class="checklist-title"><%= fa_icon 'bars' %> Checklist</div>

  <div class="checklist-progress">
    <div class="checklist-percent"><%= checklist_progress(@curr_step) %>%</div>
    <div class="checklist-progress-bar">
      <div class="inner" style="width: <%= checklist_progress(@curr_step) %>%;"></div>
    </div>
  </div>

  <div class="step-checklist">
    <% checklist_for_step(@curr_step, r).each_with_index do |item, index| %>
        <div class="checklist-item <%= 'checked' if item[0] %>">
          <div class="checklist-item-checkbox <%= 'checked' if item[0] %>">
            <%= item[1] %>
          </div>
          <div class="checklist-item-description">
            <%= item[2] %>
          </div>
        </div>
    <% end %>
  </div>


  <div style="text-align: right;">
    <div class="hyperlink" data-behaviour="show_all_items_in_checklist" data-step="<%= r %>" style="<%= 'display:none' if defined?(all_shown) && all_shown %>">
      Show all items
    </div>
    <div class="hyperlink" data-behaviour="hide_completed_items" data-step="<%= r %>" style="<%= 'display:none' unless defined?(all_shown) && all_shown %>">
      Show only the next action
    </div>
  </div>


  <% unless defined?(all_shown) && all_shown %>
      <script>
        $(function () {
          $t = $('.checklist-for-step-<%= r %> .checklist-item');
          $t.hide();
          $t.not('.checked').first().show();
        })
      </script>
  <% end %>

</div>
