<h4 class="canvas-title">Comparative Analysis of all markets in <%= ae_live_field(active_product, :product_name) %></h4>
<% cols = businesses.count + 1 %>
<table class="comparitive-canvas _<%= cols %>">
  <colgroup>
    <% cols.times do %>
        <col width="<%= w = 100.0/cols %>%" style="max-width: <%= w %>%; min-width: <%= w %>%">
    <% end %>
  </colgroup>
  <thead>
  <tr>
    <th></th>
    <% businesses.each do |business| %>
        <th><%= business.business_name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>

  <% canvas_properties.each do |field| %>
      <tr>
        <td><%= field[0] %></td>
        <% businesses.each do |business| %>
            <td><%= active_edit_if has_valid_access?, business, field[1] %></td>
        <% end %>
      </tr>
  <% end %>

  </tbody>
</table>