<div class="row toolkit-row" data-behaviour="open_in_new_tab" data-tab-ref="<%= all_tools.invert[step_num] %>" data-href="<%= app_path(view: all_tools.invert[step_num]) %>">
  <div class="col-xs-3 lhs">
    <%= step_data[:name] %>
  </div>
  <div class="col-xs-9 rhs">
    <%= render "steps/result_pages/result/result_#{step_num}" %>
  </div>
</div>
