<header class="app-header <%= 'no-product' unless active_product %>" style="">
  <% if active_product %>
      <div class="header-top">

        <ul class="tab-list">

          <li id="home_tab" data-behaviour="open_in_new_tab" data-href="<%= home_path %>" data-tab-href="<%= home_path %>" class="row <%= 'active' if @view == 'home' %>" style="line-height: 30px;">
            <%= fa_icon 'home' %>
            <span class="inner" style="display: none;">Home</span>
          </li>

          <% if @view && @view != 'home' %>
              <%= header_tab_item @view.humanize.titleize, active: true %>
          <% elsif @sub_tool_title || @new_sub_tool_title %>
              <%= header_tab_item @sub_tool_title || @new_sub_tool_title, active: true %>
          <% end %>

          <li class="new-task-header-btn">
            <div class="dropdown">
              <div id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                +
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li data-behaviour="clone_target_in_new_tab" data-tool-type="discussion">New Discussion</li>
                <li data-behaviour="clone_target_in_new_tab" data-tool-type="to-do-list">New To do List</li>
                <li data-behaviour="clone_target_in_new_tab" data-tool-type="note">New Note</li>
              </ul>
            </div>

          </li>

        </ul>

        <ul class="list-inline options-list">
          <li>
            <span class='support-link' data-behaviour='new_feedback'>Support</span>
          </li>
          <!--<li>-->
          <!--<%#= render 'messages/header_messages' if active_product %>-->
          <!--</li>-->
        </ul>

      </div>
      <div class="header-bottom">
        <div class="row sub-tools">


          <div class="beachhead-indicator">

          </div>

          <div class="quick-find-enc">

            <input class="form-control" id="quick_find" data-behaviour="show_resource_list" value="" placeholder="Quick find"/>

            <div style="display: none;" class="resource-items-container">
              <ul>
                <li class="resource-section"><strong>to do lists</strong></li>
                <% active_product.user_tasks.pending.each do |task| %>
                    <li data-behaviour="open_in_new_tab" data-href="<%= task.friendly_link %>" class="resource-item"><%= ae_live_field task, :task_name %></li>
                <% end %>
                <li class="resource-section"><strong>notes</strong></li>
                <% active_product.notes.each do |note| %>
                    <li data-behaviour="open_in_new_tab" data-href="<%= note.friendly_link %>" class="resource-item"><%= ae_live_field note, :title %></li>
                <% end %>
                <li class="resource-section"><strong>discussions</strong></li>
                <% active_product.discussions.each do |discussion| %>
                    <li data-behaviour="open_in_new_tab" data-href="<%= discussion.friendly_link %>" class="resource-item"><%= ae_live_field discussion, :title %></li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 tool-btn-group">

            <div class="sub-tool-btns">
              <div class="btn-group">
                <div data-behaviour="open_in_new_tab" data-href="<%= customer_insights_path %>" class="tool-card">insights</div>
                <div class="tool-card-add" data-behaviour="clone_target_in_new_tab" data-tool-type="insight">+</div>
              </div>
              <div class="btn-group">
                <div data-behaviour="open_in_new_tab" data-href="<%= discussions_path %>" class="tool-card">discussions</div>
                <div class="tool-card-add" data-behaviour="clone_target_in_new_tab" data-tool-type="discussion">+</div>
              </div>
              <div class="btn-group">
                <div data-behaviour="open_in_new_tab" data-href="<%= to_do_lists_path %>" class="tool-card">to-dos</div>
                <div class="tool-card-add" data-behaviour="clone_target_in_new_tab" data-tool-type="to-do-list">+</div>
              </div>
              <div class="btn-group">
                <div data-behaviour="open_in_new_tab" data-href="<%= notes_path %>" class="tool-card">notes</div>
                <div class="tool-card-add" data-behaviour="clone_target_in_new_tab" data-tool-type="note">+</div>
              </div>

              <div class="btn-group" style="position: absolute;right: 90px;">
                <div data-behaviour="open_in_new_tab" data-href="<%= strategy_toolkit_path %>" class="tool-card" style="border-radius: 5px">Strategy Toolkit</div>
              </div>

            </div>



          </div>




        </div>
      </div>
  <% else %>


      <div id="edison-logo">
        <%= image_tag 'oneLogo.jpg' %>
      </div>

      <div>
        <%= button_to sign_out_path, method: :get, form_class: 'header-sign-out-form' do %>
            Sign Out
        <% end %>
      </div>

  <% end %>
</header>
