<div class="modal fade bip-view full-page" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog center-modal-dialog modal-md">
    <div class="modal-content clearfix">
      <div class="modal-header">
        <div class="modal-title"></div>
      </div>
      <div class="modal-body">
        <div class="modal-text"></div>
        <div class="modal-edit-enc"></div>
      </div>

      <div class="modal-footer">
        <button class="modal-got-it">Got it!</button>
        <button class="modal-close" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
