<div class="canvas-component" data-behaviour="open_in_new_tab" data-href="<%= app_path(view: STEP[step][:name].parameterize) %>">


  <div class="icon">
    <div class="canvas-icon <%= "_#{icon}" %>"></div>
  </div>


  <div class="title">
    <%= title %>
  </div>
  <hr class="mini-break">

  <div class="result">
    <%= StaticPagesHelper::QUESTION_FIELDS[step][:question] %>
  </div>

  <div class="canvas-card-checklist">
    <div class="checklist-progress-bar" data-toggle="tooltip" title="<%= checklist_score step %> out of 7 items from the checklist is complete">
      <div class="inner" style="width: <%= prog =  (checklist_score(step)/7.0*100).round  %>%">
      </div>
    </div>
    <div style="margin-top: 5px;"><%= prog %> % complete</div>
  </div>


</div>