<% if current_user.active_subscriber? || current_user.unpaid_subscriber? %>
    <div class="modal-header">
      <div class="modal-title">Delete Account</div>
    </div>
    <div class="modal-body business-delete-bg">
      <h4 class="confirm-title">You are a paid subscriber. You need to cancel your subscription before you delete your account.</h4>
      <div style="margin-top:30px;"><%= link_to 'Go to My Account', account_path %></div>
    </div>
    <div class="modal-footer">
      <div class="btn-container">
        <button type="button" class="choice-btn" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
<% else %>
    <div class="modal-header">
      <div class="modal-title">Delete Account</div>
    </div>
    <p class="bg-danger"><strong>Important: </strong>Your account cannot be recovered if you delete it.</p>
    <div class="modal-body business-delete-bg">
      <div class="modal-title">Are you sure you want to delete your account?</div>
    </div>
    <div class="modal-footer">
      <div class="btn-container">
        <%= button_to "Delete...", registration_path(current_user), method: :delete, class: "no-btn" %>
        <div></div>
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
<% end %>