<div class="home-center-column">

  <% if current_user.profile_missing? %>
      <%= render 'static_pages/shared/profile_missing' %>
  <% end %>

  <% discussions = active_product.discussions %>


  <div class="front-page-discussions-list-enc">

    <% if discussions.count == 0 %>

        <div class="first-time-note blue-note">
          <h4>How to implement the four startup best practices?
          </h4>
          <hr>
          <ol>
            <li><strong>Strategy</strong>: Build a customer responsive business
              <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= strategy_toolkit_path %>">strategy</span>.
            </li>
            <li><strong>Insights</strong>: Get outdoors to meet customers often and gather
              <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= customer_insights_path %>">insights</span>.
            </li>
            <li><strong>Product</strong>: Solve customers’ unmet needs and grow the
              <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= make_path %>">product</span>.
            </li>
            <li><strong>Customers</strong>: Commit to early and continuous
              <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= step_href_path 15 %>">customer</span>
              recruitment.
            </li>
          </ol>
        </div>

        <div style="padding: 10px;text-align: center;">
          <div data-behaviour="clone_target_in_new_tab" data-tool-type="discussion" class="hyperlink">
            I want to start a discussion about this with my team
          </div>
        </div>


    <% else %>
        <div class="front-page-discussions-list">
          <% discussions.includes(:user).limit(15).each do |discussion| %>
              <%= render 'discussions/new_fp_discussion', discussion: discussion %>
          <% end %>
        </div>
    <% end %>

    <% if discussions.count > 20 %>
        <div style="margin-top: 10px; text-align: center;" class="fp-discussion-load-more">
          <div class="hyperlink" data-behaviour="load_more" data-target="[data-fp-discussion-id]">load more</div>
        </div>
    <% end %>

  </div>

  <% unless active_product.welcome_msg_read %>

      <script>
        $(function () {
          $('.welcome-modal').modal('show')
        });
      </script>

      <div class="modal welcome-modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Welcome to EdisonPlan</h4>
            </div>
            <div class="modal-body">
              <p>Hey! These four best practices helps in building a customer-driven startup.</p>

              <ol>
                <li>A customer responsive business strategy</li>
                <li>Get outdoors to meet customers often</li>
                <li>Grow the product with customers’ unmet needs</li>
                <li>Early and continuous customer recruitment</li>
              </ol>

              <p style="margin-top: 30px">EdisonPlan provides four tools to implement these best practices,
                everyday.</p>

              <div data-dismiss="modal" style="margin-top: 10px" class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= strategy_toolkit_path %>">Strategy</div>
              <div data-dismiss="modal" style="margin-top: 10px" class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= customer_insights_path %>">Feedback</div>
              <div data-dismiss="modal" style="margin-top: 10px" class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= make_path %>">Product</div>
              <div data-dismiss="modal" style="margin-top: 10px" class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= step_href_path(15) %>">Customers</div>


              <p style="margin-top: 30px">Explore them and win fast with the All New EdisonPlan</p>

              <p class="hyperlink" data-target=".complete_modal" data-behaviour="mirror_click" data-href="<%= home_path %>" style="margin-top: 30px">Go
                to the dashboard</p>

            </div>
            <div class="modal-footer">
              <%= button_to 'Dismiss', product_path(active_product.id, product: {welcome_msg_read: true}), remote: true, class: ' btn btn-default complete_modal', method: :put %>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

  <% end %>


</div>