<div class="app-sidebar">

  <div class="menu-icon fa fa-bars">
    <%#= profile_icon current_user, size: 'small' %>
    <div class="inner">menu</div>
  </div>


  <div class="container">

    <div class="products">
      <h5 class="section-title">product
        <button class="btn btn-default btn-xs" data-behaviour="open_in_new_tab" data-tab-ref="products" data-href="<%= products_dashboard_path %>">manage
          products
        </button>
      </h5>
      <h4><%= active_product ? active_product.product_name : 'select a product' %></h4>


    </div>

    <hr>


    <h5 class="section-title">stage <%= active_product.current_stage %> toolkit</h5>

    <ul class="nav dashboards-list">
      <% step_list_by_group(:find).each do |num, step| %>
          <li class="" data-behaviour="open_in_new_tab" data-tab-ref="<%= all_tools.invert[num] %>" data-href="<%= app_path(view: all_tools.invert[num]) %>">
            <%= step[:name] %>
          </li>
      <% end %>
    </ul>

    <hr>

    <h5 class="section-title">team
      <button class="btn btn-default btn-xs" data-behaviour="open_in_new_tab" data-tab-ref="team" data-href="<%= app_path(view: 'team') %>">manage
        team
      </button>
    </h5>
    <%= render 'memberships/team_members' if active_product %>

    <hr>

    <%= link_to account_path, class: 'btn btn-warning' do %>
        Purchase Now
    <% end %>

    <ul class="list-inline other-options">
      <li>
        <a class='support-link fa fa-support' data-behaviour='new_feedback'>Support</a>
      </li>
      <li>
        <div data-behaviour="open_in_new_tab" class="fa fa-wrench" data-tab-ref=" settings" data-href="<%= app_path(view: 'settings') %>">Settings</div>
      </li>
      <li>
        <%= link_to sign_out_path, class: 'fa fa-sign-out' do %>
            Sign Out
        <% end %>
      </li>
    </ul>

  </div>
</div>