<div class="new-resource-form-modern">
  <span data-behaviour='show_new_resource_form'><%= button_name %></span>
  <div class="form-enc">
    <% if has_valid_access? %>
        <%= form_for parent.send(resources.to_s.pluralize).build, remote: true, html: {class: 'resource-form'} do |f| %>
            <%= f.text_field field, placeholder: "#{options[:placeholder]}", class: "normal-input", autocomplete: "off" %>
            <% if options[:hidden_field].present? %>
                <%= f.hidden_field options[:hidden_field], value: options[:hf_value] %>
            <% end %>
            <% if options[:hidden_field2].present? %>
                <%= f.hidden_field options[:hidden_field2], value: options[:hf_value2] %>
            <% end %>
            <% if options[:hidden_field3].present? %>
                <%= f.hidden_field options[:hidden_field3], value: options[:hf_value3] %>
            <% end %>
            <%= button_tag "+", class: "add-submit" %>
  <% end %>
    <% end %>
  </div>
</div>