<% if has_valid_access? %>
    <%= form_for parent.send(resources).build, remote: true, html: {class: 'resource-form'} do |f| %>
        <div id="form-error-container"></div>
        <%= f.text_field field.to_sym, placeholder: "#{placeholder}", class: "normal-input" %>
        <%= f.submit "+", class: "add-submit", disabled: 'disabled' %>
    <% end %>
<% end %>