<div class="form-container">

  <div class="btn btn-link btn-xs" data-behaviour="show_form">+ Include a <%= options[:generic_item_name] || 'row' %></div>

  <% if has_valid_access? %>
      <%= form_for parent.send(resources.to_s.pluralize).build, remote: true, html: {class: 'resource-form'} do |f| %>
          <%= f.text_field field, placeholder: "#{options[:placeholder]}", class: "normal-input", autocomplete: "off" %>
          <% if options[:hidden_field].present? %>
              <%= f.hidden_field options[:hidden_field], value: options[:hf_value] %>
          <% end %>
          <% if options[:hidden_field2].present? %>
              <%= f.hidden_field options[:hidden_field2], value: options[:hf_value2] %>
          <% end %>
          <% if options[:hidden_field3].present? %>
              <%= f.hidden_field options[:hidden_field3], value: options[:hf_value3] %>
          <% end %>
          <%= button_tag "+", class: "add-submit", 'data-disable-with' => disabled_spinner %>
          <div class="btn btn-link " data-behaviour="hide_form">I'm done adding rows</div>
      <% end %>
  <% end %>
</div>