<% if @view == 'home' %>
$('.view-layer-item').hide();
$view = edison.tabView('<%= @url  %>', '<%= j render "tab_views/#{@view}_view" %>', 'xxx');
$('.tab-view-layer').append($view);
$view.show();

<% else %>
edison.insertTab('<%= @view.gsub('-',' ').humanize.capitalize  %>', '<%= j render "tab_views/#{@view.gsub('-', '_')}_view" %>', '<%= @url %>');
<% end %>
nanobar.loader.go(100);
initialize_datepicker();