<div class="profile-missing-update" style="margin-bottom: 30px;">
  <% if current_user.profile_missing? %>
      <%= form_tag '/update_missing_data', remote: true do %>
          <h4>Update your profile for a better experience</h4>

          <% if current_user.name_not_filled? %>
              <div style="margin: 10px 0;">
                <%= text_field_tag 'user[username]', '', class: 'form-control', placeholder: 'My name' %>
              </div>
          <% end %>
          <% if active_product.name_not_filled? %>
              <div style="margin: 10px 0;">
                <%= text_field_tag 'product[product_name]', '', class: 'form-control', placeholder: 'My product\'s name' %>
              </div>
          <% end %>
          <% if active_product.purpose_not_filled? %>
              <div style="margin: 10px 0;">
                <%= text_area_tag 'product[product_purpose]', '', class: 'form-control', placeholder: 'My product\'s purpose' %>
              </div>
          <% end %>
          <% if active_product.role_not_filled? %>
              <div style="margin: 10px 0;">
                <%= text_field_tag 'product[owner_role]', '', class: 'form-control', placeholder: 'My role. E.g. CEO/CTO' %>
              </div>
          <% end %>

          <%= button_tag 'Update', class: 'btn btn-success' %>
      <% end %>
  <% end %>
</div>