<div class="canvas-sheet-item">

  <div class="title heading">
    <%= StaticPagesHelper::QUESTION_FIELDS[step][:question] %>
  </div>

  <div class="result">
    <%= active_edit_if has_valid_access?, beachhead, StaticPagesHelper::QUESTION_FIELDS[step][:field], placeholder: StaticPagesHelper::QUESTION_FIELDS[step][:placeholder] %>
  </div>

  <div style="margin-top: 20px;text-align: right;">
    <div class="btn btn-xs btn-link" data-behaviour="open_in_new_tab" data-href="<%= app_path(view: STEP[step][:name].parameterize) %>">
      Go to the <%= STEP[step][:name]  %> tool &rarr;
    </div>
  </div>


  <hr class="mini-break">
</div>