<div class="step-footer">

  <ul class="footer-list">
    <li class="hyperlink" data-behaviour="clone_target_in_new_tab" data-tool-type="discussion">I want to discuss this
      tool with my team
    </li>
    <li class="hyperlink" data-behaviour="clone_target_in_new_tab" data-tool-type="to-do-list">I want to make a to-do
      list for stuff that needs to be done
    </li>
    <li class="hyperlink" data-behaviour="clone_target_in_new_tab" data-tool-type="note">I want to write down a thought
      about this tool
    </li>
    <li class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= strategy_toolkit_path %>">Back to the canvas
    </li>
  </ul>

</div>