<header class="step-header step-nav">

  <div class="cover">

    <div class='step-n-beachhead' style="text-align: center;">
      <div class="step-title">
        <%= STEP[@curr_step][:name] %>
      </div>
      <div class="step-sub-title">
        <%= descriptive_step_title @curr_step %>
      </div>
      <div style="margin: 10px auto 20px auto;" data-behaviour="toggle_target" data-target="[data-step-guide-for=<%= @curr_step %>]" data-shown-text="hide" data-hidden-text="know more" class="btn btn-primary">know more</div>
    </div>

  </div>


</header>