<div class="step-guide" data-step-guide-for="<%= @curr_step %>">
  <% guide = File.read("#{Rails.root}/app/views/step_guides/#{params[:view]}.markdown") %>
  <%= markdown.render(guide).html_safe %>

  <div data-behaviour="new_feedback" class="hyperlink" style="margin-top: 20px;text-align: center;">I have a specific question about this tool</div>
</div>