<div style=" margin: 20px 0;"  class="dashed-box">
  <% rp = beachhead.release_progress %>

  <div style="font-size: 1rem;margin-bottom: 10px;">Product Build Status</div>


  <div class="prog-bar-container">
    <div class="edison-progress-bar">
      <div class="prog-bar-inner" style="width: <%= [rp[2], 1].max %>%;"></div>
      <div class="prog-bar-inner ongoing" style="width: <%= rp[1] %>%;"></div>
    </div>
  </div>
  <div class="progress-words" style="margin-top: 5px;font-size: .8rem;">
    <%= rp[2] %>% complete | <%= rp[1] %>% ongoing | <%= 100 - ( rp[1] + rp[2] ) %>% pending
  </div>

  <% if beachhead.projected_date %>
      <div class="projected-completion-date" style="margin-top: 20px;">
        <div>Estimated Completion Date</div>
        <span style="font-size: 1rem;"><%= ldt(beachhead.projected_date) %></span>
      </div>
  <% end %>

  <div style="margin-top: 10px;" class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= make_path %>">Go to Product Roadmap</div>

</div>
