<% if step_num && CANVAS_STEPS.include?(step_num) %>
    <%= render "steps/result_pages/result/result_#{step_num}" %>
<% else %>
    Start here to decide on the choice of beachhead is a good one
<% end %>


