<div class="toolgroup-card" data-href="<%= tool_link%>" data-behaviour="open_in_new_tab">
  <header class="tool-card-header">
    <div class="tool-card-title"><%= tool_card_title %></div>
    <div class="tool-card-sub-title"><%= tool_card_sub_text %></div>
  </header>
  <section class="tool-card-body">
    <%= tool_card_body %>
  </section>
</div>
