
<div><%= pluralize active_product.feedback_metrics[0], 'feedback' %> </div>
<div><%= active_product.feedback_metrics[1] %> critical</div>
<div><%= active_product.feedback_metrics[2] %> unaddressed</div>


