<div class="modal-header">
  <span class="modal-title">Unsubscribe</span>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body business-delete-bg attached-content-enc">
  <p class="attached-content"><strong style="font-weight:600">Important: </strong>Your subscription is valid until <%= ldt(current_user.current_subscription_end_at)%>.</p>

  <div class="unsub-content-enc">
   <ol>
     <li class="active-text">Your account is active.</li>
     <li class="cancel-sub-text"><h4>After unsubscribing...</h4>
        <ul style="list-style: disc;">
          <li>You will no longer be charged monthly.</li>
          <li>You will have full access for until <%= ldt(current_user.current_subscription_end_at)%>.</li>
          <li>You can subscribe again to view and work with your content whenever you choose to.</li>
        </ul>
     </li>
   </ol>
  </div>
</div>
<div class="modal-footer">
  <div class="text-center"><%= button_to "Confirm unsubscription", cancel_subscription_path, class: "btn btn-default unsub-btn", data: {disable_with: 'Unsubscribing...'} %></div>
</div>