<div class="user-product-profile" style="background: #ddd;padding: 10px 15px;border-radius: 3px;margin-bottom: 20px;">
  <h2 class="product-name-home flush-top">
    <%= ae_live_field(active_product, :product_name) %>
  </h2>

  <div class="product-purpose">
    <%= ae_live_field(active_product, :product_purpose) %>
  </div>

  <div class="user-info" style="margin-top: 10px;">
    <div class="user-name" style="font-size: 1.2rem;"><%= current_user.name %></div>
    <div class="user-role" style="margin-top: 3px;"><%= current_user.role_in_product(active_product) %></div>
  </div>
</div>
