<div class="card" data-object="customer" data-url="<%= customer_path customer.id %>" data-card-id="<%= r = rand_string %>">

  <div class="inner" data-toggle="modal" data-target=".board-modal._<%= r %>">

    <div class="card-title">
      <%= ae_live_field customer, :name %>
      <%= delete_object customer %>
    </div>

    <hr class="mini-break">

    <div class="card-info-item">
      <% if customer.days_to_go %>
          <%= pluralize customer.days_to_go, 'day' %> to go
      <% end %>
    </div>


  </div>

  <div class="board-modal _<%= r %> modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="board-modal-title">
          <%= active_edit_if has_valid_access?, customer, :name %>
        </div>

        <div class="board-modal-table">
          <% customer_fields.each do |fieldset| %>
              <div class="question-row">
                <div class="question-num"></div>
                <div class="table-header"><%= fieldset[0] %></div>
                <div class="white-text-snippet" style="margin-top: 5px;; padding: 4px 10px; display: inline-block;"><%= active_edit_if has_valid_access?, customer, fieldset[1], fieldset[2] %></div>
                <hr class="mini-break">
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>