<% if @customer.days_to_go %>
$('[data-object=customer][data-url="/customers/<%= @customer.id %>"]')
    .find('.card-info-item')
    .html('<%= j pluralize(@customer.days_to_go, 'day') %> to go');
<% end %>