(function () {

  $newRecord = $('<%= j render 'customers/customer_card', customer: @customer %>').hide();

  $('[data-step-table-id="18"]')
      .find('[data-stage="<%= @customer.stage %>"]')
      .append($newRecord);

  $newRecord.slideDown('fast').trigger('click');

}).call(this);

