<div class="row end-user-row _<%= enduser.id %>" data-resource-row-id="<%= resource_row_ref enduser %>">
  <div class="col-xs-5  primary-colored" >
    <%= active_edit_if has_valid_access? && !enduser.admin_field, enduser, :parameter %>
    <%= delete_object(enduser) unless enduser.admin_field %>
  </div>
  <div class="col-xs-7">
    <% if enduser.group == 2 %>
        <%= active_edit_if has_valid_access?, enduser, :response, type: :select, choices: RANGE %>
    <% else %>
        <%= active_edit_if has_valid_access?, enduser, :response %>
    <% end %>
  </div>
</div>