(function () {

  $newRecord = $('<%= j render 'endusers/new_end_user_record', enduser: @enduser %>').hide();

  $('[data-step-table-id="4"]')
      .find('[data-table-section-id="<%= @enduser.group %>"]')
      .append($newRecord);

  $newRecord.slideDown('fast');

}).call(this);

