<div class="jobs-modal-btn-container">
  <span class="btn btn-link jobs-modal-trigger" data-toggle="modal" data-target=".jobs-modal">Find out how to set a mission like Steve Jobs</span>
</div>

<div class="modal fade jobs-modal full-page">
  <div class="modal-dialog jobs-modal-dialog">
    <div class="modal-content modal-lg">
      <div class="modal-body">
        <div class="quote-container">
          <i class='fa fa-quote-left'></i>
<span class="quotation">
<span>I'm convinced that about half of what separates the successful entrepreneurs from the
  non-successful ones is pure perseverance. It is so hard. You put so much of your life into this thing. There are such
  rough moments in time that I think most people give up.</span><span>I don't blame them. Its really tough and it consumes your
  life. If you've got a family and you're in the early days of a company, I can't imagine how one could do it. I'm sure
  its been done but its rough. Its pretty much an eighteen hour day job, seven days a week for awhile.</span><span>Unless you have a
  lot of passion about this, you're not going to survive. You're going to give it up. So you've got to have an idea, or
  a problem or a wrong that you want to right that you're passionate about otherwise you're not going to have the
  perseverance to stick it through. I think that's half the battle right there.</span>
  </span>

<span class="jobs-name">
Steve Jobs <span>|</span> Co-founder <span>|</span> Apple
    </span>
        </div>

        <div class="self-ref-questions hidden">
          <ul>
            <li>Is my purpose worth investing the next few years of my limited time and focused efforts?</li>
            <li>Is my purpose worth all the stress that I will face in making my customer's life better?</li>
            <li>Is my purpose worth all my courage, hard earned money, and the sacrifice of a comfortable life?</li>
            <li>Can my purpose really make a better tomorrow for people who depend on me?</li>
            <li>Can my purpose inspire trust in my co-worker to work with me?</li>
          </ul>
        </div>
      </div>


        <button type="button" class="close" data-dismiss="modal">close</button>

    </div>
  </div>
</div>

