<div id="user-parameter-form" class="app-page-container">

  <%= form_for user_parameter, method: http_verb, remote: true, html: {class: 'user-param-form'} do |f| %>
      <div class="homepage-user-form">
        <h3 class="title"><%= form_title %></h3>

        <div class="row">
          <% if http_verb == :post %>
              <div class="col-xs-6">
                <%= f.text_field :firm_name, placeholder: "My Company's name", class: "form-control prod-name", maxlength: 50, autofocus: true %>
              </div>
              <div class="col-xs-6">
                <%= f.text_field :enduser_base, placeholder: "My product's expected total number of endusers", class: "form-control end-user-base numeric", value:'' %>
              </div>
          <% else %>
              <div class="col-xs-12">
                <%= f.text_field :firm_name, placeholder: "My Company's name", class: "form-control prod-name", maxlength: 50 %>
              </div>
          <% end %>
        </div>

        <div class="row">
          <div class="col-xs-12 mission-statement-enc margincentered">

            <%= f.text_area :mission, placeholder: "My purpose", class: 'form-control mission-statement-field', maxlength:300 %>
            <p class="char-remaining"></p>
          </div>
        </div>

        <%= render 'user_parameters/steve_jobs_modal' %>

        <div class="row">
          <div class="col-xs-4">
            <%= f.text_field :user_name, placeholder: "My name", class: "form-control user-name", maxlength: 25 %>
          </div>

          <div class="col-xs-4">
            <%= f.text_field :title, placeholder: "My role (e.g. Founder, CEO)", class: "form-control designated-title", maxlength: 25 %>
          </div>

          <div class="col-xs-4 date-field">
            <%= f.text_field :target_date, placeholder: "My product's launch date", class: 'form-control target-date datepicker', value: user_parameter.try(:target_date) %>
            <script>
                $('.datepicker').datepicker({
                    format: 'dd M yyyy',
                    todayHighlight: true,
                    startDate: '0d'
                });
            </script>
          </div>
        </div>


        <div class="row">
          <div class="btn-container">
            <%= button_tag 'Update', class: 'btn btn-success profile-update-btn', disabled: "#{'disabled' if http_verb == :post }", data: {disabled_with: disabled_spinner} %>
            <div></div>

            <% unless current_user.blank_user_parameters? %>
                <div class="btn btn-default cancel-update">Cancel</div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>

</div>