$('.account-settings-modal .modal-dialog').html("<%= j render 'users/registrations/account_settings_content' %>");
$('.account-settings-modal').modal('show');
$('.settings-link').attr('data-status','true');