$('.user-parameter-edit-view').html('<%= j render 'user_parameters/user_parameter_edit_view', user_parameter:@user_parameter, http_verb: :put, form_title:'Update your Purpose' %>').removeClass('hidden');
$('.user-parameter-view,.start-btn-container,.progress-enc').addClass('hidden');
$('.select-beachhead-btn').hide();