<% if @user_parameter %>
$('.favourites-enc').replaceWith('<%= j render 'users/favourites', user_parameter: @user_parameter %>');
$('[data-step-id=<%= @new_step %>]').find('.fav-icon').addClass('active');
$('[data-step-id=<%= @old_step %>]').find('.fav-icon').removeClass('active');
<% else %>
alert('Something went wrong. Please try that again');
<% end %>