<% if @user_parameter.errors.present? %>
<% else %>
$('.user-parameter-edit-view').empty().addClass('hidden');

$('.user-parameter-view,.start-btn-container,.progress-enc').removeClass('hidden');

<% end %>
