<div id="workspace-right" class=" workspace-right default-paper chat">
  <div class="chat-panel">
    <div class="messages-list-enc">
      <% messages = active_product.messages %>
      <% if messages.count > 6 %>
          <div class="show-older" data-behaviour="show_older_messages">show older</div>
      <% end %>
      <ul class="messages-list">
        <% messages.includes(:user).last(6).each do |message| %>
            <%= render 'messages/new_message_item', message: message %>
        <% end %>
      </ul>
    </div>
    <div class="chat-form">
      <%= render 'messages/new_message_form' %>
    </div>
  </div>
</div>