<div class="customer-experience-table">

  <% touchpoints = beachhead.touchpoints %>

  <%= render 'touchpoints/cx_chart', touchpoints: touchpoints, height: 300 %>


  <div class="div-table">
    <div class="row">
      <div class="col-xs-1 table-header"></div>
      <div class="col-xs-7 table-header">Touchpoint</div>
      <div class="col-xs-2 table-header">This week</div>
      <div class="col-xs-2 table-header">Last week</div>
    </div>

    <% beachhead.touchpoints.each_with_index do |touchpoint, index| %>
        <div class="row">
          <div class="col-xs-1"><%= index + 1 %></div>
          <div class="col-xs-7"><%= TOUCHPOINTS[touchpoint.touchpoint_no] %><%= touchpoint_category[touchpoint.touchpoint_no] %></div>
          <div class="col-xs-2"><%= active_edit_if has_valid_access?, touchpoint, :current_week_metrics, numeric: true %></div>
          <div class="col-xs-2"><%= active_edit_if has_valid_access?, touchpoint, :past_week_metrics, numeric: true %></div>
        </div>
    <% end %>
  </div>

</div>
