<div class="customer-interaction-workspace" style="margin: 30px auto;width: 1100px;">

  <% @customer_feedbacks = active_product.customer_feedbacks.all %>


  <div class="row">
    <div class="col-xs-3">

      <h3 class="flush-top">Customer Insights</h3>

      <div>Reflection and decision on my customer view of things</div>

      <div style="text-align: right;" class="hyperlink" data-toggle="modal" data-target=".de-note-modal">learn more
      </div>

      <div class="modal fade feedback-modal de-note-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <div class="modal-title" style="line-height: 20px;">
                Disciplined Entrepreneurship on the single necessary and sufficient condition for a business
              </div>
            </div>
            <div class="modal-body">

              <div class="white-text-snippet" style="padding: 20px;white-space: normal;">
                Regardless of your business, you must ask yourself, “What is the single necessary and sufficient
                condition for a business?” It is not a product, a technology, a customer need, a business plan, a
                vision, a strong team, a CEO, money, investors, competitive advantage, or company values. While
                all
                those are great things for a business to have, none of them is the right answer.
                <br>
                <br>
                The single necessary and sufficient condition for a business is a paying customer.
                <br>
                <br>

                The day someone pays you money for your product or service, you have a business, and not a day
                before.
                This simple truth will keep you focused on what is important. You cannot define a business as a
                product, because if nobody buys your product, you simply do not have a business. The marketplace
                is
                the final arbiter of success.
                <br>
                <br>

                Now, just because you have a paying customer does not mean you have a good business. In order to
                have
                a good, sustainable business, you will need to gain enough customers paying enough money within a
                relatively short period of time so you do not run out of capital, but instead, become profitable.
                And
                as a startup, you have few resources, so every action you take must be hyper-efficient.
                <br>
                <br>

                Therefore, you will not start by building a product or hiring developers or recruiting
                salespeople.
                Instead, you will take a customer-driven approach by finding an unmet need and building your
                business
                around it.
              </div>
            </div>
            <!--<div class="modal-footer">-->

            <!--</div>-->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


      <div class="checklist-progress customer-interaction" style="margin-top: 20px;">
        <div class="checklist-percent"><%= r = active_product.feedback_address_rate %>%</div>
        <div class="checklist-progress-bar">
          <div class="inner" style="width: <%= r %>%;"></div>
        </div>
      </div>

    </div>
    <div class="col-xs-9">
      <%= render 'customer_feedbacks/customer_feedback_header' %>
    </div>
  </div>


  <div style="width: 575px; margin: 30px auto;">
    <%= render 'customer_feedbacks/new_customer_feedback' %>
    <%= render 'customer_feedbacks/new_feedback_actions' %>
    <%= render 'customer_feedbacks/customer_feedback_list' %>
    <%= render 'customer_feedbacks/no_feedback_empty_state' unless @customer_feedbacks.count > 0 %>
  </div>


</div>

<%# console %>