<div class="diag-result-table">

  <h3>Results of Diagnosis</h3>

  <% active_product.markets_in_order_of_preference.each do |business| %>

      <div class="results-list-enc ">

        <div>
          <h3 class="business-name"><%= business.business_name %></h3>

          <div class="diag-result-flag <%= diagnosis_result(business).to_s %>"><%= diagnosis_cta(business) %></div>
          <% if is_beachhead?(business) %>
              <div class="diag-result-flag blue"><%= 'Chosen beachhead' %></div>
          <% end %>
        </div>

        <ul class="results-list <%= 'no-bullet' if business.diagnosis_result_array.length <= 1 %>">

          <% if business.diagnosis_result_array.length == 0 %>
              <li>While it appears that <%= business.business_name %> has no weakness keep your eyes open to any signs
                that might cause your assumptions to go wrong
              </li>
          <% else %>
              <% business.diagnosis_result_array.each do |response_number| %>
                  <li><%= DIAGNOSIS_RESPONSE[response_number][:response] || "While it appears that #{business.business_name} has no weakness keep your eyes open to any signs that might cause your assumptions to go wrong" %></li>
              <% end %>
          <% end %>

        </ul>

        <hr>
      </div>

  <% end %>
</div>


