<div class="primary-sheet sub-tool-single-view workspace-right">
  <div class="sub-tool-single-view discussion">
    <header class="sub-tool-header">
      <div class="sheet-title"><%= default_discussions[1][1].html_safe %></div>
      <div class="metadata">EdisonPlan posted
        on <%= local_time active_product.created_at %></div>
    </header>

    <div class="on-sheet-discussion-view">
      <div class="tool-with-comment" style="padding-bottom: 30px;">
        <hr>
        <div class="discussion-subject">


          <p>Four pillars to implement the customer-driven approach:</p>

          <ol>
            <li>
              <strong style="margin-top: 10px">Strategy</strong>

              <p>Use the 15 key steps that make a powerful business
                <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= strategy_toolkit_path %>">strategy</span>
                based on Disciplined Entrepreneurship
                framework.</p>
            </li>
            <li><strong style="margin-top: 10px">Feedback</strong>

              <p>Get outdoors and gather customer insights and their
                <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= customer_insights_path %>">feedbacks</span>
                to refine the ideas and save on
                execution.</p></li>
            <li><strong style="margin-top: 10px">Product</strong>

              <p>Most comprehensive
                <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= make_path %>">product roadmap</span>
                integrating product strategy, customer feedback, and product
                specification.</p></li>
            <li>
              <strong style="margin-top: 10px">Customers</strong>

              <p>Beat the top pitfall of not reaching out to the customer and poor retention rate with early and
                continuous
                <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= step_href_path(15) %>">customer recruitment</span>.
              </p>
            </li>
          </ol>


        </div>
      </div>
    </div>
  </div>
</div>