<div class="home-container primary-sheet home">

  <div class="row">

    <div class="col-xs-4">

      <%= render 'static_pages/shared/user_product_profile' %>


      <div class="hyperlink" style="    margin-bottom: 20px;padding-left: 10px;" data-behaviour="open_in_new_tab" data-href="<%= markets_path %>">
        My Markets Overview
      </div>

      <%= render 'tab_views/partials/milestone_schedule' %>


      <%= render 'tab_views/partials/activity_feed' %>






      <div class="dashed-box">
        <div>team</div>
        <%= render 'memberships/team_members' %>
        <div style="font-size: .8rem;" class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= team_path %>">manage
          team
        </div>
      </div>

      <hr class="flush-left mini-break ">

      <ul class="home-sidebar-list">
        <li data-behaviour="open_in_new_tab" data-href="<%= products_dashboard_path %>">My products</li>
        <li data-behaviour="open_in_new_tab" data-href="<%= settings_path %>">Account settings</li>
      </ul>

      <hr class="flush-left mini-break ">

      <ul class="home-sidebar-list">
        <li><%= link_to sign_out_path do %>
              Sign Out
          <% end %></li>
      </ul>

    </div>


    <div class="col-xs-8" style="padding: 0 30px;">
      <div class="home-rhs">
        <div style="float: right; color: #bbb;cursor: pointer;    margin-right: -40px;"><%= fa_icon 'cog 2x', 'data-toggle' => 'modal', 'data-target' => '.dashboard-modal' %></div>
        <div class="modal dashboard-modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select a default dashboard</h4>
              </div>
              <div class="modal-body">

                <% dashboard_choices.each do |k, v| %>
                    <%= button_to dashboards_path(dashboard: {dashboard_ref: k}), remote: true, 'instant-select' => 'true', 'is-sibling' => 'select-dash-btn', class: "dashboard-select-btn #{'selected' if k == active_dash}" do %>
                        <%= v %>
                    <% end %>
                <% end %>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="home-front-page-enc">
          <%= front_page %>
          <%= render 'tab_views/partials/switch_view_footer' %>
        </div>

      </div>
    </div>


  </div>

</div>



