<% features = beachhead.features.all %>

<div class="make-view-sheet">

  <div class="row">
    <div class="col-xs-12">

      <div class="modal product-breakdown-modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Product Break Down</h4>
            </div>
            <div class="modal-body">
              <%= image_tag 'feature-tree.png', width: '100%' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-3">

          <h3 class="flush-top">Product Iteration</h3>

          <div>Roadmap for this release powered by customer insights</div>

          <div class="hyperlink" data-toggle="modal" data-target=".product-breakdown-modal">Show sample product
            breakdown
          </div>

          <% rp = beachhead.release_progress %>
          <div class="checklist-progress product-iteration" style="margin-top: 20px;">
            <div class="checklist-percent"><%= rp[2] %>%</div>
            <div class="checklist-progress-bar">
              <div class="inner" style="width: <%= rp[2] %>%;"></div>
            </div>
          </div>

        </div>
        <div class="col-xs-9">
          <header class="feature-list-header">
            <h3 class="heading flush-top" style="text-align: left;padding-left: 20px;">When am I releasing this
              version?</h3>

            <div>
              <div class="header-item">
                <div class="release-version metric" style="">
                  <div class="title">Release Version</div>
                  <div class="num input"><%= active_edit_if has_valid_access?, active_product, :release_version, placeholder: '1.0' %> </div>
                </div>
              </div>
              <div class="header-item">
                <div class="total-man-hours metric" style="">
                  <div class="title">Total Work Left</div>
                  <div class="num"><%= beachhead.total_man_hours > 0 ? "#{beachhead.total_man_hours} man hours" : 'auto-generated' %></div>
                </div>
              </div>
              <div class="header-item">
                <div class="hours-per-day metric" style="">
                  <div class="title">Man hrs per day</div>
                  <div class="num input"><%= active_edit_if has_valid_access?, active_product, :man_hours_per_day, numeric: true, placeholder: 'hours per day', suffix: ' hrs' %> </div>
                </div>
              </div>
              <div class="header-item">
                <div class="projected-completion-date metric" style="">
                  <div class="title">Projected Date</div>
                  <div class="num"><%= ldt(beachhead.projected_date) || ('auto-generated') %></div>
                </div>
              </div>
              <div class="header-item">
                <div class="target-completion-date metric" style="">
                  <div class="title">Release Date</div>
                  <div class="num input"><%= active_edit_if has_valid_access?, active_product, :target_release_date, type: :date, placeholder: 'date' %></div>
                </div>
              </div>
            </div>

          </header>

        </div>
      </div>

    </div>


  </div>


  <div style="margin-top: 20px;">

    <div class="row">
      <div class="col-xs-3" style="text-align: center;">
        <div data-behaviour="mirror_click" data-target=".new-feature-btn" style="display: inline-block;margin: 8px 0;">
          <div class="hyperlink">+ add a feature</div>
        </div>
      </div>
      <div class="col-xs-6" style="text-align: center;">
        <div class="'filter's-enc">
          <div class="filters">
            Filter:
            <div id="filter-ctrl">
              <div class="active-filter-desc" style="display: inline-block;">all</div>
              <span class="caret"></span>

              <div class="options">
                <% component_stages_filter.values.each do |stage| %>
                    <div class="filter">
                      <div class="apply-filter" data-filter-type="stage" data-filter-action="apply" data-filter="<%= stage[0].gsub(' ', '-') %>"><%= stage[1] %></div>
                      <div class="cancel-filter" data-filter-type="stage" data-filter-action="remove" data-filter="<%= stage[0].gsub(' ', '-') %>">×</div>
                    </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xs-3" style="text-align: right;">
        <% if beachhead.features.present? %>
            <div style="margin: 8px 0;" data-behaviour="toggle_target" data-target=".component-branch-body" data-shown-text="Collapse all components" data-hidden-text="Show all components" class="badge">
              Collapse all components
            </div>
        <% end %>
      </div>
    </div>

  </div>


  <% unless active_product.release_note_read %>
      <%= render 'tab_views/partials/make_first_time_notice' %>
  <% end %>



  <ul class="all-feature-list">
    <% features.each do |feature| %>
        <%= render 'features/feature_main_branch', feature: feature %>
    <% end %>
  </ul>

  <%= button_to_create 'add a feature', :feature, {feature_name: "Feature"}, {class: 'btn btn-link btn-xs new-feature-btn'} %>


</div>
<div class="col-xs-4" style="display: none;">

  <div class="sidebar">
    <div class="tool-reference">
      <%= render 'steps/result_pages/result/result_5' %>
      <%= step_link 'Explore persona details →', 5, class: 'hyperlink' %>
    </div>
    <hr class="mini-break">
    <div class="tool-reference">
      <%= render 'steps/result_pages/result/result_6' %>
      <%= step_link 'View the use case chart →', 6, class: 'hyperlink' %>
    </div>
    <hr class="mini-break">
    <div class="tool-reference">
      <%= render 'steps/result_pages/result/result_7' %>
      <%= step_link 'Go to the product spec →', 7, class: 'hyperlink' %>
    </div>
  </div>

</div>
</div>


</div>