<div class="product-overview">
  <div class="product-tree">

    <div class="product-name-header">
      <h3 class="flush-top flush-bottom"><%= active_edit active_product, :product_name %></h3>
      <%= link_to 'Revisit product onboarding', onboarding_path, style: 'position: absolute;top: 10px;right: 10px;color: white;' %>
    </div>
    <div class="white-text-snippet product-purpose2">
      <div class="mini-heading">purpose</div><%= active_edit active_product, :product_purpose, placeholder: "What is my product's purpose?" %>
    </div>
    <div class="white-text-snippet product-users">
      <div class="mini-heading"># of customers</div><%= active_edit active_product, :enduser_base, numeric: true %>
    </div>

  </div>

  <div class="market-branches">
    <% active_product.businesses.all.each do |business| %>
        <div class="market-branch-outer">
          <div class="market-branch <%= 'beachhead' if business.is_beachhead? %> <%= business.id %>">
            <div class="market-type-tag <%= 'beachhead' if business.is_beachhead? %>"><%= business.is_beachhead? ? 'Beachhead' : 'Follow on' %></div>
            <div class="market-name-header <%= 'beachhead' if business.is_beachhead? %>">
              <%= active_edit_if has_valid_access?, business, :business_name %>
              <div class="pull-right" style="margin-right: 10px;"><%= delete_object business %></div>
              <%= select_as_beachhead(business, 'designate as beachhead', class: 'btn btn-xs btn-primary select-bh') unless business.is_beachhead? %>
            </div>
            <div class="white-text-snippet diagnosis-results">
              <div class="mini-heading">health check
              </div><%= business.diagnosed? ? business.negative_results : content_tag(:span, 'Finish diagnosis to get the health check', 'data-behaviour' => 'open_in_new_tab', 'data-href' => step_href_path(2), class: 'hyperlink') %>
            </div>
            <div class="white-text-snippet market-users">
              <div class="mini-heading"># of customers
              </div><%= active_edit_if has_valid_access?, business, :enduser_count, numeric: true %></div>
          </div>
        </div>
    <% end %>
  </div>

  <div style="padding-left: 65px;margin-top: 30px;">
    <%= button_to_create '+ New Market', :business, {business_name: 'New Market'}, {class: 'btn btn-success'} %>
  </div>

</div>