<div id="workspace-right" class="primary-sheet  board-style ">

  <div style="width: 50%; margin: 20px auto;text-align: center;">
    <div>
      <h3>Small win path</h3>
      <hr class="mini-break">
      <h4>Series of milestones and targets of <%= ae_live_field active_product, :product_name %></h4>
    </div>
    <div>
      It can be a product release or a sales target. Measurable milestones such as "meet 10 customers to find out about
      the market", "release beta version 0.1", "recruit 100 customers" are better than generic milestones such as "Go
      out
      for market research", "Release the product", "Get customers".
    </div>
  </div>
  <div class="btn-container">
    <%= form_for_step(20) %>
  </div>

  <div class="investment-table-enc" style="width: 1020px; margin: 0 auto;">

    <% milestones = beachhead.main_activities.all %>

    <div class="boards-enc five">
      <% milestone_groups.each_with_index do |n, i| %>
          <div class="board ui-droppable <%= n[2] %>" data-stage="<%= n[0] %>">

            <div class="board-title"><%= n[1] %></div>
            <% milestones.for_stage(n).each do |main_activity| %>
                <%= render 'main_activities/main_activity_card', main_activity: main_activity %>
            <% end %>
          </div>
      <% end %>
    </div>


  </div>
</div>