<% unless active_product %>

    <style>
      .wrapper {
        height: calc(100% - 48px);
        height: -webkit-calc(100% - 48px);
        height: -moz-calc(100% - 48px);
      }
    </style>

<% end %>

<div class="products-container <%= 'hidden' unless active_product %>">
  <h3>My Products</h3>
  <ul class="products-list">
    <% products = current_user.products.all %>
    <% products.each do |product| %>
        <%= render 'products/new_product_list_item_rec', product: product %>
    <% end %>
    <li>
      <%#= button_tag '+ New Product', class: 'switch-product-btn new', data: {behaviour: 'show-new-prod-form'} %>
      <%= button_tag '+ New Product', class: 'switch-product-btn new', disabled: 'disabled', style:'position:relative' %>
      <span style="position: absolute;bottom: 10px;left: 23px;">(coming soon)</span>
    </li>
  </ul>

  <% shared_list = Product.find(Membership.where(member_email: current_user.email).pluck(:product_id)) %>
  <% if shared_list.present? %>
      <h3>Products shared with me</h3>
      <ul class="shared-products-list">
        <% shared_list.each do |product| %>
            <%= render 'products/new_product_list_item_rec', product: product %>
        <% end %>
      </ul>
  <% end %>

</div>



<div class="new-product-form-enc" style="display: <%= "block" unless active_product %> ;">


  <%= render 'dynamic_pages/onboarding/onboard_header', stage: 1 %>

  <div class="new-product-form">
    <%= form_for current_user.products.build, remote: false, html: {class: 'new-prod-form'} do |f| %>
        <h3>New Product</h3>
        <%= f.text_field :product_name, class: 'form-control', placeholder: 'My Product\'s name', maxlength: 50, autocomplete: 'off' %>
        <%= f.text_field :owner_role, class: 'form-control', placeholder: 'My role in this product. E.g. CEO/CTO', autocomplete: 'off' %>
        <div class="btn-container">
          <%= button_tag class: ' btn btn-success' do %>
              Create Product
          <% end %>
          <div class="btn btn-link" data-behaviour="cancel-prod-create">Cancel</div>
        </div>
    <% end %>
  </div>
</div>

