<div class="settings-container">

  <h3>Account Settings</h3>

  <div class="settings-panel">
    <div class="row">
      <div class="col-xs-4">
        <ul class="nav">
          <li data-toggle="tab" href="#settings_profile" class="active">Profile</li>
          <li data-toggle="tab" href="#settings_plan">Plan Info</li>
          <!--<li data-toggle="tab" href="#settings_notifications">Notifications</li>-->
          <li data-toggle="tab" href="#settings_cancel">Cancel Account</li>
        </ul>
      </div>
      <div class="col-xs-8">
        <div class="tab-content">
          <div id="settings_profile" class="tab-pane active">
            <div class="user-profile-item">
              <h5>full name</h5>

              <div><%= current_user.name %>
                <span data-behaviour="show_update_form" data-target="#account_update_name" class="hyperlink">change</span></div>
              <%= form_for(current_user, url: registration_path(current_user), html: {method: :put, class: 'account_udpate_form', id: 'account_update_name'}, remote: true) do |f| %>
                  <div class="field username">
                    <div class='error'></div>
                    <%= f.text_field :username, autocomplete: "off", class: "form-control normal-input", id: 'username', placeholder: 'Full Name' %>
                  </div>
                  <div class="field curr-password">
                    <div class='error'></div>
                    <%= f.password_field :current_password, autocomplete: "off", class: "form-control normal-input", id: 'curr_password', placeholder: 'Password' %>
                  </div>
                  <div class="btn-container">
                    <%= f.submit "Save changes", class: "btn btn-primary btn-xs acct-update-save-changes" %>
                    <div class="btn btn-xs btn-link" data-behaviour="cancel_account_update">Cancel</div>
                  </div>
              <% end %>
            </div>
            <div class="user-profile-item">
              <h5>email</h5>

              <div><%= current_user.email %>
                <span data-behaviour="show_update_form" data-target="#account_update_email" class="hyperlink">change</span></div>
              <%= form_for(current_user, url: registration_path(current_user), html: {method: :put, class: 'account_udpate_form', id: 'account_update_email'}, remote: true) do |f| %>
                  <div class="field email-id">
                    <div class='error'></div>
                    <%= f.email_field :email, autocomplete: "off", class: "form-control normal-input", id: 'email_id', placeholder: 'Email' %>
                  </div>
                  <div class="field curr-password">
                    <div class='error'></div>
                    <%= f.password_field :current_password, autocomplete: "off", class: "form-control normal-input", id: 'curr_password', placeholder: 'Password' %>
                  </div>
                  <div class="btn-container">
                    <%= f.submit "Save changes", class: "btn btn-primary btn-xs acct-update-save-changes" %>
                    <div class="btn btn-xs btn-link" data-behaviour="cancel_account_update">Cancel</div>
                  </div>
              <% end %>
            </div>
            <div class="user-profile-item">
              <h5>password</h5>

              <div>**********
                <span data-behaviour="show_update_form" data-target="#account_update_password" class="hyperlink">change</span></div>
              <%= form_for(current_user, url: registration_path(current_user), html: {method: :put, class: 'account_udpate_form', id: 'account_update_password'}, remote: true) do |f| %>

                  <div class="field new-password">
                    <div class='error'></div>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control normal-input", id: 'new_password', placeholder: 'New Password' %>
                  </div>
                  <div class="field curr-password">
                    <div class='error'></div>
                    <%= f.password_field :current_password, autocomplete: "off", class: "form-control normal-input", id: 'curr_password', placeholder: 'Current Password' %>
                  </div>
                  <div class="btn-container">
                    <%= f.submit "Save changes", class: "btn btn-primary btn-xs acct-update-save-changes" %>
                    <div class="btn btn-xs btn-link" data-behaviour="cancel_account_update">Cancel</div>
                  </div>

              <% end %>
            </div>
            <!--<div class="user-profile-item">-->
              <!--<h5>google account</h5>-->

              <!--<div class="btn btn-default">Click this button to link your google account</div>-->
            <!--</div>-->
          </div>

          <div id="settings_plan" class="tab-pane">
            <%= render 'users/registrations/plan_info' %>
          </div>

          <!--<div id="settings_notifications" class="tab-pane">-->
            <!--<div><%#= active_edit current_user, :receive_sitrep, type: :checkbox, url: '/users' %> Recieve Daily-->
              <!--Situation Report-->
            <!--</div>-->
            <!--<div>Preferred Time of Recieving-->
              <!--Email<%#= active_edit current_user, :preferred_time, type: :select, url: '/users', choices: email_time_slots %></div>-->
            <!--<div>Your Time-->
              <!--Zone<%#= active_edit current_user, :preferred_time_zone, type: :select, url: '/users', choices: timezones_with_offset %></div>-->
          <!--</div>-->

          <div id="settings_cancel" class="tab-pane">
            <p>Cancelling your account is irreversible.</p>
            <%= button_to "Cancel my account...", delete_account_path, class: "btn btn-danger delete-account", remote: true, tabindex: '-1' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>