<div class="row" style="width: 90%; margin:40px auto;">
  <div class="col-xs-3">
    <%= render 'tab_views/partials/steps_headings' %>
  </div>
  <div class="col-xs-9">
    <%= render 'tab_views/partials/steps_main' %>
  </div>
</div>







