<div class="canvas-view">

  <h3 class="flush-top" style="text-align: center;">My Strategy</h3>

  <div style="text-align: center;">
    <p>Consists of 15 Strategy solutions for 15 different problems</p>
  </div>


  <% _canvas_fields = canvas_fields %>

  <%= render 'tab_views/partials/canvas_controls' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane <%= 'active' if active_product.default_canvas == 1 %>" id="grid-view">
      <%= render 'tab_views/partials/canvas_list', _canvas_fields: _canvas_fields %>
    </div>

    <div role="tabpanel" class="tab-pane <%= 'active' if active_product.default_canvas == 0 || active_product.default_canvas.nil? %>" id="sheet-view">
      <%= render 'tab_views/partials/canvas_paper', _canvas_fields: _canvas_fields %>
    </div>

    <div style="text-align: center;">
      <p>
        Click on canvas view to set it as default. Canvas view is suitable for quick navigation.
      </p>
    </div>

  </div>
  <%= render 'tab_views/partials/canvas_controls' %>

</div>


