<div class="workspace-right" style="border-radius: 10px; width: 60%;     margin: 30px auto;">


  <section class="toolkit-list">

    <div class="title">Toolkit</div>

    <% STEP.each do |k, v| %>
        <%= render 'steps/partials/step_item', step_num: k, step_data: v %>
    <% end %>

  </section>


</div>