<div class="primary-sheet sub-tool-single-view workspace-right">
  <div class="sub-tool-single-view discussion">
    <header class="sub-tool-header">
      <div class="sheet-title"><%= default_discussions[0][1].html_safe %></div>
      <div class="metadata">EdisonPlan posted
        on <%= local_time active_product.created_at %></div>
    </header>

    <div class="on-sheet-discussion-view">
      <div class="tool-with-comment" style="padding-bottom: 30px;">
        <hr>
        <div class="discussion-subject">

          <p>Four business practices to overcome the major startup pitfalls</p>

          <ol>
            <li>Built a customer responsive business strategy.</li>
            <li>Get outdoors to meet customers and learn from them.</li>
            <li>Grow the product with the customer and not build it.</li>
            <li>Stick to early and continuous customer recruitment.</li>
          </ol>

          <p style="margin-top: 30px">EdisonPlan provides four tools to implement these best practices, everyday.</p>

          <div style="margin-top: 10px" class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= strategy_toolkit_path %>">Strategy</div>
          <div style="margin-top: 10px" class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= customer_insights_path %>">Feedback</div>
          <div style="margin-top: 10px" class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= make_path %>">Product</div>
          <div style="margin-top: 10px" class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= step_href_path(15) %>">Customers</div>


          <p style="margin-top: 30px">Explore them and win fast with the All New EdisonPlan</p>

          <p class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= home_path %>" style="margin-top: 30px">Go to the dashboard</p>


        </div>
      </div>
    </div>
  </div>
</div>