<div class="primary-sheet sub-tool-single-view workspace-right">
  <div class="sub-tool-single-view discussion">
    <header class="sub-tool-header">
      <div class="sheet-title"><%= default_discussions[2][1].html_safe %></div>
      <div class="metadata">EdisonPlan posted
        on <%= local_time active_product.created_at %></div>
    </header>

    <div class="on-sheet-discussion-view">
      <div class="tool-with-comment" style="padding-bottom: 30px;">
        <hr>
        <div class="discussion-subject">
          Many can aspire a startup, only few perspire to startup and stay.
          <br>
          <br>
          We at EdisonPlan love to support in helping the perspiring startups to be more healthier and successful
          through adopting the Customer-driven approach.
          <br>
          <br>
          Customer-driven approach starts with creating a business strategy, refining the ideas through feedback,
          executing the idea to make a product and reach and retain the customers.
          <br><br>
          We are right there to support you.
          <br>
          <br>
          Feel free to contact <span class="hyperlink" data-behaviour="new_feedback">Support</span>, if you need any
          assistance.
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>