<div class="modal fade referral-modal">
  <div class="modal-dialog center-modal-dialog modal-lg">
    <div class="modal-content clearfix">
      <div class="modal-header">
        <h4 class="modal-title">Give EdisonPlan to your friends and extend your trial</h4>
      </div>
      <%= form_tag refer_path, remote:true do %>
        <div class="modal-body">
          <span>You get 3 days of free usage for every friend you refer up to 5 friends.</span>
          <span>Share the following link with your friends and ask them to sign up using it:</span>
          <%= text_area_tag 'email_addresses', '', id: 'references-address', class:'form-control', placeholder:'enter emails separated by commas...' %>
        </div>
        <div class="modal-footer">
          <%= submit_tag 'Send', class:'btn btn-success send-referral-btn ', disabled:'disabled' %>
        </div>
      <% end %>
    </div>
  </div>
</div>








