<div class="signin-logo-enc row">
  <%= link_to root_path do %>
      <%= image_tag 'home-images/bulb.png', class:'logo-img' %>
  <% end %>
</div>
<div class="sign-in-outer-enc text-center">
  <div class="col-xs-4 sign-in-enc vtop nofloat">
    <div class="sign-in-left-inner">
      <h2 class="tit1 medium sign-page-title">Sign up</h2>
      <%= render 'users/registrations/new_registration_form' %>
    </div>
  </div>
</div>