<div class="card" data-object="experiment" data-url="<%= experiment_path experiment.id %>" data-card-id="<%= r = rand_string %>" data-behaviour="open_target_in_modal" data-target=".board-modal" data-toggle="modal">

  <div class="inner" data-target=".board-modal" data-toggle="modal">

    <div class="card-title">
      <%= ae_live_field experiment, :description %>
    </div>



    <div class="in-modal-content" data-modal-content-id="<%= r %>">

      <div class="board-modal-title">
        <%= active_edit_if has_valid_access?, experiment, :description, placeholder: 'Describe the experiment you want to do' %>
      </div>

      <div class='div-table'>
        <% experiment_fields.each do |fieldset| %>
            <div class="row">
              <div class="col-xs-4 table-header"><%= fieldset[0] %></div>
              <div class="col-xs-8"><%= active_edit_if has_valid_access?, experiment, fieldset[1], fieldset[2] %></div>
            </div>
        <% end %>
      </div>

    </div>
  </div>

</div>