<section class="experiment-section" id="<%= experiment.row_selector(false) %>">
  <article>
    <div class="table-label">experiment</div>
    <%= active_edit experiment, :description %>
    <%= delete_object experiment %>
  </article>
  <aside>
    <div class="table-label">cost</div>
    <%= active_edit experiment, :cost, placeholder: 'Cost of this experiment' %>
    <div class="table-label">validated if</div>
    <%= active_edit experiment, :validated_if %>
    <div class="table-label">actual outcome</div>
    <%= active_edit experiment, :result_note %>
    <div class="table-label">result</div>
    <%= active_edit experiment, :result, type: :select, placeholder: 'Result of experiment', choices: validation_range %>
  </aside>
</section>