<div class="exp-form-container">
  <% if has_valid_access? %>

      <button class='btn btn-link add-exp-link' data-target="<%= ".form-for-exp-#{assumption.id}" %>">+ Add an experiment</button>

      <%= form_for assumption.experiments.build, remote: true, html: {class: "resource-form form-for-exp-#{assumption.id}"} do |f| %>
          <%= f.text_field :description, placeholder: "Write an experiment", class: "normal-input", autocomplete:'off' %>
          <%= f.hidden_field :assumption_id, value: assumption.id  %>
          <%= button_tag "+", class: "add-submit", 'data-disable-with' => disabled_spinner %>
          <button type="button" class="close-exp btn btn-link" data-dismiss="modal">I'm done adding experiments</button>
      <% end %>


  <% end %>
</div>