(function () {

  $newRecord = $('<%= j render 'experiments/experiment_card', experiment: @experiment %>').hide();

  $('[data-assumption-id="<%= @experiment.assumption_id %>"]')
      .find('[data-stage="<%= @experiment.stage %>"]')
      .append($newRecord);

  $newRecord.slideDown('fast').trigger('click');

}).call(this);

