
$('.choice-btns-for-<%= @cx_step.id %> .choice-btn').removeClass('selected');

<% if @cx_step[:hurdle_type] %>
$('<%= @cx_step.button_selector(:hurdle_type) %>').addClass('selected');
$('<%= @cx_step.modal_link_selector(:hurdle_type) %>').html('<%= j @cx_step.hurdle_type %>');
<% end %>
