<div class="tool-section type-b" id="<%= object.row_selector(false) %>">
  <% step_name = object.underscored.to_sym %>
  <%= section_header index+1, object %>
  <div class="tool-child">
    <%= section_body object %>
    <%= section_break object.class.blueprint_for_section[:section_break_text] %>
    <% child_table = object.class.blueprint_for_section[:child_table] %>

    <% if child_table %>
        <% child_blueprint = child_table.to_s.camelize.constantize.blueprint_for_table %>
        <%= generate_table object, child_table, headers:child_blueprint[:headers] %>
        <%= render 'static_pages/shared/new_resource_form2', parent:object, resources: child_table, field: child_blueprint[:form_default_field], options: {placeholder:child_blueprint[:placeholder], hidden_field: instance_eval(':'+step_name.to_s+'_id'), hf_value: object.id} %>
    <% end %>

    <%= section_break object.class.blueprint_for_section[:section_break_text1] %>
    <% child_table2 = object.class.blueprint_for_section[:child_table1] %>
    <% if child_table2 %>
        <% child_blueprint = child_table2.to_s.camelize.constantize.blueprint_for_table %>
        <%= generate_table object, child_table2, headers:child_blueprint[:headers] %>
        <%= render 'static_pages/shared/new_resource_form2', parent:object, resources: child_table2, field: child_blueprint[:form_default_field], options: {placeholder:child_blueprint[:placeholder], hidden_field: instance_eval(':'+step_name.to_s+'_id'), hf_value: object.id} %>
    <% end %>
    <%= toolfooter %>
  </div>
</div>