<div class="card-modal-content-body">
  <div class="board-modal-title">
    <%= active_edit_if has_valid_access?, pricing_plan, :plan_name %>
  </div>
  <div class="board-modal-table">

    <div class="question-row">
      <div class="question-num"></div>
      <div class="table-header">Customer Group targeted by this Plan</div>
      <div class="white-text-snippet" style="padding: 4px 10px;display: inline-block;margin-top: 4px;"><%= active_edit_if has_valid_access?, pricing_plan, :cust_group, type: :select, choices: CUSTOMER_GROUPS %></div>
      <hr class="mini-break">
    </div>

    <div class="question-row">
      <div class="question-num"></div>
      <div class="table-header">Details of the pricing plan</div>
      <div class="" style="margin-top: 4px;">
        <div style="padding: 4px 10px;display: inline-block;" class="white-text-snippet"><%= active_edit_if has_valid_access?, pricing_plan, :product_price, {numeric: true, prefix: '$ ', placeholder: 'amount'} %></div>
        <div style="padding: 2px 10px;display: inline-block;" class="white-text-snippet"><%= active_edit_if has_valid_access?, pricing_plan, :billing_frequency, {type: :select, choices: {1 => 'per hour', 2 => 'per day', 3 => 'per week', 4 => 'per month', 5 => 'per annum'}, placeholder: 'frequency'} %></div>
        <div style="padding: 2px 10px;display: inline-block;" class="white-text-snippet"><%= active_edit_if has_valid_access?, pricing_plan, :invoice_timing, {type: :select, choices: {1 => 'before usage', 2 => 'after usage', 3 => 'during usage'}, placeholder: 'timing'} %></div>
      </div>
      <hr class="mini-break">
    </div>

    <div class="question-row">
      <div class="question-num"></div>
      <div class="table-header">Competitor price range</div>
      <div class="" style="margin-top: 4px;">
        <div style="display: inline-block;padding: 4px 10px; text-align: right;min-width: 100px;" class="white-text-snippet"><%= active_edit_if has_valid_access?, pricing_plan, :competitor_price_lb, {numeric: true, prefix: '$ ', placeholder: '$ 0'} %></div>
        -
        <div style="display: inline-block;padding: 4px 10px; text-align: right;min-width: 100px;" class="white-text-snippet"><%= active_edit_if has_valid_access?, pricing_plan, :competitor_price_ub, {numeric: true, prefix: '$ ', placeholder: '$ 0'} %></div>
      </div>
      <hr class="mini-break">
    </div>

    <div class="question-row">
      <div class="question-num"></div>
      <div class="table-header">Product's LTV under this plan</div>
      <div class="">
        <div style="display: inline-block;padding: 4px 10px; text-align: right;min-width: 100px;" class="white-text-snippet"><%= active_edit_if has_valid_access?, pricing_plan, :ltv, {numeric: true, prefix: '$ ', placeholder: '$ 0'} %></div>
      </div>
      <hr class="mini-break">
    </div>

    <div class="question-row">
      <div class="question-num"></div>
      <div class="table-header">Key Attractions of this plan</div>
      <div class="">
        <ul class="child-list" data-child="attraction" data-parent-id="pricing_plan_<%= pricing_plan.id %>">
          <% pricing_plan.attractions.each do |attraction| %>
              <li class=child-item><%= active_edit_if has_valid_access?, attraction, :attraction_name %></li>
          <% end %>
          <li><%= render 'static_pages/shared/new_resource_form2', parent: pricing_plan, resources: :attraction, field: :attraction_name, options: {placeholder: 'Include one more', hidden_field: :pricing_plan_id, hf_value: pricing_plan.id} %></li>
        </ul>
      </div>
      <hr class="mini-break">
    </div>

    <div class="question-row">
      <div class="question-num"></div>
      <div class="table-header">Key Defects in this plan</div>
      <div class="">
        <ul class="child-list" data-child="plan_defect" data-parent-id="pricing_plan_<%= pricing_plan.id %>">
          <% pricing_plan.plan_defects.each do |plan_defect| %>
              <li class="child-item"><%= active_edit_if has_valid_access?, plan_defect, :defect_name %></li>
          <% end %>
          <li><%= render 'static_pages/shared/new_resource_form2', parent: pricing_plan, resources: :plan_defect, field: :defect_name, options: {placeholder: 'Include one more', hidden_field: :pricing_plan_id, hf_value: pricing_plan.id} %></li>
        </ul>
      </div>
      <hr class="mini-break">
    </div>

  </div>
</div>
<div class="comments-for-<%= pricing_plan.id %>">
  <%= render 'comments/comment_thread', parent: pricing_plan %>
</div>