<div class="card" data-object="pricing_plan" data-url="<%= pricing_plan_path pricing_plan.id %>" data-card-id="<%= r = rand_string %>">
  <div class="inner" data-toggle="modal" data-target=".board-modal._<%= r %>">

    <div class="card-title">
      <%= ae_live_field pricing_plan, :plan_name %>
      <%= delete_object pricing_plan %>
    </div>
    <hr class="mini-break">
    <div class="card-info-item">
      LTV: $<%= ae_live_field pricing_plan, :ltv, placeholder: '0' %>
    </div>
  </div>

  <div class="board-modal _<%= r %> modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">


        <%= render 'pricing_plans/pricing_plan_modal_content', pricing_plan: pricing_plan %>

      </div>
    </div>
  </div>

</div>