<div id="workspace-right" class="primary-sheet sub-tool-single-view workspace-right pp-tab-item">
  <div class="tool-with-comment" data-pricing-plan-id="<%= @sub_tool_resource.id %>">
    <%= render 'pricing_plans/pricing_plan_modal_content', pricing_plan: @sub_tool_resource %>
  </div>
</div>