(function () {

  $newRecord = $('<%= j render 'pricing_plans/pricing_plan_card', pricing_plan: @pricing_plan %>').hide();

  $('[data-step-table-id="15"]')
      .find('[data-stage="<%= @pricing_plan.stage %>"]')
      .append($newRecord);

  $newRecord.slideDown('fast').trigger('click');

}).call(this);

