window.Ghost = {}

Ghost.Helpers =
  fillOut: (target, text) ->
    $(target).sendkeys(text)

  clickTarget: (target) ->
    $(target).trigger('click')

  requestScript: (script) ->
    $.getScript(script).done(->
      console.log "PASS: #{script} successfully fetched"
      return
    ).fail((data, textStatus, jqxhr)->
      console.log "FAIL: Error (#{data.status}: #{data.statusText}) when fetching #{script}"
      return
    )


Ghost.Tests =

  allSitePages: [
    '/canvas'
    '/make'
    '/toolkit'
    '/milestones'
    '/customer-interaction'
    '/chat'
    '/products'
    '/markets'
    '/welcome'
    '/four-pillars'
    '/top-pitfalls'
    '/discussions'
    '/to-do-lists'
    '/to-do-lists/archived'
    <% STEP.values.collect {|x| x[:name]}.each do |name| %>
    '<%= "/app/#{name.parameterize}" %>'
    <% end %>
  ]

  verifyRedirects: () ->


  verifyAppAccess: () ->
    Ghost.Helpers.requestScript(script) for script in @allSitePages

  openActiveEditAndEnterContent: ($target, inputContent) ->
    $form = undefined
    $.when($target.trigger('click')).done(->
      $form = $target.find('.active-edit-form')
      console.log "EVENT: Clicked ActiveEdit"
    ).done(->
      setTimeout(->
        $form.sendkeys('{selectall}')
        console.log "EVENT: Selected text in form"
      , 1000)
    ).done(->
      setTimeout(->
        $form.sendkeys('{backspace}')
        console.log "EVENT: Removed text from form"
      , 1000)
    ).done(->
      setTimeout(->
        $form.sendkeys("#{inputContent}")
        console.log "EVENT: New text inserted into form"
      , 1000)
    )



  cancelActiveEditTtext: ($target, originalText) ->
    newText = $target.find('.active-edit-form').val()
    $.when($target.find('[data-behaviour=cancel-edit]').trigger('click')).done(->
      console.log "EVENT: Cancelling form"
      setTimeout(->
        if originalText is newText
          console.log "PASS: Old text restored successfully"
        else
          console.log "FAIL: Old text could not be restored successfully"
      , 1000)
    ).done(->
      console.log "EVENT: Retrying entry"
    )
    undefined




  saveActiveEditTtext: ($target, inputContent) ->
    newText = $target.find('.active-edit-form').val()
    $.when($target.find('[data-behaviour=complete-edit]').trigger('click')).done(->
      console.log "EVENT: Submitting form"
      setTimeout(->
        if inputContent is newText
          console.log "PASS: New text displayed"
        else
          console.log "FAIL: New text could not be displayed"
      , 1000)
    )
    undefined



  testActiveEditText: (inputContent = "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?") ->
    $target = $('.active-edit.text-field:first')
    originalText = $target.text()

    $form = undefined
    newText = undefined

    $.when($target.trigger('click')).done(->
      $form = $target.find('.active-edit-form')
      console.log "EVENT: Clicked ActiveEdit"
    ).done(->
      $form.sendkeys('{selectall}')
      console.log "EVENT: Selected text in form"
    ).done(->
      $form.sendkeys('{backspace}')
      console.log "EVENT: Removed text from form"
    ).done(->
      $form.sendkeys("#{inputContent}")
      console.log "EVENT: New text inserted into form"
    ).done(->
      $target.find('[data-behaviour=cancel-edit]').trigger('click')
    ).done(->
      newText = $target.find('.active-edit-form').val()
      console.log "EVENT: Cancelling form"
      if originalText is newText
        console.log "PASS: Old text restored successfully"
      else
        console.log "FAIL: Old text could not be restored successfully"
    ).done(->
      console.log "EVENT: Retrying entry"
    ).done(->
      $target.trigger('click')
    ).done(->
      $form = $target.find('.active-edit-form')
      console.log "EVENT: Clicked ActiveEdit"
    ).done(->
      $form.sendkeys('{selectall}')
      console.log "EVENT: Selected text in form"
    ).done(->
      $form.sendkeys('{backspace}')
      console.log "EVENT: Removed text from form"
    ).done(->
      $form.sendkeys("#{inputContent}")
      console.log "EVENT: New text inserted into form"
    ).done(->
      newText = $target.find('.active-edit-form').val()
      $target.find('[data-behaviour=cancel-edit]').trigger('click')
    ).done(->
      console.log "EVENT: Submitting form"
      if inputContent is newText
        console.log "PASS: New text displayed"
      else
        console.log "FAIL: New text could not be displayed"
    )









