<tr class='<%= 'user-created-row' if index >= admin_input_count %>' id="key_activity_<%= key_activity.id %>">
  <td>
    <%= best_in_place_if (index >= admin_input_count), key_activity, :activity_name, :place_holder => "", :inner_class => "bip_input_box" %>
    <%= delete_object(key_activity) if index >= admin_input_count %>
  </td>
  <td><%= best_in_place_if has_valid_access?, key_activity, :target_date, :as => :date, :place_holder => 'Target date', display_with: lambda { |dt| ldt(dt) }, class: 'date-in-place', inner_class: 'bip_input_box' %></td>
  <td><%= render 'static_pages/shared/text_modal_content_package', object: key_activity, field: 'effort', identifyer:'s6c2', index: index, max_hint: 5, number_field: true %></td>
  <td><%= render 'static_pages/shared/text_modal_content_package', object: key_activity, field: 'materials', identifyer:'s6c3', index: index, max_hint: 5 %></td>
  <td><%= render 'static_pages/shared/text_modal_content_package', object: key_activity, field: 'capital', identifyer:'s6c4', index: index, max_hint: 5, number_field: true %></td>
</tr>




