.broadcast {

  .dropdown-menu {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-right: -20px;
    cursor: default;

    .inner {
      background-color: white;
      width: 350px;
      padding-bottom: 0;

      box-shadow: 0 6px 8px 1px $grey-dark;

      li {
        padding: 5px 10px;
        border-bottom: 1px solid $grey-super-light;
        cursor: default;

      }

      .form-li {
        background-color: $blue-alice;
        border: none;
        text-align: center;
        padding-bottom: 10px;
      }

      .chat-user-name {
        color: $grey72;
        font-size: 13px;
      }

      .chat-msg-content {
        font-size: 16px;
        margin-top: 4px;
        color: #545454;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

  }

  &:hover {
    .dropdown-menu {
      display: block;
      margin-top: 0;
    }

  }

}

.new-message-form-enc {
  textarea {
    resize: none;
  }

  .see-all-chat {
    margin-top: 12px;
  }
}

.chat-panel {

  .messages-list-enc {
    height: 500px;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    overflow-y: auto;

    .show-older {
      color: $blue-primary;
      text-align: center;
    }
  }
  .messages-list {
    list-style-type: none;
    padding: 0;
  }

  .message-list-item {
    min-height: 50px;
    margin: 10px 0 20px 0;
    position: relative;
    padding: 0 0 0 50px;

    &.me {
      text-align: right;
      padding: 0 50px 0 0;

      .profile-icon-enc {
        left: auto;
        right: 0;
      }
      .chat-msg-content {
        background-color: $blue-alice;
      }
    }

    .profile-icon-enc {
      width: 50px;
      position: absolute;
      vertical-align: middle;
      left: 0;
      right: auto;
    }

    .message-enc {
      width: 80%;;
      display: inline-block;
      vertical-align: middle;
    }

    .chat-msg-content {
      background: $grey-super-light;
      padding: 5px 10px;
      border-radius: 5px;
      display: inline-block;
      text-align: left;
      .timestamp {
        color: $grey-dark;
        font-size: 11px;
        margin-top: 6px;
      }
    }
  }

  .chat-form {
    padding: 10px;
    border-top: 1px solid $blue-alice;
    background-color: $blue-alice;

    .see-all-chat {
      display: none;
    }
  }
}