.new-cust-feedback-form {
  @include paper-style-cs(0, 100%, 30px);
}
.new-feedback-on-tab {

  width: 550px;
  margin: 0 auto;
  .modal-footer {
    border: none;
  }
  .btn-container {
    text-align: center;
    .btn-primary {
      @extend .btn-lg;
    }
  }
  .collapse-target {
    display: none;
  }

  h2 {
    color: $purple;
    text-align: center;
  }
}

.customer-feedback {
  background: white;
  padding: 10px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1);
  border-radius: 4px;
  margin-bottom: 20px;

  .feedback-header {
    padding-bottom: 8px;
    border-bottom: 1px dotted $grey-dark;
  }

  &.addressed {
    background-color: $grey-super-light;
  }

  //&:hover {
  //  background-color: $blue-alice;
  //}

  .comments {
    width: 100%;
  }

  .fa-star, .fa-star-o {
    color: $gold;
  }

}

.feedback-criticality {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: $small;
  background-color: $info-btn-blue;
  color: $white;
  &.checked {
    background: $danger-btn-red;
  }
}

.feedback-status {
  padding: 2px 8px;
  border-radius: 3px;
  font-size: $small;
  //background-color: lighten($danger-btn-red, 20%);
  color: $white;

  &.completed {
    background: lighten($success-btn-green, 20%);
  }
  &.scheduled {
    background: lighten($success-btn-green, 20%);
  }
  &.unaddressed {
    background: lighten($danger-btn-red, 20%);
  }
  &.disregarded {
    background: lighten($primary-btn-blue, 20%);
  }

}

.feedback-origin {
  display: inline-block;
  line-height: 2rem;
}

.feedback-status-ind {
  display: inline-block;
  //float: right;
}

.comment-count {

}

.new-customer-feedback-form-enc {

  .full-form-content {
    //display: none;
  }

  &.expanded {
    .full-form-content {
      display: block;
    }
  }
}

.tool-reference {
  padding: 10px;
  margin: 20px 0;
  background-color: $grey-medium-light;
  border-radius: 4px;
  .hyperlink {
    text-align: right;
    margin-top: 10px;
  }

}

.ui-autocomplete {
  list-style-type: none;
  padding: 0px;
}

.dropdown {
  .fa-star, .fa-star-o {
    color: $gold;
  }
}

.feedback-tab-item {


  .feedback-body {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1) !important;
  }


}


.feedback-modal, .feedback-tab-item {

  .modal-content {
    background: $blue-fb;
  }
  .modal-title {
    margin: 0;
    line-height: 50px;
    text-align: left;
    color: black;
    font-size: $large;
  }

  .status-tag {
    display: inline-block;
    padding: 2px 10px;
  }

  .modal-body {
    font-size: $regular;
  }

  .feedback-body {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .1);
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
    background: white;
    min-height: 100px;
  }

  .modal-footer {
    text-align: initial;
  }

  .feedback-prop-section {
    margin-top: 10px;
  }
  .feedback-prop-title {
    font-weight: bold;
    font-size: $small;
  }

  .btn-container {
    text-align: left;
    margin-top: 5px;
    display: inline-block;
  }

}

.dd-tag {
  color: black;
  border-radius: 2px;
  padding: 3px 10px;
  margin: 4px 0;
  font-size: $small;
  display: inline-block;
  border: 1px solid darkgrey;

  &.blue {
    background-color: #00c2e0;
  }

  &.green {
    background-color: #61bd4f;
  }

  &.light-green {
    background-color: #51e898;
  }

}

.feedback-ref-tag {
  font-size: $small;
  margin-left: 10px;
}

.new-cust-feed-trigger {
  border: 2px dashed lightgrey;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  color: #666;
  cursor: pointer;
}

.customer-insights-on-front-page {
  .feature-list-header .header-item {
    width:140px;
    .metric {
      padding: 0;
    }
  }

}