.discussions.primary-sheet {
  width: 80%;
  padding-bottom: 30px;
  min-height: 600px;

}

.discussions-container {
  position: relative;
  h4 {
    color: $blue-primary;
    .btn {
      float: right;
    }
  }

  .tool-card {
    cursor: pointer;
  }

  .activity-list {
    list-style-type: none;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 570px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .discussion-list-item {
    min-height: 65px;
    font-size: 14px;

    .metadata {
      margin-bottom: 0;
      font-size: 12px;
      .posted-by {
        display: none;
      }
    }
    .dl-discussion-content {
      -webkit-line-clamp: 2;
    }

  }

  .see-more {
    color: #218ce7;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
  }

}

.discussions-on-sheet {
  width: 90%;
  margin: 0 auto;

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.discussion-list-item {
  cursor: pointer;
  border-bottom: 1px solid $grey-medium-light;
  padding: 7px;
  line-height: 24px;
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  &.unread {
    background-color: $blue-alice;

  }

  .profile-icon {
    margin: 0;
  }

  .dl-discussion-content {
    @include text-ellipsis(24px, 1, 3);
    div {
      display: inline-block;
    }
  }

}

#new-discussion-form-enc {
  //display: none;
}

.board-style {
  .discussions-enc {
    width: 650px;
    padding: 20px;
    text-align: initial;
  }
}

.discussions-enc {
  background-color: #F5EFE6;
  padding: 20px 100px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;

  .comments {
    width: 100%;
  }
}

.discussion-form, .comment-form {

  &.new {
    width: 60%;
    margin: 0 auto;

    .discussion-sheet {
      @include paper-style-cs(30px, 100%, 0);
      min-height: 400px;
      trix-toolbar {
        display: none;
        position: fixed;
        width: 450px;
        .code, .block_tools, .history_tools {
          display: none;
        }
      }

      trix-editor {
        border: 0;
        border-radius: 0;
      }
    }

    .emails {
      text-align: center;
      margin: 10px auto;
      span {
        color: $grey-9;

      }
    }

    .form-control {
      border: none;
      border-bottom: 1px solid $grey-dark;
      border-radius: 5px 5px 0 0;
      font-size: 20px;
      height: 50px;
      box-shadow: none;
      background-color: transparent;
      font-weight: 700;
    }

    .trix-container {
      display: block;
      margin-top: 0;
      border: none;
      border-radius: 0 0 5px 5px;
    }

    trix-editor {
      padding-top: 20px;
      font-size: 16px;
      background-color: transparent;
    }

    //trix-toolbar {
    //  border-top: 1px solid $grey-dark;
    //  opacity: .4;
    //  &:hover {
    //    opacity: .8;
    //  }
    //}

    .btn-container {
      margin-top: 20px;
    }

  }

  .trix-container {
    display: none;
  }

  .btns {
    display: none;
    margin-top: 10px;
  }

  #discussion_title {
    margin-top: 4px;
  }

  .collapsed-content {
    display: block;
  }

  &.expanded {
    .trix-container {
      display: block;
      margin-top: 5px;
    }
    .btns {
      display: block;
      text-align: left;
    }

    .collapsed-content {
      display: none;
    }
  }

}

.bubble-style {
  padding: 10px;
  @include border-radius(5px);
  //background-color: $blue-alice;
}

.discussion-content {
  @extend .bubble-style;
  h4 {
    margin-top: 5px;
    margin-bottom: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid $grey-dark;
  }
  div {
    line-height: 22px;
  }

  time {
    font-size: 11px;
    color: $grey-super-dark;
  }
}

.discussion-item {
  .comment-thread, .comment-form {
    padding-left: 60px;
  }

}

.comments {
  width: 650px;
  text-align: left;
}

.comment-thread {
  list-style-type: none;
  padding: 0;
}

.comment-content {
  @extend .bubble-style;
  time {
    font-size: 11px;
    color: $grey-super-dark;
  }
}

.comment-item {
  margin: 15px 0;
}

.comment-form {
  padding: 0;
  margin: 15px 0;
}

.faux-comment-btn {
  cursor: text;
  border: 1px solid $grey-dark;
  padding: 10px;
  background-color: $white;
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  color: $grey-super-dark;
}

.trix-container {

  background-color: $white;
  border: 1px solid $grey-dark;
  border-radius: 5px;

  trix-toolbar {
    border-bottom: 1px solid $grey-dark;
    width: 100%;

    .button_groups {
      height: 28px;
    }

    .button_group {
      margin: 0;
      border: 0;
      border-radius: 0;

      button {
        border: 0;

        &.bold {
          border-radius: 5px 0 0 0;
        }
        &.redo {
          border-radius: 0 5px 0 0;
        }
      }

      &.text_tools {
        border-right: 1px solid $grey-dark;
        float: left;
      }

      &.history_tools {
        float: right;
      }

    }
  }

  trix-editor {
    border: 0;
    border-radius: 0;
  }

}

.on-sheet-discussion-view {
  hr {
    margin-top: 10px;
  }
  .discussion-subject {
    padding: 0 20px;
  }
  .comments {
    width: 100%;
    .trix-container {
      margin-top: 0;
    }
  }
}

[data-tool=discussions][data-id] {

  .metadata {
    .profile-icon {
      margin-right: 10px;
    }
    line-height: 40px;
  }

}

.fp-discussion {
  padding: 10px 80px 10px 40px;
  position: relative;
  font-size: $regular;
  border-top: 1px solid #ddd;

  &:hover {
    background-color: white;
  }

  .fp-discussion-title {
    @include text-ellipsis(21px, 1, 0);
    max-height: 21px;
  }

  .profile-icon {
    position: absolute;
    left: 0;
    top: 4px;
  }
  .fp-timestamp {
    position: absolute;
    right: 0;
    top: 13px;
    font-size: $small;
  }
  .fp-comment-count {
    position: absolute;
    right: 58px;
    top: 13px;
    font-size: $small;
    background-color: lightgrey;
    border-radius: 2px;
    width: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
  }
}

.one-time-discussion {

}

.modal {
  .comments {
    width: 100%;
  }
}

.discussion-index-table {

  @include set-col-width(30px 100px 450px 50px 100px);

  .who {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }

  td {
    vertical-align: middle !important;
  }

  .comment-count-bubble {
    background: $blue-light;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    line-height: 25px;
    text-align: center;
    color: white;
  }

  .timestamp {
    color: $grey-super-dark;
    font-size: 13px;
  }

}