#new-note-form-enc {
  //display: none;

  .btn-container {
    margin-top: 30px;
  }
}

.notes-section-title {
  color: $purple;
}

.note-sheet {
  padding: 50px 240px;
  min-height: 650px;
  background-color: $white;
  trix-editor {
    border: none;
    padding: 20px 0 0 0;
    font-size: $large;
    line-height: 30px;
    font-family: $quote-font-stack;
    color: $grey54;

  }
  trix-toolbar {
    display: none;
    position: fixed;
    width: 450px;
    .code, .block_tools, .history_tools {
      display: none;
    }
  }
}

.note-view-enc {
  form {
    margin-top: 30px;

    .btn {
      margin-top: 30px;
      &.btn-link {
        margin-left: 30px;
      }
    }
  }
}

.notes-on-sheet {
  margin: 0 auto;
  padding: 0 5%;
  font-size: $regular;
  line-height: 26px;
  .note-list-item {
    cursor: pointer;
  }
  .metadata {
    color: $grey-super-dark;
    margin-top: 5px;
    font-size: $small;
  }
  .note-title {
    font-weight: bold;
    font-size: $large;
    margin-bottom: 10px;
  }
}

.on-sheet-note-view {
  font-size: $regular;
  line-height: 25px;

  .note-content {
    padding: 0 20px;
  }

  li {
    margin: 5px 0;
  }

}

.archive-note-btn {
  @extend .transparent-btn;
}

.note-title-input {
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: $trump;
  width: 100%;
}

.note-updates {
  left: 45%;
  right: 0;
  position: fixed;
  top: 70px;
  padding: 2px 24px;
  border-radius: 20px;
  width: 10%;
  text-align: center;

  &.active {
    background: rgba(0, 0, 0, .4);
    color: white;
  }
}

.note-controls {
  position: fixed;
  right: 70px;
  top: 140px;

  .note-button {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-primary;
    @include outline-style($primary-btn-blue);

  }

}

.draft-notice {
  background-color: lighten($info-btn-blue, 35%);
  line-height: 40px;
  form {
    display: inline-block;
  }
}