.new-sub-tool-form-enc {
  h2 {
    color: $purple;
    text-align: center;
  }
  .cancel-and-back {
    text-align: center;
    margin: 5px auto;
    cursor: pointer;
  }
}

.tool-options-list {
  @extend .list-inline;
  li {
    cursor: pointer;
  }
}

.sub-tool-header {
  padding: 20px 0;
  text-align: center;

  .sheet-title {
    color: $purple;
    font-size: 22px;
    margin-bottom: 10px;
  }
}

.sub-tool-single-view {
  width: 760px;
  margin: 30px auto;

  .close {
    display: none;
  }
  .modal-footer {
    padding: 0;
    border: none;
  }
  .comments {
    margin-top: 0;
  }

}

.sub-tool-index {
  min-height: 600px;
  width: 760px;
  margin: 30px auto;

  &.discussions {
    width: 900px;
  }

}

.secondary-sheet {
  .sub-tool-header {
    padding: 20px 0;
  }

  .comments {
    background: transparent !important;
  }
}

.tool-body {
  margin: 0;
}

.sub-tool-empty-state {
  //text-align: center;
  margin-top: 40px;
  .title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .list {
    text-align: left;
    display: inline-block;
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    li {
      margin: 5px 0;
    }
  }
}

.tool-with-comment {
  margin: 0 auto;
  margin-bottom: 0;
  font-size: 16px;

  & > hr {
    margin-top: 10px;
  }

  .comments {
    margin-top: 40px;
    padding: 10px 70px;
    background: #F5EFE6;
    width: 100%;
    .trix-container {
      margin-top: 0;
    }
  }
}

.discussion-enc, .notes-enc, .to-do-lists-enc {
  min-height: 600px;

  .sheet-add-btn {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-xs;
  }
  .metadata {
    color: $grey-super-dark;
  }
}