
#new-to-do-list-form-enc {
  //display: none;
  width: 50%;
  margin: 50px auto;

  #new-task-form {
    @include paper-style-cs(20px, 100%, 40px);

    #task_name, #user_task_task_description {
      background-color: transparent;
      font-size: 24px;
      border: none;
      border-bottom: 1px solid $grey-light;
      width: 100%;
      margin-bottom: 5px;
      &:focus {
        outline: none;
      }

    }

    #user_task_task_description {
      border: none;
      font-size: 14px;
      resize: none;
    }

  }
}

.tasks-lists-container {
  padding: 0 5% 30px 5%;
  font-size: 14px;

  .to-do-list {
    margin-top: 40px;
  }

  .to-do-description {
    margin: 8px 0 14px 0;
  }
}

.user_tasks_subtasks_view {
  .to-do-list {
    margin: 0;

    h4 {
      font-size: 20px;
    }

    .sub-tasks-list {
      margin-bottom: 0;
    }

    .add-to-do-link {
      display: none;
    }

    .resource-form {
      display: block;
    }

    .close-to-do {
      display: block;
    }

  }

}

.close-to-do {
  display: none;
}

.sub-task-form-container {
  padding: 0;

  .resource-form {
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    .form-list-item {
      @extend .sub-task-rec;
      //.fa-square-o {
      //  color: $grey-dark;
      //  font-size: 18px;
      //  line-height: 36px;
      //}
    }
    .normal-input {
      border: none;
      box-shadow: none;
      width: 100%;
      font-size: 14px;
      padding: 0;
      height: initial !important;

    }
  }
}

//.to-do-lists-enc {
//
//}

.sub-task-rec {
  .sub-task-inner {
    cursor: pointer;
  }
  .sub-task-check-box {
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .fa-square-o {
    color: $grey-dark;
    font-size: 18px;
    line-height: 26px;
  }

  font-size: $regular;
  position: relative;
  border-bottom: 1px solid $grey-light;
  padding: 5px 5px 5px 40px;
  line-height: 20px;

  .sub-task-data {
    font-size: $small;
    color: #666;
    margin-top: 5px;
  }

  .sub-task-delete {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .star-task {
    position: absolute;
    left: -10px;
    top: -1px;
  }

  .col-xs-1 {
    text-align: center;
  }

  .col-xs-10 {
    padding-left: 0;
  }

  .todo-options-panel {
    background-color: #eee;
    padding: 0px 9px;
    border-radius: 4px;
    font-size: $small;
    margin-left: 40px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    line-height: initial;
    text-align: center;
    z-index: 1;
    display: inline-block;
  }

  &.complete {
    .sub-task-title {
      text-decoration: line-through;
      color: #777;
    }
    .sub-task-data {
      display: none;
    }
  }

  &.unset {
    .todo-options-panel {
      display: none;
      &.has-baloon {
        display: inline;
      }
    }

    &:hover {
      .todo-options-panel {
        display: inline;
      }
    }
  }

  .active-edit-date-form {
    font-size: 12px;
    line-height: 12px;
    width: 85px;
  }

  &:before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    position: absolute;
  }

  &.overdue:before {
    background-color: $danger-btn-red;
  }

  &.ongoing:before {
    background-color: $info-btn-blue;
  }

}

.add-to-do-link {
  margin-left: 27px;
  color: $grey-super-dark !important;
}

.to-do-list-title {
  color: $purple;
  margin-bottom: 0;
  position: relative;
  a {

    cursor: pointer;
    position: absolute;
    left: -30px;
    top: 3px;

  }

  .archive-task-form {
    float: right;
    display: none;
    margin-right: 15px;
  }

  .comment-note {
    background-color: $grey-super-light;
    padding: 2px 9px;
    border-radius: 15px;
    font-size: 12px;
    display: inline;
  }

  &:hover {
    .archive-task-form {
      display: inline-block;
    }
  }
}

.archive-user-task {

  &.warning {
    @extend .btn;
    @extend .btn-warning;
    @extend .btn-xs;
    @include outline-style($warning-btn-orange);
  }

  &.plain {
    @extend .transparent-btn;
  }
}

.sub-tasks-list {
  list-style-type: none;
  padding: 0;
}

.archive-task-form {
  display: inline-block;
}

.completed-todos-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.options-list {
  padding: 0;
  list-style-type: none;
}

.todo-filter-tabs {
  @extend .list-inline;
  border-bottom: 1px solid $grey-dark;
  text-align: center;
  border-top: 1px solid $grey-dark;
  padding: 5px 0;
  margin: 0;

  li {
    cursor: pointer;
    margin-bottom: -1px;
    line-height: 26px;
    margin-right: 10px;
    padding: 0 9px;
    border: 1px solid transparent;

    &.active {
      border-radius: 5px;
      background-color: lighten($purple, 40%);
    }
  }
}

.do-today-btn-form {
  position: absolute;
  right: 10px;
  top: 2px;
  .do-today-btn {
    display: none;
    background-color: transparent;
    border: none;
    color: $grey-super-dark;

    &.off:hover {
      color: $warning-btn-orange;
    }

    &.on {
      display: inline-block;
      color: $warning-btn-orange;

      &:hover {
        color: $grey-super-dark;
      }
    }

    &:before {
      content: "\f08d";
      font-family: FontAwesome;
    }
  }
}

.show-archived-btn {
  position: absolute;
  top: 40px;
  right: 10px;
}

.time-metric-col {
  display: inline-block;
  width: 32%;

  h5 {
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    &.active {
      border-bottom: 3px solid $purple;
    }
  }
}

.time-estimates {
  text-align: center;
}

.time-metric-box {
  display: inline-block;
  width: 300px;
}

.sidebar-list-enc {
  position: fixed;
  top: 140px;
  overflow-x: auto;
  overflow-y: auto;
  height: 400px;
  width: 230px;
  right: 100px;

  .sidebar-list {
    padding: 0;
    list-style-type: none;
    li {
      height: 30px;
      line-height: 30px;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      padding: 4px 8px;
      &:hover {
        font-weight: bold;
      }
    }
  }
}

.sub-task-modal, .sub-task-tab-item {

  .modal-content {
    background: $blue-fb;
  }
  .modal-header {
    border: none;
  }

  .to-do-title {
    padding: 10px 10px 10px 50px;
    position: relative;
    margin: 10px 0;
    font-size: $larger;
  }

  .to-do-checkbox {
    position: absolute;
    left: 10px;
    top: 13px;

    .active-check-box {
      font-size: 2rem;
    }
  }
}

.sub-task-tab-item {

  .to-do-checkbox {
    top: 4px;
  }

}
