.assumption-sheet {
  margin: 0 auto;
  width: 50%;
}

.sub-tool-single-view.assumption {
  .sheet-title {
    width: 80%;
    font-size: 20px;
  }
}

.assumptions-on-sheet {
  width: 70%;
  margin: 0 auto;
}

#new-assumption-form-enc {

}

.validation-sheet {
  width: 85%;
  margin: 0 auto;
}

header.no-border {
  border: none !important;
}

.assumption-list-item {
  position: relative;
  width: 30%;
  height: 220px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 4px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  background: white;

  &.locked {
    .inner {
      -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
      filter: blur(4px);
    }
  }

  .locked-overlay {
    position: absolute;
    background-color: rgba(255,255,255, .8);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    color: $grey54;
  }
}

.assumption-title {
  font-size: 16px;
  margin-top: 20px;
  color: black;
  padding-left: 10px;
}

.asslink {
  cursor: pointer;
}

.experiments_ongoing {
  border: 2px solid $blue-primary;
  color: $blue-primary;
}

.validated_with_experiments {
  border: 2px solid $success-btn-green;
  color: $success-btn-green;
}

.invalidated_with_experiments, .not_yet_validated {
  border: 2px solid $danger-btn-red;
  color: $danger-btn-red;
}

.assumption-result {
  width: 250px;
  height: 35px;
  line-height: 29px;
  margin: 10px auto;
  border-radius: 5px;
  .dropdown-menu {
    color: initial;
    opacity: 1;
  }

}

.experiment-table {
  margin-top: 30px;
  section {
    border-top: 1px solid lightgray;
    margin-top: 10px;
    article {
      width: 40%;
      display: inline-block;
      vertical-align: top;
    }
    aside {
      padding-left: 10px;
      padding-bottom: 10px;
      border-left: 1px solid lightgray;
      display: inline-block;
      width: 59%;
    }
  }
}

.label-tags-enc {
  margin-top: 10px;
  text-align: center;
}

.label-tag {
  padding: 2px 9px;
  border-radius: 4px;
  font-size: 12px;
  display: inline;
  margin-right: 10px;
  background-color: $grey-super-light;

}

.assumption-view-enc {
  padding: 0px 20px;
  .resource-form {
    display: none;
  }
}

.table-label {
  font-size: 90%;
  font-weight: bold;
  margin-top: 20px;
}

.exp-form-container {
  margin-top: 30px;
}

.archive-assumption-form {
  display: inline-block;

}

.archive-assumption-btn {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-warning;
  @include outline-style($warning-btn-orange);
  margin-left: 10px;
}

.wizard {

  margin-top: 0;

  .modal-dialog {
    margin: 0 auto;
    height: 100%;
    width: 90%;
  }

  .modal-header {
    .btn-link {
      position: absolute;
      right: -230px;
      top: 30px;
    }
  }

  .modal-body {
    padding-top: 0;
  }

  .modal-footer {
    padding-bottom: 470px;
  }

  .modal-header, .modal-footer {
    background-color: $white !important;
    color: $blue-secondary !important;
    text-align: left !important;
    font-size: 24px !important;
    font-weight: bold;
    border: none;

  }

  .modal-content {
    box-shadow: none;
    height: 100%;
    padding: 50px;
    border: none;
    width: 840px;
  }

}

.first-exp-form-enc {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  h4 {
    color: $brown;
  }
  .form-control {
    font-size: 16px;
    resize: none;
    margin: 20px 0;
    height: 100px;
  }

}