<%= form_tag form_action, id: "payment-form" do %>



    <div class="card-details-enc">

      <span class="payment-errors"></span>

      <!--<h5>Card Information</h5>-->
      <div class="payment-row">
        <p class="card-name-enc"><%= text_field_tag 'name_on_card', nil, :class => "normal-input card-name", placeholder: 'Name on Card' %></p>
      </div>

      <div class="secure-area">
      <p class="card-num-enc"><%= telephone_field_tag nil, nil, name: nil, :data => {:stripe => 'number'}, :class => "normal-input cc-num card-num", placeholder:'Card number' %><span class="card-logo"></span></p>

      <div class="clearfix attached-details-enc row">
        <div class="col-xs-4 expiry-date-enc"><%= telephone_field_tag nil, nil, name: nil, :placeholder => "MM/YYYY", size: 6, :data => {:stripe => 'exp-month'}, :class => "normal-input cc-exp" %></div>
        <div class="col-xs-3 cvv-enc"><%= telephone_field_tag nil, nil, name: nil, :placeholder => "CVC", :data => {:stripe => 'cvc'}, class: "normal-input cc-cvc" %></div>
        <div class="col-xs-5 secure-icon">
          <i class="fa fa-question-circle" data-placement="right" data-toggle="tooltip" title="The security code is a 3 or 4 digit code printed on your credit card. We require this code as a security measure to our customers. Requiring this information helps to ensure that the credit card is present at the time of purchase."></i>
          <div class="authentic-payment-seperate">
            <section class="discover"></section>
            <section class="american-express"></section>
            <section class="master"></section>
            <section class="visa"></section>
          </div>
        </div>


      </div>

      </div>

      <!--<h5>Billing Information</h5>-->

      <div class="payment-row">
        <p class="card-address-enc"><%= text_field_tag 'address_line', nil, :class => "normal-input address-line", placeholder: 'Address' %></p>
      </div>

      <div class="payment-row row">
        <div class="col-xs-6">


          <p class="card-city-enc"><%= text_field_tag 'city', nil, :class => "normal-input city-name", placeholder: 'City' %></p>
        </div>
        <div class="col-xs-6">


          <p class="card-state-enc"><%= text_field_tag 'state', nil, :class => "normal-input state-name", placeholder: 'State/Province' %></p>
        </div>
      </div>
      <div class="payment-row row">
        <div class="col-xs-6">

          <p class="card-country-enc"><%= collection_select 'country', nil, countries, :first, :last, :class => "normal-input country-name", placeholder: 'Country' %></p>
        </div>
        <div class="col-xs-6">


          <p class="card-zip-enc"><%= text_field_tag 'postal_code', nil, :class => "normal-input zip-code", placeholder: 'ZIP/Postal Code' %></p>
        </div>
      </div>

      <h3 class="hidden payment-sec-title">Billing address</h3>

      <div class="hidden user-details-enc">





      </div>

    </div>

    <div class="plan-subscribe-btn-enc"><%= button_tag button_name, :class => "btn btn-primary plan-subscribe-btn", data: {disable_with: 'Processing...', button_name:button_name} %></div>

<% end %>
