<div class="container">

  <%= link_to app_path(view: 'home') do %>
      <%= image_tag 'oneLogo.png', class: 'bulb-logo' %>
  <% end %>

  <%= cl_image_tag('stripe_logo', class: "authentic-img stripe pull-right", :secure => true) %>

  <% if current_user.active_subscriber? || current_user.unpaid_subscriber? %>


      <div id="plan-container">

        <div class="detail-explanations">

          <div class="detail-explanations-inner">
            <h3 class="payment-page-title">You are subscribed to EdisonPlan.</h3>

            <p class="exp-date-container">Your current subscription ends on
              <span class="exp-date"><%= ldt(current_user.current_subscription_end_at) %></span>.</p>

            <p>
              <a class="update-card-trigger">Update your card information</a>
              <%= link_to "Unsubscribe", unsubscribe_path, class: "unsub-link", remote: true %>
            </p>

          </div>
        </div>


        <div class="update-card-enc" style="display: none">
          <a class="back-button">&larr; Back</a>
          <%= render 'subscriptions/card_form', form_action: update_card_path, button_name: 'Update Card' %>

        </div>

        <div class="modal fade del-business">
          <div class="modal-dialog center-modal-dialog deep modal-md">
            <div id="del-business-content" class="transparent-modal del-business-content modal-content">

            </div>
          </div>
        </div>

      </div>


  <% else %>


      <div id="plan-container" class="app-page-container plan-container-enc">
        <h3 class="inner-app-title payment-page-title text-center">Subscribe to EdisonPlan</h3>
        <%= render 'subscriptions/card_form', form_action: new_subscription_path, button_name: "Subscribe for $#{price} a month" %>
      </div>


  <% end %>

  <div class="payment-footer"><%= link_to 'Terms of Service', terms_path, target: '_blank' %>
    | <%= link_to 'Privacy Policy', privacy_path, target: '_blank' %> | Copyright 2015 EdisonPlan.com All rights
    reserved.
  </div>


</div>



