$('.business-parameter-<%= @business_parameter.business_id %>.sub-list-for-group-<%= @business_parameter.group %>').append('<%= j render 'business_parameters/business_param_rec', item:@business_parameter %>');