<div class="onboarding-progress-bar">
  <div class="onboard-progress-item <%= 'active' if stage == 1 %>">Create my Product</div>
  <%= fa_icon 'chevron-right' %>
  <div class="onboard-progress-item  <%= 'active' if stage == 2 %>">Set up my EdisonPlan</div>
  <%= fa_icon 'chevron-right' %>
  <div class="onboard-progress-item  <%= 'active' if stage == 3 %>">Start</div>
</div>