<section data-stage="<%= stage %>">

  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>
  <div class="number <%= 'complete' if active_product.onboard_stage >= stage %>"> <%= stage %></div>
  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>


  <div class="stage stage-<%= stage %> <%= 'active' if active_product.onboard_stage == stage %> <%= 'complete' if active_product.onboard_stage >= stage %>">
    <h3>What will be your business model?</h3>

    <% if active_product.onboard_stage >= stage %>
        <div class="response-area">

          <div class="btn btn-lg btn-default" data-target=".select-bm-modal" data-toggle="modal">
            <%= beachhead.chosen_business_model || 'select' %>
          </div>

          <div class="select-bm-modal modal fade">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Select a business model</h4>
                </div>
                <div class="modal-body">

                  <div class="row">
                    <div class="col-xs-4">
                      <ul class="navx">
                        <% beachhead.pricing_models.all.each_with_index do |pricing_model, index| %>
                            <li href="#bm_<%= pricing_model.id %>" data-toggle="pill" class="<%= 'active' if index == 0 %>">
                              <%= pricing_model.model_name %>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                    <div class="col-xs-8">
                      <div class="tab-content">
                        <% beachhead.pricing_models.all.each_with_index do |pricing_model, index| %>
                            <div class="tab-pane <%= 'active' if index == 0 %>" id="bm_<%= pricing_model.id %>">
                              <div><%= business_model_notes[index] %></div>
                              <div class="btn btn-primary" data-behaviour="choose_business_model" data-bh-id="<%= beachhead.id %>" data-bm-id="<%= pricing_model.id %>">Choose
                                "<%= pricing_model.model_name %>"
                                as business model
                              </div>
                            </div>
                        <% end %>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
    <% end %>

  </div>

</section>