<section data-stage="<%= stage %>">

  <div class="number <%= 'complete' if active_product.onboard_stage >= stage %>"> <%= stage %></div>
  <%= svg_vertical_line(50, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>

  <div class="stage stage-<%= stage %> <%= 'active' if active_product.onboard_stage == stage %> <%= 'complete' if active_product.onboard_stage >= stage %>">
    <h3>What is my purpose?</h3>
    <% if active_product.onboard_stage >= stage %>
        <div class="response-area">
          <% if active_product.product_purpose.present? %>
              <%= active_edit active_product, :product_purpose, placeholder: "Why do you want to bring #{active_product.product_name} into this world?" %>
          <% else %>
              <%= form_for active_product, remote: true, method: :put do |f| %>
                  <%= f.text_area :product_purpose, class: 'form-control', placeholder: "Why do you want to bring #{active_product.product_name} into this world?", maxlength: 300, rows: 5, autofocus: true %>
                  <%= button_tag class: 'btn btn-success' do %>
                      Next
                  <% end %>
              <% end %>
          <% end %>
        </div>
    <% end %>
  </div>

</section>