<section data-stage="<%= stage %>">

  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>
  <div class="number <%= 'complete' if active_product.onboard_stage >= stage %>"> <%= stage %></div>
  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>

  <div class="stage stage-<%= stage %> <%= 'active' if active_product.onboard_stage == stage %> <%= 'complete' if active_product.onboard_stage >= stage %>">
    <h3>When is <%= ae_live_field(active_product, :product_name) %> a success?</h3>

    <% if active_product.onboard_stage >= stage %>
        <div class="response-area">
          <% if active_product.success_definition.present? %>
              <%= active_edit active_product, :success_definition, placeholder: "Is it the 10,000 customers? Is it $1 billion sales? Or just a lot of happy customers?" %>
          <% else %>
              <%= form_for active_product, remote: true, method: :put do |f| %>
                  <%= f.text_area :success_definition, class: 'form-control', placeholder: "Is it the 10,000 customers? Is it $1 billion sales? Or just a lot of happy customers?", maxlength: 300, rows: 5, autofocus: true %>
                  <%= button_tag class: 'btn btn-success' do %>
                      Finish
                  <% end %>
              <% end %>
          <% end %>
        </div>
    <% end %>
  </div>
</section>