<section data-stage="<%= stage %>">
  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>
  <div class="number <%= 'complete' if active_product.onboard_stage >= stage %>"> <%= stage %></div>
  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>

  <div class="stage stage-<%= stage %> <%= 'active' if active_product.onboard_stage == stage %> <%= 'complete' if active_product.onboard_stage >= stage %>">
    <h3>What are the various markets of my product?</h3>

    <div class="helper-text"></div>

    <% if active_product.onboard_stage >= stage %>
        <div class="response-area">
          <div class="helper-text">
            <p>Some products can be used in a range of industries such as batteries which are used in cellphones and
              automobiles.</p>
          </div>


          <% if active_product.businesses.all.count == 0 %>

              <div class="form-container">

                <%= form_tag mass_create_path,
                             remote: true,
                             class: 'default-form multi-resource-form',
                             id: 'multi-market-form',
                             data: {object: 'business'} do %>
                    <ol class="input-list">
                      <li><%= text_field_tag 'business[business_name1]', '', class: 'list-input', autocomplete: 'off' %></li>
                      <li><%= text_field_tag 'business[business_name2]', '', class: 'list-input', autocomplete: 'off' %></li>
                      <li><%= text_field_tag 'business[business_name3]', '', class: 'list-input', autocomplete: 'off' %></li>
                      <li><%= text_field_tag 'business[business_name4]', '', class: 'list-input', autocomplete: 'off' %></li>
                    </ol>
                    <div class="btn btn-link" data-behaviour="include_field">+ include one more</div>
                    <div>
                      <%= button_tag class: 'btn btn-success' do %>
                          Next
                      <% end %>
                    </div>
                <% end %>

              </div>

          <% else %>

              <ul class="markets-list">
                <% businesses =  active_product.businesses %>
                <% businesses.each_with_index do |business, index| %>
                    <% if business.id.present? %>
                        <li>
                          <span class="list-num"><span>#</span><%= "#{index + 1}" %></span><%= active_edit_if has_valid_access?, business, :business_name %>
                        </li>
                    <% end %>
                <% end %>

                <%= render 'static_pages/shared/new_resource_form2', parent: active_product, resources: :business, field: :business_name, options: {placeholder: 'Add a market', generic_item_name: 'market'} %>

              </ul>

          <% end %>

        </div>
    <% end %>
  </div>
</section>