<section data-stage="<%= stage %>">
  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>
  <div class="number <%= 'complete' if active_product.onboard_stage >= stage %>"> <%= stage %></div>
  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>

  <div class="stage stage-<%= stage %> <%= 'active' if active_product.onboard_stage == stage %> <%= 'complete' if active_product.onboard_stage >= stage %>">
    <h3>Which one of of these markets can be my beachhead?</h3>


    <% if active_product.onboard_stage >= stage %>
        <div class="response-area">

          <div class="helper-text">
            <p>Your beachhead market is where, once you gain a dominant share, you will have the strength to attack
              adjacent
              markets
              with further offerings, building a larger company with each new following.</p>

            <p>Elon Musk used this same strategy at Tesla Motors by building the Roadster and the Model S, high end
              cars,
              before building the upcoming Model 3, the mass market
              car.</p>
          </div>

          <div class="markets-bh-btns">
            <% businesses = active_product.businesses %>
            <% active_product.businesses.each do |business| %>
                <% if business.id.present? %>
                    <%= select_as_beachhead(business, ae_live_field(business, :business_name), other_params: {skip_dash: true}) %>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</section>