<section data-stage="<%= stage %>">

  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>
  <div class="number <%= 'complete' if active_product.onboard_stage >= stage %>"> <%= stage %></div>
  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>


  <div class="stage stage-<%= stage %> <%= 'active' if active_product.onboard_stage == stage %> <%= 'complete' if active_product.onboard_stage >= stage %>">
    <h3>What phase is <%= ae_live_field(active_product, :product_name) %> presently in?</h3>
    <% if beachhead %>

        <% if active_product.onboard_stage >= stage %>

            <div class="response-area">

              <% if sas = active_product.stage_at_start %>

                  <%= "Stage #{sas+1}: #{product_stages[active_product.stage_at_start][1]}" %>

                  <div class="hyperlink" data-behaviour="toggle_target" data-target=".chart-container" data-hidden-text="change" data-shown-text="&times;" style="text-align: right;">change</div>

                  <div class="chart-container" style="display: none;">

                    <% product_stages.each_with_index do |content, index| %>
                        <%= select_stage content[0], content[1] %>
                    <% end %>

                  </div>

              <% else %>

                  <div class="chart-container">

                    <% product_stages.each_with_index do |content, index| %>
                        <%= select_stage content[0], content[1] %>
                    <% end %>

                  </div>

              <% end %>

            </div>

        <% end %>
    <% end %>
  </div>
</section>