<section data-stage="<%= stage %>">

  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>
  <div class="number <%= 'complete' if active_product.onboard_stage >= stage %>"> <%= stage %></div>
  <%= svg_vertical_line(30, class: "line-drg #{'complete' if active_product.onboard_stage >= stage }") %>


  <div class="stage stage-<%= stage %> <%= 'active' if active_product.onboard_stage == stage %> <%= 'complete' if active_product.onboard_stage >= stage %>">
    <h3>What are the purchasing priorities of a customer in <%= beachhead.try(:business_name) || 'this' %> market?</h3>
    <% if beachhead %>

        <% if active_product.onboard_stage >= stage %>
            <div class="response-area">
              <ul class="priority-list">
                <% user_priorities = beachhead.user_priorities.all %>
                <% user_priorities.limit(2).each_with_index do |user_priority, index| %>
                    <li>
                      <div class="list-num"><span>#</span><%= index + 1 %></div>
                      <div class="dropdown">
                        <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <span id="dd-priority-at-rank-<%= index + 1 %>"><%= beachhead.user_priority_ranked_at(index + 1) || 'select' %></span>
                          <span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <% user_priorities.each do |up| %>
                              <li data-behaviour="rank_priority" data-object-id="<%= up.id %>" data-rank="<%= index + 1 %>" data-priority="<%= PRIORITIES[up.priority_id] %>">
                                <%= PRIORITIES[up.priority_id] %> <%= content_tag(:span, "(ranked ##{up.rank})") if up.rank.present? %>
                              </li>
                          <% end %>
                        </ul>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>
    <% end %>
  </div>
</section>