$grey72: #727272;

.restricted-mobile,.restricted-ie{
  display: none !important;
}

@media only screen and (max-width:767px){
  .app-restricted-container{
    display:none !important;
  }
  .restricted-mobile{
    display:block !important;
    padding: 30px;
    color: $grey72;
  }
  .msg{
    text-align: center;
  }
  .msg.large{
    font-size: 28px;
    line-height: 32px;
  }
  .msg.small{
    font-size: 16px;
    margin-top: 20px;
  }
  .restricted-mobile-inner{
    border:1px solid $grey72;
    padding:20px;
  }
}



