<div class="card-modal-content-body">
  <div class="board-modal-title">
    <%= active_edit_if has_valid_access? && !comp_advantage.admin_field, comp_advantage, :adv_name %>
  </div>

  <div class="board-modal-sub-title" style="padding: 10px;"><%= core_notes(comp_advantage.adv_name) %></div>


  <div class="board-modal-table">
    <% comp_advantage_fields.each do |fieldset| %>
        <div class="question-row">
          <div class="question-num"></div>
          <div class="table-header"><%= fieldset[0] %></div>
          <div class=""><%= active_edit_if has_valid_access?, comp_advantage, fieldset[1], type: :select, choices: RANGE %></div>
          <hr class="mini-break">
        </div>
    <% end %>
  </div>
</div>

<div class="comments-for-<%= comp_advantage.id %>">
  <%= render 'comments/comment_thread', parent: comp_advantage %>
</div>
