<div class="card" data-object="comp_advantage" data-url="<%= comp_advantage_path comp_advantage.id %>" data-card-id="<%= r = rand_string %>">
  <div class="inner" data-toggle="modal" data-target=".board-modal._<%= r %>">
    <div class="card-title">
      <%= ae_live_field comp_advantage, :adv_name %>
      <%= delete_object comp_advantage %>
    </div>


    <hr class="mini-break">

    <div class="card-info-item">
      <% if comp_advantage.preference %>
          <div class="preference-rating <%= comp_advantage.preference %>">
            <%= "Preference: #{comp_advantage.preference}" if comp_advantage.preference %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="board-modal modal _<%= r %>" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <%= render 'comp_advantages/comp_adv_modal_content', comp_advantage: comp_advantage %>


      </div>
    </div>
  </div>
</div>

