(function () {
  <% if @comp_advantage.preference %>
  $('[data-object="comp_advantage"][data-url="/comp_advantages/<%= @comp_advantage.id %>"]')
      .find('.card-info-item')
      .html('<div class="preference-rating <%= @comp_advantage.preference %>"><%= "Preference: #{@comp_advantage.preference}" %></div>');
  <% end %>
}).call(this);
