<div class="tool-section type-b" data-section="<%= index+1 %>" id="<%= object.row_selector(false) %>">
  <header data-toggle="tool-section" data-parent="<%= object.row_selector(true) %>">
    <div class="row">
      <div class="col-xs-6 section-column">
        <div class="col-xs-1">
          <%= serial_no index+1 %>
        </div>
        <div class="col-xs-11"><%= make_field(object, :adv_name, {type: :text, editable: !object.admin_field}) %></div>
      </div>
      <div class="col-xs-6 section-column">
        <div class="col-xs-11"><%= content_tag :span, object.calc_preference, class:"ind-preference #{object.calc_preference} ind-preference-#{object.id}", 'data-title' => 'Indicative Preference', 'data-toggle' => 'tooltip' %></div>
        <div class="col-xs-1"><%= delete_object(object) unless object.admin_field %></div>
      </div>
    </div>
  </header>
  <div class="tool-child">
    <%= section_body object %>
    <%= toolfooter %>
  </div>
</div>