<div id="workspace-right" class="primary-sheet sub-tool-single-view workspace-right core-tab-item">
  <div class="tool-with-comment" data-comp-advantage-id="<%= @sub_tool_resource.id %>">
    <%= render 'comp_advantages/comp_adv_modal_content', comp_advantage: @sub_tool_resource %>
  </div>
</div>