(function () {

  $newRecord = $('<%= j render 'comp_advantages/comp_adv_card' , comp_advantage: @comp_advantage %>').hide();

  $('[data-step-table-id="12"]')
      .find('[data-stage="<%= @comp_advantage.stage %>"]')
      .append($newRecord);

  $newRecord.slideDown('fast').trigger('click');

}).call(this);

