<% if @currently_ranked %>
$('.rank-dot-<%= @currently_ranked.id %>').removeClass('selected');
<% end %>
$('#comp_advantage_<%= @comp_advantage.id %>_rank').html('<%= @comp_advantage.rank %>');
$('.ind-preference-<%= @comp_advantage.id %>').html('<% j @comp_advantage.calc_preference %>');
