.onboarding-progress-bar {
  text-align: center;
  margin-top: 60px;
  .fa {
    color: lightgrey;
  }
}

.onboard-progress-item {
  display: inline-block;
  margin: 0 20px;
  padding: 0 10px 5px 10px;
  border-bottom: 2px solid transparent;
  color: $grey-super-dark;

  &.active {
    color: initial;    border-bottom: 2px solid lightgrey;
  }
}