$onboard-font-size: 14px
$temp-blue: #00A8E8
$ff: $primary-font-stack

// general

body
  background-color: $blue-fb
  font-size: $onboard-font-size
  font-family: $ff

.line-drg
  display: block
  margin: 0 auto

  path
    stroke-width: 2px
    stroke: $grey-super-dark

  &.complete
    path
      stroke: $blue-primary

.welcome-title
  text-align: center
  color: $temp-blue
  font-weight: 700
  margin: 80px auto 30px auto
  font-size: 26px

.stage
  text-align: left
  width: 65%
  margin: 0 auto

  &.active, &.complete
    background-color: white
    box-shadow: 0 1px 3px 0 $grey-super-dark
    border-radius: 5px
    padding: 20px

    .response-area
      display: block

      .helper-text
        font-weight: 300
        color: $grey-9

    h3
      color: $temp-blue
      text-align: left
      font-size: 22px

  .response-area
    display: none

  h3
    margin: 0 0 10px 0
    text-align: center
    color: $grey-super-dark

  textarea
    font-size: $onboard-font-size
    resize: none

.number
  text-align: center
  height: 40px
  width: 40px
  border-radius: 50%
  line-height: 38px
  font-size: 16px
  margin: 0 auto
  position: relative
  border: 2px solid $grey-super-dark
  background-color: $grey-light
  &.complete
    border: 2px solid $blue-primary
    background-color: lighten($blue-primary, 40%)

.complete-onboarding-form
  margin: 0 auto
  text-align: center
  margin-bottom: 300px

  .btn
    margin-top: 0
    margin-bottom: 40px

.proceed-btn
  @extend .btn
  @extend .btn-lg
  @extend .btn-primary

.list-num
  color: $temp-blue
  margin-right: 10px

// markets list
.input-list
  width: 65%

.list-input
  display: inline-block
  margin: 15px 0
  border: none
  border-bottom: 1px solid rgba(0, 0, 0, .1)
  width: 100%
  padding: 5px 8px
  border-radius: 5px

  &:focus
    box-shadow: none
    outline: none
//background-color: lightyellow

.markets-list
  margin-top: 30px
  list-style-type: none
  padding-left: 10px
  min-width: 400px

  li
    margin: 10px auto
    border-bottom: 1px solid lighten($grey-light, 3%)

  .resource-form
    display: none

// beachheads

.markets-bh-btns
  text-align: center

.bh-select-form
  display: inline-block
  margin: 0 10px
  vertical-align: top

.bh-select-btn
  width: 230px
  height: 70px
  border-radius: 5px
  background-color: white
  border: 1px solid lighten($grey-dark, 5%)
  box-shadow: 0px 1px 3px 0px $grey-dark

  &.active
    background-color: lighten($blue-primary, 40%)
    border: 1px solid $blue-primary
    box-shadow: 0px 1px 3px 0px lighten($blue-primary, 10%)

    &:hover
      background-color: lighten($blue-primary, 40%)
      box-shadow: 0px 1px 3px 0px lighten($blue-primary, 10%)

  &:active
    outline: none
    box-shadow: none

  &:hover
    outline: none
    background-color: $grey-super-light
    box-shadow: 0px 1px 3px 1px $grey-dark

// priorities

.priority-list
  list-style-type: none
  padding: 0
  width: 50%
  padding-left: 10px

  & > li
    border-bottom: 1px solid lighten($grey-light, 3%)
    margin: 20px 0

    .dropdown
      cursor: pointer

    .dropdown-menu
      font-size: $onboard-font-size
      width: 400px

      li
        padding: 5px 8px

        span
          color: $grey-super-dark
          font-size: 14px

        &:hover
          background-color: $blue-primary
          color: white

    & > div
      display: inline-block

.cofounder-invitation
  margin: 0 auto
  padding: 20px
  background: white
  border-radius: 10px
  box-shadow: 0 1px 3px 0 $grey-dark
  font-weight: 300
  width: 60%
  line-height: 28px

  .invite-member-btn
    @extend .btn
    @extend .btn-lg
    @extend .btn-primary

  h2
    color: $temp-blue
    text-align: center

  .name-and-title
    text-align: center
    margin-top: 15px

  .cancel-and-back
    display: none

  table
    width: 100%
    @include set-col-width(33% 34% 33%)
    td
      padding: 5px

    button
      width: 100%

    .form-control
      font-size: initial

    .dropdown-menu

      li
        padding: 5px
        line-height: 20px
        cursor: pointer

        .title
          font-weight: bold

        &:hover
          background-color: lighten($blue-primary, 40%)

  ul
    list-style-type: none
    padding-left: 0

  .cancel-invite
    margin-top: 15px
    margin-left: 10px

.mass-invite-btn
  @extend .btn
  @extend .btn-primary

.email-field-enc
  position: relative
  &:before
    position: absolute
    right: 10px
    top: 21px
    font-family: FontAwesome

  &.valid:before
    content: "\f058"
    color: lighten($success-btn-green, 10%)

  &.invalid:before
    content: "\f057"
    color: lighten($danger-btn-red, 10%)

.stage-select-btn
  cursor: pointer
  width: 100%
  height: 70px
  border-radius: 5px
  background-color: white
  border: 1px solid lighten($grey-dark, 5%)
  box-shadow: 0px 1px 3px 0px $grey-dark
  margin: 10px 0
  line-height: 50px
  padding: 10px 30px
  text-align: left

  &:hover
    background-color: #F7F7F7
