.active-edit-form-enc {

  padding: 7px;
  border-radius: 4px;
  background-color: $grey-medium-light;
  z-index: 99;
  box-shadow: 1px 2px 3px 1px rgba(0,0,0,.3);
  .btn-container {
    text-align: left;
    line-height:initial;
    margin: 5px 0;

    .transparent-btn {
      display: inline-block;
      margin-left: 10px;
      vertical-align: top;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      &:hover {
        background: lightgrey;
      }
    }

  }
}

.active-edit-form {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 2px;
  resize: none;
  line-height: 25px;
  padding: 4px 10px;
  color: black;


  &.on-modal {
    width: 100%;
    border: 2px solid lightskyblue;
    padding: 4px;
  }


}

.active-edit {
  display: inline-block;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  &.empty {
    cursor: default;
    .content {
      &:hover {
        color: initial;
      }
    }
  }

  &.editing {
    width: 100%;
  }

  &.full-width {
    width: 100%;
  }

  &.date-select {
    cursor: pointer;
  }

  &.calendar {
    //display: block;
  }

  .content {
    white-space: pre-line;
    word-break: break-word;
    line-height: inherit;
    //min-height: 30px;
    &:hover {
      color: $blue-primary;
    }

    &.placeholder {
      color: $grey-9;
    }

    &:focus {
      outline: 2px solid lightskyblue;
      border-radius: 5px;
      background-color: $white;
      color: black;

    }

  }

  .char_remaining {
    width: 30px;
    padding: 2px;
    background-color: black;
    @include border-radius(4px);
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    opacity: .3;
    float: right;
    margin-top: 10px;
  }


}

#ae_char_remaining {
  position: absolute;
  bottom: 10px;
  right: 40px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
  min-width: 50px;
  text-align: right;
}

.active-edit-error-message {
  position: absolute;
  font-size: 15px;
  top: -60px;
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
  line-height: initial;
  text-align: initial;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: orange transparent transparent transparent;
    position: absolute;
    bottom: -7px;
    left: 10px;
  }
}

.active-edit-dd-btn {
  border: 0;
  background-color: transparent;
  padding-left: 0;

  .button-name {
    text-align: left;
    &.placeholder {
      color: $grey-9;
    }
  }

  .caret {
    margin-left: 10px;
    //display: none;
  }
}

.dropdown-menu {
  height: initial !important;
  -webkit-box-shadow: 0 0px 4px $grey-bluish;
  box-shadow: 0 0px 4px $grey-bluish;
  border: 1px solid $grey-medium-light;
  li > a {
    color: $blue-primary;
    padding: 6px 16px;
    &:hover {
      background-color: $blue-primary;
      color: $white;
    }
  }

}

li.option {
  cursor: pointer;
  padding: 5px 10px;
  color: $text-color;

  &:hover {
    background-color: $grey-super-light;
  }

  &:before {
    content: none !important;
  }
}

.modal-edit-enc .active-edit-form {
  padding-left: 10px;
}

.active-edit-date-form {
  outline: none;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 14px;
}

.slide-toggle {
  .active-edit .content {
    line-height: 30px;
  }
}

.active-check-box {
  font-family: FontAwesome;
  font-size: 18px;
  cursor: pointer;

  &:before {
    content: "\f096";
    color: $grey-dark;
  }

  &.checked {
    &:before {
      content: "\f14a";
      color: $success-btn-shadow;
    }
  }

  &:hover {
    &:before {
      content: "\f14a";
      color: $success-btn-shadow;
      opacity: .4;
    }
  }

}

.active-star {
  font-family: FontAwesome;
  font-size: 18px;
  cursor: pointer;

  &:before {
    content: "\f006";
    color: $grey-dark;
  }

  &.checked {
    &:before {
      content: "\f005";
      color: $gold;
    }
  }

  &:hover {
    &:before {
      content: "\f005";
      color: $gold;
      opacity: .4;
    }
  }

}

.active-content {
  &:before {
    content: attr(data-unchecked);
  }

  &.checked {
    &:before {
      content: attr(data-checked);
    }
  }
}

