a {
  text-decoration: underline;
}

@mixin transition($duration) {
  -webkit-transition: all ease-out $duration;
  -moz-transition: all ease-out $duration;
  transition: all ease-out $duration;
}

[data-behaviour=open_in_new_tab] {
  cursor: pointer;
}

button {
  outline: 0;
  &:focus {
    outline: 0 !important;
  }
  &:active {
    outline: 0 !important;
  }
}

.btn {
  outline: 0;
  &:focus {
    outline: 0 !important;
  }
  &:active {
    outline: 0 !important;
  }
  border-radius: 2px;
  position: relative;

  &.loading:before {
    content: '';
    background-color: rgba(255, 255, 255, .6);
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: .5s linear 0s infinite alternate move_eye;
    -moz-animation: .5s linear 0s infinite alternate move_eye;
    -o-animation: .5s linear 0s infinite alternate move_eye;
    animation: .5s linear 0s infinite alternate move_eye;
  }

}

@-webkit-keyframes move_eye {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 95%;
  }
}

@-moz-keyframes move_eye {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 95%;
  }
}

@-o-keyframes move_eye {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 95%;
  }
}

@keyframes move_eye {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 95%;
  }
}

// make raised buttons as default //

.btn-default {
  //@include raised-style($default-btn-shadow, $default-btn-active);
}

.btn-primary {
  background: $blue-primary;
  color: $white;
}

.btn-success {
  //background: #00bf6f;
  //@include raised-style($success-btn-shadow, $success-btn-active);
  &:focus {
    background: $blue-secondary;
  }
}

.btn-warning {
  //background: #eb8f34;
  //@include raised-style($danger-btn-shadow, $danger-btn-active);
}

.btn-danger {
  //background: #f25454;
  //@include raised-style($warning-btn-shadow, $warning-btn-active);
}

// center align buttons inside this container //

.btn-container {
  text-align: center;

  .btn, form {
    display: inline-block;
  }

  div.separator {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
    line-height: 17px;

  }
}

// aligning delete resource button to right by default

.delete-icon-form {
  display: inline-block;
}

// transparent style to resource actions
.profile-menu, .angle-nav {
  @extend .transparent-btn;
  font-size: 14px;
  line-height: 14px;
}

.del-icon, .del-business-icon, {
  @extend .transparent-btn;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  @include transition(0.2s);
  color: $grey-9;
  padding: 3px;

  &:hover {
    color: $blue-primary;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
  }
}

.show-hint-btn {
  @extend .btn;
  @extend .btn-default;
  &.completed {
    @extend .btn-default;
  }
  &.active {
    @extend .btn-primary;
  }
}

// outline styles for yes and no buttons

.yes-btn {
  @extend .btn;
  @extend .btn-success;
  @include outline-style($success-btn-green);
  width: 100px;
  margin: 0 10px 0 0;
  &.selected {
    @extend .btn-success;
  }
}

.no-btn {
  @extend .btn;
  @extend .btn-danger;
  @include outline-style($danger-btn-red);
  width: 100px;
  margin: 0 0 0 10px;
  &.selected {
    @extend .btn-danger;
  }
}

.choice-btn {
  @extend .btn;
  //@extend .btn-primary;
  @include outline-style($purple);
  background: transparent;
  min-width: 110px;

  color: $text_color;
  border: 1px solid $grey-d;
  &:hover {
    background: #e6e6e6;
  }
  &.chosen {
    background-color: lighten($purple, 30);
    color: $white;
    &:hover {
      background-color: $blue-secondary;
      color: $white;
    }
  }
  &.selected {
    background-color: $purple;
    color: $white;
    border: 0;
  }
}

.feature-decision
.feature-decision .btn-container form:nth-child(2) .choice-btn.selected {
  background-color: $error-red;
}

.feature-decision .btn-container form:nth-child(3) .choice-btn.selected {
  background-color: $warning-btn-orange;
}

.btn-group {
  .choice-btn {
    display: inline-block;
    margin: 0;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

  }
}

.category-select {
  @extend .btn-sm;
  min-width: 70px;
  background-color: transparent;
  border: 1px solid $grey-d;
  margin: 0 3px;
  &:hover {
    background-color: #e6e6e6;
  }
  &.selected {
    background-color: $blue-primary;
    color: $white;
    border-color: $blue-primary;
  }
}

.rank-dot, .btn-container .rank-dot {
  @extend .btn;
  @include outline-style($primary-btn-blue);
  @include border-radius(50%);
  background: transparent;
  border: 1px solid $blue-primary;
  color: $blue-primary;
  margin: 3px;
  &.selected, &:hover {
    background: $blue-primary;
    color: $white;
  }
}

.delete-account {
  @extend .btn;
  @extend .btn-danger;
  @include outline-style($danger-btn-red);
}

.add-a-field {
  @extend .btn;
  @extend .btn-success;
  @extend .btn-md;

}

.modal-got-it {
  @extend .btn;
  @extend .btn-primary;
}

.modal-close {
  @extend .btn;
  @extend .btn-primary;
}


