[data-behaviour=expandable] {

  [data-show-on-expand] {
    display: none;
  }

  [data-hidden-when-expanded] {
    display: initial;
  }

  &.expanded {
    [data-show-on-expand] {
      display: initial;
    }

    [data-hidden-when-expanded] {
      display: none;
    }
  }
}

