input:focus {
  //background-color: lightyellow !important;
}

.form-control {
  border-color: $grey-medium-light;
  border-radius: 2px;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(102, 175, 233, 0.9);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(102, 175, 233, .9);
}

.form-for-step {
  text-align: center;
  margin: 50px 0 20px 0;
}
.form-container {

}
.resource-form {
  //display: none;
  @extend .form-inline;
  .normal-input {
    @extend .form-control;
    @include border-radius(2px 0 0 2px);
    height: 34px !important;

    width: 350px;
  }

  .add-submit {
    @extend .btn;
    @extend .btn-success;
    width: 40px;
    height: 33.5px;
    margin-left: -4px;
    margin-top: -1px;
    @include border-radius(0 2px 2px 0);
  }
}

.new_pitch {
  margin: 20px 0 0 0;
  .new-pitch-field {
    width: 450px;
    height: 100px;
    margin: 0 auto;
  }

}

//

.new-resource-form-modern {
  position: relative;
  .form-enc {
    display: none;
    position: absolute;
    background-color: white;
    padding: 20px 10px;
    box-shadow: 0 1px 15px 2px rgba(0,0,0,.2);
    border-radius: 2px;
    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: white;
      transform: rotate(45deg);
      box-shadow: -1px -1px 4px -2px rgba(0, 0, 0, 0.5);
      top: -8px;
      left: 80px;
    }
  }
}

