hr.divider {
  font-size: 28px;
  letter-spacing: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;

  &:before {
    content: '...';
    display: inline-block;
    color: $grey-dark;
    position: relative;
    top: -30px;
  }
}

hr.mini-break {
  margin: 5px auto;
  width: 60%;
}