// modal general

.modal {
  margin-top: 40px;

  .char-remaining {
    margin-top: 8px;
    margin-right: 10px;
  }
}

.modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: $grey-d;
  border-radius: 2px;
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1;
}

.modal-backdrop.in {
  opacity: 0.3;
  //background-color: $white;
}


.board-modal {
  text-align: initial;
  .modal-dialog {
    width: 600px;
  }

  .modal-content {
    background: $blue-fb;
    border: none;
    box-shadow: 0 2px 20px 3px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 2px;
    margin-top: 70px;
    font-size: 1rem;

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0;
    }


  }

  .child-list {
    font-size: $small;
    margin-top: 10px;

    .child-item {
      margin: 8px 0;
      &:before {
        left: -25px;
        top: -6px;
        font-size:$small;
      }
    }

  }
}


.smoke > .modal-backdrop.fade.in {
  opacity: 1;
  background-color: $grey-super-light;
}

.white > .modal-backdrop.fade.in {
  opacity: 1;
  background-color: $white;
}

// large modal (used for 5 button step hints)
.modal-lg {
  width: 700px;
}

// medium modal (used for bip view)

.modal-md {
  width: 500px;
  .modal-title {
    font-weight: 400;
    margin: 0;
    font-size: 18px;
  }
}

// small modal (used as confirmation dialogs)

.modal-sm {
  .modal-content {
    border: 1px solid $grey-c;
  }
  .modal-title {
    font-weight: 600;
    color: $white;
  }
}

.modal:not(.full-page) .modal-header {
  text-align: center;
  color: $purple;
  border-radius: 4px 4px 0 0;
  h4 {
    font-size: 22px;
  }
}

// new business modal and diagnos
.dyn-modal {
  .modal-dialog {
    width: 800px;
  }
}

.del-business {

  .modal-header {
    font-size: 18px;
  }

  .modal-body {
    padding-bottom: 0;
    text-align: center;
  }

  .bg-danger {
    padding: 10px;
    color: $error-red;
    font-weight: 400;
  }

  .modal-content {
    padding-bottom: 20px;
    .yes-btn {
      width: 170px;
    }

    .no-btn {
      width: 170px;
    }
  }

  .modal-footer {
    border: none;
  }
}

.attached-content-enc {
  padding: 0;
  .attached-content {
    padding: 10px;
    background-color: $grey-bluish;
    margin: 0;
    color: $grey72;
  }
}

.confirm-title {
  font-weight: 300;
  line-height: 34px;
}

.modal-content {
  box-shadow: none;
  //border-color: $grey-d;
}

.select-bm-modal {
  .modal-dialog {
    width: 800px;
    font-size: 16px;
  }

  .modal-body {
    height: 480px;
  }

  .navx {
    list-style-type: none;
    padding: 0;
    li {
      cursor: pointer;
      border-radius: 5px;
      padding: 3px 9px;
      &.active {
        background-color: lighten($purple, 20%);
        color: white;
      }
    }
  }

  .tab-pane {
    line-height: 26px;
    .btn {
      margin-top: 40px;
    }
  }
}