<% if user_signed_in? %>
    <a class="feedback-bait" href="/contact">Support</a>
<% else %>
    <button id="feedback-bait" class="feedback-bait" data-toggle="modal" data-target=".feedback-modal">Support</button>
  <%= render 'feedbacks/logged_out_feedback_icon_and_modal', modal:true %>
<% end %>