<div class="feedback-response-container hidden">
  <h2 class="tit1 medium sign-page-title text-center grey-title" style="line-height: 36px">Thank you for contacting
    us.<br/>
    We will get back to you soon.</h2>
  <% if urlpresent?('contact') %>
    <div class="text-center mt30">
      <%= link_to 'Back to Dashboard', root_path, class: 'btn' %>
    </div>
  <% else %>
      <div class="text-center">
        <a href="/" type="button" class="btn btn-default">Back to home</a>
      </div>
  <% end %>
</div>
<div class="container">
  <div class="contact-outer-enc tcenter">
    <div class="feedback-form-errors">
      <ul></ul>
    </div>
    <div class="col-xs-10 contact-inner-enc vtop nofloat">
      <div class="col-xs-6 margincentered contact-inner-enc-container">
        <div class="feedback-form-container">
          <h2 class="tit1 medium sign-page-title" style="margin-bottom: 30px">We'd love to hear from you</h2>
          <% feedback = Feedback.new %>
          <%= form_for feedback, remote: true, html: {id: 'internal-feedback-form', class: 'feedback-form'} do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%#= f.hidden_field :step_id, value: @current_step %>
            <%= f.hidden_field :page, value: request.fullpath %>
            <p class="eager-icon-focus contact-subject">
              <label>SUBJECT <span></span></label>
              <%= f.text_field :subject, class: 'form-control normal-input', placeholder: '' %>
            </p>
            <p class="eager-icon-focus contact-message">
              <label>MESSAGE <span>(required)</span></label>
              <%= f.text_area :body, class: 'form-control normal-input msg-field', placeholder: '' %>
            </p>
            <%= button_tag(type: 'submit', class: "btn mt10", disabled:'disabled') do %>
              <i class="fa fa-send"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
