<div class="feedback-response-container hidden">

</div>

<div class="container">


  <div class="form-container">

    <h3 class="page-title">We'd love to hear from you</h3>

    <% feedback = Feedback.new %>
    <%= form_for feedback, remote: true, html: {id: 'external-feedback-form', class: 'feedback-form'} do |f| %>
        <%= f.text_field :email, class: 'form-control normal-input email-field', placeholder: 'Your email' %>
        <%= f.text_area :body, class: 'form-control normal-input msg-field', placeholder: 'Your message' %>
        <%= f.submit 'Send', class: 'btn', data: {:disable_with => "Submitting..."}, disabled: 'disabled' %>
    <% end %>
  </div>

  <div class="back-button-enc" style="text-align: center; width: 100%;">
    <a class="outline-btn" onclick="window.history.back();">Go Back</a>
  </div>

</div>


