<div class="modal fade feedback-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="dyn-modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Got a question for us? Need help with something?</h4>
      </div>
      <div class="modal-body">
        <%= render 'feedbacks/logged_in_feedback_form' %>
      </div>
    </div>
  </div>
</div>