<div class="modal fade new-feedback-modal">
  <div class="modal-dialog center-modal-dialog modal-md">
    <div class="modal-content clearfix">

      <div class="modal-header">
        <h4 class="modal-title">Welcome to Support Center. We love helping you.</h4>
      </div>
      <div class="support-options btn-container">
        <button class="btn btn-default ask-expert" place_holder="Your query...">Ask for Expert Advice</button>
        <button class="btn btn-default send-msg" place_holder="Your message...">Send us a message</button>
      </div>

      <div class="fb-form-container">
        <% feedback = Feedback.new %>
        <%= form_for feedback, remote: true, html: {id: 'internal-feedback-form', class: 'feedback-form'} do |f| %>
            <div class="modal-body">
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :page, value: request.fullpath %>
              <%= f.text_area :body, class: 'form-control normal-input msg-field', placeholder: 'Your message...' %>
            </div>
            <div class="modal-footer">
              <%= f.submit 'Send', class: "btn btn-success", disabled: 'disabled' %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>