
<div id="new-feedback-form-enc" class="new-sub-tool-form-enc">
  <h2>Send us a message. We love helping you!</h2>
  <div class="cancel-and-back" data-dismiss="slider">&larr; back to the dashboard</div>
  <% feedback = Feedback.new %>
  <%= form_for feedback, remote: true, html: {id: 'internal-feedback-form', class: 'feedback-form'} do |f| %>
      <div class="feedback-form-body">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :page, value: request.fullpath %>
        <%= f.text_area :body, class: 'form-control normal-input msg-field', placeholder: 'Your message...' %>
        <div class="btn-container">
          <%= f.submit 'Send', class: "btn btn-success btn-lg", disabled: 'disabled' %>
        </div>
      </div>
  <% end %>
</div>
