<% if @feedback.errors.present? %>

<% else %>

$('.page-title').html('We have received your message. We respond to customer messages within 24 hours from the time of receipt.');
$('#external-feedback-form').remove();

var $form = $('#internal-feedback-form');
$form.find('textarea, .btn-success').hide();
$form[0].reset();
$form.append('<div class=\"alert alert-success success-msg\">We have received your message. We respond to customer messages within 24 hours from the time of receipt.</div>');
<% end %>
