<div class="row" data-resource-row-id="<%= resource_row_ref persona %>">
  <div class="col-xs-4 primary-colored">
    <%= active_edit_if has_valid_access? && !persona.admin_field, persona, :parameter %>
    <%= delete_object(persona) unless persona.admin_field %>
  </div>
  <div class="col-xs-8">
    <% if persona.group == 3 %>
        <%= active_edit_if has_valid_access?, persona, :response, type: :select, choices: RANGE %>
    <% else %>
        <%= active_edit_if has_valid_access?, persona, :response %>
    <% end %>
  </div>
</div>