(function () {

  $newRecord = $('<%= j render 'personas/new_persona_record', persona: @persona %>').hide();

  $('[data-step-table-id="6"]')
      .find('[data-table-section-id="<%= @persona.group %>"]')
      .append($newRecord);

  $newRecord.slideDown('fast');

}).call(this);

