body.smoke {

}

.paper {
  padding: 20px 80px;
  width: 70%;
}

.backstory {
  margin: 60px auto 20px auto;
  overflow: hidden;
  color:#555;
  .author{
    float:right;
  }

  .page-title{
    text-align: center;
    color: $blue-light;
    font-weight: 300;
  }

  .sub-title {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    padding-top: 10px;
    color: #777;
    margin-bottom: 50px;
  }

  p {
    font-size: 16px;
    line-height: 32px;
    word-spacing: 4px;
    color: #555;
    padding-bottom: 20px;
  }

  .name {
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 400;
  }

  .title {
    font-size: 14px;
  }
}

.team {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  color:#555;
  img {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    width: 100px;
    border-radius: 50%;
    border: 3px solid #218ce7;

    &:hover {
      filter: none;
      -webkit-filter: grayscale(0);
    }
  }

  .col-md-4 {
    text-align: center;
  }

  .name {
    font-weight: 600;
    margin-top: 10px;
    font-size: 18px;
  }

  .title {
    margin-top: 4px;
    color: #777;
    font-size: 14px;
  }
}

.person-social-enc{
  opacity:0.15;
  margin-top:10px;
  -webkit-transition:all ease-out 0.2s;
  -moz-transition:all ease-out 0.2s;
  transition:all ease-out 0.2s;
}

.member:hover{
  .person-social-enc{
    opacity:1;
  }
}

.person-social{
  display: inline-block;
  width:30px;
  background: url('https://dl.dropboxusercontent.com/s/jgedv3pfb97ingo/sprite.png') no-repeat;
  height:30px;
  margin: 0 10px;
  &.linked-in-p{
    background-position: -137px -148px;
    &:hover{
      background-position:-91px -148px;
    }
  }

  &.twitter-p{
    background-position:-136px -178px;
    &:hover{
      background-position:-90px -178px;
    }
  }

}


.sec-title {
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #218ce7;
  word-spacing: 4px;
}

.about-co {
  margin: 30px auto 20px;
  padding-top: 0;z

  p, li {
    font-size: 16px;
    line-height: 32px;
    word-spacing: 4px;
    color: #555;
  }

  p{
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 30px;
  }

  ol{
    list-style: none;
    counter-reset: mission-counter;
    padding-left: 80px;
    padding-right: 40px;
  }

  li {
    margin: 20px 10px 20px;
    position: relative;
    &:before{
      content: counter(mission-counter);
      counter-increment: mission-counter;
      position: absolute;
      left: -50px;
      top: 4px;
      width: 30px;
      height: 30px;
      background-color: #218ce7;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #fff;
      font-size: 14px;
    }

  }
}

.terms, .privacy {
  margin: 40px auto;
  line-height: 30px;

  *{
    color:#777;
  }

  h3{
    padding: 20px 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #218ce7;
    text-transform: uppercase;
  }
  h4 {
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

//responsive

@media (max-width: 768px) {

  .paper {
    padding: 20px;
    width: 90%;
  }

  .backstory {
    margin-top: 100px;
  }

  .team {
    .col-md-4 {
      margin: 40px auto;
    }
  }

}

@media (max-width: 600px) {

}

@media (min-width: 768px) {
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1279px) {

}