//Colors
$white: #fff;
$black: #333;
$curious_blue: #3498db;
$blue-light: #218ce7;
$blue-dark: #236AA6;
$blue-grey: #f6fafc;
$grey-dark: #777;
$content-width: 84%;

body {
  font-family: 'Lucida Grande', "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $black;
  font-size: 15px;
  line-height: 24px;
  overflow-x: hidden;
}

strong {
  font-weight: 600;
}

/*Shortcuts*/

.transitions {
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

/*Common styles*/

.btn {
  width: 220px;
  color: $white !important;
  background-color: $blue-light;
  @extend .transitions;
  &:hover {
    background: $blue-dark;
    color: $white;
  }
}

.outline-btn {
  background: transparent;
  border: 1px solid $blue-light;
  color: $blue-light;
  padding: 10px 16px;
  border-radius: 4px;
  @extend .transitions;
  &:hover {
    background: $blue-light;
    color: $white;
    text-decoration: none;
  }
}

.caption-btn {
  height: 48px;
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    padding: 0 20px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    a {
      font-size: 14px;
    }
  }
}

a {
  color: $blue-light;
  &:hover {
    color: $blue-dark;
    cursor: pointer;
  }
}

/*===Header section==*/

header {
  padding-top: 10px;
}

.navigation-enc {
  text-align: right;
}

.logo-enc {
  text-align: left;
}

.headerOne.fixed, .headerOne.secondary {
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.92);
  -webkit-box-shadow: 0 0 10px #f7f7f7;
  -moz-box-shadow: 0 0 10px #f7f7f7;
  box-shadow: 0 0 10px #f7f7f7;
  padding: 10px 0;
  z-index: 100;
}

.logo-img {
  width: 124px;
}

.navigation {
  margin-top: 12px;

}

/*Slider section*/

.top-section {
  //height: 700px;
  background: #fff url("<%= image_path('home-images/people-walk.jpg') %>") no-repeat center;
  padding-bottom: 30px;
  -webkit-background-size: cover;
  background-size: cover;
}

.main-caption {
  font-weight: 300;
  font-size: 2.8em;
  margin-bottom: 24px;
  margin-top: 0;
  strong {
    font-weight: 600;
  }
}

.sub-caption {
  color: $grey-dark;
  font-size: 1.2em;
  margin-bottom: 40px;
}

.caption-inner {
  margin-top: 50px;
}

/*Intro section*/

.section-divider.last-main-enc {
  padding: 0 20px;
}

.section-divider {
  padding: 40px 0;
}

.intro {
  font-size: 20px;
  margin-bottom: 30px;
}

.intro-content {
  display: inline-block;
  padding: 10px 60px;
  vertical-align: top;
}

.intro-img {
  width: 70px;
  height: 60px;
  //background:url('https://dl.dropboxusercontent.com/s/jgedv3pfb97ingo/sprite.png') no-repeat;
  display: none;
}

.screeenshot {

}

.intro1 .intro-img {
  background-position: -8px -12px;
}

.intro2 .intro-img {
  background-position: -79px -11px;
}

.intro3 .intro-img {
  background-position: -152px -11px;
}

.intro-text {
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}

.gif-enc {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #3fb3d9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.gif-enc.map img {
  width: 62px;
  margin-top: 18px;
}

.gif-enc.pig img {
  height: 64px;
  margin-top: 10px;
}

/*Section 1*/

.intro-main-enc {
  width: $content-width;
  margin: 90px auto;
}

.intro-content-sec {
  width: 46%;
  position: relative;
  left: -30px;
}

.intro-screenshot-sec {
  width: 54%;
}

.intro-screenshot-sec {
  height: 360px;
}

.clarity-img {
  position: relative;
  top: -100px;
}

.time-img {
  position: relative;
  right: 50px;
  top: -36px;
}

.money-img {
  top: -60px;
  position: relative;

}

.intro-title {
  color: #218ce7;
  font-size: 1.8em;
  padding-bottom: 30px;
}

.intro-explain {
  font-weight: 300;
  font-size: 1.3em;
  line-height: 36px;
  strong.mini-title {
    display: block;
    font-weight: 300;
  }
}

/*Feature section*/

.feature-enc {
  width: $content-width;
  margin: 0 auto;
}

.main-title {
  font-size: 2.4em;
  font-weight: 300;
  border-bottom: 2px solid #f7f7f7;
  width: 190px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 30px;
}

.sub-title {
  font-weight: 300;
  color: $grey-dark;
  padding-top: 10px;
  margin-bottom: 70px;
  font-size: 1.4em;
}

.sep-feature-sec {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin: 0 40px;
}

.feature-circle {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  background: url("<%= image_path('home-images/sprite.png') %>") no-repeat;
  &.market {
    background-color: #30a6bf;;
    background-position: -10px -70px;
  }
  &.competition {
    background-color: #bf304a;
    background-position: -90px -70px;
  }
  &.product {
    background-color: #99948a;
    background-position: -170px -70px;
  }
  &.customer {
    background-color: #16a085;
    background-position: -250px -70px;
  }
  &.pricing {
    background-color: #F5A120;
    background-position: -330px -70px;
  }
  &.delivery {
    background-color: #9c5055;
    background-position: -410px -70px;
  }
}

.feature-title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  &.market {
    color: #30a6bf;
  }
  &.competition {
    color: #bf304a;
  }
  &.product {
    color: #99948a;
  }
  &.customer {
    color: #16a085;
  }
  &.pricing {
    color: #F5A120;
  }
  &.delivery {
    color: #9c5055;
  }
}

.feature-exp {
  font-weight: 300;
  text-align: left;
  color: $grey-dark;
  font-size: 14px;
  padding-left: 20px;
}

.feature-row-2 {
  margin-top: 60px;
}

/*Last section*/

.temp {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 26px;
}

.btn.call-to-action {
  font-size: 1.2em;
  padding: 6px 0;
  font-weight: 600;
  .sub-text {
    font-size: 0.7em;
    font-weight: 300;
  }
}

.cta-exp {
  font-size: 1.1em;
  font-weight: 300;
  width: 50%;
  margin: 40px auto 0;
  line-height: 30px;
  color: $grey-dark;
}

/*Footer*/
footer {
  background: $blue-grey;
  //margin-top: 60px;
}

.footer-content-enc {
  width: $content-width;
  margin: 0 auto;
  padding: 30px 0 20px;
}

.copyright {
  font-size: 0.8em;
  color: $grey-dark;
  margin-top: 10px;
}

.social-links li {
  padding: 0 10px;
  vertical-align: middle;
}

.social {
  width: 25px;
  height: 35px;
  display: inline-block;
  vertical-align: top;
  background: url("<%= image_path('home-images/sprite.png') %>") no-repeat;
  @extend .transitions;
}

.facebook {
  background-position: -7px -145px;
  &:hover {
    background-position: -7px -184px;
  }
}

.twitter {
  background-position: -35px -148px;
  &:hover {
    background-position: -35px -186px;
  }
}

.alert-info {
  background-color: #218ce7;
  border: 0;
  color: #fff;
  width: 700px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -350px;
  z-index: 20;
}

button.close {
  width: initial;
  min-width: initial;
}

.carousel {
  //margin-top: 60px;
  .carousel-control {
    background-image: none;
    &.right {
      margin-right: -110px;
      //margin-top: 130px;
    }
    &.left {
      margin-left: -80px;
      //margin-top: 130px;
    }
  }
}

.testimonal-content {
  height: 150px;
  padding: 0 10px;
  //font-style: italic;
  letter-spacing: .5px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
}

.auth-title {
  padding-top: 30px;
  font-size: 14px;
  //width: 40%;
  //margin: -20px auto 0 auto;
  //border-radius: 5px;
  //position: relative;
  //height: 80px;
  //padding-top: 28px;
}

//.test-text {
//  position: relative;
//  top: 50%;
//  transform: translateY(-50%);
//}
.fa-quote-left {
  //position: absolute;
  //font-size: 76px;
  //top: 30px;
  //left: 20px;
  //opacity: .4;
}

.author_img {
  //position: absolute;
  //top: -25px;
  //left: 0;
  //right: 0;
  img {
    border-radius: 50pc;
  }
}



.list-1 {
  li {
    display: block;
    padding-left: 0;
    font-size: 18px;
    margin: 10px 0;
  }
}








