$pricing-blue: #3FB3D9;

.price-table {
  width: 74%;
  background-color: $white;
  border-right: 10px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.offer {
  text-align: center;
  padding-bottom: 20px;
  padding:0;
  width: 50%;
  float:none;
  margin: 0 auto;
  h3 {
    margin: 0;
    padding-bottom: 10px;
  }
  .title-enc {
    background-color: $blue-grey;
    padding: 14px;
  }
  &.recommended {
    background-color: $blue-grey;
    border: 1px solid $blue_grey;
    position:relative;
    z-index: 10;
    //-webkit-transform: scale(1.05);
    //-moz-transform: scale(1.05);
    //transform: scale(1.05);
    .title-enc {
      background-color: #FF9900;
      color:#fff;
    }
    .cta-enc{
      padding-bottom: 30px;
    }
  }
}

.outline-btn.filled{
  background-color: #FF9900;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border: 0;
  &:hover{
    background-color:#E28904;
  }
}

.pricing-enc {
  span:nth-child(2) {
    font-size: 20px;
  }
}

.desc {
  padding: 10px;
  font-size: 16px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #eee;
}

.desc1 {
  margin-top: 30px;
}

.desc4 {
  border:0;
}

.cta-enc {
  padding: 20px;
}

.cta-btn {
  &:hover {
    color: white;
  }

  &.blue {

  }
}