@media (max-width: 1199px) {
  .clarity-img, .time-img, .money-img {
    width: 100%;
  }
  .intro-content-sec {
    position: static;
  }
}



@media (max-width: 992px) {

  #new_user {
    width: 40%;
    margin: 0 auto;
  }
  .carousel {
    margin-top: 30px;
    .carousel-control {
      display: none;
    }
  }
  .price-table {
    width: 100%;
  }
  .desc {
    font-size: 14px;
  }
  .offer {
    margin-bottom: 20px;
  }

}

@media (max-width: 767px) {

  body {
    font-size: 13px;
  }

  /*Pricing*/
  .offer {
    float: none;
    width: 90%;
    margin: 0 auto 10px;
    border: 1px solid #eee;
  }
  /*TOp section*/
  .top-section {
    //height: 500px;
    height: 750px;
  }


  .testimonal-content {
    font-size: 1.1em;
    padding: 0 20px;
    text-align: center;
  }


  .auth-title {
    //width: 80%;
  }

  #new_user {
    width: 50%;
    margin: 0 auto;
  }



  .caption-inner {
    margin-top: 30px;
  }
  /*Content*/
  .intro-content-sec, .intro-screenshot-sec {
    width: 100%;
  }
  /*Sep-feature-sec*/
  .sep-feature-sec {
    width: 100%;
    margin: 0;
  }
  .feature-exp {
    text-align: center;
  }
  .feature-row-2 {
    margin-top: 20px;
  }
  ul li {
    padding: 0 10px;
  }
  ul li a {
    font-size: 13px;
  }
  .clarity-img, .time-img, .money-img {
    position: static;
    width: 100%;
    margin: 0;
  }
  .intro-main-enc {
    margin: 0 auto;
  }
  .intro-screenshot-sec {
    height: initial;
  }
  .time-ss-sec {
    float: right !important;
  }
  .time-c-sec {
    float: left !important;
  }

  /*Contact*/
  .form-container {
    width: 80%;
    margin-top: 140px;
  }
}

@media (max-width: 600px) {



  #new_user {
    width: 60%;
    margin: 0 auto;
  }

  /*Pricing*/
  .offer {
    width: 100%;
  }

  header {
    .headerTwo img {
      width: 120px;
      float: none !important;
    }
    .headerTwo .custom-nav {
      float: none !important;
      padding: 0;
    }
  }
  /*Intro section*/
  .intro-content {
    width: 200px;
    padding: 0;
    margin: 30px 0 0;
    display: block;
    margin: 0 auto 20px;
  }
  .intro1 {
    margin-top: 0;
  }
  .intro-img {
    display: inline-block;
    margin-bottom: 6px;
    display: none;
  }
  .intro-text {
    display: block;
  }
  /*Footer*/
  footer div.pull-left, footer div.pull-right {
    float: none !important;
  }
}

@media (max-width: 479px) {

  #new_user {
    width: 80%;
    margin: 0 auto;
  }

  footer {
    .footer-list li {
      padding-bottom: 4px;
    }
    .col-xs-6 {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .three-img-enc li img {
    height: 60px;
  }
  .content-main-enc .ipad-img-enc img {
    width: 300px;
  }
  header .custom-nav li.button {
    margin-top: 10px;
    display: block;
  }
  .content-main-enc .ipad-img-enc .home-btn {
    bottom: 21px;
    width: 32px;
    height: 32px;
    margin-left: -16px;
  }
  /*Mock changes*/
  /*TOp section*/
  .signup-enc {
    display: block;
  }
  .main-caption {
    font-size: 2.2em;
  }
  .sub-caption {
    font-size: 1.1em;
  }
  .caption-inner {
    margin-top: 20px;
  }
  .btn:not(.btn-google-plus) {
    //width: 160px;
  }
  /*About page*/
  .about-co {
    margin-top: 0 !important;
  }
  /*Login pages*/
  .sign-in-enc {
    min-width: 320px;
  }
  .signin-logo-enc {
    text-align: center;
    img {
      width: 60px;
    }
    a {
      position: static;
    }
  }

}

.logo-enc, .navigation-enc {
  text-align: center;
}

.navigation-enc {
  margin-top: 14px;
}

@media (min-width: 768px) {

  .test-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }


  /*Header*/

  header {
    padding-top: 20px;
  }

  .logo-enc {
    text-align: left;
  }
  .navigation-enc {
    text-align: right;
  }
  .navigation-enc {
    margin-top: 0;
  }

  .slider-enc {
    height: 430px;
  }
  header {
    .headerOne {
      .custom-nav {
        display: block;
      }
    }
  }
  header .headerOne img {
    margin-top: 0;
  }
  .content-main-enc .ipad-img-enc {
    position: absolute;
    top: -20px;
    right: -29%;
    margin-top: 0;
    img {
      width: 440px;
      display: block;
      margin: 0 auto;
    }
  }
  .three-img-enc {
    li {
      margin: 0 30px;
      img {
        height: 84px;
      }
    }
  }
  /*Main content*/
  .main-content-left {
    width: 70.33333333%;
  }
  .gif-title-enc {
    .page-title {
      margin: 0;
      text-align: left;
    }
  }
  .gif-main-enc, .gif-title-enc {
    width: auto;
  }
  .page-content {
    font-size: 18px;
  }
  .content-main-enc .ipad-img-enc .home-btn {
    width: 40px;
    height: 40px;
    left: 70%;
    bottom: 36px;
  }

}

@media (min-width: 992px) {



  .content-main-enc .ipad-img-enc {
    right: -20%;
    img {
      width: auto;
    }
  }
  .slider-enc {
    height: 500px;
  }
  .slider-enc {
    .main-caption {
      font-size: 32px;
      letter-spacing: 2px;
    }
    .sub-caption {
      font-size: 18px;
    }
  }
  button {
    padding: 10px 20px;
    min-width: 175px;
  }
  .page-title {
    font-size: 32px;
    letter-spacing: 0.5px;
  }
  .content-main-enc .ipad-img-enc .home-btn {
    bottom: 42px;
    left: 66%;
  }

}

@media (min-width: 1200px) {
  .slider-enc {
    height: 650px;
  }
  .content-main-enc .ipad-img-enc {
    right: -15%;
  }
  .content-main-enc .ipad-img-enc .home-btn {
    width: 44px;
    height: 44px;
    left: 72%;
  }
}

@media (min-width: 1279px) {
  .slider-enc {
    height: 810px;
  }
}