.form-container {
  margin: 80px auto;
  width: 40%;
  
  .page-title {
    text-align: center;
    color: #218ce7;
    font-weight: 300;
    margin-bottom: 40px;
  }

}

.feedback-form {
  text-align: center;

  .form-control {
    margin-bottom: 20px;
    padding:20px;
  }

  .msg-field {
    height: 200px;
    resize: none;
  }

  .btn {
    @extend button;
  }
}

#external-feedback-form{
  .normal-input{
    border: 1px solid #f0f0f0;
  }
  .normal-input.email-field{
    font-size: 18px;
  }
  .normal-input.msg-field{
    font-size: 16px;
    word-spacing: 4px;
  }
}
