//Colors

$greyd: #ddd;
$white: #fff;
$text_color: #333;
$greyd: #f0f0f0;
$light_blue: #218ce7;
$dark_blue: #236AA6;
$curious_blue: #218ce7;
$light_green: #38c76a;
$dark_green: #2bab58;
$grey72: #727272;
$greyf7: #f7f7f7;

//Mixins

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

//Placeholders

%extend_22 {
  min-width: initial;
  width: 40px !important;
  height: 40px;
  line-height: 40px;
  color: $white;
  background: transparent;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 50%;
}

%extend_47 {
  background: transparent;
  border-color: $greyd !important;
  color: $dark_blue;
}

body.user-sign {
  background: #f7f7f7;
}

.login-logo {
  width: 140px;
}

.vtop {
  display: inline-block;
  vertical-align: top;
}

.sign-in-outer-enc {
  margin-top: 20px;
}

.sign-page-title {
  margin: 0 0 40px;
  font-size: 2.2em;
  color: $light_blue;
}

.social-login-sec{
  margin-top: 30px;
  text-align: left;
}

.social-login-title{
  color: #777;
  padding-right: 10px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}


.signin-logo-enc {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  a{
    position:absolute;
    top:-12px;
    -webkit-transition:all ease-out  0.15s;
    -moz-transition:all ease-out 0.15s;
    transition:all ease-out 0.15s;
    &:hover{
      top:0;
    }
  }
  img{
    width:100px;
  }
}

.sign-in-enc {
  min-width: 360px;
  padding: 20px 30px 12px;
  .normal-input, .btn.user-sign {
    width: 100%;
  }

}

.btn.user-sign{
  height: 44px;
  min-width: 200px;
  //margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  &.reset-pw-btn{
    width:auto;
  }
}

.nofloat {
  float: none !important;
}

#new_user {
  .field {
    padding-bottom: 10px;
  }
  .remember-me-enc {
    text-align: left;
    margin: 12px 0 10px 1px;
    overflow: hidden;
    padding-bottom: 0;
  }
  + .fieldset {
    display: none;
  }
}

.new_user {
  input {
    width: 100%;
  }
}

.remember-me-check {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 0 !important;
}

.remember-me-label {
  color: $grey72;
  font-weight: 400;
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 2px;
}

.fpass {
  float: right;
}

.sign-in-or {
  margin: 14px;
}

.user-sign-link a {
  color: $dark_blue;
  font-size: 14px;
}

.remember-me-enc a {
  color: $light_blue;
  font-size: 13px;
}

/*================START Common for app and static homes==============*/

.mb20 {
  margin-bottom: 20px;
}

.normal-input {
  padding: 10px;
  border: 1px solid $greyd;
  color: $text_color;
  box-shadow: inset 0 0 1px 0 $greyd;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  @include border-radius(3px);
  outline: none;
  &:focus {
    @include box-shadow(0 0 2px 0 $curious_blue !important);
    border: 1px solid $curious_blue !important;
  }
}

.sign-in-outer-enc .btn {
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  @include border-radius(3px);
  width: auto;
  color: $white;
  border: 0 !important;
  padding: 8px 12px;
  background: $light_blue;
  //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all ease-out 0.1s;
  outline: 0;
  &:focus {
    background: $light_blue;
    color: $white;
  }
  &:hover {
    background: $dark_blue;
    color: $white;
  }
  &:active {
    background: $dark_blue;
    color: $white;
  }
  &.home-update {
    padding-left: 10px;
  }
  &.pitch-his-btn {
    @extend %extend_22;
  }
  &.fire-ques {
    @extend %extend_22;
  }
}

.user-field-enc {
  position: relative;
  .user-field-error {
    padding: 5px 5px 5px 10px;
    @include border-radius(3px);
    color: #fff;
    background: rgba(239,132,95, .6);
    font-size: 14px;
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 8px 0;
      border-color: transparent rgba(239,132,95, .6) transparent transparent;
      left: -8px;
      top: 6.5px;
    }
  }
  .user-field-error-enc {
    position: absolute;
    right: -286px;
    width: 280px;
    top: 6px;
    z-index:1;
  }
}

/*================END Common for app and static homes==============*/

.sign-in-outer-enc .btn.btn-google-plus,.btn-google-plus {
  padding-left: 50px;
  width: 60px;
  background-color: #D14836;
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
  background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
  background-image: -o-linear-gradient(top, #dd4b39, #d14836);
  background-image: linear-gradient(top, #dd4b39, #d14836);
  border: 1px solid transparent;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  width: 100px;
  background-image: url(https://dl.dropboxusercontent.com/s/6qbnih6mce2mab8/gplus.png);
  background-position: 38px 8px;
  background-size: 23px;
  background-repeat: no-repeat;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
  border-radius: 0;
  margin: 0 auto;
  display: block;
}

.sign-in-outer-enc .btn.btn-google-plus:hover,.btn-google-plus:hover,.sign-in-outer-enc .btn.btn-google-plus:focus, .btn-google-plus:focus {
  background-color: #C53727;
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
  background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
  background-image: -o-linear-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(top, #dd4b39, #c53727);
  background-image: url(https://dl.dropboxusercontent.com/s/6qbnih6mce2mab8/gplus.png);
  background-position: 38px 8px;
  background-size: 23px;
  background-repeat: no-repeat;
}

.user-outline-btn{
  color:$light_blue;
}

.btn.user-outline-btn:hover {
  background: none;
  color: $dark_blue;
}

.btn-primary.btn-signup {
  width: 100%;
  background: transparent;
  color: $dark_blue;
  border: 1px solid $greyf7 !important;
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: initial;
  padding: 11px 12px;
  @include border-radius(3px);
  &:hover {
    @extend %extend_47;

  }
  &:focus {
    @extend %extend_47;
  }
}