<div class="dashboard-enc clearfix">
  <div class="row">
    <div class="col-xs-7">
      <div class="dashboard-container">
        <%= yield %>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="discussions-container">
        <h4>Discussions</h4>
        <ul>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <div class="progress-container">
      <!--<svg width="1000px" height="300px"></svg>-->
    </div>
  </footer>

</div>