<div class="dashboard-container">
  <div class="tabs">
    <ul class="nav dashboards-list">
      <li data-dashboard-stage="1" data-behaviour="open_in_new_tab" data-tab-ref="home" data-href="<%= app_path(view: 'home') %>" data-toggle="tab" href="#find" class="<%= 'active' if active_product.current_stage == 1 || active_product.current_stage.nil? %>">Stage 1
      </li>
      <li data-dashboard-stage="2" data-behaviour="open_in_new_tab" data-tab-ref="home" data-href="<%= app_path(view: 'home') %>" data-toggle="tab" href="#make" class="<%= 'active' if active_product.current_stage == 2 %>">
        Stage 2
      </li>
      <li data-dashboard-stage="3" data-behaviour="open_in_new_tab" data-tab-ref="home" data-href="<%= app_path(view: 'home') %>" data-toggle="tab" href="#ship" class="<%= 'active' if active_product.current_stage == 3 %>">
        Stage 3
      </li>
      <li data-dashboard-stage="4" data-behaviour="open_in_new_tab" data-tab-ref="home" data-href="<%= app_path(view: 'home') %>" data-toggle="tab" href="#grow" class="<%= 'active' if active_product.current_stage == 4 %>">Stage 4</li>
    </ul>
  </div>

  <div class="tab-content">
    <div id="find" class="tab-pane <%= 'active' if active_product.current_stage == 1 || active_product.current_stage.nil? %> ">
      <%= render "dashboards/find" %>
    </div>
    <div id="make" class="tab-pane <%= 'active' if active_product.current_stage == 2 %> ">
      <%= render "dashboards/make" %>
    </div>
    <div id="ship" class="tab-pane <%= 'active' if active_product.current_stage == 3 %> ">
      <%= render "dashboards/ship" %>
    </div>
    <div id="grow" class="tab-pane <%= 'active' if active_product.current_stage == 4 %> ">
      <%= render "dashboards/grow" %>
    </div>
  </div>
</div>