<header class="dash-header">
  <header>
    <h4 class="dash-title">Finding <%= ae_live_field(active_product, :product_name) %>'s beachhead market</h4>
  </header>

</header>

<section class="tools-list">
  <ul>
    <% step_list_by_group(:find).each do |num, step| %>
        <li class="dash-tool-list-item" data-behaviour="open_in_new_tab" data-tab-ref="<%= all_tools.invert[num] %>" data-href="<%= app_path(view: all_tools.invert[num]) %>">
          <div class="tool-name-enc">
            <!--<div class="tool-validation-status tool-status-circle <%#= tool_stage(num).gsub(' ', '_').downcase %>" data-toggle="tooltip" data-title="<%#= tool_stage(num) %>"></div>-->
            <div class="tool-name "><%= step[:name] %></div>
          </div>
          <div class="tool-sub-text"><%= step[:subtext] %></div>
        </li>
    <% end %>
  </ul>

</section>
