<section class="dashboard-chart">
  <h4 style="padding-left: 10px;">Markets Analysis Results</h4>
  <table class="dashboard-1-table table">
    <thead>
    <tr>
      <th>Rank</th>
      <th>Market</th>
      <th>
        <div data-behaviour="open_in_new_tab" data-tab-ref="diagnosis" data-href="<%= app_path(view: 'diagnosis') %>">Diagnosis
          Result
        </div>
      </th>
      <th>
        <div data-behaviour="open_in_new_tab" data-tab-ref="beachhead" data-href="<%= app_path(view: 'beachhead') %>">Beachhead
          Result
        </div>
      </th>
      <th>
        <div data-behaviour="open_in_new_tab" data-tab-ref="market-size" data-href="<%= app_path(view: 'market-size') %>">Market
          Size
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <% active_product.businesses.preferred.includes(:financials).each_with_index do |business, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= ae_live_field business, :business_name %></td>
          <td><%= business.diagnosis_result_name %></td>
          <td><%= business.size_result %></td>
          <td>$ <%= number_to_human business.market_value, units: :currency %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</section>