<%= form_for beachhead.main_activities.build, remote: true do |f| %>

    <div style="margin-top: 10px;">
      <%= f.text_field :main_activity_name, class: 'form-control', autofocus: 'on', placeholder: "e.g. Release version X of #{active_product.product_name}", value: (defined?(prefill) ? prefill : "") %>
    </div>

    <div style="margin-top: 10px;">
      <%= f.text_field :target_date, class: 'form-control datepicker', placeholder: 'Target date', value: (defined?(date) ? date : "")  %>
    </div>

    <div style="margin-top: 10px;text-align: right;">
      <%= button_tag class: 'btn btn-primary' do %>
          Schedule this milestone
      <% end %>
    </div>

<% end %>