<section class="dashboard-chart">
  <h4 style="padding-left: 10px;">Customer Experience Results</h4>

  <div style="width: 100%; height: 200px;">
    <%= render 'touchpoints/cx_chart', touchpoints: beachhead.touchpoints, height: 200 %>
  </div>

</section>