<section class="dashboard-chart">
  <h4 style="padding-left: 10px;">Product Research Results</h4>
  <table class="dashboard-2-table table">
    <colgroup>
      <col>
      <col>
    </colgroup>
    <tbody>
    <% make_dashboard_content.each do |item| %>
        <tr>
          <th><%= item[0] %></th>
          <td><%= item[1] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</section>