<div class="prog-bar-container">
  <div class="edison-progress-bar">
    <% progress_hash = stage_progress %>
    <div class="prog-bar-inner" style="width: <%= [2, progress_hash[2]].max %>%;"></div>
  </div>
  <div class="progress-desc"><%= progress_hash[2] %>% complete</div>
</div>

<ul class="progress-items">
  <% progress_hash[3].each_with_index do |item, index| %>
      <li class="progress-item" style="<%= 'display:none;' if index != 0 %>"><%= item.html_safe %></li>
      <% if index == 0 %>
          <div class="prog-list-more" data-behaviour="expand_list">...more</div>
      <% end %>
  <% end %>
  <div class="prog-list-less" data-behaviour="collapse_list" style="display: none;">...less</div>
</ul>