<div class="milestone-main-info">




  <div class="milestone-title">

    <% unless milestone.overdue? %>
        <div class="days-to-go">
          <div class="num-of-days"><%= d = milestone.days_to_go %></div>
          <div class="word">day<%= 's' if d != 1 %> to go</div>
        </div>
    <% end %>

    <div class="milestone-description">
      <div class="milestone-name"><%= milestone.main_activity_name %> </div>

      <% if milestone.release %>
          <div class="milestone-type"><%= release_versions[beachhead.latest_release.release_version] %> release</div>
      <% end %>

      <div><%= milestone.release ? 'Releasing on ' : 'Completing on ' %>
        <div class="release-date">
          <div class="default-state"><%= ae_live_field milestone, :target_date, display_with: :ldt %></div>
          <div class="edit-state"><%= active_edit_if has_valid_access?, milestone, :target_date, type: :date %></div>
        </div>
      </div>

      <div class="milestone-options">
        <div class="dropdown" style="margin-top: 10px;margin-right: 10px;">
          <button class="transparent-btn" type="button" data-toggle="dropdown"><%= fa_icon 'cog' %> options</button>
          <ul class="dropdown-menu">
            <li><%= button_to 'Complete milestone', main_activity_path(milestone, main_activity: {stage: 4}), remote: true, class: 'btn btn-link', method: :put %></li>
            <li>
              <div>
                <button class="btn btn-link" data-behaviour="reschedule_milestone" >Reschedule milestone</button>
              </div>
            </li>
            <li><%= button_to 'Abandon milestone', main_activity_path(milestone, main_activity: {stage: 5}), remote: true, class: 'btn btn-link', method: :put, 'data-confirm' => 'Are you sure you want to abandon this milestone?' %></li>
            <li><%= pseudo_link 'View all milestones', milestones_path, 'btn btn-link' %></li>
          </ul>
        </div>
      </div>

    </div>

  </div>


  <div class="row hidden" style="text-align: center;margin-top: 30px;">
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">
      <div class="btn btn-link" data-behaviour="clone_target_in_new_tab" data-tool-type="feedback">+ Add New Feedback
      </div>
    </div>
  </div>



  <% if milestone.is_due? && !milestone.achieved? %>
      <div class="milestone-completion-question">
        The <%= milestone.release ? 'release date' : 'target date' %> <%= milestone.due_today? ? 'is today' : "was #{pluralize milestone.overdue_days, 'day'} ago" %>
        . Have you
        successfully <%= milestone.release ? "released" : "completed" %> <%= milestone.main_activity_name %>?
        <div class="btn-container" style="margin-top: 10px;">
          <%= button_to 'Yes', main_activity_path(milestone, main_activity: {stage: 4}), remote: true, class: 'btn btn-primary', method: :put %>
          <div class="btn-link btn" data-behaviour="reschedule_milestone">Reschedule <%= milestone.release ? 'release' : 'sales target' %></div>
        </div>
      </div>
  <% end %>

</div>
