<div class="milestone-form">
  <div style="white-space: pre-line; margin-bottom: 10px;" data-behaviour="toggle_target" data-target=".form-choices-enc" data-hidden-text="<span class=hyperlink>Set a milestone for <%= active_product.product_name %>.</span> &#10;&#10; It can be product driven or sales driven. A measureable milestone like getting 100 customers or product 1.12 version live are more productive than getting more customers or product version live." data-shown-text="Set a milestone for <%= active_product.product_name %>">
    <span class="hyperlink">Set a milestone for <%= active_product.product_name %>.</span> &#10;&#10; It can be product driven or sales driven. A
    measureable milestone like getting 100 customers or product 1.12 version live are more productive than getting more
    customers or product version live.
  </div>

  <div class="form-choices-enc">
    <ul class="milestone-tabs nav nav-pills" role="tablist">
      <li class="milestone-tab active" data-toggle="pill" data-target=".release-form-enc">Schedule a release</li>
      <li class="milestone-tab" data-toggle="pill" data-target=".sales-target-enc">Schedule a sales target</li>
      <!--<li class="milestone-tab" data-toggle="pill" data-target=".milestone-form-enc">Schedule a milestone</li></li>-->
    </ul>


    <div class="tab-content">

      <div class=" release-form-enc tab-pane active">
        <%= render 'dashboards/release_form' %>
      </div>

      <div class="sales-target-enc tab-pane ">
        <%= render 'dashboards/sales_target_form' %>
      </div>

      <!--<div class="milestone-form-enc tab-pane ">-->
      <%#= render 'dashboards/generic_milestone_form' %>
      <!--</div>-->

    </div>
  </div>

</div>