<div class="milestone-status">

  <% if beachhead.has_latest_release? %>

      <% release = beachhead.latest_release %>
      <% release_date = release.target_date %>
      <%= render 'dashboards/milestone_main_info', milestone: release, milestone_date: release_date %>


  <% elsif beachhead.has_latest_sales_target? %>

      <% sales_target = beachhead.latest_sales_target %>
      <% sales_target_date = sales_target.target_date %>
      <%= render 'dashboards/milestone_main_info', milestone: sales_target, milestone_date: sales_target_date %>


  <% elsif active_product.current_stage.blank? %>

      <%= render 'dashboards/stage_selection_form' %>

  <% else %>

      <div style="text-align: center;">
        <div style="white-space: pre-line; margin-bottom: 10px;" data-behaviour="toggle_target" data-target=".milestone-form" data-hidden-text="<span class=hyperlink>Set a milestone for <%= active_product.product_name %>.</span> &#10;&#10; It can be a product release or a sales target. Measurable milestones such as &#34;meet 10 customers to find out about the market&#34;, &#34;release beta version 0.1&#34;, &#34;recruit 100 customers&#34; are better than generic milestones such as &#34;Go out for market research&#34;, &#34;Release the product&#34;, &#34;Get customers&#34;." data-shown-text="Set the first milestone for <%= active_product.product_name %>">
          <span class="hyperlink">Set the first milestone for <%= active_product.product_name %></span> &#10; It can
          be a product release or a sales target. Measurable milestones such as &#34;meet 10 customers to find out about
          the market&#34;, &#34;release beta version 0.1&#34;, &#34;recruit 100 customers&#34; are better than generic
          milestones such as &#34;Go out for market research&#34;, &#34;Release the product&#34;, &#34;Get customers&#34;.
        </div>
      </div>

      <div class="milestone-form">
        <%= form_for beachhead.main_activities.build, remote: true do |f| %>
            <div class="row" style="margin-top: 10px;line-height: 30px;">
              <div class="col-xs-5" style="text-align: right;">
                Release Name
              </div>
              <div class="col-xs-6">
                <%= f.text_field :main_activity_name, class: 'form-control', value: "#{active_product.product_name} [release #{beachhead.release_count + 1}]" %>
              </div>
            </div>

            <div class="row" style="margin-top: 10px;line-height: 30px;">
              <div class="col-xs-5" style="text-align: right;">
                Target date
              </div>
              <div class="col-xs-3">
                <%= f.text_field :target_date, class: 'form-control datepicker', placeholder: 'Release date' %>
              </div>
            </div>

            <div class="row" style="margin-top: 10px;line-height: 30px;">
              <div class="col-xs-5" style="text-align: right;">
                Release Version
              </div>
              <div class="col-xs-5" style="text-align: left;">
                <%= f.collection_select :release_version, release_versions, :first, :last, {prompt: 'Product version'}, {class: 'select'} %>
              </div>
            </div>

            <%= f.hidden_field :release, value: true %>
            <div class="row" style="margin-top: 10px;line-height: 30px;">
              <div class="col-xs-5"></div>
              <div class="col-xs-6">
                <div class="btn-container" style="text-align: left; ">
                  <%= button_tag class: 'btn btn-primary' do %>
                      Schedule Release
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>


  <% end %>

</div>