<div class="release-other-info">

  <section class="toolkit-list">
  <h2 class="title">Recommended Tools</h2>
    <% tools_for_stage(1).each do |k, v| %>
        <%= render 'steps/partials/step_item', step_num: k, step_data: v %>
    <% end %>
  </section>
</div>