
  <%= form_for beachhead.main_activities.build, remote: true do |f| %>
      <div class="row" style="margin-top: 10px;line-height: 30px;">
        <div class="col-xs-5" style="text-align: right;">
          Release Name
        </div>
        <div class="col-xs-6">
          <%= f.text_field :main_activity_name, class: 'form-control', value: "#{active_product.product_name} [release #{beachhead.release_count + 1}]" %>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;line-height: 30px;">
        <div class="col-xs-5" style="text-align: right;">
          Target date
        </div>
        <div class="col-xs-3">
          <%= f.text_field :target_date, class: 'form-control datepicker', placeholder: 'Release date' %>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;line-height: 30px;">
        <div class="col-xs-5" style="text-align: right;">
          Release Version
        </div>
        <div class="col-xs-5" style="text-align: left;">
          <%= f.collection_select :release_version, release_versions, :first, :last, {prompt: 'Product version'}, {class: 'select'} %>
        </div>
      </div>

      <%= f.hidden_field :release, value: true %>
      <div class="row" style="margin-top: 10px;line-height: 30px;">
        <div class="col-xs-5"></div>
        <div class="col-xs-6">
          <div class="btn-container" style="text-align: left; ">
            <%= button_tag class: 'btn btn-primary' do %>
                Schedule Release
            <% end %>
          </div>
        </div>
      </div>
  <% end %>

