

<%= form_for beachhead.main_activities.build, remote: true do |f| %>
    <div class="row" style="margin-top: 10px;line-height: 30px;">
      <div class="col-xs-5" style="text-align: right;">
        Sales Milestone Name
      </div>
      <div class="col-xs-7">
        <%= f.text_field :main_activity_name, class: 'form-control', placeholder: "e.g. 100 customers from Product Hunt" %>
      </div>
    </div>
    <div style="margin-top: 10px;line-height: 30px;" class="row">
      <div class="col-xs-5" style="text-align: right;">
        Target Date
      </div>
      <div class="col-xs-7">
        <%= f.text_field :target_date, class: 'form-control datepicker', placeholder: 'Release date' %>
      </div>
    </div>
    <%= f.hidden_field :sales_target, value: true %>

    <div class="row" style="margin-top: 10px;line-height: 30px;">
      <div class="col-xs-5"></div>
      <div class="col-xs-7">
        <div class="btn-container" style="text-align: left; ">
          <%= button_tag class: 'btn btn-primary' do %>
              Schedule Sales Target
          <% end %>
        </div>
      </div>
    </div>


<% end %>
