<h3>What phase is <%= ae_live_field(active_product, :product_name) %> presently in?</h3>

<% product_stages.each_with_index do |content, index| %>
    <%= select_stage content[0], content[1], false %>
<% end %>