(function () {
  $('.home-front-page-enc').html('<%= j front_page %><%= j render 'tab_views/partials/switch_view_footer' %>');
  $('.modal').modal('hide');
  scrollToTarget($(".app-workspace"));
}).call(this);


