body {
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: $blue-primary;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: none;
    color: $blue-secondary;
  }
}

.alert {
  position: absolute;
  display: block;
  z-index: 999;
  margin-left: -350px;
  width: 700px;
  left: 50%;
  top: 30px;
  &.alert-info {
    background-color: $blue-primary;
    color: $white;
  }
}

.alert-success {
  padding: 10px;
  margin: 10px 0;
}

.payment-logo-enc {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  a {
    position: absolute;
    top: 40px;
    -webkit-transition: all ease-out 0.15s;
    -moz-transition: all ease-out 0.15s;
    transition: all ease-out 0.15s;
    text-transform: uppercase;
    font-weight: 700;
    &:before {
      display: block;
      font-size: 2.4em;
      font-weight: 400;
      text-align: center;
      padding-bottom: 10px;
    }
    &:hover {
      //top:0;
    }
  }
}

.payment-errors.hasErrors {
  background-color: #eee;
  padding: 10px 20px;
  display: block;
  margin: 0;
  color: #d9534f;
  font-weight: 600;
  margin-bottom: 20px;

  &:before {
    content: '\f071';
    font-family: FontAwesome;
    padding-right: 8px;
    font-weight: 400;
  }
}

.payment-page-title {
  margin: 50px 0 30px 0;
  font-weight: 300;
}

#plan-container {
  width: 480px;
  display: block;
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

.bulb-logo {
  margin-left: 80px;
  float: left;
}

.authentic-img.stripe {
  margin-top: 30px;
}

#payment-form {

  .normal-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #eee;
    color: #333;
    box-shadow: inset 0 1px 4px 0 #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    &:focus {
      font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
      border-color: #218ce7;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.authentic-payment-enc {
  width: 440px;
  margin: 10px auto 50px;
  .secured-payment-title {
    font-size: 13px;
    font-weight: 300;
  }
}

.authentic-main-enc {
  overflow: hidden;
  margin-top: 30px;
}

.authentic-payment-seperate {
  position: absolute;
  right: -43px;
  top: 67%;
  transform: translateY(-50%);
  section {
    width: 40px;
    height: 28px;
    background: url("<%= image_path('sprite.png') %>") no-repeat;
    display: inline-block;
    &.discover {
      background-position: -147px -20px;
    }
    &.american-express {
      background-position: -147px -55px;
    }
    &.master {
      background-position: -147px -89px;
    }
    &.visa {
      background-position: -147px -124px;
    }
  }
}

.authentic-img {
  float: right;
}

.payment-row {
  overflow: hidden;
  padding: 0 20px;
}

.secure-area {
  padding: 20px;
  width: 100%;
  //background-color: $grey-bluish;
}

.secure-icon {
  text-align: left;
  font-size: 20px;
  line-height: 45px;
  opacity: .6;
  margin-left: -55px;
  
  .tooltip {
    opacity: 1;
    font-size: 14px;
    width: 200%;
  }
}

.payment-footer {
  a {
    color: grey;
  }
  color: grey;
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}

.payment-sec-title {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 16px;
}

.user-details-enc {
  label {
    font-weight: 400;
    display: block;
    vertical-align: middle;
    width: 28%;
    font-size: 13px;
  }
  p, select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  select {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    height: 37px;
    border-color: #eee;
    -webkit-box-shadow: inset 0 1px 4px 0 #eee;
    box-shadow: inset 0 1px 4px 0 #eee;
    &:focus {
      box-shadow: none;
      outline: 1px solid #218ce7;
    }

  }
  .attached-details-enc {
    float: none;
    .expiry-date-enc, .cvv-enc {
      display: inline-block;
      vertical-align: middle;
      width: 100px;
    }
  }
}

.card-details-enc {
  font-size: 18px;
  clear: both;
  background-color: white;
  padding: 20px 0;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  label {
    font-size: 16px;
    padding-left: 3px;
    font-weight: bold;
  }
}

.card-num-enc {
  position: relative;
}

.card-country-enc {
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #eee;
    font-size: 18px;
    height: 42px;
  }

}

.card-logo {
  position: absolute;
  font-size: 26px;
  opacity: .7;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}

.plan-subscribe-btn-enc {
  text-align: center;
  margin: 20px 0 10px;
  .plan-subscribe-btn {
    background-color: orange;
    border-color: orange;
    font-size: 16px;
    padding: 8px 20px;
    &:hover, &:focus {
      background-color: #E79704;
      border-color: #E79704;
    }
  }
}

/*Subscribed user*/

.detail-explanations {
  color: $text-color;
  margin: 40px -20px 40px;
  padding: 1px 30px 30px 30px;
  border-radius: 4px;
  border: 1px solid $grey-medium-light;
  background-color: white;
}

.exp-date-container {
  font-weight: 300;
  font-size: 16px;
  margin-top: -10px;
  .exp-date {
    font-weight: 600;
  }
}

.update-card-trigger {
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
  background-color: $blue-primary;
  color: $white;
  padding: 8px 12px;
  border-radius: 4px;
  &:hover {
    color: $grey-bluish;
    background-color: $blue-secondary;
  }
}

.unsub-content-enc ol {
  margin: 20px 20px 10px;
  list-style: none;
  li {
    text-align: left;
    padding: 5px 0;
    &.active-text {
      color: $green-primary;
      font-weight: 600;
      font-size: 16px;
      &:before {
        content: '\f058';
        font-family: FontAwesome;
        font-size: 16px;
        font-weight: 400;
        padding-right: 8px;
      }
    }
    &.cancel-sub-text {
      h4 {

      }
    }
  }
}

.unsub-btn {
  color: $danger-btn-red;
  font-weight: 600;
}

.unsub-link {
  color: $blue-primary;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 20px;
  &:hover {
    color: $blue-secondary;
    text-decoration: none;
  }
}

.update-card-enc {
  position: relative;
  display: none;
  margin-top: 40px;
  .back-button {
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    left: -80px;
    top: -2px;
  }
}