<style>


.signin-logo-enc {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.signin-logo-enc a {
    position: absolute;
    top: -12px;
    -webkit-transition: all ease-out 0.15s;
    -moz-transition: all ease-out 0.15s;
    transition: all ease-out 0.15s;
}

.signin-logo-enc a:hover {
    top: 0;
}

.signin-logo-enc img {
    width: 100px;
}

.sign-in-enc {
    min-width: 360px;
    padding: 20px 30px 12px;
}

.sign-in-enc .normal-input, .sign-in-enc .btn.user-sign {
    width: 100%;
}

.sign-in-enc .btn.user-sign.reset-pw-btn {
    width: auto;
}

.sign-in-outer-enc {
    margin-top: 20px;
}

        .text-center{
            text-align: center;
        }
.vtop {
    display: inline-block;
    vertical-align: top;
}
.sign-in-enc {
    min-width: 360px;
    padding: 20px 30px 12px;
}
.nofloat {
    float: none !important;
}

.sign-page-title {
    margin: 0 0 40px;
    font-size: 2.2em;
    color: #218ce7;
}
.normal-input {
    padding: 10px;
    border: 1px solid #f0f0f0;
    color: #333;
    box-shadow: inset 0 0 1px 0 #f0f0f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    margin-bottom: 10px;
}
.normal-input:focus {
    -webkit-box-shadow: 0 0 2px 0 #218ce7 !important;
    -moz-box-shadow: 0 0 2px 0 #218ce7 !important;
    -ms-box-shadow: 0 0 2px 0 #218ce7 !important;
    box-shadow: 0 0 2px 0 #218ce7 !important;
    border: 1px solid #218ce7 !important;
}
.sign-in-enc .normal-input, .sign-in-enc .btn.user-sign {
    width: 100%;
}

/*Button*/
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 220px;
    color: #fff !important;
    background-color: #218ce7;
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;

}
.sign-in-outer-enc .btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: auto;
    color: #fff;
    border: 0 !important;
    padding: 8px 12px;
    background: #218ce7;
    transition: all ease-out 0.1s;
    outline: 0;
}
.sign-in-enc .btn.user-sign {
    height: 44px;
    width: 230px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}
.sign-in-outer-enc .btn:hover {
    background: #236AA6;
    color: #fff;
}
.user-outline-btn {
    color: #218ce7;
    font-size: 15px;
}
a:hover {
    color: #236AA6;
    cursor: pointer;
    text-decoration: underline;
}


 #error_explanation h2 {
   display: none;
 }

#error_explanation ul {

}

#error_explanation li {
  padding: 0;
  font-size: 14px;
}





</style>


<div class="signin-logo-enc row">
  <%= link_to root_path do %>
      <%= image_tag 'home-images/bulb.png', class: 'logo-img' %>
  <% end %>

</div>

<div class="sign-in-outer-enc text-center">
  <div class="col-xs-4 sign-in-enc vtop nofloat">
    <div class="sign-in-left-inner">
      <h2 class="tit1 medium sign-page-title">Change your password</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field user-field-enc">
            <div id="user_email_error" class="user-field-error-enc"></div>
            <%= f.password_field :password, autofocus: true,:placeholder => "New password",:class => "normal-input", autocomplete: "off" %>
          </div>

          <div class="field user-field-enc">
            <%= f.password_field :password_confirmation,:placeholder => "Confirm password",:class => "normal-input", autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", :class => "btn user-sign" %>
          </div>
      <% end %>

    </div>
    </div>
  <div class="text-center"><%= render "users/shared/links" %></div>
</div>



