
<div class="signin-logo-enc row">
  <%= link_to root_path do %>
      <%= image_tag 'home-images/bulb.png', class: 'logo-img' %>
  <% end %>
</div>
<div class="sign-in-outer-enc text-center">
  <div class="col-xs-4 sign-in-enc password-reset-enc vtop nofloat">
    <div class="sign-in-left-inner">


      <h2 class="tit1 medium sign-page-title">Forgot your password?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'reset-pw-form'}) do |f| %>


          <div class="field user-field-enc">
            <div id="email-reset-pw-errors" class="user-field-error-enc"></div>
            <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class => "normal-input reset-pw-email", :id => 'reset-email', value: params[:email] %>
          </div>

          <div class="actions mb30">
            <%= f.submit "Reset password", :class => "btn user-sign reset-pw-btn" %>
          </div>
      <% end %><br/>

      <%- if devise_mapping.registerable? && controller_name != 'sessions' %>
          <%= link_to "Back to login", new_session_path(resource_name), :class => "user-outline-btn" %>
          <br/>
      <% end -%>

    </div>
  </div>
</div>