<% unless touchpoints.pluck(:current_week_metrics, :past_week_metrics).flatten.include?(nil) %>
    <div class="cx-chart">
      <svg id="cx-chart" preserveAspectRatio="xMinYMin meet" viewBox="0 0 1100 300" width="100%" height="<%= height %>px">

        <rect class="great-zone xtend" x="0" y="0" width="1100" height="30"/>
        <rect class="great-zone" x="0" y="30" width="1100" height="30"/>
        <rect class="good-zone" x="0" y="60" width="1100" height="90"/>
        <rect class="average-zone" x="0" y="150" width="1100" height="120"/>
        <rect class="poor-zone" x="0" y="270" width="1100" height="60"/>
        <rect class="poor-zone xtend" x="0" y="330" width="1100" height="60"/>

        <% touchpoints.each_with_index do |touchpoint, index| %>
            <circle id="touchpoint_<%= touchpoint.touchpoint_no %>" cx="<%= (index + 1) * 100 %>" cy="<%= 20 + (1 - touchpoint.current_week_metrics/100.0) * 300 %>" r="2" stroke="black" stroke-width="3"></circle>
            <% unless index == 9 %>
                <path stroke-width="1" stroke="grey" d="M<%= (index + 1) * 100 %> <%= 20 + (1 - touchpoint.current_week_metrics/100.0) * 300 %> L<%= (index + 2) * 100 %> <%= 20 + (1 - touchpoints[index + 1].current_week_metrics/100.0) * 300 %>"/>
            <% end %>
            <circle id="touchpoint_<%= touchpoint.touchpoint_no %>" cx="<%= (index + 1) * 100 %>" cy="<%= 20 + (1 - touchpoint.past_week_metrics/100.0) * 300 %>" r="2" stroke="red" stroke-width="3"></circle>
            <% unless index == 9 %>
                <path stroke-width="1" stroke="grey" d="M<%= (index + 1) * 100 %> <%= 20 + (1 - touchpoint.past_week_metrics/100.0) * 300 %> L<%= (index + 2) * 100 %> <%= 20 + (1 - touchpoints[index + 1].past_week_metrics/100.0) * 300 %>"/>
            <% end %>
        <% end %>

      </svg>

    </div>
<% end %>