<% if @touchpoint.send(@field) %>
var obj = $('.touchpoint_<%= @field %>_<%= @touchpoint.id %>_t');
obj.addClass('selected');
<% else %>
var obj = $('.touchpoint_<%= @field %>_<%= @touchpoint.id %>_f');
obj.addClass('selected');
<% end %>
$('#touchpoint_<%= @touchpoint.id %>').find('.choice-display').html('<%= j @touchpoint.get_moods %>');