<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner " role="listbox">

    <div class="item active">
      <div class="testimony row">
        <!--<i class="fa fa-quote-left"> &ldquo; </i>-->

        <div class="auth-title col-md-3">
          <div class="author_img"><%= image_tag 'home-images/testimonials/james.jpeg', width: 70 %></div>
          <div class="author">James Broad</div>
          <div class="title">kulor.com</div>
        </div>
        <div class="testimonal-content col-md-9">
          <div class="test-text">
            Anyone creating a startup/side project, edisonplan.com is ace. <strong>Asks
            some really tough & relevant questions</strong>
          </div>
        </div>


      </div>
    </div>
    <div class="item">
      <div class="testimony row">
        <!--<i class="fa fa-quote-left"> &ldquo; </i>-->

        <div class="auth-title col-md-3">
          <div class="author_img"><%= image_tag 'home-images/testimonials/josh.jpeg', width: 70 %></div>
          <div class="author">Joshua A. Brueckner</div>
          <div class="title">Founder & CEO, Air Tailor</div>
        </div>
        <div class="testimonal-content col-md-9">
          <div class="test-text">Honestly, at first I was excited about this tool. Then when I signed up, I
            was overwhelmed because there is just so much. Then after clicking around a bit, I started to see
            just
            how helpful and robust it is. <strong>Feels like a great way to map out your thoughts</strong>.
          </div>

        </div>

      </div>
    </div>
    <div class="item">
      <div class="testimony row">
        <!--<i class="fa fa-quote-left"> &ldquo; </i>-->

        <div class="auth-title col-md-3">
          <div class="author_img"><%= image_tag 'home-images/testimonials/ryan.jpeg', width: 70 %></div>
          <div class="author">Ryan McCready</div>
          <div class="title">Founder of @ListHunt & @UpStartedHQ</div>
        </div>
        <div class="testimonal-content col-md-9">
          <div class="test-text">The @EdisonPlan Plan takes you through <strong>20 stages of shipping </strong>your
            #startup!
          </div>

        </div>

      </div>
    </div>
    <div class="item">
      <div class="testimony row">
        <!--<i class="fa fa-quote-left"> &ldquo; </i>-->

        <div class="auth-title col-md-3">
          <div class="author_img"><%= image_tag 'home-images/testimonials/chris.jpeg', width: 70 %></div>
          <div class="author">Christoph Speckmann</div>
          <div class="title">Co-Founder and CMO @4scottycom</div>
        </div>
        <div class="testimonal-content col-md-9">
          <div class="test-text">
            The<strong> all-in-one solution</strong> for your next product launch. I just signed up
            edisonplan.com #growthhacking
          </div>

        </div>

      </div>
    </div>
    <div class="item">
      <div class="testimony row">
        <!--<i class="fa fa-quote-left"> &ldquo; </i>-->

        <div class="auth-title col-md-3">
          <div class="author_img"><%= image_tag 'home-images/testimonials/alex.jpeg', width: 70 %></div>
          <div class="author">Alexander Keat</div>
          <div class="title">Founder at Welcome Technologies, Inc.</div>
        </div>
        <div class="testimonal-content col-md-9">
          <div class="test-text">Your platform is incredible. I really love the organization of it.</div>

        </div>

      </div>
    </div>
    <div class="item">
      <div class="testimony row">
        <!--<i class="fa fa-quote-left"> &ldquo; </i>-->

        <div class="auth-title col-md-3">
          <div class="author_img"><%= image_tag 'home-images/testimonials/garrett.jpeg', width: 70 %></div>
          <div class="author">Garrett Goehring</div>
          <div class="title">Co Managing Partner at DINE Partners</div>
        </div>
        <div class="testimonal-content col-md-9">
          <div class="test-text">I just recently started using Edison Plan and quickly fell in love with
            it.
          </div>

        </div>

      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>