<footer>
  <div class="footer-content-enc clearfix">
    <div class="clearfix">
      <div class="pull-left">
        <ul>
          <li><a href="/about">About us</a></li>
          <li><a href="/privacy">Privacy policy</a></li>
          <li><a href="/terms">Terms of use</a></li>
        </ul>
      </div>
      <div class="pull-right">
        <ul class="social-links">
          <li><a href="/support">Contact</a></li>
          <li><a href="https://www.facebook.com/edisonplan" target="_blank" class="social facebook"></a></li>
          <li><a href="https://www.twitter.com/EdisonPlan" target="_blank" class="social twitter"></a></li>
        </ul>
      </div>
    </div>
    <p class="copyright">&copy; 2016 EdisonPlan. All Rights Reserved.</p>
  </div>
</footer>