<div class="headerOne primary">
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4 logo pull-left logo-enc">
        <%= link_to root_path do %>
          <%= image_tag 'home-images/logo.png', class:'logo-img' %>
        <% end %>
    </div>
    </a>
    <nav class="col-xs-12 col-sm-9 col-md-9  col-lg-8 pull-right navigation-enc">
      <ul class="navigation">
        <li><a href="/support">Support</a></li>
        <li><a class="signup-enc " href="/sign_up">Sign Up for free</a></li>
        <li><a href="/sign_in" class="outline-btn">Log In</a></li>
      </ul>
    </nav>
  </div>
  </div>
</div>