<div class="headerOne secondary">
  <div class="container">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4 logo pull-left logo-enc">
        <%= link_to root_path do %>
            <img class="logo-img" src="https://dl.dropboxusercontent.com/s/w73sqlyznl7971p/logo.png"/>
        <% end %>
    </div>
    </a>
    <nav class="col-xs-12 col-sm-9 col-md-9  col-lg-8 pull-right navigation-enc">
      <ul class="navigation">
        <li><a href="/support">Support</a></li>
        <li><a href="/sign_in">Login</a></li>
        <li><a class="outline-btn" href="/sign_up">Signup for free</a></li>
      </ul>
    </nav>
  </div>
</div>