
<div class="container intro-section section-divider">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
      <p class="intro text-center">Win at your business by winning at:</p>

      <div class="text-center">
        <div class="intro-content intro1">
          <p class="intro-img"></p>

          <div class="gif-enc map">
            <img src="https://dl.dropboxusercontent.com/s/8whx9809afjeesn/map.gif">
          </div>
          <br/>
          <a class="intro-text">Clarity</a>
        </div>
        <div class="intro-content intro2">
          <p class="intro-img"></p>
          <!--Plane-->
          <div class="gif-plane-enc">
            <style>
              .plane-scene {
                position: relative;
                display: block;
                margin: 0 auto;
                width: 100px;
                height: 100px;
                background: #3FB3D9;
                border-radius: 50%;
              }

              svg:not(:root) {
                overflow: hidden;
                left: 23px;
                width: 54px;
                top: 12px;

              }

              .plane, .cloud, .balloon {
                position: absolute;
              }

              .cloud {
                -webkit-animation-duration: 9s;
                animation-duration: 9s;
                -webkit-animation-name: cloud-move, cloud-fade;
                animation-name: cloud-move, cloud-fade;
                -webkit-animation-direction: normal;
                animation-direction: normal;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                display: block;
                background: url("https://res.cloudinary.com/hpkihknr4/image/upload/v1429203196/cloud.png");
                height: 42px;
                width: 54px;
                margin: 0 auto;
              }

              .cloud--small {
                -webkit-animation-duration: 3s;
                animation-duration: 3s;
                top: 0px;
                -webkit-transform: scaleX(0.3) scaleY(0.3);
                -moz-transform: scaleX(0.3) scaleY(0.3);
                transform: scaleX(0.3) scaleY(0.3);
              }

              .cloud--medium {
                animation-duration: 2.5s;
                -webkit-animation-duration: 2.5s;
                animation-delay: 1s;
                -webkit-animation-delay: 1s;
                top: 35px;
                -webkit-transform: scaleX(0.3) scaleY(0.3);
                -moz-transform: scaleX(0.3) scaleY(0.3);
                transform: scaleX(0.3) scaleY(0.3);
              }

              .cloud--large {
                animation-duration: 3.5s;
                -webkit-animation-duration: 3.5s;
                animation-delay: 2.5s;
                -webkit-animation-delay: 2.5s;
                top: 52px;
                -webkit-transform: scaleX(0.35) scaleY(0.35);
                -moz-transform: scaleX(0.35) scaleY(0.35);
                transform: scaleX(0.35) scaleY(0.35);
              }

              @keyframes cloud-fade {
                0% {
                  opacity: 0
                }
                10% {
                  opacity: 1
                }
                90% {
                  opacity: 1
                }
                100% {
                  opacity: 0
                }
              }

              @keyframes cloud-move {
                from {
                  left: 70px
                }
                to {
                  left: 0
                }
              }

            </style>
            <div class="plane-scene">
              <div class="cloud cloud--small"></div>
              <div class="cloud cloud--medium"></div>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 595.3 841.9" width="150" class="plane" enable-background="new 0 0 595.3 841.9" xml:space="preserve">
                <g id="Layer_1_3_">
                  <g id="Layer_1_2_" display="none">
                    <g id="Layer_1_1_" display="inline">
                      <path fill="#C9C9C9" d="M276.3 259.3c-23.8 0-45.5 0-69.4 0 -2.1 0 6.5 21.7 12.9 21.7 23.8 0 45.5 0 69.4 0C291.4 283.1 282.7 259.3 276.3 259.3L276.3 259.3z"></path>
                      <path fill="#C9C9C9" d="M341.2 317.7c-23.8 0-45.5 0-69.4 0 -2.1 0 6.5 21.7 12.9 21.7 23.8 0 45.5 0 69.4 0C356.4 339.4 347.8 317.7 341.2 317.7L341.2 317.7z"></path>
                      <path fill="#C9C9C9" d="M163.5 417.4c-23.8 0-45.5 0-69.4 0 -2.1 0 6.5 21.7 12.9 21.7 23.8 0 45.5 0 69.4 0C178.6 441.3 170 417.4 163.5 417.4L163.5 417.4z"></path>
                      <path fill="#C9C9C9" d="M163.5 541c-23.8 0-45.5 0-69.4 0 -2.1 0 6.5 21.7 12.9 21.7 23.8 0 45.5 0 69.4 0C178.6 562.7 170 541 163.5 541L163.5 541z"></path>
                      <path fill="#C9C9C9" d="M321.7 716.6c-23.8 0-45.5 0-69.4 0 -2.1 0 6.5 21.7 12.9 21.7 23.8 0 45.5 0 69.4 0C336.9 740.5 328.3 716.6 321.7 716.6L321.7 716.6z"></path>
                      <path fill="#C9C9C9" d="M358.6 651.5c-23.8 0-45.5 0-69.4 0 -2.1 0 6.5 21.7 12.9 21.7 23.8 0 45.5 0 69.4 0C373.7 673.2 365.1 651.5 358.6 651.5L358.6 651.5z"></path>
                      <path fill="#EF4B24" d="M492.9 265.7c2.1-4.3 6.5-8.7 4.3-12.9 -2.1-8.7-10.8-10.8-19.5-10.8 -6.5 0-17.4-2.1-21.7 2.1 -4.3 6.5-8.7 15.2-10.8 21.7 -2.1 4.3-2.1 6.5 0 8.7 4.3 4.3 8.7 8.7 15.2 10.8l0 0c0 0 0 0 2.1 0C473.5 280.9 484.3 274.3 492.9 265.7z"></path>
                      <path fill="#EF4B24" d="M425.9 213.6c0-10.8-19.5-12.9-28.2-10.8 -8.7 0-30.3 8.7-28.2 19.5 0 6.5 8.7 10.8 12.9 12.9 4.3 2.1 8.7 4.3 12.9 6.5 6.5-4.3 10.8-8.7 17.4-12.9C417.1 226.7 425.9 220.2 425.9 213.6z"></path>
                      <path fill="#EF4B24" d="M202.5 413.1c0 0 0-2.1 0-4.3 -17.4 0-36.9-4.3-54.2-2.1 2.1 4.3 2.1 10.8 4.3 15.2 2.1-2.1 4.3-2.1 6.5 0 17.4 4.3 32.5 4.3 49.9 2.1C204.6 419.6 202.5 417.4 202.5 413.1z"></path>
                      <path fill="#EF4B24" d="M562.4 352.4c10.8-15.2-4.3-32.5-19.5-34.6 -28.2-4.3-54.2 36.9-30.3 58.5l0 0c0 0 0 0 2.1 0C529.8 374 551.5 365.4 562.4 352.4z"></path>
                      <path fill="#EF4B24" d="M200.3 577.8c-6.5 0-15.2-2.1-21.7-2.1 -8.7 0-19.5 2.1-28.2-2.1l0 0c0 2.1 0 4.3-2.1 6.5 -2.1 4.3-2.1 8.7-4.3 12.9 4.3 0 8.7 0 12.9 0 10.8 0 23.8-2.1 36.9-2.1C193.8 584.3 196 582.2 200.3 577.8z"></path>
                      <path fill="#EF4B24" d="M471.4 721L471.4 721 471.4 721 471.4 721z"></path>
                      <path fill="#EF4B24" d="M471.4 721L471.4 721C473.5 721 473.5 721 471.4 721z"></path>
                      <path fill="#EF4B24" d="M447.5 764.4c2.1-4.3 6.5-6.5 6.5-10.8 0-2.1 0 0 0-2.1 -6.5-2.1-17.4 0-23.8 0 0 2.1 0 4.3-2.1 4.3 -4.3 2.1-4.3 6.5-2.1 10.8 2.1 2.1 4.3 8.7 6.5 8.7C436.6 777.3 443.2 768.6 447.5 764.4z"></path>
                      <path fill="#8092A4" d="M800.8 460.8c-2.1-10.8-12.9-17.4-23.8-21.7 -15.2-6.5-30.3-8.7-45.5-10.8 -19.5-4.3-39.1-6.5-58.5-8.7 -30.3-4.3-60.8-6.5-88.9-4.3l0 0 0 0c-2.1 0-4.3-2.1-6.5-4.3 -2.1-2.1-2.1-2.1-4.3-4.3 0 0 0 0-2.1-2.1 -2.1-2.1-2.1-2.1-4.3-4.3 0 0 0 0 2.1 0 -2.1-2.1-2.1-4.3-4.3-6.5 -2.1-2.1-4.3-6.5-6.5-8.7l-2.1-2.1c-2.1 0-4.3 0-6.5-2.1 -10.8 6.5-23.8 8.7-34.6 8.7 -2.1 0-4.3 0-6.5-2.1 -2.1 0-4.3 0-6.5-2.1 -4.3-4.3-8.7-8.7-10.8-12.9 -10.8-19.5-2.1-41.2 10.8-56.3 -2.1 0-2.1-2.1-4.3-4.3 -2.1-8.7-10.8-15.2-17.4-19.5 -4.3 2.1-8.7 4.3-12.9 6.5 -4.3 2.1-6.5 0-8.7-2.1 -2.1 2.1-6.5 2.1-8.7 0 -6.5-4.3-15.2-10.8-17.4-17.4 -4.3-8.7-2.1-17.4 0-23.8 -2.1 0-4.3-2.1-6.5-4.3l0 0H424c-2.1 0-6.5-2.1-8.7-4.3 -4.3 2.1-8.7 4.3-10.8 6.5 0 0-2.1 0-2.1 2.1 -2.1 2.1-8.7 4.3-12.9 2.1 -12.9-8.7-39.1-19.5-34.6-41.2 0-2.1 2.1-6.5 4.3-8.7 -6.5-2.1-12.9-8.7-19.5-8.7 -6.5 0-15.2 8.7-19.5 12.9 -4.3 6.5-10.8 12.9-12.9 21.7 0 6.5 4.3 15.2 8.7 19.5 8.7 12.9 21.7 26 32.5 39.1 10.8 12.9 21.7 26 32.5 39.1 10.8 13 19.5 28.2 28.2 41.2 8.7 10.8 19.5 21.7 26 34.6 0 2.1 0 6.5-2.1 6.5l-8.7 8.7c0 4.3-2.1 6.5-6.5 6.5 -15.2 0-30.3 4.3-45.5 6.5 -15.2 4.3-28.2 10.8-43.4 15.2 -12.9 4.3-28.2 6.5-41.2 10.8 -8.7 2.1-19.5 4.3-28.2 8.7 0 2.1-4.3 6.5-8.7 4.3 -2.1 0-2.1 0-4.3 0 -4.3 2.1-10.8 0-10.8-6.5 0-4.3-4.3-8.7-6.5-10.8 -2.1-4.3-4.3-8.7-6.5-10.8 -2.1-2.1-4.3-4.3-6.5-8.7 0 0 0 0-2.1 0 -19.5 0-39.1 2.1-58.5-2.1 2.1 4.3 2.1 8.7 4.3 12.9 6.5 15.2 10.8 28.2 12.9 43.4l0 0c6.5 0 10.8 2.1 15.2 2.1 8.7 0 17.4 0 28.2 0 2.1-2.1 6.5-2.1 8.7 0l2.1 2.1c4.3 4.3 4.3 12.9-4.3 12.9 -10.8 0-19.5 0-30.3 0 -4.3 0-10.8 0-15.2 0 -2.1 0-6.5-2.1-6.5 0l0 0c-2.1 10.8-8.7 28.2-10.8 30.3 -2.1 6.5-4.3 10.8-6.5 17.4 0 0 0 0 2.1 0 4.3 2.1 8.7 0 10.8 0 4.3 0 6.5 0 10.8 0 8.7 0 19.5 4.3 30.3 2.1 2.1 0 4.3 0 6.5 0 8.7-10.8 15.2-19.5 23.8-28.2l0 0c15.2-8.7 36.9-4.3 56.3-2.1 47.7 8.7 97.5-4.3 145.3 2.1 6.5 0 6.5 6.5 6.5 10.8 2.1 4.3 0 8.7-4.3 10.8l0 0c0 2.1 0 4.3-2.1 4.3 0 4.3-2.1 8.7-2.1 10.8 -2.1 10.8-6.5 21.7-8.7 32.5 -6.5 21.7-15.2 41.2-19.5 62.9 -4.3 17.4-10.8 34.6-17.4 52 -4.3 6.5-6.5 12.9-10.8 19.5 -2.1 2.1-2.1 6.5-4.3 8.7 0 2.1 0 2.1 0 4.3 0 4.3-2.1 6.5-4.3 6.5 -4.3 6.5-10.8 12.9-10.8 21.7 -2.1 8.7 4.3 19.5 12.9 21.7 8.7 4.3 30.3-8.7 30.3-26 0-2.1 0-4.3 2.1-6.5 0-8.7 2.1-15.2 8.7-21.7 0 0 2.1-2.1 4.3-2.1 0-2.1 2.1-4.3 6.5-6.5 4.3 0 12.9-2.1 19.5-2.1 4.3-8.7 8.7-17.4 15.2-23.8 -4.3-4.3-6.5-6.5-8.7-12.9 -4.3-10.8 0-23.8 8.7-30.3 2.1-2.1 4.3-2.1 6.5-2.1 4.3-8.7 19.5-6.5 26-6.5h2.1c-2.1-6.5 2.1-12.9 6.5-17.4 2.1-2.1 2.1-4.3 6.5-6.5 -6.5-4.3-17.4-10.8-19.5-19.5s-2.1-17.4 4.3-23.8c2.1-4.3 6.5-6.5 10.8-8.7 0-2.1 2.1-4.3 4.3-4.3 10.8-6.5 26-8.7 39.1-8.7 6.5-17.4 19.5-34.6 39.1-41.2h2.1c0-2.1 2.1-2.1 6.5-2.1 26 0 52 0 78-2.1 21.7 0 41.2-2.1 62.9-4.3 17.4-2.1 34.6-6.5 47.7-17.4C792.2 493.3 803 476 800.8 460.8z"></path>
                      <path fill="#EF4B24" d="M514.6 677.6c-6.5-2.1-10.8-2.1-17.4-4.3 -4.3 0-8.7 0-12.9 0 -2.1 0-2.1 0-4.3 0l0 0c0 4.3-4.3 8.7-8.7 6.5 -2.1 6.5-4.3 10.8-2.1 15.2 4.3 6.5 10.8 10.8 17.4 10.8C501.7 710.2 512.5 692.8 514.6 677.6z"></path>
                      <path fill="#EF4B24" d="M553.7 614.8c4.3-6.5 12.9-15.2 10.8-23.8 0-2.1 0-2.1-4.3-4.3 -6.5 0-10.8 0-15.2 0 -6.5 0-15.2 0-23.8 2.1 0 4.3-2.1 10.8-8.7 8.7 -10.8-2.1-12.9 12.9-6.5 19.5 8.7 6.5 19.5 10.8 28.2 17.4C542.9 625.6 549.4 619.1 553.7 614.8z"></path>
                      <path fill="#010101" d="M471.4 721L471.4 721 471.4 721 471.4 721z"></path>
                      <path fill="#010101" d="M725 536.7c36.9 0 69.4-15.2 86.7-47.7 6.5-10.8 8.7-26 2.1-39.1 -6.5-10.8-17.4-19.5-28.2-23.8 -12.9-6.5-28.2-8.7-43.4-10.8 -19.5-4.3-39.1-6.5-56.3-8.7 -32.5-4.3-65.1-6.5-95.4-4.3 -4.3-8.7-12.9-21.7-21.7-28.2 2.1-2.1 6.5-4.3 8.7-8.7 15.2-21.7 2.1-47.7-19.5-56.3 -15.2-6.5-28.2-4.3-41.2 4.3l0 0c-2.1-10.8-10.8-17.4-19.5-23.8 6.5-4.3 10.8-8.7 12.9-15.2 2.1-12.9 2.1-21.7 0-30.3 -4.3-10.8-15.2-17.4-28.2-17.4 -10.8 0-23.8-2.1-32.5 4.3 -4.3 2.1-8.7 6.5-10.8 10.8 -2.1-2.1-4.3-6.5-8.7-8.7l0 0c6.5-6.5 10.8-12.9 8.7-23.8 -4.3-19.5-28.2-23.8-43.4-23.8 -8.7 2.1-19.5 6.5-26 10.8l0 0c-8.7-4.3-17.4-10.8-26-12.9 -10.8-2.1-21.7 4.3-28.2 10.8 -15.2 12.9-30.3 30.3-21.7 52 4.3 12.9 12.9 23.8 21.7 32.5 12.9 15.2 26 30.3 39.1 45.5 10.8 15.2 21.7 28.2 32.5 43.4 6.5 6.5 10.8 15.2 17.4 21.7 4.3 4.3 8.7 10.8 12.9 15.2l-8.7 8.7c-30.3 2.1-60.8 10.8-86.7 23.8 -21.7 8.7-49.9 8.7-71.6 19.5l-2.1 4.3c-2.1-6.5-8.7-12.9-10.8-19.5 -6.5-10.8-17.4-21.7-19.5-34.6 0-2.1-2.1-4.3-4.3-4.3 0-4.3-2.1-8.7-8.7-8.7 -21.7 0-41.2-4.3-62.9 0h-2.1c-4.3 0-10.8 4.3-8.7 10.8 2.1 8.7 4.3 15.2 6.5 23.8 2.1 8.7 6.5 17.4 8.7 23.8 4.3 12.9 10.8 23.8 12.9 36.9 -2.1 2.1-2.1 6.5 0 8.7 -2.1 2.1-4.3 6.5-2.1 8.7 0 2.1 0 2.1 0 4.3 0 2.1 0 6.5-2.1 8.7 -2.1 8.7-6.5 17.4-8.7 26 -4.3 8.7-6.5 19.5-10.8 28.2 -2.1 4.3-4.3 8.7-4.3 12.9 0 2.1-2.1 6.5-2.1 10.8 -4.3 2.1-4.3 6.5-2.1 10.8l0 0c2.1 2.1 2.1 2.1 4.3 2.1 2.1 2.1 6.5 2.1 8.7 0 4.3-4.3 15.2-2.1 21.7-2.1 10.8 0 21.7-2.1 32.5-2.1 4.3 2.1 10.8 0 10.8-6.5 0 2.1 0 2.1 0 0 2.1-2.1 2.1-4.3 4.3-6.5 2.1-2.1 6.5-6.5 8.7-8.7 10.8-10.8 17.4-26 30.3-34.6 0 0 0 0 2.1-2.1 12.9-6.5 32.5 0 47.7 2.1 43.4 8.7 86.7-2.1 130 0 -4.3 8.7-4.3 17.4-6.5 26 -6.5 26-15.2 49.9-23.8 73.7 -6.5 21.7-10.8 43.4-21.7 62.9 -4.3 8.7-8.7 15.2-12.9 23.8 -2.1 4.3-4.3 6.5-4.3 10.8 -6.5 12.9-17.4 23.8-17.4 39.1 0 15.2 12.9 28.2 26 30.3 19.5 4.3 43.4-10.8 52-28.2l0 0c10.8 10.8 26 4.3 34.6-6.5 8.7-8.7 19.5-26 12.9-39.1 0-2.1-2.1-4.3-4.3-4.3 0-2.1 2.1-4.3 2.1-6.5 2.1-2.1 2.1-4.3 4.3-6.5l2.1-2.1 0 0c0 0 0 0-2.1 0 0 0 0 0 2.1 0l0 0c2.1 0 4.3 0 4.3-2.1h2.1c12.9 4.3 23.8 2.1 34.6-8.7 8.7-8.7 15.2-23.8 17.4-36.9 0-4.3 0-6.5-4.3-8.7 -4.3-2.1-10.8-4.3-15.2-6.5 0-2.1 0-2.1 0-4.3 0 0 0 0 0-2.1l0 0 0 0 2.1-2.1c2.1-2.1 2.1-2.1 4.3-4.3 0 0 2.1 0 2.1-2.1 0 0 0 0 2.1-2.1 4.3 2.1 8.7 4.3 10.8 6.5 2.1 0 6.5 0 8.7 0 10.8-8.7 19.5-17.4 26-28.2 6.6-10.8 15.2-23.8 12.9-34.6 -2.1-10.8-10.8-12.9-19.5-15.2 6.5-12.9 15.2-23.8 28.2-28.2 2.1 0 2.1-2.1 4.3-2.1l0 0C638.2 543.2 681.6 536.7 725 536.7zM542.9 317.7c15.2 2.1 30.3 21.7 19.5 34.6S532.1 374 514.7 374h-2.1l0 0C488.7 354.7 514.6 313.4 542.9 317.7zM477.9 241.8c8.7 0 17.4 0 19.5 10.8 2.1 4.3-2.1 10.8-4.3 12.9 -8.7 8.7-19.5 15.2-30.3 19.5h-2.2l0 0c-4.3-4.3-10.8-6.5-15.2-10.8 -2.1-2.1 0-6.5 0-8.7 2.1-8.7 6.5-15.2 10.8-21.7C460.5 239.7 473.5 244 477.9 241.8zM397.5 202.8c8.7 0 26 0 28.2 10.8 0 6.5-8.7 10.8-12.9 15.2 -6.5 4.3-12.9 8.7-17.4 12.9 -4.3-2.1-8.7-4.3-10.8-6.5 -4.3-2.1-12.9-6.5-12.9-12.9C369.4 209.4 388.9 202.8 397.5 202.8zM150.4 421.7c-2.1-4.3-2.1-10.8-4.3-15.2 17.4-2.1 36.9 2.1 54.2 2.1 0 0 0 2.1 0 4.3 0 4.3 2.1 8.7 4.3 10.8 -17.4 0-34.6 2.1-49.9-2.1C154.8 421.7 152.6 421.7 150.4 421.7zM154.8 591c-4.3 0-8.7 0-12.9 0 2.1-4.3 4.3-8.7 4.3-12.9 0-2.1 0-4.3 2.1-6.5l0 0c8.7 4.3 19.5 2.1 28.2 2.1 6.5 0 15.2 2.1 21.7 2.1 -2.1 2.1-6.5 6.5-8.7 10.8C178.6 588.7 167.9 591 154.8 591zM451.8 751.3C454 751.3 454 751.3 451.8 751.3c0 6.5-2.1 10.8-6.5 12.9 -2.1 4.3-8.7 12.9-15.2 12.9 -4.3 0-6.5-6.5-6.5-8.7 -2.1-4.3-2.1-8.7 2.1-10.8 2.1-2.1 2.1-2.1 2.1-4.3C436.6 749.1 445.4 746.9 451.8 751.3zM499.6 675.5c6.5 0 10.8 2.1 17.4 4.3 -4.3 15.2-12.9 32.5-28.2 28.2 -6.5-2.1-12.9-6.5-17.4-10.8 -2.1-4.3-2.1-8.7 2.1-12.9 4.3 2.1 8.7-2.1 8.7-6.5l0 0c0 0 2.1 0 4.3 0C490.8 673.2 495.2 675.5 499.6 675.5zM547.2 584.3c6.5 0 10.8 0 15.2 0 2.1 0 4.3 0 4.3 4.3 0 8.7-6.5 17.4-10.8 23.8 -4.3 6.5-10.8 12.9-17.4 19.5 -10.8-4.3-21.7-8.7-28.2-17.4 -6.5-6.5-4.3-21.7 6.5-19.5 6.5 0 8.7-4.3 8.7-8.7C532 584.3 540.7 584.3 547.2 584.3zM592.7 525.9c-2.1 0-4.3 0-6.5 2.1h-2.1c-19.5 6.5-32.5 23.8-39.1 41.2 -12.9 0-28.2 2.1-39.1 8.7 -2.1 2.1-2.1 2.1-4.3 4.3 -4.3 2.1-8.7 4.3-10.8 8.7 -6.5 6.5-6.5 17.4-4.3 23.8 2.1 8.7 10.8 15.2 19.5 19.5 -2.1 2.1-4.3 4.3-6.5 6.5 -4.3 4.3-8.7 10.8-6.5 17.4h-2c-6.5 0-21.7-2.1-26 6.5 -2.1 0-4.3 2.1-6.5 2.1 -8.7 8.7-12.9 19.5-8.7 30.3 2.1 4.3 4.3 8.7 8.7 12.9 -6.5 6.5-10.8 15.2-15.2 23.8 -6.5 0-15.2 2.1-19.5 2.1s-6.5 2.1-6.5 6.5c0 0-2.1 0-4.3 2.1 -6.5 6.5-10.8 12.9-8.7 21.7 0 2.1 0 4.3 0 6.5 2.1 17.4-19.5 30.3-34.6 28.2 -8.7-2.1-15.2-10.8-12.9-21.7 2.1-8.7 6.5-15.2 10.8-21.7 2.1 0 6.5-4.3 4.3-6.5 0 0 0-2.1 0-4.3s2.1-6.5 4.3-8.7c4.3-6.5 6.5-12.9 10.8-19.5 8.7-17.4 12.9-34.6 17.4-52 6.5-21.7 12.9-43.4 19.5-62.9 4.3-10.8 6.5-21.7 8.7-32.5 0-4.3 2.1-8.7 2.1-10.8s0-4.3 2.1-4.3l0 0c6.5-4.3 10.8-8.7 6.5-12.9 2.1-4.3 0-8.7-6.5-10.8 -47.7-4.3-97.5 6.5-145.3-2.1 -19.5-4.3-39.1-6.5-56.3 4.3l0 0c-8.7 8.7-17.4 19.5-23.8 28.2 -2.1 0-4.3 0-6.5 0 -8.7 2.1-19.5-2.1-30.3-2.1 -4.3 0-6.5 0-10.8 0 -4.3 0-8.7 2.1-10.8 0 0 0 0 0-2.1 0 2.1-6.5 4.3-10.8 6.5-17.4 2.1-4.3 8.7-19.5 10.8-30.3l0 0c2.1 0 4.3 0 6.5 0 4.3 0 10.8 0 15.2 0 10.8 0 19.5 0 30.3 0 6.5 0 8.7-8.7 4.3-12.9v-2.1c-2.1-2.1-6.5-2.1-8.7 0 -8.7 0-17.4 0-28.2 0 -4.3 0-10.8-2.1-15.2-2.1l0 0c-2.1-15.2-8.7-30.3-12.9-43.4 -2.1-4.3-2.1-8.7-4.3-12.9 19.5 6.5 39.1 2.1 58.5 2.1h2.1c2.1 2.1 4.3 4.3 6.5 8.7 2.2 4.4 4.3 8.7 6.5 10.8 2.1 2.1 6.5 8.7 6.5 10.8 0 6.5 6.5 8.7 10.8 6.5 2.1 0 2.1 0 4.3 0 4.3 0 6.5-2.1 8.7-4.3 8.7-4.3 19.5-6.5 28.2-8.7 12.9-4.3 28.2-6.5 41.2-10.8 15.2-4.3 28.2-10.8 43.4-15.2 15.2-4.4 30.3-6.5 45.5-6.5 4.3 0 6.5-4.3 6.5-6.5l10.8-12.9c2.1-2.1 2.1-6.5 2.1-6.5 -6.5-12.9-17.4-23.8-26-34.6 -10.8-12.9-19.5-26-28.2-41.2s-21.7-26-32.5-39.1c-10.8-12.9-23.8-23.8-32.5-39.1 -6.5-4.3-10.8-12.9-10.8-19.5 0-8.7 8.7-15.2 12.9-19.5 6.5-4.3 12.9-15.2 19.5-12.9 6.5 0 12.9 6.5 19.5 8.7 0 2.1-2.1 6.5-2.1 8.7 -6.5 21.7 21.7 30.3 34.6 41.2 4.3 2.1 8.7 0 12.9-4.3 0 0 2.1 0 2.1-2.1 2.1-2.1 6.5-6.5 10.8-8.7 0 2.1 4.3 4.3 8.7 4.3h2.1l0 0c2.1 2.1 4.3 4.3 6.5 6.5 -4.3 6.5-6.5 17.4 0 23.8 4.3 6.5 12.9 10.8 17.4 17.4 2.1 2.1 6.5 2.1 8.7 0 2.1 2.1 4.3 4.3 8.7 2.1 4.3-2.1 8.7-4.3 12.9-6.5 6.5 6.5 15.2 10.8 17.4 19.5 0 2.1 2.1 4.3 4.3 4.3 -15.2 15.2-21.7 36.9-10.8 56.3 2.1 4.3 6.5 8.7 10.8 12.9 2.1 2.1 4.3 2.1 6.5 2.1 2.1 4.3 4.3 4.3 6.5 4.3 10.8 0 23.8-4.3 34.6-8.7 2.1 2.1 4.3 2.1 6.5 2.1l2.1 2.1c2.1 2.1 4.3 6.5 6.5 8.7 2.1 2.2 2.1 4.3 4.3 6.5 0 0 0 0-2.1 0 2.1 2.1 2.1 2.1 4.3 4.3 0 0 0 0 2.1 2.1 2.1 2.1 2.1 2.1 4.3 4.3 2.1 0 4.3 2.1 6.5 4.3l0 0 0 0c30.3-2.1 60.8 0 88.9 4.3 19.5 2.1 39.1 6.5 58.5 8.7 15.2 2.1 30.3 6.5 45.5 10.8 8.7 4.3 21.7 10.8 23.8 21.7 2.1 15.2-8.7 30.3-19.5 41.2 -12.8 11-30 17.5-47.4 17.5 -21.7 2.1-41.2 2.1-62.9 4.3C646.9 525.9 618.8 525.9 592.7 525.9z"></path>
                    </g>
                    <g id="Layer_2" display="inline"></g>
                  </g>
                  <g id="Layer_2_1_" display="none">
                    <g id="plane" display="inline">
                      <path fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" d="M771.6 483.4c-3.9-4.3-8.7-7.8-10.5-14 -11.2-7-21.3-15-35.2-19.4 -12.8-5.8-27.5-10-40.5-15.9 -25.6-11.3-60.2-13.7-91.6-19.4H564c-11.2-1-19 1.7-26.4 0 -9.4-22.3-25.3-38.1-37-58.1 -12-19.7-21.8-41.5-35.2-59.9 -9.5-22.2-22.9-40.5-31.7-63.4 -13.5-18.2-19-44.5-42.2-52.9h-8.9c-2.2 0.1-2.5 2.2-5.3 1.8 -14 2.3-30.3 2.6-44 5.3 -15.4 1.6-31.1 3-37 14 -4.3 11.2 3.3 18.2 3.5 29.8 2.5 4.1 3.6 9.4 5.3 14 2.3 4.1 3 10 5.3 14 6.3 19 13.9 36.5 21.2 54.6 2.3 10 6.5 18.2 8.9 28.2 2.8 3.6 1.4 11.5 5.3 14 0.5 5.9 0.9 12 3.5 15.9 -0.4 12.6 4.9 19.7 7 29.8 1.7 4.7 3.6 9.2 3.5 15.9 1.6 3.9 3.9 11.7 1.7 14 -32.4 1.6-57.7 10.5-88 14 -4.1-7.6-10.8-12.7-15.9-19.4 -25.6-16.6-43.7-40.8-70.4-56.3 -10.2-1.4-8.7 8.9-19.4 7 -6.6-1.4-8.4 2.1-14 1.8 -17.5-0.6-35.3-4.3-42.2 8.9 0.4 13.7 8.3 19.9 15.9 26.4 1.5 5.5 5.1 8.9 8.9 12.3 1.5 5.7 5.1 8.9 8.9 12.3 4.4 9.6 10.3 17.8 17.5 24.7 3.8 10.2 15 13.1 15.9 26.4 -15.2 34.2-36 62.6-54.7 93.2 -1.4 7.4 2.5 14.7 0 17.5 -5.1 2.3-3.6 11.2-1.7 15.9 18.5 7.9 47.2 4.9 70.4 3.5 5.5-2 4.3 2.7 7 3.5 1.5 2.7 5.7 2.6 8.9 3.5 6.9-4.3 15-7.4 17.5-15.9 4.4-1.5 5.5-6.2 8.9-8.9 1.1-4.8 7.4-4.3 7-10.5 6-5.7 11.7-11.8 15.9-19.4 6.9-4.8 9-14.3 17.5-17.6 16.1 5 35.1 7.1 51 12.3 13.2 0.4 27.5-0.5 35.2 5.3 -8 13.7-12.7 30.7-21.2 44 -5 17.4-11.6 32.9-19.4 47.6 -4.4 17.9-13.8 30.8-19.4 47.6 -7.3 15-12.2 32.3-15.9 51 -1.2 9.4 8.1 8.4 10.5 14 -4.6 4.2-0.6 14.5 1.8 17.6 18.2 4.2 37.6-4.3 58.1-3.5 17.5 1.1 42.1 5 54.6-3.5 5.8-3.5 1.9-16.9 5.3-22.9 10.6-14 17.4-31.8 28.2-45.7 7-17.5 19-30.3 26.4-47.6 11.7-12.8 19.4-29.8 31.7-42.2 3.5-8.9 8.6-16 14-22.9 4.8-8.1 7.6-18.2 17.6-21.2 19.7 2.7 43 1.6 65.1 1.8 7.5-2.5 17.9-2.1 24.7-5.3 3.6-1.1 11.6 2.1 12.3-1.8 4.3-1.1 12.8 2.2 14-1.7 20.8 1 34.4-5.5 52.9-7 5.4-4.6 15.8-4.3 21.2-8.9 8.5-1.5 14.3-5.7 21.2-8.9 11.1-8.9 23.4-16.5 28.2-31.7 0.1-1.1 0.2-2.1 1.8-1.8C775.8 506.2 774.8 493.6 771.6 483.4zM743.5 511.6C745.1 518.9 738.2 512 743.5 511.6 741.8 504.3 748.7 511.2 743.5 511.6z"></path>
                    </g>
                  </g>
                  <g id="Layer_3" display="none">
                    <g display="inline">
                      <path fill="#0075BE" stroke="#003F66" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M70.7 451.3l4.2-1.4c7.4-2.5 15.3-1.5 21.8 2.7l64.8 40.9c12.8 8.1 28.5 10.5 43.1 6.4l174.3-48.4L276 274.2c-4.2-7.1-0.5-16.4 7.4-18.7l12.1-3.7c19.5-5.9 40.7-2.2 57 9.9l195 144.9c0 0 59.7-15.9 131.5-34.4 77-19.8 115.9-4.1 122.8 19.9 6.9 23.9-13.2 58.9-95.2 81.8C582 508.8 239.1 599.4 239.1 599.4c-41.3 11.2-85.2-4.3-110.2-39.1L64.3 471C59.3 463.9 62.5 454 70.7 451.3z"></path>
                      <path fill="#0075BE" stroke="#003F66" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M374.4 614.2l-36.6 105.7c-3.3 9.6 5.1 19 15 16.7l8.9-2c17.1-3.8 32.4-13.5 43.3-27.2L507.9 578"></path>
                      <line fill="none" stroke="#003F66" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="280.2" y1="515.5" x2="282.4" y2="523.3"></line>
                      <line fill="none" stroke="#003F66" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="642" y1="417.9" x2="644.3" y2="425.8"></line>
                      <line fill="none" stroke="#003F66" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="581.7" y1="434.2" x2="584" y2="442.1"></line>
                      <line fill="none" stroke="#003F66" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="521.3" y1="450.5" x2="523.6" y2="458.3"></line>
                      <line fill="none" stroke="#003F66" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="461" y1="466.7" x2="463.4" y2="474.5"></line>
                      <line fill="none" stroke="#003F66" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="340.5" y1="499.3" x2="342.7" y2="507"></line>
                      <line fill="none" stroke="#003F66" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="400.7" y1="483" x2="403" y2="490.8"></line>
                    </g>
                  </g>
                </g>
                <path fill="#AAAAAA" d="M247.1 257.1c-14.6 0-29.2 0-43.8 0 -4.3 0-4.3 6.6 0 6.6 14.6 0 29.2 0 43.8 0C251.3 263.8 251.3 257.1 247.1 257.1L247.1 257.1z"></path>
                <path fill="#AAAAAA" d="M261.9 305.8c-9.9 0-19.8 0-29.8 0 -5.1 0-5.1 8 0 8 9.9 0 19.8 0 29.8 0C267.1 313.7 267.1 305.8 261.9 305.8L261.9 305.8z"></path>
                <path fill="#AAAAAA" d="M246.2 601.1c-14.6 0-29.2 0-43.8 0 -4.3 0-4.3 6.6 0 6.6 14.6 0 29.2 0 43.8 0C250.4 607.8 250.4 601.1 246.2 601.1L246.2 601.1z"></path>
                <path fill="#AAAAAA" d="M261.1 551.1c-9.9 0-19.8 0-29.8 0 -5.1 0-5.1 8 0 8 9.9 0 19.8 0 29.8 0C266.2 559.1 266.2 551.1 261.1 551.1L261.1 551.1z"></path>
                <path fill="#AAAAAA" d="M30.3 340.2c-4.9 0-9.7 0-14.7 0 -5.7 0-5.7 8.9 0 8.9 4.9 0 9.7 0 14.7 0C36.1 349.1 36.1 340.2 30.3 340.2L30.3 340.2z"></path>
                <path fill="#AAAAAA" d="M30.8 509c-4.9 0-9.7 0-14.7 0 -5.7 0-5.7 8.9 0 8.9 4.9 0 9.7 0 14.7 0C36.5 517.9 36.5 509 30.8 509L30.8 509z"></path>
                <g id="Layer_2_2_">
                  <path fill="#FFFFFF" d="M510.8 475.3c36.5-5.3 61.6-17.4 73.2-28.9 3.5-3.5 5.8-7.1 6.6-10.9l0 0c0.1-0.4 0.3-0.9 0.3-1.9v-0.1 -0.4V433c0-1.1-0.3-1.7-0.4-1.9 -0.8-3.7-3.2-7.3-6.6-10.8 -11.6-11.5-36.8-23.5-73.2-28.8 -32.1-4.6-70.5-2.5-129.8-1.2l-35.7-66.2h10.1c2 0 3.8-0.8 5.1-2.1 1.3-1.3 2.1-3.2 2.1-5.1v-15.1c0-2-0.8-3.9-2.1-5.1 -1.3-1.3-3.1-2.1-5.1-2.1l0 0h-26.1l-10.5-19.5h8.2c2 0 3.8-0.8 5.1-2.1 1.3-1.3 2.1-3.2 2.1-5.1v-15.1c0-2-0.8-3.8-2.1-5.1 -1.3-1.3-3.2-2.1-5.2-2.1h-24.3L271.2 187c-0.4-0.8-1-1.5-1.5-2 -1.9-1.8-4.1-2.9-6.9-3H233c-1.7 0-3.5 0.6-4.7 1.9 -1.7 1.7-2.2 4.3-1.5 6.4l39.4 139.1 3.8-1.1 -3.8 1.1c0.4 1.2 0.8 4.3 0.8 5.5v56.7c-52.1 1.2-99.2 4.4-137.3 9 -4.6 0.5-9 1.2-13.4 1.8l-65.1-78c-0.2-0.2-0.4-0.4-0.5-0.5 -2.2-2.1-4.9-3.3-8-3.5h-14c-1.6 0-3.4 0.5-4.6 1.9 -1.8 1.8-2.1 4.5-1.3 6.6l25.5 71.7c0.4 1.1 1 4.1 0.9 5.2v11.9c-5.7 2.3-10 4.9-13 7.8 -2.2 2.1-3.8 5-3.8 8.1 0 0.1 0 0.1 0 0.2v0.1c0 3.2 1.6 5.9 3.7 8.1l0.1 0.1c3 2.9 7.4 5.5 13 7.8v11.9c0 1.2-0.4 4.1-0.9 5.2l-25.5 71.7c-0.8 2-0.4 4.8 1.2 6.6l0.1 0.1c1.2 1.2 3 1.9 4.6 1.9h14.1c3.2-0.1 5.8-1.3 8-3.5 0.2-0.2 0.4-0.4 0.4-0.4l0.1-0.1 65.2-78.1c40.1 5.6 92.3 9.5 150.7 10.8v56.7c0 1.3-0.4 4.3-0.8 5.5L227 676.8c-0.6 2-0.2 4.6 1.5 6.3l0.1 0.1c1.2 1.2 3 1.9 4.7 1.9h29.8c2.8-0.1 5-1.2 6.9-3 0.5-0.6 1.1-1.2 1.5-1.9l31.4-58.4h24.3c2 0 3.9-0.9 5.1-2.1 1.3-1.3 2.1-3.2 2.1-5.1v-15.2c0-2-0.8-3.8-2.1-5.1 -1.3-1.3-3.1-2.1-5.1-2.1l0 0H319l10.5-19.5h26.1c2 0 3.9-0.9 5.1-2.1 1.3-1.3 2.1-3.1 2.1-5.1V550c0-2-0.8-3.9-2.1-5.2 -1.2-1.2-3.1-2.1-5.1-2.1h-10.1l35.7-66.2C440.3 477.8 478.8 479.8 510.8 475.3zM355.5 302.2v-0.6l0 0v-3.4V302.2zM354.8 302.2v14h-13.7l-7.5-14H354.8zM326.4 253v14h-11.9l-7.5-14H326.4zM274.9 334.6c0-2.4-0.4-5.3-1.1-7.7l-38.9-137.3H263c0.1 0 1 0.3 1.3 0.7 0.1 0.1 0.2 0.2 0.2 0.2l57.6 106.8 14.3 26.7 0 0 35.8 66.4c-4.7 0.1-9.6 0.2-14.5 0.3 -0.9 0-1.7 0-2.6 0.1 -1.6 0-3.3 0.1-5 0.1 -4.3 0.1-8.6 0.1-13 0.2 -1.4 0-2.9 0-4.3 0 -4.1 0-8.2-0.1-12.4-0.1 -2.8 0-5.7 0-8.5 0 -5.7 0-11.2 0-16.7 0.1 -1.4 0-2.7 0-4.2 0 -4.7 0.1-9.3 0.1-14 0.2 -0.6 0-1.3 0-1.9 0L274.9 334.6zM57.1 414.3v-8.9h-3.9 3.9c0-2.6-0.5-5.5-1.3-7.9L30.9 328h11.8c0.3-0.1 2.1 0.6 2.5 1.1l0 0 62 74.3c-7.7 1.2-15 2.5-21.6 3.7 -0.1 0-0.1 0-0.2 0 -2.1 0.4-4.2 0.8-6.1 1.2 -0.3 0.1-0.5 0.1-0.8 0.2 -1.8 0.4-3.5 0.8-5.1 1.2 -0.4 0.1-0.9 0.3-1.4 0.4 -1.1 0.3-2.1 0.5-3.1 0.8 -0.4 0.1-0.7 0.2-1.1 0.3 -1.1 0.3-2.1 0.5-3.2 0.9 -0.6 0.2-1.2 0.4-1.9 0.5 -1.2 0.4-2.3 0.6-3.4 1 -0.7 0.2-1.4 0.4-2 0.6C57.3 414.3 57.2 414.3 57.1 414.3zM45.3 537.5c-0.1 0.1-0.1 0.2-0.2 0.2 -0.4 0.4-2.2 1.2-2.5 1.1H30.9l24.8-69.5c0.8-2.4 1.3-5.3 1.3-7.9v-8.9c0.2 0.1 0.4 0.1 0.4 0.2 0.5 0.2 1.2 0.4 1.7 0.5 1.2 0.4 2.5 0.8 3.8 1.2 0.4 0.1 0.7 0.2 1 0.3 1.3 0.4 2.7 0.7 4.1 1.1 0.3 0.1 0.5 0.2 0.8 0.3 0.4 0.1 0.9 0.2 1.2 0.3 2.4 0.6 4.9 1.2 7.4 1.8 0.4 0.1 0.6 0.2 1 0.3 2.9 0.6 5.9 1.2 9.1 1.9 0.7 0.2 1.5 0.3 2.2 0.4 3.2 0.6 6.5 1.2 9.8 1.8 0.4 0.1 0.8 0.2 1.2 0.2 2 0.4 4.1 0.7 6.3 1L45.3 537.5zM327 599.7v-0.6 -3.4V599.7zM326.4 599.7v14H307l7.5-14H326.4zM355.5 550.5v-0.6l0 0v-3.4V550.5zM354.8 550.5v14h-21.3l7.5-14H354.8zM336.3 542.6L336.3 542.6l-16 29.8 0 0 -10.5 19.5 0 0L297.4 615l-32.9 61.1c0 0-0.1 0.1-0.2 0.2 -0.4 0.4-1.3 0.7-1.3 0.7h-28l38.9-137.3c0.6-2.3 1.1-5.3 1.1-7.7v-56.5c4.5 0.1 9.1 0.2 13.7 0.2 1.3 0 2.7 0 4.1 0.1 3.2 0 6.4 0 9.6 0.1 3.2 0 6.3 0.1 9.5 0.1 4.4 0 8.9-0.1 13.2-0.1 4 0 8.1 0 12.1-0.1 1.3 0 2.6 0 3.8 0 2.9 0 5.8 0.1 8.7 0.1 1.8 0 3.5 0 5.2 0.1 3.4 0.1 6.6 0.1 9.9 0.2 2.4 0.1 4.8 0.1 7.2 0.2 0.1 0 0.2 0 0.3 0L336.3 542.6zM385.1 468.6L385.1 468.6h-1.3c-2.5-0.1-5-0.1-7.6-0.2 -2.8-0.1-5.7-0.1-8.5-0.2 -0.2 0-0.4 0-0.5 0 -4.1-0.1-8.2-0.2-12.5-0.2 -1.3 0-2.7 0-4.1-0.1 -2.8 0-5.8-0.1-8.7-0.1 -1.7 0-3.3-0.1-5-0.1 -2.9 0-5.8 0-8.8 0.1 -5.5 0-11 0.1-16.6 0.1 -5.9 0-11.9 0-17.7-0.1 -1.9 0-3.7 0-5.5-0.1 -5.2-0.1-10.4-0.2-15.5-0.3 -54.1-1.1-103.2-4.3-142.3-9.1 -5.5-0.7-10.8-1.4-15.9-2.1 -6.4-0.9-12.5-1.9-18.2-2.9 -0.3 0-0.4-0.1-0.7-0.1 -2.6-0.4-5-0.9-7.4-1.4 -0.5-0.1-1.1-0.2-1.6-0.4 -2-0.4-4.1-0.8-6-1.2 -0.6-0.2-1.2-0.3-1.9-0.4 -1.8-0.4-3.5-0.8-5.2-1.2 -0.6-0.2-1.2-0.3-1.8-0.4 -4.4-1.1-8.4-2.2-12-3.4 -0.1 0-0.2-0.1-0.3-0.1 -1.5-0.5-3-1-4.3-1.5 -6.8-2.6-11.5-5.1-13.6-7.3 -1.2-1.2-1.4-1.9-1.5-2.4l0.1-0.5v-0.2c0.1-0.4 0.4-1.2 1.5-2.3 2-2.1 6.6-4.7 13.3-7.2 4.8-1.8 10.6-3.5 17.4-5.2 0.6-0.2 1.2-0.3 1.9-0.4 6.5-1.6 13.6-3 21.6-4.4 0.4-0.1 0.7-0.2 1.2-0.2 2.8-0.5 5.7-1 8.6-1.4 0.1 0 0.1 0 0.1 0 3.1-0.5 6.3-1 9.7-1.4l2.3-0.4c40.8-5.7 94.6-9.7 154.8-10.8 2.9-0.1 5.9-0.1 8.9-0.2 3.6-0.1 7.3-0.1 11-0.2 1 0 1.9 0 2.9 0 5.5-0.1 11-0.1 16.6-0.1 7.1 0 14.2 0.1 21.1 0.2 1.4 0 2.7 0 4.2 0 5.1-0.1 10-0.1 14.9-0.2 0.7 0 1.4 0 2.1 0 3.5-0.1 6.8-0.1 10.1-0.2 69.4-1.2 112.1-4.2 145.7 0.7 35.3 5 59.3 17 68.8 26.6 2.9 2.8 4.3 5.4 4.5 6.9 0.1 0.3 0.1 0.4 0.1 0.5s0 0.1 0 0.2 -0.1 0.2-0.1 0.4v0.1 0.1c-0.3 1.5-1.7 4.1-4.5 6.9 -9.5 9.6-33.6 21.6-68.8 26.6C479.6 471.8 442.4 470 385.1 468.6zM528.3 454.7c5.8-5.8 9.6-13.3 9.6-21.4s-3.7-15.6-9.6-21.4c-4.3-4.3-10-8-16.4-10.5l-4.3 6.5 0.4 0.4c6.6 6.6 10.5 15.4 10.6 25.2 0 9.7-4 18.6-10.6 25.2 0 0.1-0.3 0.3-0.5 0.6l4.4 6.3C518.3 462.7 523.8 459.2 528.3 454.7zM526.4 433.3c0-5.1-0.9-10-2.6-14.5 3.9 4.4 6 9.4 6 14.5 0 5.2-2.1 10.1-6 14.5C525.5 443.3 526.4 438.4 526.4 433.3z"></path>
                </g>
              </svg>
              <div class="cloud cloud--large"></div>
            </div>
          </div>
          <a class="intro-text">Time</a>
        </div>
        <div class="intro-content intro3">
          <p class="intro-img"></p>

          <div class="gif-enc pig">
            <img src="https://dl.dropboxusercontent.com/s/hhnxyahfg55skb1/piggy_bank.gif">
          </div>
          <br/>
          <a class="intro-text">Money</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intro-main-enc section-divider clearfix">
  <div class="pull-left intro-content-sec">
    <h3 class="intro-title">Your business wins at Clarity</h3>

    <p class="intro-explain">Use this well guided framework and <strong>improve the quality of your execution</strong>
      by implementing
      the best practices in your everyday business decision.</p>
  </div>
  <div class="pull-right intro-screenshot-sec">
    <div class="screeenshot" data-sr="enter right, over 0.6s, move 150px">
      <%= image_tag 'home-images/clarity.png', class: 'clarity-img' %>
    </div>
  </div>
</div>

<div class="intro-main-enc section-divider clearfix">
  <div class="pull-right intro-content-sec time-c-sec">
    <h3 class="intro-title">Your business wins at Time</h3>

    <p class="intro-explain">Quickly get ahead of the learning curve and <strong>save years of time</strong> by avoiding
      poor decisions and easily avoidable mistakes through intelligent experimentation and disciplined processes.</p>
  </div>
  <div class="pull-left intro-screenshot-sec time-ss-sec">
    <div class="screeenshot" data-sr="enter left, over 0.6s, move 150px">
      <%= image_tag 'home-images/time.png', class: 'time-img' %>
    </div>
  </div>
</div>

<div class="intro-main-enc section-divider clearfix">
  <div class="pull-left intro-content-sec">
    <h3 class="intro-title">Your business wins at Money</h3>

    <p class="intro-explain"><strong class="mini-title">Protect against waste of capital</strong>
      Choose <strong>the right beachhead</strong> market to attack first and avoid squandering your precious money
      on unfit
      markets.<br/><br/>

      <strong class="mini-title">Capture your share of value</strong>
      Choose a business model that will <strong>get you your fair share</strong> of every dollar value that you create
      for your customer.
    </p>
  </div>
  <div class="pull-right intro-screenshot-sec">
    <div class="screeenshot" data-sr="enter right, over 0.6s, move 150px">
      <%= image_tag 'home-images/money.png', class: 'money-img' %>
    </div>
  </div>
</div>

<div class="feature-enc section-divider clearfix">

  <h2 class="main-title text-center" data-sr='enter bottom'>Features</h2>
  <h4 class="sub-title text-center" data-sr='enter bottom'>Plan &rarr; Validate &rarr; Execute &rarr; Iterate</h4>

  <div class="feature-row-1 text-center" data-sr='over 0.4s, move 50px'>
    <div class="sep-feature-sec">
      <div class="feature-circle market">
        <p class="feature-img"></p>
      </div>
      <h4 class="feature-title market">Market tools</h4>

      <p class="feature-exp">Segregate your big idea into addressable markets</p>
    </div>

    <div class="sep-feature-sec">
      <div class="feature-circle product">
        <p class="feature-img"></p>
      </div>
      <h4 class="feature-title product">Product tools</h4>

      <p class="feature-exp">Design a product customers will love</p>
    </div>
    <div class="sep-feature-sec">
      <div class="feature-circle customer">
        <p class="feature-img"></p>
      </div>
      <h4 class="feature-title customer">Customer tools</h4>

      <p class="feature-exp">Know what will close a sale</p>
    </div>
  </div>

  <div class="feature-row-2 text-center" data-sr='over 0.4s, move 50px,spin 45deg'>
    <div class="sep-feature-sec">
      <div class="feature-circle competition">
        <p class="feature-img"></p>
      </div>
      <h4 class="feature-title competition">Competition tools</h4>

      <p class="feature-exp">Determine where your product stands in the marketplace</p>
    </div>
    <div class="sep-feature-sec">
      <div class="feature-circle pricing">
        <p class="feature-img"></p>
      </div>
      <h4 class="feature-title pricing">Pricing tools</h4>

      <p class="feature-exp">Fix the right price for you and your customer</p>
    </div>
    <div class="sep-feature-sec">
      <div class="feature-circle delivery">
        <p class="feature-img"></p>
      </div>
      <h4 class="feature-title delivery">Delivery tools</h4>

      <p class="feature-exp">Deliver the best possible customer experience</p>
    </div>
  </div>
</div>

<div class="last-main-enc section-divider clearfix">
  <div class="text-center">
    <h3 class="temp">Edison is used for making
      <strong><span class="rotate">Mobile Apps, Gadgets, Electronic Products, Web Applications, Cleantech Products, Medical Devices, Industrial Equipments</span></strong>
      like yours </h3>

    <p></p>
    <a class="btn call-to-action" href="/sign_up">Get started<br/><span class="sub-text">Free for 30 days</span></br.>
    </a></p>
    <p></p>
    <a class="pricing-trigger">See pricing</a>
    </p>


    <div class="pricing-container container" id="pricing-container">
      <div class="price-table row">


        <div class="offer recommended">
          <div class="title-enc">
            <h3>Flexible Plan</h3>

            <div class="pricing-enc">
              <span>$</span>
              <span>34</span>
              <span>/mo</span>
            </div>
          </div>
          <div class="desc desc1">Use all 20 tools</div>
          <div class="desc desc2">Tasks management</div>
          <div class="desc desc3">Just $ 1.10 a day</div>
          <div class="desc desc4">Free for 30 days</div>
          <div class="desc desc5">Cancel subscription anytime</div>
          <div class="cta-enc"><%= button_tag 'Select', class: 'cta-btn outline-btn' %></div>
        </div>

      </div>
    </div>


    <script>
      $(document).ready(function () {
        $(".pricing-container").hide();
        $(".pricing-trigger").on("click", function () {
          $(this).hide();
          $(".btn.call-to-action").hide();
          $(".pricing-container").fadeIn();
        });
      });
      $('.cta-btn').on('click', function () {
        window.location.href = "<%= sign_up_url %>";
      });
    </script>

  </div>
</div>