
    <table class="ms-bot-table">
      <tbody>
      <tr>
        <td>Number of Endusers</td>
        <td class="num"><%= number_with_delimiter business.total_endusers.to_i %></td>
      </tr>
      <tr>
        <td>Average Ongoing Price</td>
        <td class="num">$ <%= number_with_delimiter business.average_price %></td>
      </tr>
      <tr>
        <td>Total Market Size</td>
        <td class="num">$ <%=  number_with_delimiter business.market_value %></td>
      </tr>
      </tbody>
    </table>
