<div class="modal fade num-view full-page" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md center-modal-dialog">
    <div class="modal-content clearfix">

      <div class="modal-header modal-header-edit-view">
        <span class="modal-watermark light-watermark real"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="fa fa-arrow-left"></span> back</button>

        <div>
          <span class="modal-overlay-guide"></span>

          <p class="validate-overlay-subguide mt10"></p>
        </div>
      </div>

      <div class="modal-header modal-header-show-view">
        <span class="modal-watermark light-watermark"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="fa fa-arrow-left"></span> back</button>
        <div>
          <span class="modal-overlay-guide"></span>

          <p class="validate-overlay-subguide mt10"></p>
        </div>
      </div>
      <div class="modal-body modal-body-edit-view">
        <table id='num-view-table' class="num-view-table">
          <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
          </colgroup>
          <thead>
          <tr>
            <th class="one">Enthusiasts</th>
            <th class="two">Early adopters</th>
            <th class="three">Pragmatists</th>
            <th class="four">Conservatives</th>
            <th class="five">Skeptics</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer modal-footer-edit-view">
        <p class="hidden click-location fleft"></p>
        <button class="nb-action btn btn-primary done-btn-modal" data-dismiss="modal">Done</button>
        <p class="char-remaining pull-right"></p>
      </div>
      <div class="modal-footer modal-footer-show-view">
        <p class="hidden click-location fleft"></p>
        <button class="nb-action btn btn-primary got-it" id="got-it">Got it!</button>
      </div>
    </div>
  </div>
</div>