$('.market-size-<%= @financial.id %>').html('$ <%= number_with_delimiter(@financial.market_size) %>');
$('.market-size-result-enc').html('<%= j render('financials/market_size_results', business: beachhead) if beachhead.market_size_complete? %>');