<% if (@duration && @drill == 'per month') || (@no_of_customers && @drill == 'per customer') || ((@no_of_customers||@duration) && @drill == 'per month per customer')  %>
var container = $("<span class='alert alert-info' id='error-notification'></span>");
container.append('<li> Please ensure that you have completed all the fields in Steps 16 to 19 </li>');
container.purr();
<% else %>
$('#step_table').html("<%= j table_for_step %>");
<% end %>