<div class="customer-insights-on-front-page">
  <% @customer_feedbacks = active_product.customer_feedbacks.all %>
  <%= render 'customer_feedbacks/customer_feedback_header' %>
  <%= render 'customer_feedbacks/new_feedback_actions' %>
  <%= render 'customer_feedbacks/new_customer_feedback' %>
  <%= render 'customer_feedbacks/customer_feedback_list' %>
  <%= render 'customer_feedbacks/no_feedback_empty_state' unless @customer_feedbacks.count > 0 %>
</div>