<% metrics = active_product.feedback_metrics %>
<div class="white-box" >
  <div class="row">
    <div class="col-xs-6 metric-box">
      <div class="metric">
        <div class="title">All Insights</div>
        <div class="num"><%= metrics[0] %></div>
      </div>
    </div>
    <div class="col-xs-6 metric-box">
      <div class="metric" data-behaviour="open_in_new_tab" data-href="<%= unaddressed_feedbacks_path %>">
        <div class="title">Unaddressed</div>
        <div class="num"><%= metrics[1] %></div>
      </div>
    </div>
    <!--<div class="col-xs-4 metric-box">-->
      <!--<div class="metric">-->
        <!--<div class="title">customers</div>-->
        <!--<div class="num"><%#= metrics[2] %></div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>