<% tag = feedback.reference_tag %>

<div style="display: inline-block;" class="feedback-ref-tag hyperlink" data-behaviour="open_in_new_tab" data-href="<%= (tag[0] ? step_href_path(tag[0]) : make_path) if tag %>">
  <%= tag[1].html_safe if tag %>
</div>