<div class="feedback-prop-section feedback-references">
  <div class="feedback-prop-title">References</div>

  <div>

    <div style="margin-top: 10px; <%= 'display:none;' if defined?(first_time) && first_time %>" class="feedback-reference-parent">

      <% unless feedback.categorized? %>

          <div>Does this insight relate to Strategy or
            Product? <%= select_tag 'feedback_type', options_for_select(["Strategy", "Product"]), prompt: 'select', class: 'select' %></div>

      <% end %>

      <div class="feedback-strategy-container">

        <div class="feature-data" style="<%= 'display: none;' unless feedback.related_feature_id %>">
          <% if beachhead.has_features? %>

              <div class="dd-tag">
                <%= active_edit_if has_valid_access?, feedback, :related_feature_id, type: :select, choices: beachhead.features.pluck(:id, :feature_name).to_h, placeholder: 'Related feature' %>
              </div>

              <% if feedback.related_feature %>
                  &rsaquo;&rsaquo;
                  <div class="dd-tag ">
                    <%= active_edit_if has_valid_access?, feedback, :related_component_id, type: :select, choices: feedback.related_feature.components.pluck(:id, :name).to_h, placeholder: 'Related sub feature' %>
                  </div>
              <% end %>

          <% else %>

              <div class=" " style="background-color: aliceblue; padding: 10px;">
                <p>If the customer insight pertains to a Product development:</p>

                <p>Product is made up multiple Features and its sub-features. The insight may pertain to
                  anyone the sub-feature. It can be a bug, or a unmet need.</p>

                <p>You can tag this insight to the most relevant sub-feature. Process the insight, decide
                  to
                  act on it or disregard the insight, based on its merit.</p>

                <p>You will be able to tag the insight once you start using
                  <span class="hyperlink" data-dismiss="modal" data-behaviour="open_in_new_tab" data-href="<%= step_href_path(7) %>">Product.</span>
                </p>
              </div>

          <% end %>
        </div>


        <div class="related-tool-data" style="<%= 'display: none;' unless feedback.related_tool %>">
          <% if beachhead.canvas_started? %>
              <div class="dd-tag">
                <%= active_edit_if has_valid_access?, feedback, :related_tool, type: :select, choices: tool_hash, placeholder: 'Related tool' %>
              </div>
          <% else %>
              <div class="" style="background-color: aliceblue; padding: 10px;">
                <p>If the customer insight pertains to a Strategy problem:</p>

                <p>Strategy is made up of 15 strategy solutions to the 15 different strategy problems. The
                  insight may pertain to anyone of the strategy tools like Beachhead, Markets, or End
                  users.</p>

                <p>You can tag this insight to the most relevant tool. Process the insight, decide to act
                  on
                  it or disregard the insight, based on its merit.</p>

                <p>You will be able to tag the insight once you start using
                  <span class="hyperlink" data-dismiss="modal" data-behaviour="open_in_new_tab" data-href="<%= strategy_toolkit_path %>">Strategy.</span>
                </p>

              </div>
          <% end %>
        </div>

      </div>

    </div>


    <% if feedback.categorized? %>
        <div style="text-align: right;">
          <div class="hyperlink" data-toggle="tooltip" data-title="Remove reference" data-behaviour="get_script" data-script-href="<%= remove_references_path(feedback.id) %>" style="font-size: .8rem;display: inline-block;">remove
            references
          </div>
        </div>
    <% end %>

  </div>


</div>