<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
  <div class="modal-title">
    <%= profile_icon feedback.user %> shared
    <strong><%= ae_live_field feedback, :customer_name %></strong>'s insight on <%= ldt feedback.created_at %>
  </div>
</div>
<div class="modal-body">
  <%= render 'customer_feedbacks/customer_feedback_status_tag', feedback:feedback %>
  <div class="feedback-body">
    <%= ae_live_field feedback, :feedback %>
  </div>
  <div class="feedback-prop-section">
    <div class="feedback-prop-title">Importance to customer</div>
    <%= active_edit_if has_valid_access?, feedback, :customer_interest, type: :select, choices: star_rating, placeholder: 'Importance to customer' %>
  </div>

  <%= render 'customer_feedbacks/customer_feedback_references', feedback: feedback %>
  <%= render 'customer_feedbacks/customer_feedback_decision', feedback: feedback %>


</div>
<div class="modal-footer">
  <div class="comments-for-<%= feedback.id %>">
    <%= render 'comments/comment_thread', parent: feedback %>
  </div>
</div>