<header class="feature-list-header">
  <h3 class="heading flush-top" style="text-align: left;padding-left: 20px;">What are my customers' view on my Strategy and Product?</h3>

  <% metrics = active_product.feedback_metrics %>

  <div class="customer-interaction-header-items">
    <div class="header-item">
      <div class="metric" style="">
        <div class="title">All insights</div>
        <div class="num input"><%= metrics[0] %> </div>
      </div>
    </div>
    <div class="header-item" data-behaviour="open_in_new_tab" data-href="<%= customer_feedbacks_path(scope: 'unaddressed') %>">
      <div class=" metric" style="">
        <div class="title">Unaddressed insights</div>
        <div class="num"><%= metrics[1] %></div>
      </div>
    </div>
    <div class="header-item" data-behaviour="open_in_new_tab" data-href="<%= customer_feedbacks_path(scope: 'scheduled') %>">
      <div class=" metric" style="">
        <div class="title">Scheduled</div>
        <div class="num input"><%= metrics[2]  %> </div>
      </div>
    </div>
    <div class="header-item" data-behaviour="open_in_new_tab" data-href="<%= customer_feedbacks_path(scope: 'disregarded') %>">
      <div class="metric" style="">
        <div class="title">Disregarded</div>
        <div class="num"><%= metrics[3]  %></div>
      </div>
    </div>
    <div class="header-item" data-behaviour="open_in_new_tab" data-href="<%= customer_feedbacks_path(scope: 'completed') %>">
      <div class="metric" style="">
        <div class="title">Completed</div>
        <div class="num input"><%= metrics[4]  %></div>
      </div>
    </div>
  </div>

</header>