<div class="feedback-prop-section feedback-decision">
  <div class="feedback-prop-title">Decision</div>
  <div style="margin-top: 4px;">
    <div class="btn-container">
      <%#= active_edit_if has_valid_access?, feedback, :decision, type: :select, choices: CustomerFeedback::DECISION, placeholder: 'unaddressed' %>
      <% r = rand_string %>
      <%= button_to 'Unaddressed', customer_feedback_path(feedback.id, {customer_feedback: {decision: nil}}), remote: true, class: "choice-btn #{'selected' if feedback.decision.nil?}", 'is-sibling' => r, method: :put %>
      <% CustomerFeedback::DECISION.each do |k, v| %>
          <%= button_to v, customer_feedback_path(feedback.id, {customer_feedback: {decision: k}}), remote: true, class: "choice-btn #{'selected' if feedback.decision == k}", 'is-sibling' => r, method: :put %>
      <% end %>

    </div>
    <div style="margin-top: 10px;">
      <% if feedback.actionable? %>
          <div class="white-text-snippet inline dd-padding"><%= active_edit_if has_valid_access?, feedback, :assigned_to, type: :select, placeholder: 'person responsible', choices: active_product.team_assignment_scope %></div>
          to resolve on or before
          <div class="white-text-snippet inline tc-padding"><%= active_edit_if has_valid_access?, feedback, :target_date, type: :date, placeholder: 'due date' %></div>
      <% end %>
    </div>
  </div>
</div>