<div class="customer-feedback-list">
  <% active_product.customer_feedbacks.send(*(defined?(scope) ? scope : [:all])).each do |feedback| %>
      <%= render 'customer_feedbacks/new_feedback_item', feedback: feedback %>
  <% end %>
</div>
