<div class="modal fade feedback-modal feedback-modal-<%= modal_id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

    <%= render 'customer_feedbacks/customer_feedback_modal_content', feedback: feedback %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->