$feedback = $('[data-customer-feedback-id=<%= @customer_feedback.id %>]');

$feedback
    .find('.feedback-decision')
    .replaceWith('<%= j render 'customer_feedbacks/customer_feedback_decision', feedback: @customer_feedback %>');

$feedback
    .find('.feedback-status.status-tag')
    .replaceWith('<%= j render 'customer_feedbacks/customer_feedback_status_tag', feedback: @customer_feedback %>');

<%= render 'update_customer_insights' %>