<div class="feedbacks-for-feature" style="width: 40%; margin: 30px auto;">

  <h4 style="text-align: center;margin-bottom: 30px;"><%= @scope.capitalize %> Insights <%= "for #{@tool}" if @tool %></h4>


  <% if @feedbacks.present? %>
      <% @feedbacks.each do |feedback| %>
          <%= render 'customer_feedbacks/new_feedback_item', feedback: feedback %>
      <% end %>
  <% else %>

      <div style="text-align: center;">
        <p>There are no insights yet.</p>

        <p>Do you want to record new insights? Go to
          <span class="hyperlink" data-behaviour="open_in_new_tab" data-href="<%= customer_insights_path %>">Insights</span>
        </p>
      </div>
  <% end %>

</div>