<div class="only-when-none" style="<%= "display: none;" if @customer_feedbacks.count == 0 %>">
  <div class="btn-container" style="padding: 20px 0; text-align: center;">
    <div data-toggle="modal" data-target=".new-customer-feedback" class="btn btn-primary" style="width: 280px;">
      + add an insight
    </div>
    <div data-toggle="modal" data-target=".new-customer-feedbacks" class="btn btn-info" style="width: 280px;">
      + add many insights
    </div>
  </div>
</div>
