<div class="customer-feedback _<%= feedback.id %> <%= 'addressed' if feedback.status %>" data-customer-feedback-id="<%= feedback.id %>">

  <div class="feedback-header">
    <div class="feedback-origin">
      <%= profile_icon feedback.user, size: 'tiny' %> shared
       insights from meeting <strong><%= ae_live_field feedback, :customer_name %></strong> on <%= ldt feedback.created_at %>
    </div>
    <div class="pull-right">
    <%= delete_object feedback %>
    </div>
  </div>

  <div style="margin: 10px 0;">
    <%= ae_live_field feedback, :feedback %>
  </div>


  <div style="font-size: .8rem;">
    <div><%= importance_rating[feedback.customer_interest].try(:html_safe) %>
    </div>
  </div>

  <div class="feedback-status-ind" style="margin-top: 8px">
    <%= render 'customer_feedbacks/customer_feedback_status_tag', feedback: feedback %>
  </div>

  <%= render 'customer_feedbacks/customer_feedback_reference_tag', feedback: feedback %>


  <div style="margin-top: 10px;" class="row">
    <div class="col-xs-6">

      <% modal_id = rand_string %>
      <div class="hyperlink" data-toggle="modal" data-target=".feedback-modal-<%= modal_id %>">Edit</div>
      <%= render 'customer_feedbacks/customer_feedback_modal', feedback: feedback, modal_id: modal_id %>

    </div>
    <div class="col-xs-6" style="text-align: right;">
      <div class="comment-count hyperlink" data-toggle="modal" data-target=".feedback-modal-<%= modal_id %>"><%= pluralize feedback.comment_count, 'comment' %></div>
    </div>

  </div>

</div>

