<div class="new-customer-feedback-form-enc new-sub-tool-form-enc">


  <div class="modal fade feedback-modal new-customer-feedback" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <div class="modal-title">
            New Insight
          </div>
        </div>

        <%= render 'customer_feedbacks/single_customer_feedback_form' %>


      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div class="modal fade feedback-modal new-customer-feedbacks" tabindex="-1" role="dialog">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <div class="modal-title">
            New Insight
          </div>
        </div>


        <div class="modal-body">
          <div class="feedback-sheet">
            <div class="ui-front">
              <%= text_field_tag :customer_name, '', class: 'form-control customer_feedback_customer_name multi-feedback-customer-name', placeholder: 'Customer name', 'data-tags': "#{active_product.feedback_providers_names}", autofocus: 'autofocus' %>
            </div>
            <div class="full-form-content multi-feedbacks-entry-list">
              <div style="margin-top: 10px;" data-feedback-enc-id="<%= r = rand_string %>">
                <%= text_area_tag :feedback, '', {class: 'form-control multi-feedback-textarea ', placeholder: 'Insight from Customer', 'data-feedback-temp-id' => r, disabled: 'disabled'} %>
              </div>
              <div style="margin-top: 10px;" data-feedback-enc-id="<%= r = rand_string %>">
                <%= text_area_tag :feedback, '', {class: 'form-control multi-feedback-textarea', placeholder: 'Insight from Customer', 'data-feedback-temp-id' => r, disabled: 'disabled'} %>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">

          <div class="btn-container" style="text-align: center;">
            <div class="btn-primary btn collapse-target" data-dismiss="modal">Close</div>
          </div>
        </div>


      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>