<% unless @customer_feedbacks.count > 0 %>

    <div class="feedback-empty-state">

      <div class="blue-note" style="padding: 10px 30px 30px 30px">

        <p style="font-size: 1rem;">“Optimism is an occupational hazard of programming: feedback is the
          treatment.”</p>

        <p class="flush-bottom"><strong>Kent Beck</strong></p>

        <p style="font-size: .8rem;">Creator of the Extreme Programming and one of the 17 signatories to Agile
          programming</p>


        <div style="margin-top: 10px;">
          Core of EdisonPlan is Customer driven product evolution. Start with adding customers insight, process them
          to refine the ideas before executing them.
        </div>


        <div class="hyperlink" style="margin-top: 10px;text-align: center;" data-toggle='modal' data-target=".new-customer-feedback">Add
          an insight
        </div>


      </div>

      <div style="padding: 30px 10px;">

        <p>Not sure on how customer feedback is vital to product evolution? Take a look into what these people did.
        </p>



        <ol>
          <li>Disciplined Entrepreneurship on the single necessary and sufficient condition for a business.
            <span data-target=".de-note-modal" data-toggle="modal" class="hyperlink">Learn more</span></li>

          <li style="margin: 20px 0;">Larry Ellison on how many times he was made to watch the Toy Story before it
            hit the
            cinemas. <%= link_to 'See what he said', 'https://www.youtube.com/watch?v=j-Yk4k2tG4A', target: '_blank' %></li>

          <li>The Apple marketing
            philosophy on customer
            empathy. <%= link_to 'See it', image_path('applemarketingphilosophy.jpg'), target: '_blank' %></li>
        </ol>
      </div>


      <div class="white-text-snippet" style="padding: 10px;white-space: normal;">
        <p><strong>What If I do not have any insight gathered from customers right now?</strong></p>

        <p>Highly recommended to get outdoors and meet a customer or make a phone call to someone who is likely to
          be your customer and ask “what is the alternative product they are using and why”..</p>

        <p>There is no one single best way to do this. Just start doing this and you can improve with time and
          experience. Make it a process to get outdoors and learn from the customers on what they need and refine
          your ideas before executing them.
        </p>

        <div style="text-align: center;">
          <strong>Ok, that’s like meet or call now and gain their insights!!!</strong></div>
      </div>

    </div>

<% end %>