$feedback = $('[data-customer-feedback-id=<%= @customer_feedback.id %>]');

$feedback
    .find('.feedback-references')
    .replaceWith('<%= j render 'customer_feedbacks/customer_feedback_references', feedback: @customer_feedback %>');

$feedback
    .find('.feedback-ref-tag')
    .replaceWith('<%= j render 'customer_feedbacks/customer_feedback_reference_tag',  feedback: @customer_feedback %>');