<div id="workspace-right" class="primary-sheet sub-tool-single-view workspace-right feedback-tab-item">
  <div class="tool-with-comment" data-customer-feedback-id="<%= @sub_tool_resource.id %>">
  <%= render 'customer_feedbacks/customer_feedback_modal_content', feedback: @sub_tool_resource %>
  </div>
</div>