<div class="new-cust-feedback-form">
  <%= form_for active_product.customer_feedbacks.build, remote: true do |f| %>
      <div class="modal-body">
        <div class="feedback-sheet">
          <!--<h5>New Customer Feedback</h5>-->


          <div class="ui-front">
            <%= f.text_field :customer_name, class: 'form-control customer_feedback_customer_name', placeholder: 'Customer name', 'data-tags': "#{active_product.feedback_providers_names}", autofocus: 'autofocus' %>
          </div>
          <div class="full-form-content">
            <div style="margin-top: 10px;">
              <% opts = {class: 'form-control ', placeholder: 'Post a customer insight… (it may include observation of their behavior, verbal feedback and oral response)'} %>
              <% opts.merge({autofocus: 'autofocus'}) %>
              <%= f.text_area :feedback, opts %>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
              <%= f.collection_select :customer_interest, feature_importance, :first, :last, {prompt: 'Customer interest level'}, {class: 'select', style: 'width: 100%'} %>
            </div>

            <div style="margin-top: 10px; " class="feedback-reference-parent">

              <div>Does this insight relate to Strategy or
                Product? <%= select_tag 'feedback_type', options_for_select(["Strategy", "Product"]), prompt: 'select', class: 'select' %></div>

              <div class="feedback-strategy-container">

                <div class="feature-data" style="display: none;">
                  <% if beachhead.has_features? %>

                      <div style="margin-top: 10px;">
                        <%= f.collection_select :related_feature_id, beachhead.features.all, :id, :feature_name, {prompt: 'Related feature'}, {class: 'select related-feature', style: 'width: 100%'} %>
                      </div>
                      <div style="margin-top: 10px;">
                        <%= f.collection_select :related_component_id, beachhead.features.first.components, :id, :name, {prompt: 'Related sub-feature'}, {class: 'select related-sub-feature', style: 'width: 100%'} %>
                      </div>

                  <% else %>

                      <div class=" " style="background-color: aliceblue; padding: 10px;">
                        <p>If the customer insight pertains to a Product development:</p>

                        <p>Product is made up multiple Features and its sub-features. The insight may pertain to
                          anyone the sub-feature. It can be a bug, or a unmet need.</p>

                        <p>You can tag this insight to the most relevant sub-feature. Process the insight, decide
                          to
                          act on it or disregard the insight, based on its merit.</p>

                        <p>You will be able to tag the insight once you start using
                          <span class="hyperlink" data-dismiss="modal" data-behaviour="open_in_new_tab" data-href="<%= step_href_path(7) %>">Product.</span>
                        </p>
                      </div>

                  <% end %>
                </div>


                <div class="related-tool-data" style="display: none;">
                  <% if beachhead.canvas_started? %>
                      <div style="margin-top: 10px;">
                        <%= f.collection_select :related_tool, tool_hash, :first, :last, {prompt: 'Related tool'}, {class: 'select related-tool', style: 'width: 100%'} %>
                      </div>
                  <% else %>
                      <div class="" style="background-color: aliceblue; padding: 10px;">
                        <p>If the customer insight pertains to a Strategy problem:</p>

                        <p>Strategy is made up of 15 strategy solutions to the 15 different strategy problems. The
                          insight may pertain to anyone of the strategy tools like Beachhead, Markets, or End
                          users.</p>

                        <p>You can tag this insight to the most relevant tool. Process the insight, decide to act
                          on
                          it or disregard the insight, based on its merit.</p>

                        <p>You will be able to tag the insight once you start using
                          <span class="hyperlink" data-dismiss="modal" data-behaviour="open_in_new_tab" data-href="<%= strategy_toolkit_path %>">Strategy.</span>
                        </p>

                      </div>
                  <% end %>
                </div>

              </div>

            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
              <%= f.text_area :feedback_comment, class: 'form-control ', placeholder: 'My view on the insight' %>
            </div>


          </div>
        </div>

      </div>
      <div class="modal-footer">

        <div class="btn-container" style="text-align: left;">
          <%= button_tag class: 'btn btn-success' do %>
              Add insight
          <% end %>


          <div class="btn-link btn collapse-target" data-dismiss="modal">Cancel</div>

        </div>
      </div>
      <% if @new_sub_tool_title %>
          <%= hidden_field_tag :rand_tab_id, rand_tab_id %>
      <% end %>
  <% end %>
</div>