$c = $('.checklist-progress.customer-interaction');

$c.find('.checklist-percent').html('<%= r =  active_product.feedback_address_rate %> %');
$c.find('.checklist-progress-bar .inner').attr({style: 'width: <%= r %>%'});

$h = $('.customer-interaction-header-items');

<% active_product.feedback_metrics.each_with_index do |x, i| %>
$h.find('.num').eq(<%= i %>).html('<%= x %>');
<% end %>