(function () {



  var $form = $('.new_customer_feedback');
  <% if @customer_feedback.errors.blank? %>

  <%= render 'update_customer_insights' %>

  $feedback = $('<%= j render 'customer_feedbacks/new_feedback_item', feedback: @customer_feedback %>');
  $('.customer-feedback-list').prepend($feedback);

  $form[0].reset();
  $('.feedback-empty-state').remove();
  $('.only-when-none').removeAttr('style');

  <% unless params[:temp_id] %>
  $('.modal').modal('hide');
  <% end %>

  $('.customer_feedback_customer_name').attr('data-tags', '<%= active_product.feedback_providers_names.to_json.html_safe %>');

  <% if params[:temp_id] %>
  $('[data-feedback-enc-id=<%= params[:temp_id] %>]').replaceWith('<%= j render 'customer_feedbacks/customer_feedback_body' %>');
  <% end %>


  <% if params[:rand_tab_id] %>
  $originFormEnc = $('[data-tab-view-id=<%= params[:rand_tab_id] %>]');
  $originTab = $('[data-tab-id=<%= params[:rand_tab_id] %>]');

  <% @sub_tool_resource = @customer_feedback %>
  var content = '<%= j render 'customer_feedbacks/show' %>';
  $originFormEnc.html(content);

  $originTab
      .attr('data-href', '<%= @customer_feedback.friendly_link %>')
      .data('href', '<%= @customer_feedback.friendly_link %>')
      .find('.inner').html('<%= "Insights from #{@customer_feedback.customer_name}" %>');

  Router.navigate('<%= @customer_feedback.friendly_link %>', {overwrite: true});

  <% end %>


  <% else %>

  <% if @customer_feedback.feedback.blank? %>
  $form.find('#customer_feedback_feedback').effect('shake');
  <% elsif @customer_feedback.customer_name.blank? %>
  $form.find('#customer_feedback_customer_name').effect('shake');
  <% end %>

  <% end %>




}).call(this);