<span class="pitch-history-sec">
  <% placeholder = beachhead.pitches.count == 0 ? "Write your first pitch" : "Click to write a pitch" %>
  <% pitch = beachhead.pitches.first %>
  <%= best_in_place_if has_valid_access?, pitch, :pitch_content, :place_holder => placeholder, :as => :textarea, :class => "pitch-bip-content", :inner_class=>"no-bip-outline"%>
</span>

<% unless current_user.user_parameter.s5 %>
    <div class="onboard-script hidden">
      <script>
          $(document).on('ajax:success', '.pitch-bip-content', function () {
              $.getScript('/scripts/onboard_update');
          });
      </script>
    </div>
<% end %>
