<div id="user-parameter-form-container" class="welcome-slide-2">
  <%= render 'user_parameters/user_parameter_edit_view', user_parameter: current_user.build_user_parameter, http_verb: :post, form_title: 'Let\'s get started with updating your profile.' %>
</div>
