<div class="pitch-history-enc">
  <% pitches = beachhead.pitches.all %>
  <% pitches_count = pitches.size %>
  <% pitches.each_with_index do |p, i| %>

    <% if i == 0 %>

      <div class="first-pitch-history-item">
        <span class="phistory-content first"><%= active_edit_if has_valid_access?, p, :pitch_content %>
          </span>
        <span class="phistory-date"><%= p.created_at.strftime("%d %b %Y") %></span>
        <%= delete_object(p) %>
        <%= link_to 'javascript:void(0)', class: "edit-link edit-pitch-#{p.id}" do %>
          <span class="fa fa-pencil"></span> Edit
        <% end %>
      </div>

      <hr>

    <% else %>


      <div class="pitch-history-item-enc">


          <div class="pitch-history-info">
            <span class="pitch-num"><%= pitches_count - i %></span>
            <span class="phistory-date"><%= p.created_at.strftime("%d %b %Y") %></span>
          </div>

          <div class="pitch-history-content-enc">
            <span class="phistory-content"><%= active_edit_if has_valid_access?, p, :pitch_content %></span>
            <%= delete_object(p) %>
            <%= link_to 'javascript:void(0)', class: "edit-link edit-pitch-#{p.id}" do %>
              <span class="fa fa-pencil"></span> Edit
            <% end %>
          </div>



      </div>


    <% end %>


  <% end %>
</div>
