/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require jquery-ui/datepicker
 *= require jquery-ui/draggable
 *= require_self
 */
@import "shared/fonts";

// importing bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";


// importing modules

@import "app/modules/variables";
@import "app/modules/mixins";

// importing components
@import "app/components/typography";
@import "app/components/modals";
@import "app/components/buttons";
@import "app/components/forms";
@import "app/components/dropdowns";
@import "app/components/active_edit";
@import "app/components/expandable";
@import "app/components/hr";
@import "app/vendor/jquery.growl";
@import "app/vendor/bootstrap-datepicker3.min";
@import "app/vendor/datepicker";
@import "app/vendor/trix";
@import "app/responsive";

// importing layout
@import "app/layout/body";
@import "app/layout/header";
@import "app/layout/wrapper";
@import "app/layout/sidebar";
@import "app/layout/workspace";
@import "onboarding/onboarding_progress";

@import "app/layout/home";
@import "app/layout/toolkit_list";
@import "app/layout/steps";
@import "app/layout/step_header";
@import "app/layout/footer";

@import "app/layout/sub_tools/subtool_layouts";
@import "app/layout/sub_tools/tasks";
@import "app/layout/sub_tools/notes";
@import "app/layout/sub_tools/milestones";

@import "app/layout/sub_tools/validation";
@import "app/layout/sub_tools/discussions";
@import "app/layout/sub_tools/customer_feedback";

@import "app/layout/products";
@import "app/layout/team";
@import "app/layout/profiles";
@import "app/layout/account_settings";
@import "app/layout/feedback";
@import "app/layout/activity_feed";
@import "app/layout/sub_tools/chat";
@import "app/layout/boards";



.super-alert {
  position: absolute;
  display: block;
  z-index: 999;
  margin-left: -350px;
  width: 700px;
  left: 50%;
  top: 30px;
  &.alert-info {
    background-color: $blue-primary;
    color: $white;
  }
}