/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */


/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
  url("<%= font_path('noto-sans-v6-latin-regular.woff2') %>") format('woff2'), /* Super Modern Browsers */
  url("<%= font_path('noto-sans-v6-latin-regular.woff') %>") format('woff'); /* Modern Browsers */
}
/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
  url("<%= font_path('noto-sans-v6-latin-700.woff2') %>") format('woff2'), /* Super Modern Browsers */
  url("<%= font_path('noto-sans-v6-latin-700.woff') %>") format('woff'); /* Modern Browsers */
}
/* noto-sans-italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
  url("<%= font_path('noto-sans-v6-latin-italic.woff2') %>") format('woff2'), /* Super Modern Browsers */
  url("<%= font_path('noto-sans-v6-latin-italic.woff') %>") format('woff'); /* Modern Browsers */
}
/* noto-sans-700italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
  url("<%= font_path('noto-sans-v6-latin-700italic.woff2') %>") format('woff2'), /* Super Modern Browsers */
  url("<%= font_path('noto-sans-v6-latin-700italic.woff') %>") format('woff'); /* Modern Browsers */
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "slideshow/onepage";
@import "slideshow/variables";
@import "slideshow/slideshow";


