$('.addnl-value-<%= @user_priority.id %>').html('$ <%= number_with_delimiter @user_priority.additional_value_created  %>');
$('.total-addnl-value').html('$ <%= number_with_delimiter beachhead.total_additional_value_created %>');