<% if @currently_ranked_priority %>
$('.rank-dot-<%= @currently_ranked_priority.id %>').removeClass('selected');
var newContentForOldRank = $('[data-behaviour=rank_priority][data-object-id=<%= @currently_ranked_priority.id %>]').data('priority');
$('[data-behaviour=rank_priority][data-object-id=<%= @currently_ranked_priority.id %>]').html(newContentForOldRank);
$('#dd-priority-at-rank-<%= @prev_rank %>').html('(select)');
<% end %>
var newContentForNewRank = $('[data-behaviour=rank_priority][data-object-id=<%= @user_priority.id %>]').data('priority')+'&nbsp;<span>(ranked #<%= @user_priority.rank %>)</span>';
$('[data-behaviour=rank_priority][data-object-id=<%= @user_priority.id %>]').html(newContentForNewRank);

<% if active_product.beachhead_has_ranked_purchasing_priorities? %>
$('[data-stage=4]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage4_priorities', stage: 4 %>');
$('[data-stage=5]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage5_business_model', stage: 5 %>');
scrollToStage(5);
<% end %>