
.transparent-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

}

// BORDER RADIUS

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin border-radius($radius: 5px) {
  @include css3-prefix('border-radius', $radius);
}

@mixin paper-style($padding, $width) {
  padding: $padding;
  width: $width;
  background-color: $white;
  @include border-radius(2px);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  position: relative;
}

@mixin paper-style-cs($padding, $width, $vertical-margin: 50px) {
  @include paper-style($padding, $width);
  margin: $vertical-margin auto;
  -webkit-box-shadow: 1px 1px 3px 0 $grey-dark;
  -moz-box-shadow: 1px 1px 3px 0 $grey-dark;
  box-shadow: 1px 1px 3px 0 $grey-dark;
}

@mixin sharp-paper-style($padding, $width) {
  padding: $padding;
  width: $width;
  background-color: $white;
  @include border-radius(2px);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

@mixin reading-content($type:nil, $emphasis:true) {
  font-family: $primary-font-stack;
  font-weight: 300;
  word-spacing: 2px;
  line-height: 30px;
  @if $emphasis == true {
    @if $type == 'title' {
      font-size: 24px;
      font-weight: 500;
    } @else {
      font-size: 18px;
    }
  } @else if $emphasis == false {
    @if $type == 'title' {
      font-size: 24px;
      font-weight: 500;
    } @else {
      font-size: 17px;
      color: $grey-content-text;
    }
  }
}

@mixin set-col-width($list-of-widths) {
  col {
    @for $i from 1 through length($list-of-widths) {
      &:nth-child(#{$i}) {
        width: nth($list-of-widths, $i);
        max-width: nth($list-of-widths, $i);
        min-width: nth($list-of-widths, $i);
      }
    }
  }
}

@mixin set-equal-width($cols) {
  col {
    @for $i from 1 through $cols {
      &:nth-child(#{$i}) {
        width: percentage(1/$cols);
        max-width: percentage(1/$cols);
        min-width: percentage(1/$cols);
      }
    }
  }
}

@mixin set-cell-alignment($list-of-alignments) {
  td, th {
    @for $i from 1 through length($list-of-alignments) {
      &:nth-child(#{$i}) {
        text-align: nth($list-of-alignments, $i);
      }
    }
  }
}

@mixin raised-style($shadow-color, $active-color) {
  box-shadow: 0 3px 0 0 $shadow-color;
  &:active {
    background: $active-color;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
  }
}

@mixin text-ellipsis($lineheight, $lines, $padding) {

  $height: ($lineheight * $lines) + ($padding * 2) - 5;

  padding: $padding;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-height: $lineheight;
  //min-height: $height;
  max-height: $height;
}

@mixin book-lines($lineheight, $color) {
  background-image: -moz-linear-gradient(top, transparent, transparent $lineheight - 1, $color 0px);
  background-image: -webkit-linear-gradient(top, transparent, transparent $lineheight - 1, $color 0);
  -webkit-background-size: 100% $lineheight;
  background-size: 100% $lineheight;
}

@mixin outline-style($textcolor) {
  background-color: white;
  color: $textcolor;
  &:hover {
    color: white;
    background-color: $textcolor;
  }
}

@mixin card {
  //
  display: inline-block;
  background-color: $white;
  padding: 5px 10px;

  &:hover {

    background-color: #FCFBFB;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flush-left {
  margin-left: 0 !important;
}

.flush-right {
  margin-right: 0 !important;
}

.flush-top {
  margin-top: 0 !important;
}

.flush-bottom {
  margin-bottom: 0 !important;
}

.hyperlink {
  @extend a;
  cursor: pointer;
}

.white-box {
  background: white;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
}

.default-paper {
  width: 60% !important;
  margin: 30px auto;
}

.white-text-snippet {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .1);
  white-space: pre-line;
  border-radius: 2px;
  background: white;
}

.blue-note {
  background: aliceblue;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.dd-padding {
  padding: 1px 10px;
}

.inline {
  display: inline-block;
}

.tc-padding {
  padding: 4px 10px;
}

