// FONTS

// default font for non-reading activities
$primary-font-stack: "Lucida Grande", "Lucida Sans Unicode" , sans-serif;
$secondary-font-stack: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode" , sans-serif;



// quote font
$quote-font-stack: "Georgia", "Times New Roman", "Times", serif;

// type sizes

$small: .8rem;     // 14px
$regular: 1rem;     // 14px
$large: 1.2rem;    //
$larger: 1.4rem;   //
$largest: 1.6rem;  //
$trump: 2rem;  //





  // COLORS

// for layout
//$blue-primary: #3da1e0;
$blue-primary: #3C91E6;
$blue-secondary: #236AA6;
$blue-tertiary: rgba(33, 140, 231, 0.9);
$blue-light: #6CCFF6;
$blue-alice: #F0F8FF;
$blue-fb: #f6f7f8;

$text-color: #333;
$error-red: #E44646;
$gold: #FFD700;




$white: white;
$off-white: #FAEBD7;
$lighter-yellow: #fffff5;
$orange-super-light: #fff2e5;
$purple: #660E7A;
$grey54: #545454;
$grey72: #727272;
$grey-9: #999;
$grey-super-dark: darkgrey;
$grey-d: #ddd;
$grey-c: #ccc;
$grey-dark: #D3D3D3;
$grey-medium-dark: #e0e0e0;
$grey-medium-light: #eee;
$grey-light: #E7E7E7;
$grey-super-light: #F7F7F7;
$grey-bluish: #F6FAFC;


$bg-color: $blue-fb; //$orange-super-light;


//$grey-super-light: #F5F8FA;
$green-primary: #5cb85c;
$green-secondary: #4DA54D;
$green-light: #ecfcf9;

$brown: #87121b;

// for typography
$primary-font-color: black;
$grey-content-text: #9B9B9B;

// for buttons

$default-btn-white: #FFFFFF;
$default-btn-shadow: #c8c8c8;
$default-btn-active: #b9b9b9;

$primary-btn-blue: #428bca;
$primary-btn-shadow: #007299;
$primary-btn-active: #33a6cc;

$success-btn-green: #5cb85c;
$success-btn-shadow: #008c52;
$success-btn-active: #39bf87;

$info-btn-blue: #5bc0de;
$info-btn-shadow: #35a2b5;
$info-btn-active: #5fd4e8;

$danger-btn-red: #d9534f;
$danger-btn-shadow: #b87430;
$danger-btn-active: #eba259;

$warning-btn-orange: #f0ad4e;
$warning-btn-shadow: #bf4343;
$warning-btn-active: #f26d6d;

// for launchpad
$market-steps-color: #30a6bf;
$product-steps-color: #bf304a;
$customer-steps-color: #99948a;
$competition-steps-color: #16a085;
$delivery-steps-color: #9c5055;
$pricing-steps-color: #F5A120;
$profits-steps-color: #c99328;


// for boards


// default properties
$border-radius: 5px;

// others
$header-height: 74px;


$header-bg: $primary-btn-blue;