<% all_business = active_product.businesses.all %>

<div class="canvas-markets-list-enc">
  <ul class="canvas-nav-list list-inline" role="tablist">
    <% all_business.each_with_index do |business, index| %>
        <%= render 'businesses/new_market_tab', business: business, index: index %>
    <% end %>
    <li data-toggle="pill" href=".comparitive_analysis" class="canvas-tab-btn comparitive_analysis_tab" id="">
      <div class="inner">All markets</div>
    </li>
  </ul>

  <%= render 'businesses/new_market_form' %>
  <%= render 'businesses/delete_market_form' %>

</div>

<div class="tab-content canvas-tabs-list">
  <% all_business.each_with_index do |business, index| %>
      <%= render 'businesses/new_market_tab_view', business: business, index: index, all_business: all_business %>
  <% end %>
  <div role="tabpanel" class="tab-pane comparitive_analysis" id="">
    <%= render 'steps/partials/comparitive_canvas', businesses: all_business %>
  </div>
</div>



<div class="tab-content canvas-btns-list">
  <%= render 'businesses/canvas_btns_list_items', all_business: all_business %>
</div>





