<div class="enduser-table-enc" data-step-table-id="4">

  <% endusers = beachhead.endusers %>

  <% ENDUSER_GROUPS.each do |k, v| %>

      <h3>
        <%= v %>
      </h3>

      <% endusers_in_group = endusers.for_group(k) %>

      <section class="tool-table" data-table-section-id="<%= k %>">

        <% endusers_in_group.each do |enduser| %>
            <%= render 'endusers/new_end_user_record', enduser: enduser %>
        <% end %>

        <% if k == 2 %>
            <div class="subtext">
              The core personality traits can be used to design a better product and tailor effective marketing
              strategies.
              <a>Find out how</a>.
            </div>
        <% end %>

      </section>


      <% unless k == 2 %>
          <%= render 'static_pages/shared/new_resource_form2', parent: beachhead, resources: :enduser, field: :parameter, options: {placeholder: 'Add an attribute', hidden_field: :group, hf_value: k} %>
      <% end %>

  <% end %>


</div>
