<div class="ms-table-enc" style="    padding: 0 20px;">

  <% financials = beachhead.financials.all %>


  <section class="tool-table" style="">

    <table class="market-size-table">
      <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
      </colgroup>
      <thead>
      <tr>
        <th></th>
        <% financials.each_with_index do |customer_group, index| %>
            <th><%= CUSTOMER_GROUPS[customer_group.customer_segment] %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="left-header">number of customers</td>
        <% financials.each_with_index do |customer_group, index| %>
            <td><%= active_edit_if has_valid_access?, customer_group, :no_of_customers, numeric: true, display_with: :number_with_delimiter %></td>
        <% end %>
      </tr>
      <tr>
        <td class="left-header">ongoing price ($)</td>
        <% financials.each_with_index do |customer_group, index| %>
            <td><%= active_edit_if has_valid_access?, customer_group, :ongoing_price, numeric: true, prefix: '$ ', display_with: :number_with_delimiter %></td>
        <% end %>
      </tr>
      <tr style="font-weight: bold;">
        <td class="left-header">market value ($)</td>
        <% financials.each_with_index do |customer_group, index| %>
            <td class="market-size-<%= customer_group.id %>">$ <%= number_with_delimiter customer_group.market_size %></td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </section>

</div>
