
<div class="sales-plan-table-enc" data-step-table-id="17">

  <% sales_plans = beachhead.sales_strategies.all %>

  <div class="boards-enc five">
    <% sales_plan_groups.each_with_index do |n, i| %>
        <div class="board <%= n[2] %>" data-stage="<%= n[0] %>">
          <div class="board-title"><%= n[1] %></div>
          <% sales_plans.for_stage(n).each do |sales_plan| %>
              <%= render 'sales_strategies/sales_plan_card', sales_plan: sales_plan %>
          <% end %>
        </div>
    <% end %>
  </div>

</div>
