<div class="size-checklist-enc">

  <div class="size-checklist">

    <div style="margin-bottom: 30px;">The following three questions can be used to figure out if the beachhead is narrow
      enough:
    </div>

    <div class="size-questions">
      <div class="size-question similar_product">
        <div class="num">1</div>
        <strong>Similar Products</strong>

        Do the end users in the <%= ae_live_field beachhead, :business_name %> market buy or are willing to buy
        products similar to <%= ae_live_field(active_product, :product_name) %>?


        <div class="answer-prompt hyperlink" data-toggle="modal" data-target=".smp-help-modal" style="<%= 'display: none;' if beachhead.end_user.present? && beachhead.top_competitors.present? %>">
          Knowing the end users and the competitors of <%= ae_live_field(active_product, :product_name) %> can help you
          think about this question better
        </div>

        <div class="modal fade feedback-modal smp-help-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <div class="modal-title" style="line-height: 20px;">
                  End Users and Top Competitors
                </div>
              </div>
              <div class="modal-body">
                <div style="padding: 0 10px;">
                  Knowing the end users and the competitors of <%= ae_live_field(active_product, :product_name) %> can
                  help you think about whether the end users in the <%= ae_live_field beachhead, :business_name %>
                  market buy or are willing to buy
                  products similar to <%= ae_live_field(active_product, :product_name) %>?
                </div>
                <%= render 'steps/partials/canvas_q_and_a', step: 3 %>
                <%= render 'steps/partials/canvas_q_and_a', step: 10 %>
              </div>
              <div class="modal-footer">
                <div class="btn-default btn" data-dismiss="modal">Close</div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="tip-area" style="margin-top: 10px;<%= 'display: none;' unless beachhead.end_user.present? && beachhead.top_competitors.present? %>">
          <p>Are
            <span title="<%= "#{ae_live_field(active_product, :product_name)}'s end user in #{ae_live_field beachhead, :business_name}" %>" class="x-ref-highlight" style="text-transform: lowercase"><%= ae_live_field beachhead, :end_user %></span>
            buying products from
            <span title="<%= "#{ae_live_field(active_product, :product_name)}'s top competitors in #{ae_live_field beachhead, :business_name}" %>" class="x-ref-highlight"><%= ae_live_field beachhead, :top_competitors %></span>?
          </p>

          <p>
            Are
            <span title="<%= "#{ae_live_field(active_product, :product_name)}'s top competitors in #{ae_live_field beachhead, :business_name}" %>" class="x-ref-highlight"><%= ae_live_field beachhead, :top_competitors %></span>
            selling products that are similar to <%= ae_live_field active_product, :product_name %>?
          </p>

          <p>
            If the answer to both the above questions are 'Yes', then the <%= ae_live_field beachhead, :business_name %>
            market is narrow enough to be the beachhead.
          </p>
        </div>


        <%= choice_buttons beachhead, :similar_product, ['Yes', 'No'] %>


        <div class="warning-text similar_product" style="<%= 'display: none;' unless beachhead.smp_fail? %>">
          If the <%= ae_live_field beachhead, :business_name %> market is too wide
          and <%= ae_live_field(active_product, :product_name) %> will end
          up competing with dissimilar products.
          You might want to consider narrowing your focus.
        </div>

        <hr>
      </div>
      <div class="size-question similar_sales">
        <div class="num">2</div>
        <strong>Similar Sales Process</strong>
        Can my sales team easily shift from selling to one customer to selling to a different customer
        effectively without any loss of productivity?

        <div class="hyperlink answer-prompt" data-toggle="modal" data-target=".ssp-help-modal" style="<%= 'display: none;' if beachhead.end_user.present? && beachhead.marketing.present? %>">
          Knowing the end users and the competitors of <%= ae_live_field(active_product, :product_name) %> can help you
          think about this question better
        </div>

        <div class="modal fade feedback-modal ssp-help-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <div class="modal-title" style="line-height: 20px;">
                  End Users and Top Competitors
                </div>
              </div>
              <div class="modal-body">
                <div style="padding: 0 10px;">
                  Knowing the end users and the marketing methods that are to be adopted can help answer whether the
                  sales team easily shift from selling to one customer to selling to a different customer
                  effectively without any loss of productivity
                </div>
                <%= render 'steps/partials/canvas_q_and_a', step: 3 %>
                <%= render 'steps/partials/canvas_q_and_a', step: 14 %>
              </div>
              <div class="modal-footer">
                <div class="btn-default btn" data-dismiss="modal">Close</div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="tip-area" style="margin-top: 10px;<%= 'display: none;' unless beachhead.end_user.present? && beachhead.marketing.present? %>">
          <p>Can all of
            <span class="x-ref-highlight" style="text-transform: lowercase"><%= ae_live_field beachhead, :end_user %></span>
            be reached out via <span class="x-ref-highlight"><%= ae_live_field beachhead, :marketing %></span>?
          </p>

          <p>If the same marketing techniques and sales pitches be used for acquiring all of
            <span class="x-ref-highlight" style="text-transform: lowercase"><%= ae_live_field beachhead, :end_user %></span>
            then the <%= ae_live_field beachhead, :business_name %> market is narrow enough to be the beachhead.
          </p>

        </div>


        <%= choice_buttons beachhead, :similar_sales, ['Yes', 'No'] %>


        <div class="warning-text similar_sales" style="<%= 'display: none;' unless beachhead.ssp_fail? %>">
          The <%= ae_live_field beachhead, :business_name %> market, as wide as it is, might require a larger sales
          team.
          <br>
          In a narrow enough market, the sales team can reuse the same sales presentation and tactics because the
          customer not very different from each other.
        </div>


        <hr>
      </div>
      <div class="size-question word_of_mouth">
        <div class="num">3</div>
        <strong>Strong Word of Mouth</strong>
        Is the word of mouth in the <%= ae_live_field beachhead, :business_name %> so strong that the customers can
        serve as
        compelling
        references
        for each other in making purchases?


        <div class="hyperlink answer-prompt" data-toggle="modal" data-target=".wom-help-modal" style="<%= 'display: none;' if beachhead.beachhead_size.present? && beachhead.marketing.present? %>">
          Knowing the end users and the competitors of <%= ae_live_field(active_product, :product_name) %> can help you
          think about this question better
        </div>

        <div class="modal fade feedback-modal wom-help-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <div class="modal-title" style="line-height: 20px;">
                  End Users and Top Competitors
                </div>
              </div>
              <div class="modal-body">
                <div style="padding: 0 10px;">
                  Knowing the size of the market and the marketing methods that are to be adopted can help answer
                  whether the market is narrow enough that customers in the market exchange references?
                </div>
                <%= render 'steps/partials/canvas_q_and_a', step: 4 %>
                <%= render 'steps/partials/canvas_q_and_a', step: 14 %>
              </div>
              <div class="modal-footer">
                <div class="btn-default btn" data-dismiss="modal">Close</div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="tip-area" style="margin-top: 10px;<%= 'display: none;' unless beachhead.marketing.present? && beachhead.beachhead_size.present? %>">
          There could be strong word of mouth among the
          <span class="x-ref-highlight"><%= ae_live_field beachhead, :beachhead_size %></span> end users in
          the <%= ae_live_field beachhead, :business_name %> if:
          <ul>
            <li>they are part of the same industry association</li>
            <li>they are members of the same industry related online forum</li>
            <li>they attend the same conference relating to their industry.</li>
          </ul>
          <p>
            If all the customers in the <%= ae_live_field beachhead, :business_name %> market are similar enough to be
            talking to each other, then the <%= ae_live_field beachhead, :business_name %> market is narrow enough to be
            the beachhead.
          </p>
        </div>


        <%= choice_buttons beachhead, :word_of_mouth, ['Yes', 'No'] %>

        <div class="warning-text word_of_mouth" style="<%= 'display: none;' unless beachhead.wom_fail? %>">
          There is no word of mouth in <%= ae_live_field beachhead, :business_name %> market.
          If the customers aren't talking to each other, it may be difficult
          for <%= ae_live_field(active_product, :product_name) %>
          to take off.x
        </div>

      </div>
    </div>
  </div>
</div>

