
<div class="bm-table-enc" data-step-table-id="14">

  <% business_models = beachhead.pricing_models.all %>


  <div class="boards-enc">
    <% core_and_bm_groups.each_with_index do |n, i| %>
        <div class="board <%= n[2] %>" data-stage="<%= n[0] %>">
          <div class="board-title"><%= n[1] %></div>
          <% business_models.for_stage(n).each do |business_model| %>
              <%= render 'pricing_models/business_model_card', business_model: business_model %>
          <% end %>
        </div>
    <% end %>
  </div>


</div>



