<div class="comp-pos-table-enc">

  <% comp_positions = beachhead.comp_positions.all %>


  <% pp1 = beachhead.priority1 %>
  <% pp2 = beachhead.priority2 %>


  <div class="graph-container">

    <% if pp1 && pp2 %>

        <div class="pieces">
          <div style="padding: 10px;margin: 20px 0;border-radius: 2px" class="bg-info">Drag and position the product,
            the status quo and the competitors in the competitive position chart
          </div>

          <div class="pieces-list" style="display: inline-block;">
            <% comp_positions.where(factor1: nil, factor2: nil).each do |comp_position| %>
                <%= render 'comp_positions/comp_pos_item', comp_position: comp_position %>
            <% end %>
          </div>
        </div>
        <div class="x-axis-label">
          <%= pp2 %>
        </div>
        <div class="y-axis-label fa-rotate-270 left"><%= pp1 %></div>
        <table class="graph">
          <thead>
          <tr>
            <th></th>
            <% PP_LEVEL.values.reverse.each do |item| %>
                <th><%= item %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% PP_LEVEL.each do |outer_k, outer_v| %>
              <tr>
                <th class="outer-header fa-rotate-270"><%= outer_v %></th>
                <% PP_LEVEL.to_a.reverse.to_h.each do |inner_k, inner_v| %>
                    <td class="field comp-pos-field" data-droppable data-factor-1="<%= outer_k %>" data-factor-2="<%= inner_k %>">
                      <% comp_positions.where(factor1: outer_k, factor2: inner_k).each do |comp_position| %>
                          <%= render 'comp_positions/comp_pos_item', comp_position: comp_position %>
                      <% end %>
                      <%= button_to '+', comp_positions_path(comp_position: {competitor: 'Competitor', factor1: outer_k, factor2: inner_k}), remote: true, class: 'new-comp-pos-piece btn-xs btn btn-success' %>
                    </td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="y-axis-label fa-rotate-270 right"><%= pp1 %></div>
        <div class="x-axis-label"><%= pp2 %></div>

    <% else %>

        The competitive position tool can be used only when the top 2 purchasing priorities of the customer is known.

        The <%= pseudo_link 'persona tool', app_path(view: 'persona'), 'hyperlink' %> is used to identify the top 2
        purchasing priorities.

    <% end %>

  </div>

</div>




