
<div class="customer-recruitment-table-enc" data-step-table-id="18">

  <% customers = beachhead.customers.all %>

  <div class="boards-enc five">
    <% customer_groups.each_with_index do |n, i| %>
        <div class="board <%= n[2] %>" data-stage="<%= n[0] %>">
          <div class="board-title"><%= n[1] %></div>
          <% customers.for_stage(n).each do |customer| %>
              <%= render 'customers/customer_card', customer: customer %>
          <% end %>
        </div>
    <% end %>
  </div>

</div>
