<div class="diag-table-enc">

  <% businesses = active_product.businesses.all %>

  <div class="row">
    <div class="col-xs-3">
      <ul class="features-sidebar diagnosis-nav-list" role="tablist">
        <% businesses.each_with_index do |business, index| %>
            <%= render 'businesses/new_diagnosis_tab', business: business, index: index %>
        <% end %>
      </ul>
      <div style="padding-left: 15px;margin-top: 30px;">
        <%= render 'businesses/new_market_form' %>
        <%= render 'businesses/delete_market_form' %>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="tab-content diagnosis-tabs-list">
        <% businesses.each_with_index do |business, index| %>
            <%= render 'businesses/new_diagnosis_tab_view', business: business, index: index %>
        <% end %>
      </div>
    </div>
  </div>


</div>

