<div class="pricing-plan-table-enc" data-step-table-id="15">

  <% pricing_plans = beachhead.pricing_plans.includes(:attractions, :plan_defects).all %>

  <div class="boards-enc">
    <% pricing_groups.each_with_index do |n, i| %>
        <div class="board <%= n[2] %>" data-stage="<%= n[0] %>">
          <div class="board-title"><%= n[1] %></div>
          <% pricing_plans.for_stage(n).each do |pricing_plan| %>
              <%= render 'pricing_plans/pricing_plan_card', pricing_plan: pricing_plan %>
          <% end %>
        </div>
    <% end %>
  </div>

</div>
