<div class="enduser-table-enc" data-step-table-id="8">

  <% touchpoints = beachhead.touchpoints.all %>

  <% touchpoints.each_with_index do |tp, ind| %>

      <% unless ind == 0 %>
          <h3>
            <%= TOUCHPOINTS[tp.touchpoint_no] %>
          </h3>

          <section class="tool-table" data-table-section-id="<%= tp.touchpoint_no %>">

            <% touchpoint_fields.each_with_index do |field, index| %>

                <div class="row" data-resource-row-id="<%= resource_row_ref tp %>">
                  <div class="col-xs-6 primary-colored">
                    <%= field[0] %>
                  </div>
                  <div class="col-xs-6">
                    <% if index == 1 %>
                        <%= active_edit_if has_valid_access?, tp, field[1], type: :select, choices: touchpoint_motivation_level %>
                    <% elsif index == 3 %>
                        <%= active_edit_if has_valid_access?, tp, field[1], type: :select, choices: touchpoint_ease %>
                    <% else %>
                        <%= active_edit_if has_valid_access?, tp, field[1] %>
                    <% end %>
                  </div>
                </div>

            <% end %>

          </section>

      <% end %>
  <% end %>

</div>


