<div class="enduser-table-enc" data-step-table-id="6">

  <% personas = beachhead.personas %>

  <% PERSONA_GROUPS.each do |k, v| %>

      <h3>
        <%= v %>
      </h3>


      <% personas_in_group = personas.for_group(k) %>

      <section class="tool-table" data-table-section-id="<%= k %>">
        <% personas_in_group.each do |persona| %>
            <%= render 'personas/new_persona_record', persona: persona %>
        <% end %>

      </section>


      <% unless k == 3 %>
          <%= render 'static_pages/shared/new_resource_form2', parent: beachhead, resources: :persona, field: :parameter, options: {placeholder: 'Add an attribute', hidden_field: :group, hf_value: k} %>
      <% end %>

  <% end %>

  <h3>What are my persona's pains, goals, and needs relating to my product?</h3>

  <section class="tool-table" data-table-section-id="4">

    <% PERSONA_PRIORITIES.each do |k, v| %>

        <% unless k == 4 %>
            <div class="row" id="<%= v %>_pain">
              <div class="col-xs-4 primary-colored">
                <%= v %>
              </div>
              <div class="col-xs-8">
                <ul class="child-list" data-persona-detail-child-group="<%= k %>">
                  <% beachhead.persona_details.for_group(k).each do |pd| %>
                      <li class="child-item"><%= active_edit_if has_valid_access?, pd, :detail %></li>
                  <% end %>
                  <li><%= render 'static_pages/shared/new_resource_form2', parent: beachhead, resources: :persona_detail, field: :detail, options: {placeholder: 'Include one more', hidden_field: :group, hf_value: k} %></li>
                </ul>
              </div>
            </div>
        <% end %>

    <% end %>


  </section>

  <h3>What are my persona's purchasing priorities?</h3>

  <section class="tool-table" data-table-section-id="5">

    <div class="row" id="persona_pain">
      <div class="col-xs-4 primary-colored">
        Purchasing Priorities
      </div>
      <div class="col-xs-8">
        <ul class="child-list" data-persona-detail-child-group="4">
          <% beachhead.persona_details.for_group(4).reorder('rank ASC').each do |pd| %>
              <li class="child-item" data-persona-detail-id="<%= pd.id %>"><%= active_edit_if has_valid_access?, pd, :detail %></li>
          <% end %>
          <li><%= render 'static_pages/shared/new_resource_form2', parent: beachhead, resources: :persona_detail, field: :detail, options: {placeholder: 'Include one more', hidden_field: :group, hf_value: 4} %></li>
        </ul>
      </div>
    </div>

  </section>


</div>
