<div class="enduser-table-enc" data-step-table-id="7">

  <% dmus = beachhead.customer_decision_making_units.all %>

  <% dmus.each do |dmu| %>

      <h3>
        <%= DMU_ENTITIES[dmu.entity] %>
      </h3>

      <div class="section-description">
        <%= dmu_descriptions[dmu.entity] %>
      </div>

      <section class="tool-table" data-table-section-id="<%= dmu.entity %>">

        <% dmu_fields.each do |field| %>

            <div class="row" data-resource-row-id="<%= resource_row_ref dmu %>">
              <div class="col-xs-6 primary-colored">
                <%= field[0] %>
              </div>
              <div class="col-xs-6">
                <%= active_edit_if has_valid_access?, dmu, field[1] %>
              </div>
            </div>

        <% end %>

      </section>


  <% end %>

</div>