<% value_metrics = beachhead.value_metrics.all %>
<table class="value-proposition-table" data-step-table-id="10">

  <colgroup>
    <col>
    <col>
    <col>
    <col>
  </colgroup>

  <thead>
  <tr class="header">
    <th class="">
      Proposition offered
    </th>
    <th class="">As-is state value <div>(Industry)</div></th>
    <th class="">Possible state value <div><%= ae_live_field(active_product, :product_name) %></div></th>
    <th class="">Value added</th>
  </tr>
  </thead>

  <tbody>
  <% value_metrics.each_with_index do |value_metric, index| %>
      <%= render 'value_metrics/new_value_metric', value_metric: value_metric, index: index %>
  <% end %>
  <tr style="font-weight: bold;">
    <td></td>
    <td data-metric="industry-value" ><%= beachhead.industry_value %></td>
    <td data-metric="product-value" ><%= beachhead.product_value %></td>
    <td data-metric="qvp" ><%= beachhead.quantified_value_proposition %></td>
  </tr>
  
  </tbody>
</table>