<div class="core-table-enc" data-step-table-id="12">

  <% comp_advantages = beachhead.comp_advantages.all %>

  <div class="boards-enc">
    <% core_and_bm_groups.each_with_index do |n, i| %>
        <div class="board <%= n[2] %>" data-stage="<%= n[0] %>">
          <div class="board-title"><%= n[1] %></div>
          <% comp_advantages.for_stage(n).each do |comp_adv| %>
              <%= render 'comp_advantages/comp_adv_card', comp_advantage: comp_adv %>
          <% end %>
        </div>
    <% end %>
  </div>


</div>
