<div class="filters" style="display: none;">
  <strong style="margin: 4px 0">Group</strong>
  <% feature_classification.each do |classification| %>
      <div class="filter">
        <div class="apply-filter" data-filter-type="group" data-filter-action="apply" data-filter="<%= classification.gsub(' ', '-') %>"><%= classification %></div>
        <div class="cancel-filter" data-filter-type="group" data-filter-action="remove" data-filter="<%= classification.gsub(' ', '-') %>">×</div>
      </div>
  <% end %>
</div>

<div class="feature-list">
  <% beachhead.features.includes(:components).each do |feature| %>
      <%= render 'features/feature_component_list_item', feature: feature %>
  <% end %>
</div>

<div class="feature-form-enc" data-behaviour="expandable">
  <div class="btn btn-link expand-on-click">+ New Feature</div>
  <div class="feature-form-inner">
    <%= form_for beachhead.features.build, remote: true do |f| %>
        <div>
          <%= f.text_field :feature_name, class: 'form-control', placeholder: 'Feature name' %>
        </div>
        <div style="margin-top: 10px;">
          <%= f.text_area :description, class: 'form-control', placeholder: 'Describe this feature' %>
        </div>
        <div style="margin-top: 10px;">
          <p>This is a must feature of the product, without which the customer will not use and buy the product.</p>

          <p>Processor, OS, Display screen, battery, power cord, Key pad and Track pad are the mandatory feature of a
            laptop.</p>

          <p>The feature should be directly linked to benefit for the customer.</p>
        </div>
        <div style="margin-top: 10px;">
          <%= f.collection_select :persona_detail_id, beachhead.persona_details.where(group: 4), :id, :detail, {prompt: 'select a purchasing priority'}, {class: 'select'} %>
        </div>
        <div style="margin-top: 10px;">
          <%= f.collection_select :related_touchpoint, touchpoint_select, :first, :last, {prompt: 'where does this feature help'}, {class: 'select'} %>
        </div>
        <div style="margin-top: 10px;">
          <%= button_tag class: 'btn btn-default' do %>
              Create Feature
          <% end %>
          <div class="btn-link btn collapse-target">Cancel</div>
        </div>
    <% end %>
  </div>
</div>