<div class="modal fade product-dash-modal">
  <div class="modal-dialog center-modal-dialog modal-sm">
    <div class="modal-content clearfix">

      <div class="modal-header">
        <h4 class="modal-title">Products Dashboard</h4>
      </div>
      <div class="modal-body">
        <div class="products-controls">
          <h4>My Products</h4>
          <ul class="products-list">
            <% current_user.products.all.each do |product| %>
                <%= render 'products/new_product_list_item_rec', product: product %>
            <% end %>
          </ul>

          <%= button_tag '+ New Product', class: 'btn btn-link', data: {behaviour: 'show-new-prod-form'} %>

          <h4>Products shared with me</h4>
          <ul class="shared-products-list">
            <% Product.find(Membership.where(member_email: current_user.email.downcase).pluck(:product_id)).each do |product| %>
                <%= render 'products/new_product_list_item_rec', product: product %>
            <% end %>
          </ul>

        </div>
        <%= form_for current_user.products.build, remote: false, html: {class: 'new-prod-form'} do |f| %>
            <h4>New Product</h4>
            <%= f.text_field :product_name, class: 'form-control', placeholder: 'Product name', maxlength: 50 %>
            <%= f.text_field :enduser_base, class: 'form-control numeric', placeholder: '# of endusers' %>
            <%= f.submit 'Create Product', class: 'btn-sm btn btn-success', data: {disable_with: disabled_spinner} %>
            <div class="btn btn-link btn-sm" data-behaviour="cancel-prod-create">Cancel</div>
        <% end %>
      </div>


    </div>
  </div>
</div>
