<% if active_product.onboard_stage == 2 %>
$('[data-stage=1]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage1_purpose', stage: 1 %>');
$('[data-stage=2]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage2_markets', stage: 2 %>');
scrollToStage(2);
$('.list-input').first().focus();
<% else %>
$('[data-stage=1]').find('.form-control').effect( "shake" ).focus();
<% end %>

