$('[data-stage=4]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage4_stage_select', stage: 4 %>');
$('[data-stage=5]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage5_success', stage: 5 %>');
scrollToStage(5);