<% if active_product.onboard_stage > 5 %>
$('[data-stage=5]').replaceWith('<%= j render 'dynamic_pages/onboarding/stage5_success', stage: 5 %>');
$('.last.line-drg').addClass('complete');
$('.proceed-btn').prop('disabled', false);
<% else %>
$('[data-stage=5]').find('.form-control').effect( "shake" ).focus();
<% end %>


