.primary-sheet.beachhead {
  .secondary-sheet {
    h3 {
      text-align: center;
      color: $blue-primary;
    }
  }
  //font-size: 16px;
  }



.market-conclusion {
  padding: 0 100px;
}

.bh-message {
  text-align: center;
  padding: 10px 100px;
}

.success-message {
  @extend .bh-message;
  background: lighten($success-btn-green, 38%);
  border-top: 1px solid $success-btn-green;
  border-bottom: 1px solid $success-btn-green;
  .fa {
    color: $success-btn-green;
  }
}

.danger-message {
  @extend .bh-message;
  background: lighten($warning-btn-orange, 35%);
  border-top: 1px solid $warning-btn-orange;
  border-bottom: 1px solid $warning-btn-orange;
  .fa {
    color: $warning-btn-orange;
  }
}

.size-checklist-results {
  padding: 0 120px;
  .restart-msg-list {
    list-style-type: disc;
    li {
      margin: 20px 0;
      line-height: 24px;
    }
  }
}

.size_checklist_indicators {
  text-align: center;
}

.size-checklist {
  padding: 20px;
  line-height: 24px;
  .size-questions {
    margin-left: 30px;
    border-left: 1px solid $grey-medium-light;
  }

  .size-question {
    text-align: left;
    padding: 0 10px 0 30px;
    position: relative;
    .num {
      position: absolute;
      left: -13px;
      background: $purple;
      padding: 0 7px;
      border-radius: 3px;
      color: white;
    }
    strong {
      color: $purple;
      display: block;
      margin-bottom: 10px;
    }
  }
  .btn-container {
    margin-top: 20px;
    text-align: left;
  }
}

.warning-text {
  padding: 10px;
  border-radius: 3px;
  margin-top: 10px;
  background: lighten($warning-btn-orange, 20%);
  font-size: 1rem;
}

.traffic-light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  line-height: 60px;
  margin: 10px 20px;
  color: $white;
}

.size-checklist-intro {
  padding: 0 110px;
}

.market-list-enc {
  padding: 30px;
}

.bh-select-form {
  display: inline-block;
  margin: 0 10px;
}

.bh-select-btn.card-style {
  width: 150px;
  height: 90px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid lighten($grey-dark, 5%);
  box-shadow: 0px 1px 3px 0px $grey-dark;
  position: relative;
  vertical-align: top;
  &.active:before {
    content: 'beachhead';
    font-size: 14px;
    top: 9px;
    left: 0;
    right: 0;
    position: absolute;
    background-color: lighten($success-btn-green, 10%);
    color: white;
  }
}

.icon-button {
  width: 30px;
  height: 30px;
  line-height: 31px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}

.new-market-btn {
  @extend .icon-button;
  border: 1px dashed lighten($success-btn-green, 5%);
  color: $success-btn-green;
}

.delete-market-btn {
  @extend .icon-button;
  border: 1px dashed lighten($danger-btn-red, 5%);
  color: $danger-btn-red;

  ul {
    color: initial;
    li {
      padding: 4px 0;
      &:hover {
        background-color: lighten($danger-btn-red, 5%);
        color: $white;
      }
    }
  }
}

.step-results.beachhead {
  .restart-msg-list {
    font-size: 16px;
    text-align: left;
    list-style-type: none;
  }

  .reseg-msg {
    font-size: 16px;
    text-align: left;
    position: relative;

    &:before {
      content: '\f061';
      font-family: FontAwesome;
      position: absolute;
      left: -24px;
      color: $blue-primary;
      top: -2px;
    }
  }
}

.beachhead-result-table {
  @include set-cell-alignment(center left left left);
  .beachhead {
    border: 2px solid $success-btn-green;
    background-color: transparentize($success-btn-green, .6);
  }
}