
.new-market-btn {
  position: relative;
  margin-right: 5px;
  .form-enc {
    display: none;
    position: absolute;
    width: 410px;
    left: -308px;
    top: 40px;
    background-color: white;
    padding: 20px 10px;
    box-shadow: 0 1px 15px 2px rgba(0, 0, 0, .2);
    border-radius: 4px;
    z-index: 1;
    .form-control {
      width: 300px;
      display: inline-block;
    }

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: white;
      transform: rotate(45deg);
      box-shadow: -1px -1px 4px -2px rgba(0, 0, 0, 0.5);
      top: -8px;
      right: 80px;
    }
  }
}

.delete-market-btn {
  .delete-btn-link {
    width: 100%;
    text-align: left;
  }
}

.canvas-icon {
  //float: right;
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-right: 5px;
  margin-top: 5px;

  $start_value: 467;
  @for $i from 1 through 15 {
    &._#{$i} {
      background: url("<%= image_path('sprite-new.png') %>") no-repeat -242px #{-($start_value + ($i * 34) )}px;
    }
  }

}

.workspace-right.canvas {
  padding: 10px;
  .col-xs-6 {
    .canvas-component {
      height: 220px;
    }
  }
}

.canvas-card-checklist {
  text-align: center;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 150px;
  .checklist-progress-bar {
    margin: 0;
  }
}

.canvas-component {
  padding: 10px 170px 10px 85px;
  border-bottom: 1px solid $grey-dark;
  position: relative;

  &:hover {
    background-color: $blue-alice;
  }
  .icon {
    position: absolute;
    left: 20px;
    top: 10px;
  }

  .title {
    font-weight: bold;
  }

  .mini-break {
    margin: 5px 0;
  }

  .result {
    font-size: $small;
  }
}


.canvas-sheet-items-list {
  padding: 0 30px;
  margin-left: 30px;
  border-left: 1px solid $grey-medium-light;
  counter-reset: gounder;
}

.canvas-view {
  .workspace-right {
    width: 800px;
    margin: 20px auto;
  }
}

.workspace-right.canvas-sheet {


  padding: 30px 0;

  .canvas-sheet-item {
    position: relative;

    .heading {
      font-size:$large;
    }

    &:before {
      content: counter(gounder);
      counter-increment: gounder;
      position: absolute;
      left: -42px;
      background: $purple;
      border-radius: 3px;
      color: white;
      height: 25px;
      line-height: 25px;
      width: 25px;
      top: 0;
      text-align: center;
    }

    .result {
      background-color: #fef;
      border-radius: 5px;
      padding: 10px 10px;
      margin-top: 010px;
    }


  }

  .mini-break {
    margin: 25px auto;
  }

  .button-enc {
    display: none;
    position: absolute;
    right: 10px;
    top: 0;
  }
}

.checklist-score {
  padding: 4px 9px;
  background: $primary-btn-blue;
  color: white;
  border-radius: 3px;
  position: absolute;
  top: 20px;
  right: 25px;
}
