// competitive position

.graph-container {
  padding: 0 50px;
  text-align: center;
  margin: 0 auto;
  position: relative;

}

.x-axis-label, .y-axis-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: $regular;
}

.y-axis-label {
  display: inline-block;
  vertical-align: top;
  margin-top: 25%;
  position: absolute;
  top:40px;
  &.left {
    left: -10px;
  }
  &.right {
    right:-10px;
  }
}

.graph {
  margin: 10px auto;
  display: inline-block;

  th {
    text-align: center;
    color: $brown;
    font-size: $small;
    padding-bottom: 10px;
  }

  .outer-header {

  }

  td {
    position: relative;
    height: 100px;
    width: 150px;
    border: 1px solid $grey-dark;
    padding: 3px;
    vertical-align: top;

    &.minimal_product {
      background-color: transparentize($success-btn-green, .6);
    }

    &.mvp {
      background-color: transparentize($warning-btn-orange, .7);
    }

    &:hover {
      .new-comp-pos-piece {
        display: block;
      }
    }
  }
}

.pieces-list {
  margin-bottom: 20px;
  .comp-pos-piece {
    display: inline-block;
    width: 160px;
  }
}

.comp-pos-piece {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 3px;
  vertical-align: top;
  display: block;
  text-align: left;
  width: 100%;
  height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  color: #000;
  margin-bottom: 2px;
  border: none;
  background-color: transparentize($danger-btn-red, .6);
  &.my_product {
    background-color: transparentize($success-btn-green, .6);
  }
  &.status_quo {
    background-color: transparentize($primary-btn-blue, .6);
  }
  &.new {
    background-color: transparentize(#eee, .2);
    display: none;
  }

  &.ui-draggable-dragging {
    cursor: move;
  }
}


.new-comp-pos-piece {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
}