

.customer-experience-table {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
}

.cx-chart {
  .great-zone {
    fill: transparentize($success-btn-green, .4);
  }
  .good-zone {
    fill: transparentize($success-btn-green, .6);
  }
  .average-zone {
    fill: transparentize($warning-btn-orange, .6);
  }
  .poor-zone {
    fill: transparentize($danger-btn-red, .6);
  }
}
