.workspace-right.markets {
  //width: 75%;
}

.diag-table-enc {

  & > h3 {
    text-align: center;
    color: $purple;
  }

  .form-enc {
    left: -200px;
    &:before {
      right: 188px;
    }
  }
}

.result-container {
  padding: 0;
  h4 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.black {
  background: black;
}

.red {
  background: $danger-btn-red;
}

.green {
  background: $success-btn-green;
}

.orange {
  background: $warning-btn-orange;
}

.blue {
  background: $purple;
}

//
//.result-oneliner-enc {
//  width: 90%;
//  margin: 0 auto;
//  padding: 10px;
//  text-align: center;
//}
//
//.result-oneliner {
//  margin-top: 30px;
//  font-size: 20px;
//  font-family: $primary-font-stack;
//  color: black;
//
//  span {
//    display: block;
//    border: 2px solid $grey-dark;
//    padding: 10px;
//    margin-top: -20px;
//    margin-left: auto;
//    margin-right: auto;
//    width: 420px;
//    @include border-radius($border-radius);
//    background-color: $grey-dark;
//  }
//
//  .btn-container {
//    margin-top: 40px;
//  }
//}

.results-list-enc {
  font-family: $primary-font-stack;
  font-size: $regular;
  margin: 0 auto;
  text-align: center;
}

.diag-result-table {
  padding: 10px 140px;
  text-align: center;
  & > h3 {
    color: $purple;
  }
}

.business-name {
  color: $brown;
  display: inline-block;
  margin-right: 10px;
}

.diag-result-flag {
  color: $white;
  display: inline;
  padding: 4px 14px;
  border-radius: 4px;
  opacity: .8;
}

.results-list {
  text-align: left;
  list-style: disc !important;

  &.no-bullet {
    list-style: none !important;
    li {
      margin-left: 0;
    }
  }

  li {
    padding: 10px 0;
    margin-left: 30px;
    word-spacing: 4px;
    line-height: 25px;

  }
}

.decision-scale-enc {

}

.decision-scale {
  margin: 0 auto;
  position: relative;
  width: 420px;
}

.decision-pointer {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $grey-dark transparent;
  top: 20px;

  &.black {
    left: 45px;
    background-color: transparent !important;
  }
  &.red {
    left: 145px;
    background-color: transparent !important;
  }
  &.orange {
    left: 249px;
    background-color: transparent !important;
  }
  &.green {
    left: 350px;
    background-color: transparent !important;
  }
}

.scale-item {
  width: 100px;
  height: 20px;
  display: inline-block;
  vertical-align: top;

  &.black {
    @include border-radius(10px 0 0 10px)
  }

  &.green {
    @include border-radius(0 10px 10px 0)
  }
}

.diag-result {
  text-align: center;
}

.diag-result-tag {
  display: inline-block;
  font-size: 14px;
  padding: 4px 10px;
  @include border-radius(3px);
  color: white;
  line-height: 15px;
  margin-left: 10px;
  &.yes {
    border: 1px solid $success-btn-active;
    background-color: $success-btn-green;
  }
  &.no {
    border: 1px solid $danger-btn-shadow;
    background-color: $danger-btn-red;
  }
}

//
//.new-diag-task-skeleton {
//
//  .dropdown-toggle {
//    border: 0;
//    background-color: transparent;
//    padding-left: 0;
//  }
//
//  li.diag-task-type-option {
//    cursor: pointer;
//    padding: 5px 10px;
//
//    &:hover {
//      background-color: $purple;
//      color: $white;
//    }
//
//    &:before {
//      content: none !important;
//    }
//  }
//}

.row.analysis-enc {
  margin: 50px 0 !important;
  border: 0;
}

.diagnosis-table {
  width: 100%;
  padding: 25px 10px;
  @include set-col-width(60% 40%);
  th, td {
    padding: 15px 10px;
  }
  tr {
    border-bottom: 1px solid $grey-light;

    &.question-row {
      min-height: 100px;
      &.hover {
        background-color: $blue-fb;
      }
    }

    .q-title {
      font-weight: bold;
      color: $purple;
    }
  }

  .market-name {
    //margin-top: 40px;
    //margin-bottom: 40px;
    //width: 100px;
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
  }

  //.diag-result-ind {
  //  height: 12px;
  //  width: 12px;
  //  border-radius: 50%;
  //  background: $grey-dark;
  //  box-shadow: 1px 1px 2px 0 $grey-super-dark;
  //  margin: 0 auto;
  //  cursor: pointer;
  //
  //  &.yes {
  //    background: $success-btn-green;
  //    box-shadow: 1px 1px 2px 0 $success-btn-shadow;
  //  }
  //
  //  &.no {
  //    background: $danger-btn-red;
  //    box-shadow: 1px 1px 2px 0 $danger-btn-shadow;
  //  }
  //}
  //.choice-td {
  //  position: relative;
  //}

  //.diag-choices-enc {
  //  display: none;
  //  padding: 10px;
  //  position: absolute;
  //  box-shadow: 0px 1px 3px 0px $grey-super-dark;
  //  border-radius: 5px;
  //  background: white;
  //  top: 60px;
  //  left: -4px;
  //  z-index: 2;
  //
  //  .triangle {
  //    width: 48px;
  //    height: 12px;
  //    position: absolute;
  //    overflow: hidden;
  //    top: -11px;
  //    left: 0;
  //    right: 0;
  //    margin: 0 auto;
  //
  //    &:before {
  //      content: '';
  //      position: absolute;
  //      width: 34px;
  //      height: 44px;
  //      background: white;
  //      transform: rotate(45deg);
  //      box-shadow: -1px -1px 4px -2px rgba(0, 0, 0, 0.5);
  //      top: 10px;
  //    }
  //  }
  //}
}

.diagnosis-result-table {
  height: 200px;
  .col-xs-3 {
    height: 100%;
    padding: 0;

    ul {
      padding: 10px;
      list-style-type: none;
      text-align: left;
      li {
        margin: 4px 0;
      }
    }

    &.abandon {
      background-color: transparentize(black, .9);
      h4 {
        background-color: transparentize(black, .6);
        padding: 18px 0;
        color: white;
      }
    }

    &.proceed-with-extreme-caution {
      background-color: transparentize(red, .9);
      h4 {
        background-color: transparentize(red, .6);
        padding: 10px 0 9px 0;
        color: white;
      }
    }

    &.proceed-with-caution {
      background-color: transparentize(orange, .9);
      h4 {
        background-color: transparentize(orange, .6);
        padding: 18px 0;
        color: white;
      }
    }

    &.clear-to-go {
      background-color: transparentize(green, .9);
      h4 {
        background-color: transparentize(green, .6);
        padding: 18px 0;
        color: white;
      }
    }

  }

  h4 {
    font-size: 16px;
    margin: 0;
  }
}