.enduser-table-enc {

  h3 {
    font-family: $secondary-font-stack;
    padding-left: 25px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .section-description {
    padding: 0 25px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .tool-table {
    font-size: 1rem;
    padding: 20px 40px;

    .row {
      padding: 5px 10px;
      line-height: 30px;
      margin: 0;
      border-bottom: 1px solid $grey-medium-light;
    }

    .heading {
      color: $purple;
    }
  }

  .subtext {
    padding-left: 25px;
    margin-top: 20px;
  }

}

.child-list {
  counter-reset: gounder;
  list-style-type: none;

  li {
    .form-container {
      padding-left: 0;
      margin-left: -10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .child-item {
    border-bottom: 1px solid $grey-super-light;
    position: relative;
    &:before {
      content: "#" counter(gounder) "";
      counter-increment: gounder;
      position: absolute;
      left: -35px;
      color: $purple;
      font-size: 14px;
      line-height: 30px;
    }
  }
}

.form-container {
  .resource-form {
    display: none;
  }
  padding-left: 25px;
  margin-top: 20px;
}

.enduser-result-table {
  height: 200px;
  .col-xs-6 {
    height: 100%;
    padding: 0;

    .content {
      padding: 10px;
      text-align: center;
    }

    &.fear {
      background-color: transparentize(red, .9);
      .title {
        background-color: transparentize(red, .6);
        padding: 10px 0;
        color: white;
      }
    }
    &.motivation {
      background-color: transparentize(green, .9);
      .title {
        background-color: transparentize(green, .6);
        padding: 10px 0;
        color: white;
      }
    }
  }
}
