.features-sidebar {
  padding-left: 10px;
  list-style-type: none;
  margin-top: 30px;
  li {
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
    &.active {
      background-color: lighten($purple, 45%);
      color: white;
    }

    .add-a-field {
      width: 100%;
      text-align: left;
    }
  }
}

.result-tag, .category-tag {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  margin-right: 10px;
}

.result-tag {

  &.build {
    border: 1px solid $success-btn-green;
    background-color: lighten($success-btn-green, 35%);
    &:before {
      content: 'build';
      color: $success-btn-green;
    }
  }

  &.hold {
    border: 1px solid $warning-btn-orange;
    background-color: lighten($warning-btn-orange, 30%);
    &:before {
      content: 'hold';
      color: $warning-btn-orange;
    }
  }

  &.drop {
    border: 1px solid $danger-btn-red;
    background-color: lighten($danger-btn-red, 30%);
    &:before {
      content: 'drop';
      color: $danger-btn-red;
    }
  }

}

.category-tag {

  &.minimal-product {
    border: 1px solid $success-btn-green;
    background-color: lighten($success-btn-green, 35%);
    &:before {
      content: 'Minimal Product';
      color: $success-btn-green
    }
  }

  &.mvp {
    border: 1px solid $primary-btn-blue;
    background-color: lighten($primary-btn-blue, 30%);
    &:before {
      content: 'MVP';
      color: $primary-btn-blue
    }
  }

  &.full-featured-product {
    border: 1px solid $info-btn-blue;
    background-color: lighten($info-btn-blue, 30%);
    &:before {
      content: 'Full Featured Product';
      color: $info-btn-blue
    }
  }

}

.feature-detailed {
  margin-top: 20px;
  font-size: 18px;

  h2 {
    color: $purple;
  }

  .sub-section {
    margin-top: 20px;

    h4 {
      color: $brown;
      padding-left: 40px;
    }

    ul {

      li {
        border-top: 1px solid $grey-medium-light;
      }
    }
  }
}

.feature-description {
  padding-left: 20px;
  color: $grey72;
  margin-bottom: 3px;
}

.feature-component-list {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;

  h4 {
    color: $purple;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    .component-list-item {
      margin-left: 20px;
      position: relative;
      line-height: 30px;
      padding: 0 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: $grey-medium-light;
      }

      &:first-child {
        &:before {
          height: 39px;
          top: -24px;
        }
      }

      &:before {
        content: '';
        height: 31px;
        width: 10px;
        display: inline-block;
        border-left: 1px solid $grey-dark;
        border-bottom: 1px solid $grey-dark;
        position: absolute;
        left: -10px;
        top: -16px;
      }

      .default-state {

      }

      .edit-state {
        display: none;
        background-color: lighten($info-btn-blue, 30%);
        padding: 10px;
        border: 1px solid $grey-medium-light;
        border-radius: 4px;
        .active-edit {
          background-color: white;
          padding: 0 8px;
          border-radius: 4px;
        }
      }

      .in-modal-content {
        display: none;
      }

      .edit-component-btn {
        display: none;
        position: absolute;
        right: 10px;
        top: 5px;
      }
    }

    .form-li {
      padding: 0;
    }
  }

  .new-component-form-enc {
    padding: 10px;
    margin-top: 10px;

    .form-control {
      width: 70%;
    }

    .options {
      display: none;
    }

    &.expanded {
      background-color: lighten($info-btn-blue, 30%);
      border: 1px solid $grey-medium-light;
      border-radius: 4px;

      .expand-on-click {
        display: none;
      }

      .options {
        display: block;
      }
    }

  }

}

.select {
  height: 34px;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid $grey-medium-light;
  background-color: white;
}

.milestone-status {
  //padding: 20px 10px;
  //background: white;
  //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  //border-radius: 4px;
  //margin-bottom: 30px;
}

.feature-form-enc {
  padding: 0 30px;
  &.expanded {
    .feature-form-inner {
      display: block;
    }

    .expand-on-click {
      display: none;
    }
  }

  .feature-form-inner {
    display: none;
    padding: 10px;
    background: lighten($info-btn-blue, 30%);
    width: 80%;
    border-radius: 4px;

    .select {
      width: 100%;
    }
  }

}

.days-to-go {
  border-radius: 3px;
  width: 80px;
  height: 90px;
  border: 2px solid $purple;
  display: inline-block;
  .num-of-days {
    font-size: 35px;
    height: 60px;
    line-height: 60px;
  }

  .word {
    font-size: 13px;
    background-color: $purple;
    color: white;
    height: 26px;
    line-height: 26px;
  }
}

//.calendar-date {
//  width: 70px;
//  background-color: $purple;
//  border-radius: 4px;
//  margin: 0 auto;
//  padding: 3px;
//  text-align: center;
//  display: inline-block;
//  vertical-align: top;
//
//  &.past {
//    background-color: $grey-dark;
//  }
//
//  .month {
//    color: white;
//    font-size: 14px;
//    margin-bottom: 4px;
//  }
//
//  .date {
//    background: white;
//    border-radius: 1px;
//    margin: 0 auto;
//  }
//
//  .day {
//    font-size: 18px;
//  }
//  .year {
//    font-size: 11px;
//  }
//}
//
//.days-to-go {
//  display: inline-block;
//  vertical-align: top;
//  margin-top: 27px;
//}

.rel-other-info {
  padding: 10px;
  margin: 10px 20px;
  background: $blue-alice;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
}

.other-info-mvp {
  font-size: 14px;
  margin-top: 10px;
  @include set-col-width(30% 70%);

}

.milestone-completion-question {
  padding: 10px;
  background: $grey-medium-light;
  margin: 0 20px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 22px;
}

.component-item-modal {
  .modal-dialog {
    width: 1000px;
  }
}

.component-boards {
  text-align: center;
}

.component-board {

  $light-blue: lighten($primary-btn-blue, 25%);
  $light-orange: lighten(orange, 25%);
  $light-green: lighten($success-btn-green, 20%);

  width: 23% !important;
  min-height: 300px !important;

  &.idea {
    background-color: $grey-light;
  }

  &.planned {
    background-color: $light-blue;
  }

  &.under-implementation {
    background-color: $light-orange;
  }

  &.implemented {
    background-color: $light-green;
  }

  .title {
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: bold;
  }
}

.sub_component_card {
  min-height: initial !important;
  text-align: left;
  padding-left: 9px !important;

  .edit-sub-component {
    display: none;
  }

  .default-state {
    display: initial;
  }
  .edit-state {
    display: none;
  }

  &.editing {
    .default-state {
      display: none;
    }
    .edit-state {
      display: initial;
    }
  }
}

.group.tag {
  position: relative;

  .fa {
    color: #99cfff;
  }
  .options {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: WHITE;
    padding: 10px;
    box-shadow: 0 3px 4px 5px rgba(0, 0, 0, 0.1);
    width: 590px;
    left: -130px;
    top: 20px;

    h4 {
      font-size: 14px;
    }

    .btn-container {
      text-align: left;
    }

    .result {
      font-size: 16px;
      text-align: center;
      background: aliceblue;
      padding: 7px;
      border-radius: 4px;
      margin-bottom: 10px;
    }
  }
}

.sub-component-branch, .issue-branch {

  padding: 3px 10px;
  border-bottom: 1px solid $grey-medium-light;

  .dropdown-menu {
    background-color: whitesmoke;
    li {
      border: initial
    }
  }

  .delete-icon-form {
    float: right;
  }

}

.issue-branch {
  //&:before {
  //  content: "\f188";
  //  font-family: FontAwesome;
  //  position: absolute;
  //  left: -14px;
  //  color: crimson;
  //}
}

.metric-box {

}

.metric {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  width: 100%;
  text-align: center;

  .title {
    font-weight: bold;
    font-size: 12px;
    color: #777;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 4px;
  }

  .num {
    font-size: $regular;
    padding: 4px 0;


  }
}

.actions-enc {
  display: inline-block;
}

.feature-list {
  padding: 30px 30px 10px 30px;
}

.all-feature-list {

  list-style-type: none;
  padding-left: 0;

  li {
    position: relative;
    form {
      display: inline-block;
    }
  }

}

.make-view-sheet {
  margin: 30px auto;
  width: 1100px;
}

.component-sub-component-branch, .component-issue-branch, .component-empty-state {
  list-style-type: none;
  padding: 0;
}

.component-main-branch {
  //border-left: 1px solid $grey-medium-light;
  margin-bottom: 30px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  border-radius: 4px;
}

.feature-component-branch {
  padding: 0;
  list-style-type: none;
  margin-left: 20px;
  border-left: 1px solid lightgrey;
  padding-left: 20px;
}

.feature-title {
  padding: 10px;
  width: 100%;
  border: 1px dashed lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  background-color: white;

  .delete-icon-form {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &:after {
    content: '';
    height: 22px;
    border-left: 1px solid lightgrey;
    position: absolute;
    bottom: -22px;
    left: 19px;

  }
}

.component-title {
  background: $blue-alice;
  padding: 5px 10px;
  position: relative;

  .delete-icon-form {
    position: absolute;
    right: 10px;
  }

  &:before {
    content: '';
    width: 20px;
    border-top: 1px solid lightgrey;
    position: absolute;
    top: 15px;
    left: -20px;
    /* height: 1px; */
  }
}

.feature-main-branch {

  margin: 20px 0;

}

.filters-enc {

}

.filters {
  //text-align: center;
  padding: 4px 10px;
  font-size: $regular;

  .filter {
    padding: 0 3px;
    border-radius: 20px;
    cursor: pointer;
    margin: 4px 0;
    //display: inline-block;
    text-align: left;
    &.active {
      background-color: $primary-btn-blue;
      color: white;
      .cancel-filter {
        display: inline-block;
      }
    }

  }

  .cancel-filter {
    display: none;
    border-left: 1px solid $grey-medium-light;
    padding: 4px 5px 4px 5px;
    float: right;
  }

  .apply-filter {
    display: inline-block;
    padding: 4px 5px;
  }
}

.feature-list-header {
  text-align: center;
  padding: 15px 0;
  background: #FFFFEF;
  border-bottom: 1px solid #dbdb00;




  .progress-bar-enc {
    margin-top: 0;

    .edison-progress-bar {
      width: 180px;
    }

    .progress-words {
      font-size: 13px;
    }
  }

  .header-item {
    width: 156px;
    display: inline-block;
  }

}

.release-first-time-notice {
  background-color: aliceblue;
  padding: 10px;
  text-align: left;
  width: 60%;
  margin: 10px auto;
  border-radius: 3px;
  border: 1px solid #cce7ff;

  li {
    margin: 15px 0;
  }
}

.tool-list {
  background: $grey-medium-light;
  //margin: 20px 0;
  line-height: 30px;
  border-radius: 3px;
  text-align: center;
  padding: 5px 0;
}

.tool-list-item {
  display: inline-block;
  width: 24%;
  text-align: center;
  border-radius: 3px;
  vertical-align: top;

  &:hover {
    background-color: #ddd;
  }
}

#filter-ctrl {
  position: relative;
  //margin-top: 5px;
  border: 1px solid #aaa;
  padding: 2px 8px;
  border-radius: 3px;
  background: white;
  display: inline-block;
  min-width:170px;
  .options {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: WHITE;
    padding: 10px;
    box-shadow: 0 3px 4px 5px rgba(0, 0, 0, 0.1);
    width: 280px;

  }
}