.primary-sheet.market-size {
  h4 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: $blue-primary;
  }

  .tool-table {

  }
}

.market-size-table {
  margin-top: 30px;
  @include set-col-width(20% 16% 16% 16% 16% 16%);
  @include set-cell-alignment(left right right right right right);
  .left-header {
    vertical-align: middle;
    color: $purple;
  }
  width: 100%;
  tr {
    border-bottom: 1px solid $grey-medium-light;
    height: 45px;
  }

  td, th {
    padding: 5px;
    .active-edit {
      width: 100%;
    }
    .active-edit-form {
      text-align: right;
    }
  }
}

.market-size-bar-chart {

  height: 250px;
  .chart-item {
    background-color: $blue-primary;
    display: inline-block;
    vertical-align: bottom;
    width: 60px;
    margin-right: 45px;
    border-radius: 3px;
    position: relative;

    &:before {
      content: attr(data-label);
      font-size: 13px;
      position: absolute;
      left: -32%;
      width: 100px;
      bottom: -23px;
    }
  }
}

.info-cards {

}

.info-card {
  text-align: center;
  margin: 20px auto;
  .ic-title {
    font-size: 14px;
    color: $brown;
  }
  .ic-param {
    font-size: 24px;

  }
}