.persona-priorities {
  width: 50%;
  margin: auto;
  text-align: left;

  .high-priority {
    color: $success-btn-green;
  }
  .moderate-priority {
    color: $warning-btn-orange;
  }
  .low-priority {
    color: $customer-steps-color;
  }
}