

.touchpoint-circle {
  border-radius: 50%;
  background: lavender;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  margin: 3px;
  vertical-align: top;
  display: inline-block;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

