
.value-proposition-table {
  font-size: 1rem;
  margin: 30px auto;
  width: 90%;
  @include set-col-width(25% 25% 25% 25%);
  @include set-cell-alignment(left right right right);

  tr {
    border-bottom: 1px solid $grey-medium-light;
  }
  thead {
    color: $purple;
  }

  th,td {
    padding: 5px;
  }

  td {
    vertical-align: middle;
  }
}


.value-proposition-chart {
  text-align: center;
  height: 280px;
  .division {
    height: 100%;
    width: 19%;
    display: inline-block;
    vertical-align: top;
    position: relative;

    h4 {
      position: absolute;
      top: 10px;
      width: 100%;
    }

    .value {
      position: absolute;
      top: 40px;
      text-align: center;
      width: 100%;
    }
  }

  .circle-enc {
    margin: 0 auto;
    height: 100%;
  }

  .operator-sign {
    font-size: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .circle {
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    &.product {
      background-color: lighten($blue-primary, 10%);
    }
    &.industry {
      background-color: lighten($danger-btn-red, 10%);
    }
    &.qvp {
      background-color: lighten($success-btn-green, 10%);
    }
  }
}