<div class="feature-empty-state">
  <i class="fa fa-exclamation"></i>
  <% if page == 'iteration' %>
      <h4>You can use this tool only if you are iterating your product</h4>
  <% else %>
      <h4>Please complete the mockup before analysing this feature.</h4>
  <% end %>
</div>