<li class="feature-main-branch _<%= feature.id %>">

  <div class='feature-title'>
    <div style="text-transform: uppercase;width: 100%;"><%= active_edit_if has_valid_access?, feature, :feature_name, placeholder: 'Feature name' %></div>
    <div>
      <%= active_edit_if has_valid_access?, feature, :description, placeholder: 'Add a description' %>
    </div>
    <%= delete_object feature %>
  </div>

  <ul class="feature-component-branch _<%= feature.id %>">
    <% feature.components.all.each do |component| %>
        <%= render 'components/component_main_branch', component: component %>
    <% end %>
  </ul>

  <div class="actions-enc"><%= button_to_create 'add a sub-feature', :component, {feature_id: feature.id, name: "Sub Feature"}, {class: 'btn btn-link btn-xs'} %></div>
</li>