<div class="result-and-category" data-feature-result="<%= feature.id %>">
  <div class="result-tag <%= FEATURE_STATUS[feature.status].try(:downcase) %>"></div>
  <div class="category-tag <%= feature_group_result(feature).try(:gsub, ' ', '-').try(:downcase) %>"></div>
</div>