<div class="feature-component-list _<%= feature.id %>">

  <h4>
    <%= ae_live_field feature, :feature_name %>
    <% if feature.purchasing_priority %>
        <div class="tag"><%= feature.purchasing_priority %></div>
    <% end %>
  </h4>

  <div class="feature-description">
    <%= active_edit_if has_valid_access?, feature, :description, placeholder: "Add description" %>
  </div>

  <div>
    <ul class="component-list">
      <% feature.components.each do |component| %>
          <%= render 'components/component_list_item', component: component %>
      <% end %>
      <li class="form-li">
        <%= form_for feature.components.build, remote: true, html: {data: {'parent-id' => feature.id}, class: "resource-form feature-form-over-list form-for-task-#{feature.id}"} do |f| %>
            <div class="new-component-form-enc" data-behaviour="expandable">
              <div class="btn btn-link btn-xs expand-on-click">+ New Sub Feature</div>
              <div class="options">
                <%= f.text_field :name, placeholder: "Add a sub-feature", class: "form-control expand-on-focus", autocomplete: 'off' %>
                <div style="margin-top: 10px;">
                  Sub-feature is an aggregation of components that are being built. If laptop is the product, Power cord is a feature, then the cable, charge indicator bulb, socket pin and socket head are the sub-feature. The components of the cable are data transmitting wire and plastic  wrap around it. Sub-feature is helpful communicating what is being built.
                </div>
                <div style="margin-top: 10px;">
                  <%= f.collection_select :customers_want, customers_wanting_features, :first, :last, {prompt: "Customers wanting this?"}, {class: 'select customers_select'} %>
                  <%= f.collection_select :importance, feature_importance, :first, :last, {prompt: "Importance to customers"}, {class: 'select importance_select'} %>
                  <div class="classification-response"></div>
                </div>
                <%= f.hidden_field :feature_id, value: feature.id %>
                <%= f.hidden_field :rand_id, value: rand_string, id: 'rand_field' %>
                <div style="margin-top: 10px;">
                  <%= button_tag class: 'btn btn-primary' do %>
                      Add sub-feature
                  <% end %>

                  <div class="btn-link btn collapse-target">Cancel</div>
                </div>
              </div>
            </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>