<% if @feature.iterated %>
$('<%= @feature.row_selector %>').find('.tool-child').html("<%= j render('features/tool_child_iteration', object:@feature, step_name: :feature) %>");
<% else %>
$('<%= @feature.row_selector %>').find('.tool-child').html("<%= j render('features/empty_state', page:'iteration') %>");
<% end %>