<div class="tool-section type-b" id="<%= object.row_selector(false) %>">
  <% step_name = object.underscored.to_sym %>
  <header data-toggle="tool-section" data-parent="<%= object.row_selector(true) %>">
    <div class="row">
      <div class="col-xs-6 section-column">
        <div class="col-xs-1">
          <%= serial_no index+1 %>
        </div>
        <div class="col-xs-11">
          <span><%= make_field(object, :feature_name, type: :text, placeholder: '---', editable: true) %></span>
        </div>
      </div>
      <div class="col-xs-6 section-column ">
        <div class="col-xs-11">
          Mocked up?
          <%= checkbox object, :mocked_up, other_attrs: {'data-toggle' => 'switch', class: 'switch-box-form'} %>
        </div>
        <div class="col-xs-1">
          <%= delete_object object %>
        </div>
      </div>
    </div>
  </header>

  <div class="tool-child">
    <% if object.mocked_up %>
        <%= render('features/tool_child', object: object, step_name: step_name) %>
    <% else %>
        <%= render('features/empty_state', page: '') %>
    <% end %>
    <%= toolfooter %>
  </div>

</div>