<div class="tab-pane <%= 'active' if index == 0 %>" id="feature_detailed_<%= feature.id %>">
  <div class="feature-detailed">

    <h2><%= active_edit_if has_valid_access?, feature, :feature_name %></h2>

    <%= render 'features/feature_result', feature: feature %>

    <% feature_sections.each do |k, v| %>

        <div class="sub-section <%= v.parameterize %>">
          <h4><%= v %></h4>
          <ul class="child-list" data-feature-child-group="<%= k %>" data-feature-id="<%= feature.id %>">
            <% feature.benefits.for_group(k).each do |hiw| %>
                <li class="child-item"><%= active_edit_if has_valid_access?, hiw, :benefit_name %></li>
            <% end %>
            <li><%= render 'static_pages/shared/new_resource_form2', parent: feature, resources: :benefit, field: :benefit_name, options: {placeholder: 'Include one more', hidden_field: :feature_id, hf_value: feature.id, hidden_field2: :group, hf_value2: k} %></li>
          </ul>
        </div>

    <% end %>

    <div class="sub-section">

      <div class="row">
        <div class="col-xs-4">
          <h4>How many of your customers want
            this?</h4>
          <%= choices_buttons(feature, :customer_wanting_feature, customers_wanting_features) %>
        </div>
        <div class="col-xs-4">
          <h4>How important is this feature considering their purchasing
            priorities?</h4>
          <%= choices_buttons(feature, :importance_rank, feature_importance) %>
        </div>
        <div class="col-xs-4">
          <h4>Feature decision</h4>
          <%= choices_buttons(feature, :status, FEATURE_STATUS) %>
        </div>
      </div>

    </div>

  </div>
</div>