<div class="tool-section type-b" id="<%= object.row_selector(false) %>">

  <% step_name = object.underscored.to_sym %>

  <header data-toggle="tool-section" data-parent="<%= object.row_selector(true) %>">
    <div class="row">
      <div class="col-xs-6 section-column slide-toggle">
        <div class="col-xs-1 sl-no-enc">
          <%= serial_no index+1 %>
        </div>
        <div class="col-xs-11">
          <span><%= make_field(object, :feature_name, type: :text, placeholder: '---', editable: true) %></span>
        </div>
      </div>
      <div class="col-xs-6 section-column">
        Do you want to iterate this feature?
        <%= checkbox object, :iterated, other_attrs: {'data-toggle' => 'switch',  class: 'switch-box-form'} %>
      </div>
    </div>
  </header>

  <div class="tool-child">
    <% if object.iterated %>
        <%= render('features/tool_child_iteration', object: object, step_name: step_name) %>
    <% else %>
        <%= render('features/empty_state', object: object, step_name: step_name, page:'iteration') %>
    <% end %>

  </div>

</div>