<%#= section_break 'HOW IT WORKS' %>
<div class="table-enc">
  <table class="list-table feature-benefit group-0">
    <colgroup>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
    <tr>
      <th></th>
      <th>How it works?</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% object.benefits.for_group(0).each do |item| %>
        <%= render 'benefits/new_benefit_record', item: item %>
    <% end %>
    </tbody>
  </table>

  <% child_table2 = object.class.blueprint_for_section[:child_table2] %>
  <% child_blueprint = child_table2.to_s.camelize.constantize.blueprint_for_table2 %>
  <%= render 'static_pages/shared/new_resource_form2',
             parent: object,
             resources: child_table2,
             field: child_blueprint[:form_default_field],
             options: {placeholder: child_blueprint[:placeholder],
                       hidden_field: instance_eval(':'+step_name.to_s+'_id'),
                       hf_value: object.id,
                       hidden_field2: :group,
                       hf_value2: 0} %>

</div>

<%#= section_break 'SUB FEATURES' %>

<div class="table-enc">
  <table class="list-table feature-benefit group-1">
    <colgroup>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
    <tr>
      <th></th>
      <th>Sub feature</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% object.benefits.for_group(1).each do |item| %>
        <%= render 'benefits/new_benefit_record', item: item %>
    <% end %>
    </tbody>
  </table>

  <% collection = object.benefits.for_group(3) %>

  <% child_table3 = object.class.blueprint_for_section[:child_table3] %>
  <% child_blueprint = child_table3.to_s.camelize.constantize.blueprint_for_table3 %>
  <%= render 'static_pages/shared/new_resource_form2',
             parent: object,
             resources: child_table3,
             field: child_blueprint[:form_default_field],
             options: {placeholder: child_blueprint[:placeholder],
                       hidden_field: instance_eval(':'+step_name.to_s+'_id'),
                       hf_value: object.id,
                       hidden_field2: :group,
                       hf_value2: 1} %>

</div>

<%#= section_break 'BENEFITS, RELEVANT END USER PRIORITY' %>
<div class="table-enc">
  <table class="list-table feature-benefit group-2">
    <colgroup>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
    <tr>
      <th class="benefit-header"></th>
      <th class="benefit-header">Benefit</th>
      <th class="benefit-header">Relevant end user priority</th>
      <th class="benefit-header"></th>
    </tr>
    </thead>
    <tbody>
    <% object.benefits.for_group(2).each do |item| %>
        <%= render 'benefits/new_benefit_record', item: item %>
    <% end %>
    </tbody>
  </table>

  <% child_table = object.class.blueprint_for_section[:child_table] %>
  <% child_blueprint = child_table.to_s.camelize.constantize.blueprint_for_table %>
  <%= render 'static_pages/shared/new_resource_form2',
             parent: object,
             resources: child_table,
             field: child_blueprint[:form_default_field],
             options: {placeholder: child_blueprint[:placeholder],
                       hidden_field: instance_eval(':'+step_name.to_s+'_id'),
                       hf_value: object.id,
                       hidden_field2: :group,
                       hf_value2: 2} %>

</div>

<%#= section_break 'DETRIMENTS, AFFECTED END USER PRIORITY' %>
<div class="table-enc">
  <table class="list-table feature-benefit group-3">
    <colgroup>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
    <tr>
      <th class="detriment-header"></th>
      <th class="detriment-header">Detriment</th>
      <th class="detriment-header">Affected end user priority</th>
      <th class="detriment-header"></th>
    </tr>
    </thead>
    <tbody>
    <% object.benefits.for_group(3).each do |item| %>
        <%= render 'benefits/new_benefit_record', item: item %>
    <% end %>
    </tbody>
  </table>

  <% child_table1 = object.class.blueprint_for_section[:child_table1] %>
  <% child_blueprint = child_table1.to_s.camelize.constantize.blueprint_for_table1 %>
  <%= render 'static_pages/shared/new_resource_form2',
             parent: object,
             resources: child_table1,
             field: child_blueprint[:form_default_field],
             options: {placeholder: child_blueprint[:placeholder],
                       hidden_field: instance_eval(':'+step_name.to_s+'_id'),
                       hf_value: object.id,
                       hidden_field2: :group,
                       hf_value2: 3} %>

</div>
