<%#= section_break 'ITERATION HISTORY' %>
<% child_table = object.class.blueprint_for_section[:child_table4] %>
<% if child_table %>
    <% child_blueprint = child_table.to_s.camelize.constantize.blueprint_for_table %>
    <%= generate_table object, child_table, headers: ['', 'Iteration description', 'Target iteration date', ''] %>
    <%= render 'static_pages/shared/new_resource_form2', parent: object, resources: child_table, field: child_blueprint[:form_default_field], options: {placeholder: child_blueprint[:placeholder], hidden_field: instance_eval(':'+step_name.to_s+'_id'), hf_value: object.id} %>
<% end %>

<%= render 'features/tool_child_section', object: object, step_name: step_name %>

<%= toolfooter %>