<%= render 'features/tool_child_section', object:object, step_name:step_name %>

<%#= section_break 'FEATURE DECISION' %>

<div class="feature-decision">

  <div class="btn-group">
    <%= choices_buttons object, :status, FEATURE_STATUS, wrap: false %>
  </div>

  <div class="feature-result-action">
    <%= render 'features/feature_result', object: object %>
  </div>

</div>
