(function () {

  <% if @feature.errors.blank? %>

  $li = $('<%= j render 'features/feature_component_list_item', feature: @feature %>').hide();
  $('.feature-list').append($li);
  $li.slideDown();

  $branch = $('<%= j render 'features/feature_main_branch', feature: @feature %>').hide();
  $('.all-feature-list').append($branch);
  $branch.slideDown('fast');
  $branch.find('.active-edit').first().trigger('click');

  <% else %>

  <% if @feature.feature_name.blank? %>
    $('.new_feature').find('#feature_feature_name').effect('shake');
  <% end %>

  <% end %>

}).call(this);
