$target = $(".select.related-sub-feature").empty();
<% @component_details.unshift(['', 'Related sub-feature']).each do |c| %>
$target.append($('<option>', {
  value: '<%= c[0] %>',
  text: '<%= c[1] %>'
}));
<% end %>
$target.prop('disabled',false).removeClass('loading');