<% case @field %>
  <% when :mocked_up %>
    <% if @feature.mocked_up %>
        $('<%= @feature.row_selector %>').find('.tool-child').html("<%= j render('features/tool_child', object:@feature, step_name: :feature) %>");
    <% else %>
        $('<%= @feature.row_selector %>').find('.tool-child').html("<%= j render('features/empty_state') %>");
    <% end %>
  <% when :status %>
     $('<%= @feature.row_selector %>').find('.feature-result-action').html('<%= j render 'features/feature_result', object:@feature %>');
<% end %>