<% if beachhead.market_sizes.include? 0  %>
    <%= STEP[4][:empty_state] %>
<% else %>
    The market is worth $ <%= number_to_human beachhead.market_value, precision: 0, units: 'currency' %> and is expected to have <%= number_with_delimiter beachhead.total_endusers.round %> customers.
<% end %>