<% if beachhead.pricing_plans_implemented.present? %>
    <%= beachhead.pricing_plans_implemented[0] %> is implemented

<% elsif beachhead.pricing_plans_testing.present? %>
    <% if beachhead.pricing_plans_testing.count == 1 %>
        <%= beachhead.pricing_plans_testing[0] %> is being tested
    <% else %>
        <%= beachhead.pricing_plans_testing.to_sentence %> are being tested
    <% end %>
<% else %>
    <%= STEP[9][:empty_state] %>
<% end %>