<% if beachhead.business_models_implemented.present? %>
    The most appropriate business model for our business is <%= beachhead.business_models_implemented.first %>.
<% elsif beachhead.business_models_testing.present? %>
    <% if beachhead.business_models_testing.count == 1 %>
        <%= beachhead.business_models_testing[0] %> is being tested
    <% else %>
        <%= beachhead.business_models_testing.to_sentence %> are being tested
    <% end %>
<% else %>
    <%= STEP[9][:empty_state] %>
<% end %>