<% step_num = 2 %>

<% if active_product.all_diagnoses_complete? %>
    <% if active_product.market_names.size == 1 %>
        My market is <%= active_product.market_names[0] %>

    <% else %>
        My markets are <%= active_product.market_names.to_sentence %>
    <% end %>
<% else %>
    <%= STEP[step_num][:empty_state] %>
<% end %>