<% features = beachhead.features.all %>
<% if features.count > 0 %>

    There are <%= features.count %> features forming part of <%= active_product.product_name %>

<% else %>

    <%= STEP[7][:empty_state] %>

<% end %>