<% if beachhead.customers.present? %>
    <% paying_customers = beachhead.customers.for_stage(4) %>
    <% if paying_customers.present? %>
        We are currently serving <%= pluralize paying_customers.count, 'paying customer' %>.
    <% end %>

    <% reached_out_customers = beachhead.customers.for_stage(1) %>
    <% if reached_out_customers.present? %>
        <%= reached_out_customers.count %> <%= reached_out_customers.count == 1 ? 'customer has' : 'customers have'  %> been reached out to.
    <% end %>

    <% former_customers = beachhead.customers.for_stage(5) %>
    <% if former_customers.present? %>
        <%= pluralize former_customers.count, 'customer' %> <%= reached_out_customers.count == 1 ? 'has' : 'have'  %> stopped using our product.
    <% end %>

    <% active_customers = beachhead.customers.for_stage(2) %>
    <% if active_customers.present? %>
        <%= pluralize active_customers.count, 'customer' %> <%= reached_out_customers.count == 1 ? 'is' : 'are'  %> actively using our product.
    <% end %>
<% else %>
    <%= STEP[15][:empty_state] %>
<% end %>