<% if beachhead.usecase_complete? %>

    <% tps = beachhead.touchpoints.weak_points %>

    <% if tps.count > 0 %>
        Our customers easiness to use for <%= tps.count %> touch points are less the actionable levels.
    <% else %>
        Our product is very easy to use at all touch points.

    <% end %>

<% else %>

    <%= STEP[6][:empty_state] %>

<% end %>