<% if beachhead.cores_implemented.present? %>
    <%= beachhead.cores_implemented.first %> is the core
<% elsif beachhead.cores_testing.present? %>
    <% if beachhead.cores_testing.count == 1 %>
        <%= beachhead.cores_testing[0] %> is being tested
    <% else %>
        <%= beachhead.cores_testing.to_sentence %> are being tested
    <% end %>
<% else %>
    <%= STEP[9][:empty_state] %>
<% end %>