<% all = beachhead.sales_strategies.all %>
<% ss = beachhead.sales_strategies.for_stage(3..4) %>

<% if all.present? %>
    <% if ss.present? %>
        <% strategies = ss.pluck(:strategy_name) %>
        <% if strategies.count == 1 %>
            <%= strategies[0] %> is a highly profitable sales plan
        <% else %>
            Highly profitable sales plans for our business are <%= strategies.to_sentence %>
        <% end %>
        <% else %>
        Pushing through the alternatives to decide on the highly profitable sales plans
    <% end %>
<% else %>
    <%= STEP[14][:empty_state] %>
<% end %>