<% fm = beachhead.fears_and_motivations.compact %>
<% if fm.size == 2 %>
    The top motivation for an end user is <%= fm[0] %>. Worst fear that prevents the customers to use <%= ae_live_field active_product, :product_name %> is <%= fm[1] %>.
<% else %>
    <%= STEP[3][:empty_state] %>
<% end %>