<% persona_name = beachhead.persona_name %>

<% if persona_name.present? && beachhead.purchasing_priorities.compact.present? %>
    The persona is <%= persona_name %> and their top 2 purchasing priorities are <%= beachhead.purchasing_priorities.to_sentence %>
<% else %>
    <%= STEP[5][:empty_state] %>
<% end %>