<% if beachhead.has_better_competitors? %>
    <%= beachhead.better_players.pluck(:competitor).to_sentence %> are better than my product.
<% elsif beachhead.has_no_better_competitors? %>
    My product can easily convert and serve the status quo customers.
<% else %>
    <%= STEP[10][:empty_state] %>
<% end %>
<%# console %>
