<% step_num = 1 %>

<% market_size_result = beachhead.market_size_result %>

<% if market_size_result.present? %>

    <% if market_size_result.size > 1 %>
        <ul>

          <% market_size_result.each do |result| %>
              <li><%= result %></li>
          <% end %>
        </ul>
    <% else %>

        <p><%= market_size_result[0] %></p>
    <% end %>
<% else %>
    <%= STEP[step_num][:empty_state]  %>
<% end %>