<!DOCTYPE html>
<html class="test">
<head>
  <title><%= get_title(params[:view]) %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--[if lte IE 9]>
     <%= stylesheet_link_tag "ie9.css" %>
  <![endif]-->
  <%= csrf_meta_tags %>
  <!--<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,600' rel='stylesheet' type='text/css' data-noprefix>-->
  <link rel="icon" href="https://res.cloudinary.com/hpkihknr4/image/upload/v1429896505/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="https://res.cloudinary.com/hpkihknr4/image/upload/v1429896505/favicon.ico" type="image/x-icon"/>
</head>

<%# console %>

<body>

<div class="restricted-ie">
  <div class="restricted-ie-inner">
    <p class="msg large">Outdated browser detected</p>

    <p class="msg small">Please upgrade to any modern browsers such as IE10, Chrome,...</p>
  </div>
</div>


<% unless app_restricted_container %>
    <div class="restricted-mobile">
      <div class="restricted-mobile-inner">
        <p class="msg large">Please visit Edison using a larger screen device.</p>

        <p class="msg small">We are working to make Edison accessible in smaller devices soon.</p>
      </div>
    </div>

<% end %>

<div class="app-restricted-all <%= 'app-restricted-container' unless app_restricted_container %>">


  <%= render 'static_pages/shared/alt_header' %>

  <% flash.each do |type, message| %>
      <% unless message.blank? %>
          <div class="alert alert-info super-alert">
            <button class="close" data-dismiss="alert">×</button>
            <%= message %>
          </div>
      <% end %>
  <% end %>


  <div class="wrapper">


    <%#= render 'static_pages/shared/in_app_sidebar' if active_product %>


    <div class="app-workspace">
      <ul class="tab-view-layer">
        <li data-tab-view-href="<%= request.fullpath %>" data-tab-view-id="<%= rand_tab_id %>" class="view-layer-item">
          <%= yield %>
        </li>
      </ul>

      <% if active_product %>

          <div class="sub-tool-forms" style="display: none;">
            <div id="new_todo_list_template"><%= render 'user_tasks/new_todo_list' %></div>
            <div id="new_note_template"><%= render 'notes/new_note' %></div>
            <div id="new_discussion_form_template"><%= render 'discussions/new_discussion_form' %></div>
            <div id="new_feedback_template"><%= render 'customer_feedbacks/new_feedback_in_tab' %></div>
          </div>

          <%= render 'memberships/new_membership_form' %>

      <% end %>

      <%= render 'feedbacks/new_feedback_form' %>

      <!-- generic modal -->
      <%= render 'static_pages/shared/bip_view_modal_skeleton' %>

      <!-- delete business modal -->
      <%= render 'businesses/delete_business_modal' %>


      <div class="board-modal modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">

          </div>
        </div>
      </div>

      <div class="component-item-modal modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">

          </div>
        </div>
      </div>


    </div>
<%# console %>

  </div>


  <script id="time_track">
    $(function () {
      TimeMe.setIdleDurationInSeconds(30);
      TimeMe.setCurrentPageName("<%= @view %>");
      TimeMe.initialize();
    });
  </script>

  <script id="pref_time_zone">

    <% unless current_user.preferred_time_zone %>

    $(function () {
      $.ajax({
        url: '/users_time_zone',
        data: {ptz: getTimeZone()},
        method: 'post'
      });
    });


    <% end %>

  </script>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63290584-1', 'auto');
    ga('send', 'pageview');
  </script>

</div>


<footer class="app-footer">
  <div class="upgrade-row">
    <p>
      <% if current_user.active_trial_user? %>
          <span class="expire-content">Your trial expires in <span class="semi-bold"><%= days = current_user.days_left_on_trial %></span><%= " day#{'s' if days > 1}" %></span><a href="/my_account" class="btn btn-primary btn-xs">Upgrade</a></span>
      <% elsif current_user.expired_trial_user? %>
          <span class="expire-content">Your trial expired on <%= ldt current_user.trial_expiry_date %>. You can still view your content, add tasks and write pitches. Subscribe to continue to edit and update.<a href="/my_account" class="btn btn-primary btn-xs">Upgrade</a></span>
      <% end %>
    </p>
  </div>

</footer>

</body>
</html>
