<% provide(:title, "The Ultimate Startup Launch Plan") %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="EdisonPlan: Make your product speak for you. EdisonPlan is a powerful startup planning tool that makes your business win">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
</head>

<body class="<%= 'smoke' if (current_page?(about_path)||current_page?(terms_path)||current_page?(privacy_path)) %> <%= 'user-session' if (current_page?(sign_up_path) || current_page?(sign_in_path) || current_page?(forgot_password_path)) %> ">

<% flash.each do |type, message| %>
    <% unless message.blank? %>
        <div class="alert alert-info">
          <button class="close" data-dismiss="alert">×</button>
          <%= message %>
        </div>
    <% end %>
<% end %>

<%= yield %>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63290584-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>

