<!DOCTYPE html>
<html class="test">
<head>
  <title>Create an EdisonPlan</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <%= javascript_include_tag 'onboarding', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'onboarding', media: 'all', 'data-turbolinks-track' => true %>
  <!--[if lte IE 9]>
     <%= stylesheet_link_tag "ie9.css" %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>


<body>

<% flash.each do |type, message| %>
    <% unless message.blank? %>
        <div class="alert alert-info super-alert">
          <button class="close" data-dismiss="alert">×</button>
          <%= message %>
        </div>
    <% end %>
<% end %>

<header class="app-header no-product">



  <div id="edison-logo">
    <%= image_tag 'oneLogo.jpg' %>
  </div>

  <div>
    <%= button_to sign_out_path,  method: :get, style: 'position: absolute;top: -4px;right: 10px; font-size: 12px;' do %>
        Sign Out
    <% end %>
  </div>

</header>

<%= yield %>


<script id="time_track">
  $(function () {
    TimeMe.setIdleDurationInSeconds(30);
    TimeMe.setCurrentPageName("<%= 'onboarding' %>");
    TimeMe.initialize();
  });
</script>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-63290584-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
