<!DOCTYPE html>
<html>
<head>
  <title>Edison</title>
  <meta charset="utf-8">
  <title>Edison | Pitch</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css' data-noprefix>
  <link rel="icon" href="https://dl.dropboxusercontent.com/s/v5dh50tn19tx6ib/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/s/v5dh50tn19tx6ib/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="https://res.cloudinary.com/hpkihknr4/image/upload/v1429896505/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="https://res.cloudinary.com/hpkihknr4/image/upload/v1429896505/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag 'slideshow', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'slideshow', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>

      body,html{height:100% !important; overflow: hidden !important;}

      @media only screen and (max-width:767px){
          #pitch-fullpage,#fp-nav{
              display:none !important;
          }
          .restricted-mobile{
              display:block !important;
              padding: 30px;
              color: #727272;
          }
          .msg{
              text-align: center;
          }
          .msg.large{
              font-size: 28px;
              line-height: 32px;
          }
          .msg.small{
              font-size: 16px;
              margin-top: 20px;
          }
          .restricted-mobile-inner{
              border:1px solid #727272;
              padding:20px;
          }
      }

  </style>

</head>

<body>

<%= yield %>

<!--<div class="restricted-mobile">-->
  <!--<div class="restricted-mobile-inner">-->
    <!--<p class="msg large">Please visit Edision plan with a larger screen device. </p>-->
    <!--<p class="msg small">Meanwhile we are working to make EdisonPlan accessible for smaller devices soon.</p>-->
  <!--</div>-->
<!--</div>-->



<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-63290584-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
