<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Purchase</title>
  <%= javascript_include_tag 'subscriptions', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'subscriptions', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
  <%= javascript_include_tag 'subscriptions.js' %>

  <script>
      $(function () {

          $('#payment-form').submit(function (e) {
              var $form = $(this);
              var $btn = $form.find('button');
              $btn.prop('disabled', true).html($btn.data('disableWith'));
              var expiration = $('.cc-exp').payment('cardExpiryVal');
              Stripe.card.createToken({
                  number: $('.cc-num').val(),
                  cvc: $('.cc-cvc').val(),
                  exp_month: (expiration.month || 0),
                  exp_year: (expiration.year || 0),
                  name: $('.card-name').val(),
                  address_line1: $('.address-line').val(),
                  address_city: $('.city-name').val(),
                  address_state: $('.state-name').val(),
                  address_country: $('.country-name').val(),
                  address_zip: $('.zip-code').val()
              }, StripeResponseHandler);
              return false;
          });

          var StripeResponseHandler = function (status, response) {
              var $form = $('#payment-form');

              if (response.error) {
                  $form.find('.payment-errors').text(response.error.message).addClass('hasErrors');
                  var $btn = $form.find('button');
                  $btn.prop('disabled', false).html($btn.data('buttonName'));
              } else {
                  var token = response.id;
                  $form.append($('<input type="hidden" name="stripeToken"/>').val(token));
                  $form.get(0).submit();
              }
          };

          Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
      });
  </script>

</head>
<body>

<% flash.each do |type, message| %>
    <% unless message.blank? %>
        <div class="alert alert-info">
          <button class="close" data-dismiss="alert">×</button>
          <%= message %>
        </div>
    <% end %>
<% end %>


<%= yield %>


</body>
</html>