var text = $('#active_edit_user_tasks_category_<%= @user_task.id %>').find('.button-name').html();
$('.task-list-item.<%= @user_task.row_selector false %>').find('.task-tag-enc').addClass('available').find('.task-category-tag').html(text);