<div id="new-to-do-list-form-enc" class="new-sub-tool-form-enc">
  <% if beachhead %>
      <h2>New To Do List</h2>
      <!--<div class="cancel-and-back" data-dismiss="slider">&larr; back to the dashboard</div>-->
      <div id="new-task-form">
        <% new_task = current_user.user_tasks.build %>
        <%= form_for new_task, html: {class: 'new_user_task'}, remote: true do |f| %>
            <%= f.text_field :task_name,
                             class: 'normal-input',
                             autofocus: true,
                             placeholder: 'Give this to-do list a title',
                             maxlength: 200,
                             id: 'task_name',
                             autocomplete: "off",
                             'data-mirror-entry': true
            %>
            <%= f.text_area :task_description,
                            class: 'normal-input',
                            placeholder: 'Add details...',
                            maxlength: 300,
                            rows: 2,
                            autocomplete: "off"
            %>

            <%= hidden_field_tag :rand_tab_id, rand_tab_id %>
            <%= button_tag 'Save and start adding to-dos', class: "btn btn-success" %>
        <% end %>
        <div class="user_tasks_subtasks_view"></div>
      </div>
  <% end %>
</div>