<li class="todo-list-item _<%= user_task.id %>"  data-href="<%= app_path(view: 'home', tool: 'to-do-lists', resource_id: user_task.id) %>" data-behaviour="open_link_in_new_sheet"><%= user_task.task_name %></li>