<div class="modal fade new-task-modal">
  <div class="modal-dialog center-modal-dialog modal-md">
    <div class="modal-content clearfix">
      <%= render 'user_tasks/new_task_modal_content' %>
    </div>
  </div>
</div>


