<div class="to-do-list _<%= user_task.id %> <%= 'today' if user_task.has_tasks_due_now?(current_user.id) %> <%= 'priority' if user_task.has_priorities?(current_user.id) %>" id="<%= user_task.row_selector false %>">

  <h4 class="to-do-list-title">
    <div data-href="<%= to_do_list_path(user_task.id) %>" data-behaviour="open_in_new_tab"><%= ae_live_field user_task, :task_name %></div>
    <%= archive_task user_task %>
    <% count = user_task.comments.count %>
    <% if count > 0 %>
        <span data-href="<%= to_do_list_path(user_task.id) %>" data-behaviour="open_in_new_tab" class="comment-note" ><%= pluralize count, 'comment' %></span>
    <% end %>
  </h4>

  <div class="to-do-description">
    <%= active_edit user_task, :task_description, placeholder: 'Add a description' %>
  </div>

  <ul class="sub-tasks-list">
    <% user_task.sub_tasks.pending.all.each do |todo| %>
        <%= render 'sub_tasks/new_subtask_rec', sub_task: todo %>
    <% end %>
  </ul>

  <%= render 'sub_tasks/subtask_form', user_task: user_task %>

  <ul class="completed-todos-list">

  </ul>

</div>