<% if active_product %>
    <div class="modal-header">
      <h4 class="new-task-modal-form-title">New To do item </h4>
      <span class="new-task-modal-title"></span>
    </div>
    <div class="modal-body">

      <div class="to-do-list-choice-list">
        <ul>
          <% current_todo_lists = active_product.user_tasks.pending %>
          <% current_todo_lists.limit(5).each do |todo_list| %>
              <li>
                <div data-behaviour="select_todo_list_for_new_todo" data-list-id="<%= todo_list.id %>" class="btn btn-default"><%= todo_list.task_name %></div>
              </li>
          <% end %>
          <% if current_todo_lists.count > 5 %>
              <li>
                <div class="dropdown">
                  <button class="btn btn-default" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    more
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <% current_todo_lists.offset(5).each do |todo_list| %>
                        <li>
                          <div data-behaviour="select_todo_list_for_new_todo" data-list-id="<%= todo_list.id %>" class="btn btn-default"><%= todo_list.task_name %></div>
                        </li>
                    <% end %>
                  </ul>
                </div>
              </li>
          <% end %>
        </ul>
      </div>

      <%= form_tag sub_tasks_path, remote: true, method: :post, id: 'new_todo_form' do %>
          <%= text_field_tag 'sub_task[sub_task_name]', '', placeholder: 'Your task...' %>
          <%= hidden_field_tag 'sub_task[user_task_id]', '', id: 'new_todo_user_task_id', placeholder: 'Your task...' %>
          <%= button_tag 'Add To Do', class: 'btn btn-primary' %>
      <% end %>

    </div>
    <div class="modal-footer">

    </div>
<% end %>
