<div class="to-do-list _<%= user_task.id %>">
  <ul class="sub-tasks-list">
    <% user_task.sub_tasks.pending.all.each do |todo| %>
        <%= render 'sub_tasks/new_subtask_rec', sub_task: todo %>
    <% end %>
  </ul>

  <%= render 'sub_tasks/subtask_form', user_task: user_task %>

  <ul class="completed-todos-list">

  </ul>
</div>