$('.todo-list-item._<%= @user_task.id %>').remove();
<% if @user_task.status %>
$('#user_task_<%= @user_task.id %>').slideUp(function () {
    $(this).remove()
});
$('.archived-to-do-lists-list').append('<%= j render 'new_task_list_item', user_task: @user_task %>');

<% else %>
$('.current-to-do-lists-list').append('<%= j render 'new_task_list_item', user_task: @user_task %>');


var content = '<%= j render 'user_tasks/new_task_sub_tasks_entry', user_task: @user_task %>';
$target = $('[data-step=<%= STEP[@user_task.step_no][:name].parameterize %>][data-tool=to-do-lists]').find('.tasks-lists-container .todo-filter-tabs');
$(content).insertAfter($target);
<% end %>
$('[data-tool=to-do-lists][data-id=<%= @user_task.id %>]').find('.archive-task-form').replaceWith('<%= j archive_task @user_task %>');
