<div class="time-estimates">

  <div class="time-metric-box">
    <h4><%= current_user.name %>'s tasks</h4>

    <div class="time-metric-col cu today">
      <h5 class="toggle-task-filter" data-behaviour="todo-filter" data-criterion="today">today</h5>

      <div><%= time_metrics[1] %> mins</div>
    </div>
    <div class="time-metric-col cu priority">
      <h5 class="toggle-task-filter" data-behaviour="todo-filter" data-criterion="priority">priority</h5>

      <div><%= time_metrics[2] %> mins</div>
    </div>
    <div class="time-metric-col cu all">
      <h5 class="toggle-task-filter active" data-behaviour="remove-filter">all</h5>

      <div><%= time_metrics[0] %> mins</div>
    </div>
  </div>

</div>