<% if params[:rand_tab_id] %>
$originFormEnc = $('[data-tab-view-id=<%= params[:rand_tab_id] %>]');
$originTab = $('[data-tab-id=<%= params[:rand_tab_id] %>]');
<% end %>
<% if @user_task.errors.blank? %>

<% if params[:rand_tab_id] %>
<% @sub_tool_resource = @user_task %>
var content = '<%= j render 'user_tasks/show' %>';
$originFormEnc.html(content).find('#sub_task_sub_task_name').focus();

$originTab
    .attr('data-href', '<%= @user_task.friendly_link %>')
    .attr('data-tab-href', '<%= @user_task.friendly_link %>')
    .find('.inner').html('<%= @user_task.task_name %>');

window.history.replaceState('null', 'null', '<%= @user_task.friendly_link %>');
<% end %>

$listItem = $('<%= j render 'user_tasks/new_task_sub_tasks_entry', user_task: @user_task %>').hide();
$('.tasks-lists-container').prepend($listItem);
$listItem.slideDown('fast', function () {
  $listItem.find('.active-edit').first().trigger('click');
});


<% else %>


<% if @user_task.task_name.nil? || @user_task.task_name == '' %>
$originFormEnc.find('#task_name').effect("shake").focus();
<% else %>
alert('Something seems to have gone wrong! Try that again');
<% end %>


<% end %>