$('#user_task_<%= @user_task.id %>').fadeOut(function () {
    $('#user_task_<%= @user_task.id %>').remove();
    $('.task-view').html(task_view_empty_state);
});

<% if current_user.user_tasks.ongoing.count == 0 %>
$('.tasks-count').removeClass('available').html('');
$('.task-list.today').html(tasks_empty_state).hide().fadeIn();
<% end %>

<% if current_user.user_tasks.starting_from_tomo.count == 0 %>
$('.task-list.tomorrow').html(tasks_empty_state).hide().fadeIn();
<% end %>

<% if current_user.user_tasks.starting_later.count == 0 %>
$('.task-list.upcoming').html(tasks_empty_state).hide().fadeIn();
<% end %>

<% if current_user.user_tasks.overdue.count == 0 %>
$('.task-list.pending').html(tasks_empty_state).hide().fadeIn();
<% end %>

<% if current_user.user_tasks.overdue.count == 0 %>
$('.task-list.unplanned').html(tasks_empty_state).hide().fadeIn();
<% end %>