<% if beachhead %>
$('.new-task-modal .modal-content').html('<%= j render 'user_tasks/new_task_modal_content' %>');
$('.new-task-modal').modal('show');
$('.new-task-header-btn').attr('data-status','true');
<% else %>
$.growl.notice(task_failure_message);
<% end %>