<% unless @params[:source] == 'all' %>
$('#user_task_<%= @user_task.id %>').remove();
<% end %>
$('.pending-filter').find('.counter').html('<%= pending_tasks_count %>');
$('.unplanned-filter').find('.counter').html('<%= unplanned_tasks_count %>');
$('.all-filter').find('.counter').html('<%= all_tasks_count %>');
$('.completed-filter').find('.counter').html('<%= completed_tasks_count %>');

if ($('.pending-tasks-list-table').find('tbody').find('tr').length == 0) {
    $('.pending-tasks-empty-state').removeClass('hidden');
    $('.task-list-enc').addClass('hidden');
}