(function () {

  $li = $('<li class=child-item><%= j active_edit_if has_valid_access?, @attraction, :attraction_name %></li>').hide();

  $item = $('[data-child=attraction][data-parent-id=pricing_plan_<%= @attraction.pricing_plan_id %>]').find('li').last();

  $li.insertBefore($item);

  $li.slideDown('fast').trigger('click');

}).call(this);


