<html>

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta property="og:title" content="*|MC:SUBJECT|*">

  <title>Edison Account Activation</title>
  <style>
      body {
          font-family: Arial, Helvetica, 'sans-serif';
      }

      .mail-bg-enc {
          padding: 30px 0;
      }

      .mail-bg-inner {
          max-width: 610px;
          width: 90%;
          min-width: 300px;
          border-radius: 10px;
          margin: 0 auto;
          font-size: 15px;
      }

      .mail-header {
          text-align: center;
      }

      .mail-header img {
          width: 140px;
          padding: 16px 0 0;
      }

      .mail-body {
          background-color: #fff;
          padding: 30px 0;
          color: #4c4c4c;
      }

      .welcome-msg {
          font-weight: normal;
      }

      span.activation-txt {
          padding-bottom: 10px;
          display: block;
      }

      .sample-content {
          color: #4c4c4c;
          font-weight: normal;
          font-size: 15px;
          margin: 20px 0;
          line-height: 26px;
      }

      .activation-link a {
          text-decoration: none;
          color: #6e5baa;
          display: inline-block;
          padding: 10px 0;
      }

      a {
          display: block;
          font-size: 16px;
          text-decoration: underline;
      }

      .mail-footer {
          padding: 10px 0;
          line-height: 20px;;
          font-size: 12px;
          color: #999;
          border-top: 1px solid #ebeaef;
      }

      .copy {
          padding-right: 6px;
      }
  </style>
</head>
<body>
<div class="mail-bg-enc">
  <div class="mail-bg-inner">

    <div class="mail-header"><img src="https://dl.dropboxusercontent.com/s/4metzikc514l6j4/logo-dark.png" width="100"/>
    </div>
    <div class="mail-body">
      <p class="welcome-msg">Welcome <span class="username"><%= @resource.username %></span></p>

      <p class="sample-content">Welcome to Edison. Click the link below to activate your account</p>

      <p class="activation-link">
        <span class="activation-txt">Activation link: </span><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>
      </p>
    </div>
    <div class="mail-footer">
      <p class="copyright-msg"><span class="copy">&copy;</span><span>2015 Edison. All rights reserved.</span>
      </p>
    </div>
  </div>
</div>


</body>
</html>