<div class="modal-content clearfix">
  <div class="modal-header">
    <span class="modal-title">Account Settings</span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
  </div>

  <% if current_user.provider == 'google' && current_user.reset_password_token.blank? %>

      <div class="modal-body">
        <%= render 'users/registrations/plan_info' %>
        <div class="field">
          <div class="field bg-info">
            It appears that you have signed up using your Google account.
            Google sign-ups are assigned a random password at the time of sign up <br>
            If you want to change your email or password, hit the button below and reset your password.
            Once you have your new password, you can come back here to update your email if you want.
            <div class="btn-container">
              <%= button_to 'Enable Password Login', user_password_path(user: {email: current_user.email}), method: :post, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary">Close</button>
      </div>

  <% else %>

      <%= form_for(current_user, url: registration_path(current_user), html: {method: :put, class: 'account_udpate_form'}, remote: true) do |f| %>
          <div class="modal-body">
            <%= render 'users/registrations/plan_info' %>

            <div class="field email-id">
              <div class='error'></div>
              <p><%= f.label :email %></p>
              <%= f.email_field :email, autocomplete: "off", class: "form-control normal-input", id: 'email_id' %>
            </div>
            <div class="field new-password">
              <div class='error'></div>
              <p><%= f.label :new_password %></p>
              <%= f.password_field :password, autocomplete: "off", class: "form-control normal-input", id: 'new_password' %>
              <i>(leave blank if you don't want to change your password)</i>
            </div>
            <div class="field curr-password">
              <div class='error'></div>
              <p><%= f.label :current_password %> </p>
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control normal-input", id: 'curr_password' %>
              <i>(we need your current password to confirm your changes)</i>
            </div>
          </div>

          <div class="modal-footer">
            <div class="btn-container">
              <p><%= f.submit "Save changes", class: "btn btn-primary acct-update-save-changes", disabled: 'disabled' %></p>
            </div>
          </div>
      <% end %>
  <% end %>

</div>