<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'registration-form', remote: false) do |f| %>

    <%= devise_error_messages! %>

    <%= f.hidden_field :referred_by, value: params[:id] %>

    <div class="field user-field-enc">
      <div id="user_full_name_error" class="user-field-error-enc"></div>
      <%= f.text_field :username, :placeholder => "Your Full Name", :class => "normal-input", autofocus: true %>
    </div>

    <!--<div class="field user-field-enc">-->
    <!--<div id="user_owner_role_error" class="user-field-error-enc"></div>-->
    <!--<%#= f.text_field :owner_role, :placeholder => "Role. E.g. CEO/CTO", :class => "normal-input" %>-->
    <!--</div>-->

    <!--<div class="field user-field-enc">-->
    <!--<div id="user_product_error" class="user-field-error-enc"></div>-->
    <!--<%#= f.text_field :product_name, autofocus: true, :placeholder => "Product Name", :class => "normal-input" %>-->
    <!--</div>-->

    <div class="field user-field-enc">
      <div id="user_email_error" class="user-field-error-enc"></div>
      <%= f.email_field :email, :placeholder => "Email", :class => "normal-input" %>
    </div>

    <div class="field user-field-enc">
      <div id="pw_error" class="user-field-error-enc"></div>
      <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => "normal-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Start my 30 day free trial", :class => "btn user-sign signup-btn", :disabled => 'disabled' %>
    </div>


<% end %>

