<div class="field plan-infor">
  <% if current_user.active_trial_user? %>
      <p>Trial ends on <strong><%= current_user.trial_expiry_date.strftime("%d-%b-%Y") %></strong>
      </p>

      <div><%= button_to "Purchase now", account_path, class: 'btn btn-warning', target: '_blank', html: {style: ''} %></div>
  <% elsif current_user.expired_trial_user? %>
      <p>Trial ended on <strong><%= current_user.trial_expiry_date.strftime("%d-%b-%Y") %></strong>
      </p>

      <div><%= button_to "Purchase now", account_path, class: 'btn btn-warning', target: '_blank', html: {style: ''} %></div>
  <% elsif current_user.active_subscriber? %>
      <%= link_to "My account", account_path, class: 'btn btn-link', target: '_blank' %>
      <p>Current subscription ends on <%= current_user.current_subscription_end_at.strftime("%d-%b-%Y") %></p>
  <% elsif current_user.unpaid_subscriber? %>
      <%= link_to "My account", account_path, class: 'btn btn-link', target: '_blank' %>
      <p>Current subscription ended on <%= current_user.current_subscription_end_at.strftime("%d-%b-%Y") %></p>
  <% elsif current_user.canceled_subscriber? %>
      <p>Your subscription was canceled on <%= current_user.canceled_at.strftime("%d-%b-%Y") %></p>
      <p>You can resubscribe when your current subscription's validity expires
        on <%= current_user.current_subscription_end_at.strftime("%d-%b-%Y") %></p>
  <% end %>


</div>