<% case @field %>
<% when :email %>

<% if @errors.present? %>
$('.email-id .error').html('<div class="user-field-error alert-danger"><ul> <% @errors.full_messages.each do |err| %><%= content_tag(:li, err) %><% end %></ul></div>');
<% else %>
$('.email-id .error').html('<div class="user-field-error alert-success">Changes saved successfully</div>');
<% end %>

<% when :username %>

<% if @errors.present? %>
$('.username .error').html('<div class="user-field-error alert-danger"><ul> <% @errors.full_messages.each do |err| %><%= content_tag(:li, err) %><% end %></ul></div>');
<% else %>
$('.username .error').html('<div class="user-field-error alert-success">Changes saved successfully</div>');
<% end %>

<% when :password %>
<% if @errors.present? %>
$('.new-password .error').html('<div class="user-field-error alert-danger"><ul> <% @errors.full_messages.each do |err| %><%= content_tag(:li, err) %><% end %></ul></div>');
<% else %>
$('.new-password .error').html('<div class="user-field-error alert-success">Changes saved successfully</div>');
<% end %>

<% end %>


$('#new_password').val('');
$('#curr_password').val('');
