$(".profile-missing-update").replaceWith('<%= j render 'static_pages/shared/profile_missing' %>');
$(".user-product-profile").replaceWith('<%= j render 'static_pages/shared/user_product_profile' %>');
